body {
  --bases-header-border-width: 0;
  --bases-table-header-color: var(--text-faint);
}

// Menu
.query-toolbar-menu,
.bases-toolbar-menu,
.cm-tooltip {
  animation: none !important;
  min-width: unset;
}

.text-icon-button {
  border-radius: var(--clickable-icon-radius);
}

body:not(.is-phone) .menu {
  &.bases-toolbar-menu {
    align-items: unset;
  }
  &.bases-toolbar-menu .bases-toolbar-menu-form {
    padding: var(--menu-padding);
    overflow: visible;
  }
  &.bases-toolbar-menu .search-input-container {
    margin: var(--menu-padding) var(--menu-padding) 0;
    padding-bottom: 0;
    background: var(--background-modifier-form-field);
    border: var(--input-border-width) solid var(--background-modifier-border);
    border-radius: var(--input-radius);
  }

  &.mod-filters {
    padding: 4px;
  }
  &.mod-filters .query-toolbar-section-header {
    padding: 8px;
  }
}

// Bases: Table
.bases-table-container,
.bases-thead,
.bases-tbody {
  background-color: transparent;
}
.bases-table-container.mod-multiline .bases-table-cell {
  align-items: var(--bases-table-align-items, start);
}
.bases-thead {
  z-index: unset;
}
.bases-thead .bases-table-header {
  overflow: hidden;
}
.bases-thead .bases-td {
  box-shadow: none;
  border-radius: var(--radius-s);
  overflow: visible;
}
.bases-thead .bases-td:hover {
  --bases-table-header-color: var(--text-normal);
}
.bases-table-header-resizer {
  border-radius: var(--radius-s);
}

.bases-table-cell > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

// Bases: Cards
.bases-cards-item {
  gap: 2px;
}
.bases-cards-label {
  color: var(--text-faint);
}

// Embedded Bases
.workspace-leaf-content[data-type="markdown"] .bases-embed .bases-view {
  border: none;
  border-radius: 0;

  .bases-thead,
  .bases-tbody,
  .bases-tbody > .bases-tr:first-child,
  .bases-tbody > .bases-tr > .bases-td:first-child {
    box-shadow: none;
  }

  .bases-tbody {
    border: var(--bases-embed-border-width) solid var(--bases-embed-border-color);
    border-radius: var(--bases-embed-border-radius);
    overflow: hidden;
  }
}
