@media screen, print {
  body {
    --callout-blend-mode: normal;
    --callout-border-width: var(--divider-width);
    --callout-padding: 16px;
    --callout-size: var(--font-text-size);
  }

  .callout:not([data-callout="note-toolbar"]) {
    -electron-corner-smoothing: var(--corner-smoothing);
    font-size: var(--callout-size);

    .callout-content > *:first-child {
      margin-top: 8px;
    }

    .callout-content > *:last-child {
      margin-bottom: 0 !important;
    }

    pre {
      box-shadow: none;
      border: var(--border-width) solid var(--background-modifier-border);
    }

    .callout-title {
      align-items: center;
      gap: 8px;
    }

    &.is-collapsible .callout-title {
      cursor: pointer;
    }

    .callout-title-inner {
      --p-spacing: 0;
      color: color-mix(in srgb, rgb(var(--callout-color)), var(--text-normal) 15%);
    }

    .callout-fold {
      padding-inline-end: 0;
    }

    .callout-content {
      margin-left: calc(var(--icon-size) + 8px);
    }
  }

  .callout:not([data-callout]) {
    --callout-color: var(--color-accent);
    background-color: hsla(var(--color-accent-hsl), 0.15);
    border-color: hsla(var(--color-accent-hsl), var(--callout-border-opacity));

    .callout-title {
      color: var(--callout-color);
    }
  }

  // Callout: Tactile
  .callout:not([data-callout="note-toolbar"]) {
    box-shadow: var(--shadow-tactile);
    background: linear-gradient(rgba(var(--callout-color), 0.1), rgba(var(--callout-color), 0.2));
  }
}
