@media screen, print {
  body {
    --text-normal-editor: var(--color-base-90);
    --inline-title-color: inherit;

    --inline-title-margin-bottom: calc(0.5em * var(--readable-spacing-modifier, 1));
    --heading-spacing: 2em;
    --p-spacing: 1.75rem;
    --line-height-normal: 1.6;

    --h1-size: 1.5em;
    --h2-size: 1.25em;
    --h3-size: 1.125em;
    --h4-size: 1em;
    --h5-size: 1em;
    --h6-size: 0.875em;

    --file-margins-block: 32px;
    --file-margins-inline: 32px;
    --file-margins: var(--file-margins-block) var(--file-margins-inline);

    --code-border-width: 1px;
    --code-size: var(--font-smallest);

    --embed-padding: 16px;
    --embed-max-height: none;
    --embed-background: var(--background-primary-alt);
    --embed-border-start: var(--embed-border-thickness, 2px) solid var(--embed-border-color, var(--color-base-50));

    --media-radius: var(--radius-s);

    --checkbox-radius: 100px;

    --metadata-gap: 8px;

    --tag-padding-x: 8px;
    --tag-padding-y: 4px;
    --tag-radius: 8px;
    --tag-weight: var(--font-medium);

    --indentation-guide-width: 0px;

    --file-header-border: none;
  }

  body:not(.font-variant-off) .workspace-leaf-content .view-content {
    font-feature-settings:
      "ss01" 1,
      "ss07" 1,
      "cv07" 1;
  }

  .workspace-split.mod-root .workspace-tab-container {
    border-radius: var(--tab-radius);
    transition: var(--anim-duration-moderate);
    overflow: hidden;
  }

  .markdown-preview-view,
  .markdown-source-view {
    color: var(--text-normal-editor, var(--text-normal));
  }

  // Tab title bar
  .view-header {
    padding: 0 8px;
    flex-shrink: 0;
  }
  .view-header-nav-buttons,
  .view-actions {
    --icon-size: var(--icon-m);
    gap: 0 !important;
  }
  .view-header-title-container {
    height: auto !important;
  }
  .view-header-title-container > div {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }
  .view-header-title-parent {
    color: var(--text-faint);
  }
  .view-header-title {
    font-weight: max(var(--file-header-font-weight), var(--font-medium));
  }
  .view-header:not(.view-header-always-show):not(:hover) .view-header-title-container > div:not(:focus-within) {
    opacity: 0 !important;
  }

  .document-search-buttons,
  .document-replace-buttons {
    flex-grow: 0 !important;
  }

  // Active line
  body:not(.active-line-off) .markdown-source-view .cm-line.cm-active:not(:has(.cm-fold-indicator):hover)::after {
    position: absolute;
    top: 4px;
    bottom: 4px;
    inset-inline-start: -16px;
    border-left: 4px solid var(--background-modifier-border-hover);
    border-radius: var(--input-radius);
    content: "";
  }

  // Codeblocks
  .markdown-rendered pre {
    -electron-corner-smoothing: var(--corner-smoothing);
  }
  .markdown-rendered code {
    -electron-corner-smoothing: var(--corner-smoothing);
    padding: 2px 4px;
  }
  .markdown-rendered pre code {
    white-space: var(--code-white-space);
  }
  .markdown-rendered pre {
    background: linear-gradient(var(--background-primary-alt), var(--background-secondary));
    box-shadow: var(--shadow-tactile);
  }

  kbd {
    box-shadow: var(--shadow-tactile);
    border: 1px solid var(--background-modifier-border);
    background-color: var(--background-secondary);
    padding: var(--tag-padding-y) var(--tag-padding-x);
    font-family: var(--font-text);
    color: var(--text-muted);
  }

  // Dataview
  .dataview .inline-field-standalone-value,
  .dataview.inline-field-key,
  .dataview.inline-field-value {
    font-family: var(--font-text);
    font-size: var(--font-smaller);
    background: transparent;
    color: var(--text-faint);
    padding-inline: 2px;
  }

  // Embeds
  .embed-strict {
    --embed-border-start: none;
    --embed-background: transparent;
    --embed-padding: 0;
  }
  .embed-hide-title .embed-title,
  .embed-title:empty {
    display: none;
  }

  .markdown-embed {
    -electron-corner-smoothing: var(--corner-smoothing);
  }
  .markdown-embed:not(.image-embed, .canvas-node-content) {
    display: flex;
    flex-direction: column;
    max-height: var(--embed-max-height);
    overflow: hidden;
    border-start-end-radius: var(--media-radius);
    border-end-end-radius: var(--media-radius);
  }
  .inline-embed > .markdown-embed-title {
    padding-bottom: var(--inline-title-margin-bottom);
  }
  .inline-embed > .markdown-embed-content {
    max-height: 100%;
  }
  .block-language-chart {
    width: 100% !important;
  }

  // Inline title & Headings
  body:not(.is-mobile) .inline-title:not([data-level]) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: -8px;
      border-radius: var(--radius-s);
      pointer-events: none;
      transition: var(--anim-duration-fast);
      border: var(--border-width) solid transparent;
    }
    &:focus-within::before {
      border-color: var(--background-modifier-border);
    }
    &:hover:not(:focus-within)::before {
      background-color: var(--background-modifier-hover);
    }
    &:not(:focus-within) {
      cursor: pointer;
    }
  }

  .inline-title:not([data-level]),
  .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
  .HyperMD-header {
    letter-spacing: normal !important;
    text-wrap: pretty;
  }

  // Highlights
  .markdown-reading-view mark,
  .markdown-source-view mark,
  .markdown-rendered mark {
    box-decoration-break: clone;
    border-radius: var(--radius-s);
    padding: 2px 4px;
    color: var(--text-highlight, var(--text-normal));
    font-weight: var(--font-medium);
  }

  .cm-s-obsidian span.cm-highlight {
    box-decoration-break: clone;
    padding-block: 2px;
  }
  .cm-line .cm-highlight:nth-child(1 of .cm-highlight) {
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-left: 4px;
  }
  .cm-line .cm-highlight:nth-last-child(1 of .cm-highlight) {
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-right: 4px;
  }

  // Media
  img:not(.link-favicon),
  iframe,
  video,
  .file-embed {
    -electron-corner-smoothing: var(--corner-smoothing);
    border-radius: var(--media-radius);
  }

  .image-embed:not([width], .canvas-node-content, [alt="banner"]) {
    width: fit-content;
  }

  body:not(.full-width-media-off) .workspace-leaf-content[data-type="markdown"] {
    img:not([width], .cm-widgetBuffer, .link-favicon, .emoji, [alt="banner"]),
    iframe,
    video {
      width: 100%;
      border-radius: var(--media-radius);
    }
  }

  body:not(.media-muted-off) {
    --media-muted: 0.2;
  }
  .theme-dark .workspace-leaf-content[data-type="markdown"],
  .theme-dark .workspace-leaf-content[data-type="bases"] {
    img:not([width], .cm-widgetBuffer, .link-favicon, .emoji, [alt="banner"]),
    iframe,
    video,
    .bases-cards-cover {
      transition: opacity var(--anim-duration-moderate);

      &:not(:hover) {
        opacity: var(--media-muted, 1);
      }
    }
  }

  // Image grid
  .img-grid .markdown-preview-section {
    .el-p > p:has(> .image-embed, > .image-embed):has(span:last-child) {
      --p-spacing: 4px;
      display: flex;
      gap: 4px;

      line-height: 0;

      br {
        display: none;
      }

      > img,
      > .image-embed {
        flex: 1;
        object-fit: cover;
      }

      img {
        height: -webkit-fill-available;
        overflow: auto;
        object-fit: cover;
      }
    }
  }

  // Tags
  body.unstyled-tags {
    --tag-background: transparent;
    --tag-background-hover: transparent;
    --tag-border-width: 0px;
    --tag-padding-x: 0;
    --tag-padding-y: 0;
    --tag-size: inherit;
    --tag-color-hover: var(--text-accent-hover);
  }

  // Tasks
  .task-list-item {
    --indentation-guide-reading-indent: -1.05em;
  }

  // PDF Viewer
  .theme-dark.pdf-invert-dark .pdf-container .pdfViewer .page {
    filter: invert(1) hue-rotate(180deg) contrast(0.75);
  }
  .pdf-container .pdfViewer .page {
    transition-duration: var(--anim-duration-moderate);
    transition-property: filter, opacity;
    &:not(:hover) {
      opacity: var(--pdf-muted, 1);
    }
  }

  // Links
  body:not(.clean-link-off) {
    --link-decoration: none;
    --link-external-decoration: none;
  }
}
