@media screen, print {
  body {
    --metadata-label-width: calc(9em * var(--metadata-label-width-multiplier, 1));
  }
  body.is-phone {
    --metadata-label-width: calc(7.5em * var(--metadata-label-width-multiplier, 1));
  }

  body.is-mobile .metadata-content {
    transform: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    width: auto;
  }
  .metadata-container {
    --metadata-divider-width: 0 !important;
  }
  .metadata-properties-heading {
    width: 100%;
  }
  .metadata-property-key-input,
  .metadata-input {
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .metadata-link {
    width: 100%;
  }

  // Side panels
  .workspace > .workspace-split:not(.mod-root) .metadata-container .metadata-properties {
    --metadata-divider-width: 0px;
    --metadata-gap: 8px;
  }

  // Editor panel
  .mod-root .metadata-container .metadata-show-source-button,
  .mod-root .metadata-container .metadata-add-button {
    gap: 8px;
  }

  .markdown-source-view .metadata-container,
  .markdown-preview-view .metadata-container {
    transform: none;
  }

  body:not(.metadata-heading-off) .metadata-properties-heading {
    display: none;
  }

  // Metadata: Cupertino
  body {
    --metadata-gap: 0;
    --metadata-padding: 0;
    --metadata-property-radius: var(--radius-m);
    --metadata-property-radius-hover: var(--radius-m);
    --metadata-property-radius-focus: var(--radius-m);

    .metadata-container {
      --input-padding: 8px;

      .metadata-content {
        transform: translateX(-8px);
        width: calc(100% + 16px);
      }

      .metadata-properties-heading {
        padding-inline: 0px;
      }

      .metadata-properties {
        border-radius: var(--radius-m);
        background-color: var(--background-primary-alt);
      }

      .metadata-property {
        min-height: 44px;
      }
      .metadata-property-icon {
        --icon-size: var(--icon-s);
      }
      .metadata-property-key {
        padding: 8px 8px 8px 12px;
      }

      .metadata-property[data-property-key="tags"] .multi-select-pill {
        font-weight: var(--font-medium);
        font-size: var(--font-ui-smaller);
      }
    }

    .workspace-split:not(.mod-root) .metadata-container {
      padding: 8px !important;
    }

    .metadata-container .metadata-show-source-button,
    .metadata-container .metadata-add-button {
      display: flex;
      transition: var(--anim-duration-moderate) var(--anim-motion-cupertino);
      margin-top: 4px;
      margin-left: 0;
      padding-block: 4px;
      padding-inline-start: 12px;
      padding-inline-end: 16px;
      width: fit-content;
    }

    .markdown-reading-view {
      .metadata-container:not(:hover) .metadata-show-source-button,
      .metadata-container:not(:hover) .metadata-add-button {
        opacity: 0;
        margin-top: 0;
        padding-block: 0;
        height: 0;
      }
    }

    &.is-phone {
      .metadata-container .metadata-show-source-button,
      .metadata-container .metadata-add-button {
        padding: 8px 8px 8px 12px;
      }
    }
  }
}
