@media screen, print {
  body {
    --metadata-label-width: calc(9em * var(--metadata-label-width-multiplier, 1));
  }
  body.is-phone {
    --metadata-label-width: calc(7.5em * var(--metadata-label-width-multiplier, 1));
  }

  body.is-mobile .metadata-content {
    background-color: transparent;
    padding: 0;
  }
  .metadata-container {
    --metadata-divider-width: 0 !important;
  }
  .metadata-content {
    transform: translateX(-8px) !important;
    width: calc(100% + 16px) !important;
  }
  .metadata-properties-heading {
    padding-inline: 0;
    width: 100%;
  }
  .metadata-property-icon::before {
    display: none;
  }
  .metadata-property-key {
    padding-inline: 8px;
  }
  .metadata-property-key-input,
  .metadata-input {
    box-shadow: none !important;
    border-bottom: none !important;
  }
  .metadata-input-longtext:not(:focus) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .metadata-link {
    width: 100%;
  }

  // Side panels
  .workspace > .workspace-split:not(.mod-root) .metadata-container .metadata-properties {
    --metadata-divider-width: 0px;
    --metadata-gap: 8px;
  }

  // Editor panel
  .mod-root .metadata-container .metadata-show-source-button,
  .mod-root .metadata-container .metadata-add-button {
    display: flex;
    gap: 8px;
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    margin-top: 4px;
    background-color: transparent;
    padding-inline: 8px;
    color: var(--text-faint);
    font-weight: normal;
    text-transform: lowercase;

    &:hover {
      color: var(--text-muted);
    }
  }

  .markdown-source-view .metadata-container,
  .markdown-preview-view .metadata-container {
    transform: none;
  }

  // Metadata: Cupertino
  body .workspace-split {
    --metadata-gap: 0;
    --metadata-padding: 0;
    --metadata-property-radius: var(--radius-m);
    --metadata-property-radius-hover: var(--radius-m);
    --metadata-property-radius-focus: var(--radius-m);

    .metadata-container {
      --input-padding: 8px;

      .metadata-properties-heading {
        padding-inline: 0px;
      }

      .metadata-properties {
        border-radius: var(--radius-m);
        background-color: var(--background-primary-alt);
      }

      .metadata-property {
        min-height: 44px;
      }
      .metadata-property-icon {
        --icon-size: var(--icon-s);
        --icon-stroke: var(--icon-s-stroke-width);
      }
      .metadata-property-key,
      .metadata-show-source-button,
      .metadata-add-button {
        padding: 8px 16px;
      }

      .metadata-property[data-property-key="tags"] .multi-select-pill {
        font-weight: var(--font-medium);
        font-size: var(--font-ui-smaller);
      }
    }

    &.is-mobile .metadata-container {
      .metadata-property-key,
      .metadata-show-source-button,
      .metadata-add-button {
        padding: 4px 4px 4px 16px;
      }
    }

    .workspace-split:not(.mod-root) .metadata-container {
      padding: 8px !important;
    }

    .markdown-reading-view .metadata-container:not(:hover) .metadata-show-source-button,
    .markdown-reading-view .metadata-container:not(:hover) .metadata-add-button {
      opacity: 0;
      padding-block: 0;
      height: 0;
    }
  }
}
