.callout[data-callout="system"],
.callout[data-callout="user"],
.callout[data-callout="assistant"],
.callout[data-callout="openai"],
.callout[data-callout="claude"],
.callout[data-callout="gemini"],
.callout[data-callout="mistral"],
.callout[data-callout="copilot"] {
  --callout-border-width: 0;
  --callout-padding: 16px 20px;
  --callout-radius: var(--radius-l);

  margin: 2em 0;

  .callout-content {
    margin-left: 0;
  }
}
.callout[data-callout="system"] {
  background-color: var(--code-background);
  color: var(--text-muted);
  font-size: var(--code-size);
  border: var(--code-border-width) solid var(--code-border-color);

  .callout-icon {
    display: none;
  }
  .callout-title-inner {
    color: var(--text-faint);
    font-size: initial;
    font-family: var(--h1-font);
  }
  .callout-fold {
    color: var(--text-faint);
  }
}
.callout[data-callout="user"] {
  background-color: var(--background-secondary);
  max-width: 80%;
  justify-self: end;

  .callout-title {
    display: none;
  }
  .callout-content > *:first-child {
    margin-top: 0;
  }
}
.callout[data-callout="assistant"],
.callout[data-callout="openai"],
.callout[data-callout="claude"],
.callout[data-callout="gemini"],
.callout[data-callout="mistral"],
.callout[data-callout="copilot"] {
  --callout-padding: 0;
  --callout-radius: 0;

  display: flex;
  gap: 16px;
  background-color: transparent;

  .callout-icon {
    width: var(--icon-xl);
    height: var(--icon-xl);
    align-self: start;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    svg.svg-icon {
      display: none;
    }
  }
  .callout-title-inner {
    display: none;
  }

  .callout-content > *:first-child {
    margin-top: 0;
  }
}

/* Prompts: OpenAI */
.callout[data-callout="openai"] .callout-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='none' viewBox='0 0 17 17'%3e%3cpath fill='black' d='M9.57 16.5c-.55 0-1.072-.105-1.568-.314a4.251 4.251 0 0 1-1.32-.874 4 4 0 0 1-1.303.215 4.013 4.013 0 0 1-2.046-.545 4.267 4.267 0 0 1-1.518-1.485 4.013 4.013 0 0 1-.561-2.095c0-.32.044-.666.132-1.04A4.386 4.386 0 0 1 .363 8.96a4.065 4.065 0 0 1 .017-3.4 4.206 4.206 0 0 1 1.056-1.418 3.806 3.806 0 0 1 1.6-.842 3.908 3.908 0 0 1 .759-1.683c.396-.506.88-.902 1.452-1.188A4.04 4.04 0 0 1 7.079 0c.55 0 1.072.104 1.567.314.495.208.935.5 1.32.874A3.999 3.999 0 0 1 11.27.974c.737 0 1.418.181 2.046.544a4.135 4.135 0 0 1 1.501 1.485c.385.627.578 1.325.578 2.095 0 .32-.044.666-.133 1.04.44.407.782.88 1.023 1.419.242.528.363 1.083.363 1.666 0 .595-.126 1.166-.379 1.716a4.277 4.277 0 0 1-1.072 1.436 3.774 3.774 0 0 1-1.584.825 3.81 3.81 0 0 1-.776 1.683 4.063 4.063 0 0 1-1.435 1.188 4.04 4.04 0 0 1-1.832.429Zm-4.075-2.063c.55 0 1.028-.115 1.435-.346l3.102-1.782a.363.363 0 0 0 .165-.313v-1.42L6.204 12.87a.668.668 0 0 1-.726 0L2.36 11.072a.485.485 0 0 1-.017.115v.198c0 .561.132 1.078.396 1.551.275.462.655.825 1.139 1.089a3.215 3.215 0 0 0 1.617.412Zm.165-2.689a.41.41 0 0 0 .181.05.32.32 0 0 0 .165-.05l1.237-.71-3.976-2.31a.7.7 0 0 1-.363-.643v-3.58a2.97 2.97 0 0 0-1.32 1.122 2.91 2.91 0 0 0-.495 1.65c0 .538.137 1.055.413 1.55.274.495.632.87 1.072 1.123l3.086 1.798Zm3.91 3.663c.583 0 1.111-.132 1.584-.396a2.963 2.963 0 0 0 1.534-2.64V8.811a.324.324 0 0 0-.165-.297l-1.253-.726v4.604a.7.7 0 0 1-.364.643l-3.118 1.799a2.998 2.998 0 0 0 1.782.577Zm.627-6.039V7.128L8.333 6.072 6.452 7.128v2.244l1.88 1.056 1.865-1.056ZM5.379 4.109a.7.7 0 0 1 .363-.644l3.119-1.798a2.998 2.998 0 0 0-1.783-.578 3.19 3.19 0 0 0-1.583.396 2.963 2.963 0 0 0-1.123 1.089 3.07 3.07 0 0 0-.395 1.551v3.548c0 .131.055.236.164.313l1.238.726V4.109Zm8.382 7.886a2.87 2.87 0 0 0 1.304-1.121c.33-.507.495-1.056.495-1.65a3.15 3.15 0 0 0-.413-1.551c-.275-.495-.633-.87-1.072-1.122l-3.086-1.782c-.066-.045-.127-.061-.182-.05a.318.318 0 0 0-.165.05l-1.237.692 3.993 2.327a.611.611 0 0 1 .264.264.64.64 0 0 1 .099.363v3.58Zm-3.316-8.381a.628.628 0 0 1 .726 0l3.135 1.831v-.297c0-.528-.132-1.028-.396-1.501a2.862 2.862 0 0 0-1.106-1.155c-.473-.287-1.023-.43-1.65-.43-.55 0-1.028.116-1.435.347L6.617 4.191a.363.363 0 0 0-.165.314v1.418l3.992-2.31Z'/%3e%3c/svg%3e");
  background-size: 70% 70%;
  background-position: center;
  background-color: #fff;
  border-radius: 100vh;
  border: var(--border-width) solid var(--background-modifier-border);
}

/* Prompts: Claude */
.callout[data-callout="claude"] {
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

  .callout-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='542' height='542' fill='none' viewBox='0 0 542 542'%3e%3cpath fill='%23D97757' d='m106.232 360.43 106.774-59.62 1.626-5.42-1.626-2.71h-5.42l-17.886-1.084-60.704-1.626-53.116-2.71-51.49-2.71-13.008-2.71L0 265.58l1.084-8.13 10.84-7.046 15.718 1.084 34.146 2.71 51.49 3.252 37.398 2.168 55.284 6.504h8.672l1.084-3.794-2.71-2.168-2.168-2.168-53.658-35.772-57.452-37.94-30.352-22.222-16.26-10.84-8.13-10.84-3.252-22.764 14.634-16.26 20.054 1.626 4.878 1.084 20.054 15.718 43.36 33.062 55.826 42.276 8.13 6.504 3.252-2.168.542-1.626-3.794-5.962-29.81-56.368-32.52-56.368-14.634-23.306-3.794-14.092c-1.626-5.42-2.168-10.84-2.168-16.26l16.26-22.764L151.76 0l22.764 3.252 8.672 7.588 14.092 32.52 22.222 50.406 35.23 68.292 10.84 20.596 5.42 18.428 1.626 5.42h3.794v-2.71l2.71-39.024 5.42-47.154 5.42-60.704 1.626-17.344 8.672-20.596 16.26-10.84 14.092 5.962 10.84 15.718-1.626 9.756-5.962 41.734-14.092 65.582-8.13 44.444h4.878l5.42-5.962 22.222-29.268 37.398-46.612 16.26-18.97L417.34 70.46l12.466-9.756h23.306l16.802 25.474-7.588 26.558-23.848 30.352-20.054 25.474-28.726 38.482-17.344 30.894 1.626 2.168h3.794l65.04-14.092 34.688-5.962 41.192-7.046 18.97 8.672 2.168 8.672-7.588 18.428-44.444 10.84-52.032 10.84-77.506 17.886-1.084.542 1.084 1.626 34.688 3.252 15.176 1.084h36.856l68.292 5.42 17.886 10.84 10.298 14.634-1.626 10.84-27.642 14.092-36.856-8.672-86.72-20.596-29.268-7.046h-4.336v2.168l24.932 24.39 44.986 40.65 57.452 52.574 2.71 13.008-7.046 10.84-7.588-1.084-49.864-37.94-19.512-16.26-43.36-36.856h-2.71v3.794l9.756 14.634 53.116 79.674 2.71 24.39-3.794 7.588-14.092 5.42-14.634-3.252-31.436-43.36-32.52-48.78-25.474-44.444-2.71 2.168-15.718 163.684-7.046 8.13-16.26 6.504-13.55-10.84-7.588-16.26 7.588-33.604 8.672-43.36 7.046-34.688 6.504-42.818 3.794-14.092v-1.084h-3.794l-32.52 44.986-48.78 66.666-39.024 41.192-9.214 3.794-16.26-8.13 1.626-15.176 8.672-12.466 54.2-69.376 32.52-42.818 21.68-24.932-.542-2.71h-1.626L93.224 419.508 67.75 422.76l-10.84-10.84 1.084-16.26 5.42-5.42 43.36-29.81h-.542Z'/%3e%3c/svg%3e");
  }
}

/* Prompts: Gemini */
.callout[data-callout="gemini"] .callout-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='373' height='373' fill='none' viewBox='0 0 373 373'%3e%3cpath fill='url(%23a)' d='M186.015 0a8.503 8.503 0 0 1 8.244 6.447 223.18 223.18 0 0 0 11.457 33.864c12.323 28.663 29.255 53.753 50.752 75.251 21.518 21.497 46.588 38.408 75.251 50.752a223.96 223.96 0 0 0 33.863 11.457 8.501 8.501 0 0 1 6.447 8.244c0 3.889-2.663 7.293-6.447 8.244a223.138 223.138 0 0 0-33.863 11.457c-28.663 12.323-53.754 29.255-75.251 50.752-21.497 21.518-38.408 46.588-50.752 75.251a223.96 223.96 0 0 0-11.457 33.863 8.501 8.501 0 0 1-8.244 6.447c-3.89 0-7.292-2.663-8.244-6.447a223.138 223.138 0 0 0-11.457-33.863c-12.323-28.663-29.255-53.754-50.752-75.251-21.519-21.497-46.588-38.408-75.251-50.752a223.97 223.97 0 0 0-33.864-11.457A8.503 8.503 0 0 1 0 186.015a8.502 8.502 0 0 1 6.447-8.244 223.184 223.184 0 0 0 33.864-11.457c28.663-12.344 53.753-29.276 75.251-50.752 21.497-21.498 38.408-46.588 50.752-75.251a223.974 223.974 0 0 0 11.457-33.864A8.502 8.502 0 0 1 186.015 0Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='116.259' x2='251.543' y1='240.974' y2='126.829' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23346BF1'/%3e%3cstop offset='.22' stop-color='%233279F8'/%3e%3cstop offset='.45' stop-color='%233186FF'/%3e%3cstop offset='.72' stop-color='%234093FF'/%3e%3cstop offset='.99' stop-color='%234FA0FF'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: 90% 90%;
}

/* Prompts: Mistral */
.callout[data-callout="mistral"] .callout-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' fill='none' viewBox='0 0 23 23'%3e%3cpath fill='white' d='M14.614 5.51v2.276h-2.276v2.276h-2.276V7.786H7.786V5.51H5.51v9.104H3.234v2.276h6.828v-2.276H7.786v-2.276h2.276v2.276h2.276v-2.276h2.276v2.276h-2.276v2.276h6.828v-2.276H16.89V5.51h-2.276Z'/%3e%3c/svg%3e");
  background-size: 90% 90%;
  background-position: center;
  background-color: #fa500f;
  border-radius: 8px;
}

/* Prompts: Copilot */
.callout[data-callout="copilot"] .callout-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23' height='20' fill='none' viewBox='0 0 23 20'%3e%3cpath fill='url(%23a)' d='M16.446 1.479A2.188 2.188 0 0 0 14.376 0h-1.044a2.188 2.188 0 0 0-2.153 1.8L10.09 7.86l.425-1.422a2.187 2.187 0 0 1 2.096-1.562h3.936l1.685.982 1.623-.982h-.682a2.188 2.188 0 0 1-2.07-1.479l-.656-1.917Z'/%3e%3cpath fill='url(%23b)' d='M6.299 18.011c.3.89 1.134 1.49 2.073 1.49h1.81c1.202 0 2.18-.973 2.186-2.176l.032-5.71-.421 1.438a2.188 2.188 0 0 1-2.1 1.572H5.92l-1.444-1.109-1.563 1.11h.675c.939 0 1.773.598 2.073 1.488l.639 1.897Z'/%3e%3cuse xlink:href='%23c' fill='url(%23d)'/%3e%3cuse xlink:href='%23c' fill='url(%23e)'/%3e%3cuse xlink:href='%23f' fill='url(%23g)'/%3e%3cuse xlink:href='%23f' fill='url(%23h)'/%3e%3cdefs%3e%3cradialGradient id='a' cx='0' cy='0' r='1' gradientTransform='matrix(-5.53366 -6.41313 -5.97455 5.37912 18.433 7.91)' gradientUnits='userSpaceOnUse'%3e%3cstop offset='.096' stop-color='%2300AEFF'/%3e%3cstop offset='.773' stop-color='%232253CE'/%3e%3cstop offset='1' stop-color='%230736C4'/%3e%3c/radialGradient%3e%3cradialGradient id='b' cx='0' cy='0' r='1' gradientTransform='matrix(4.96137 5.94666 5.85678 -4.85378 4.633 14.211)' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23FFB657'/%3e%3cstop offset='.634' stop-color='%23FF5F3D'/%3e%3cstop offset='.923' stop-color='%23C02B3C'/%3e%3c/radialGradient%3e%3cradialGradient id='d' cx='0' cy='0' r='1' gradientTransform='matrix(-.74318 -12.9599 73.5211 -4.13292 5.658 14.621)' gradientUnits='userSpaceOnUse'%3e%3cstop offset='.03' stop-color='%23FFC800'/%3e%3cstop offset='.31' stop-color='%2398BD42'/%3e%3cstop offset='.49' stop-color='%2352B471'/%3e%3cstop offset='.844' stop-color='%230D91E1'/%3e%3c/radialGradient%3e%3cradialGradient id='g' cx='0' cy='0' r='1' gradientTransform='matrix(-6.4805 18.3477 -22.0556 -8.09775 20.109 3.44)' gradientUnits='userSpaceOnUse'%3e%3cstop offset='.066' stop-color='%238C48FF'/%3e%3cstop offset='.5' stop-color='%23F2598A'/%3e%3cstop offset='.896' stop-color='%23FFB152'/%3e%3c/radialGradient%3e%3clinearGradient id='e' x1='6.393' x2='7.019' y1='0' y2='14.627' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%233DCBFF'/%3e%3cstop offset='.247' stop-color='%230588F7' stop-opacity='0'/%3e%3c/linearGradient%3e%3clinearGradient id='h' x1='20.757' x2='20.749' y1='3.978' y2='7.963' gradientUnits='userSpaceOnUse'%3e%3cstop offset='.058' stop-color='%23F8ADFA'/%3e%3cstop offset='.708' stop-color='%23A86EDD' stop-opacity='0'/%3e%3c/linearGradient%3e%3csymbol id='c' width='23' height='20' viewBox='0 0 23 20'%3e%3cpath d='M14.064 0H5.861c-2.344 0-3.75 3.067-4.687 6.134-1.111 3.633-2.564 8.493 1.64 8.493h3.683A2.19 2.19 0 0 0 8.6 13.044c.61-2.112 1.713-5.92 2.577-8.805.43-1.44.79-2.676 1.34-3.446A1.856 1.856 0 0 1 14.064 0Z'/%3e%3c/symbol%3e%3csymbol id='f' width='23' height='20' viewBox='0 0 23 20'%3e%3cpath d='M8.438 19.5h8.202c2.344 0 3.75-3.067 4.688-6.134 1.11-3.634 2.564-8.494-1.64-8.494h-3.683A2.19 2.19 0 0 0 13.9 6.455c-.61 2.112-1.713 5.92-2.577 8.806-.43 1.44-.79 2.676-1.34 3.446a1.855 1.855 0 0 1-1.546.793Z'/%3e%3c/symbol%3e%3c/defs%3e%3c/svg%3e");
  svg.svg-icon {
    display: none;
  }
}
