.embedded-backlinks {
  .nav-header {
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 8px;
  }
  .nav-buttons-container {
    box-shadow: none !important;
    position: relative;
    top: 0;
    flex-wrap: nowrap;
    gap: 0;
  }
  .search-input-container {
    order: -1;
    margin: 0 !important;

    input {
      height: 100%;
    }
  }
}

body:not(.is-mobile) .search-result-file-match-destination-file,
body:not(.is-mobile) .search-result-file-match-destination-file-icon {
  box-shadow: none;
  color: var(--text-normal);
}

body.is-mobile {
  .backlink-pane,
  .outgoing-link-pane {
    flex: 0;
    padding-bottom: unset;
    overflow: visible;
  }
}

body.is-mobile .embedded-backlinks {
  margin-bottom: 160px;

  .backlink-pane > .tree-item-self {
    height: var(--input-height);
  }
  .nav-action-button {
    width: var(--input-height);
    height: var(--input-height);

    &.is-active {
      opacity: 1;
      background-color: var(--interactive-accent);
      color: white;
    }
  }
}
