body:not(.is-mobile) .embedded-backlinks {
  .nav-header {
    justify-content: unset;
  }
  .search-input-container {
    height: 40px;

    input {
      height: 100%;
    }
  }
}

body.is-mobile {
  .backlink-pane,
  .outgoing-link-pane {
    flex: 0;
    padding-bottom: unset;
    overflow: visible;
  }
}

body.is-mobile .embedded-backlinks {
  margin-bottom: 160px;

  .backlink-pane > .tree-item-self {
    height: var(--input-height);
  }
  .nav-action-button.is-active {
    opacity: 1;
    background-color: var(--interactive-accent);
    color: white;
  }
  .search-input-container {
    width: calc(100% - 188px);
  }
}
