/* NOT FOR INDEPENDENT USE - Android Mode is built upon the rest of Cupertino components. */

body.is-mobile.is-android:not(.material-off) {
  --font-text-theme: "Roboto", sans-serif;
  --font-interface-theme: "Google Sans", "Roboto", sans-serif;
  --h1-font: var(--font-interface-theme);
  --h2-font: var(--font-interface-theme);
  --h3-font: var(--font-interface-theme);
  --h4-font: var(--font-interface-theme);
  --h5-font: var(--font-interface-theme);
  --h6-font: var(--font-interface-theme);
  --border-width: 1px;
  --divider-color: var(--color-base-50) !important;
  --divider-width: 1px;
  --radius-xl: 32px;
  --radius-l: 24px;
  --radius-m: 16px;
  --radius-s: 8px;
  --input-height: 48px;
  --input-radius: var(--radius-s);
  --input-font-weight: normal;
  --toggle-border-width: 2px;
  --toggle-width: 52px;
  --toggle-thumb-height: 24px;
  --toggle-thumb-width: 24px;
  --slider-thumb-height: 44px;
  --slider-thumb-width: 4px;
  --slider-thumb-y: -19px;
  --slider-thumb-radius: 100vh;
  --slider-track-height: 16px;
  --view-header-height: 64px;
  --tab-switcher-preview-background-shadow: none;
  --tab-switcher-preview-radius: var(--radius-m);
  --interactive-normal: var(--background-secondary);

  /********** Components **********/
  .checkbox-container {
    border: 2px solid transparent;
    box-sizing: content-box;
    outline: none;
  }
  .checkbox-container::after {
    box-shadow: none;
  }
  .checkbox-container:not(.is-enabled) {
    border-color: var(--text-muted);
    &::after {
      background-color: var(--text-muted);
    }
  }

  input[type="range"] {
    transition: var(--anim-duration-fast);
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: none;
    background-color: var(--interactive-accent);
    outline: 6px solid var(--background-primary);
  }
  &.theme-dark input[type="range"]::-webkit-slider-thumb {
    outline-color: var(--background-secondary);
  }
  input[type="range"]:active,
  input[type="range"]:focus,
  input[type="range"]:focus-within,
  input[type="range"]:hover {
    --slider-thumb-y: -23px;
    --slider-thumb-height: 52px;
    --slider-track-height: 40px;
  }

  textarea,
  textarea,
  input[type="text"],
  input[type="number"],
  input[type="search"] {
    background-color: var(--interactive-normal);
    border-bottom: var(--border-width) solid var(--divider-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  textarea,
  input[type="text"],
  input[type="number"]:not(.metadata-input),
  input[type="search"],
  select,
  .dropdown {
    padding-left: 16px;
  }

  .search-input-container input[type="search"] {
    background-color: var(--background-primary);
  }

  button:not(.clickable-icon):not(.modal:not(.mod-settings):not(.mod-community-modal) button):not(.view-content button):not([class*="mod-"]),
  select,
  .dropdown {
    border: var(--border-width) solid var(--divider-color);
    background-color: var(--interactive-normal);
    font-weight: bold;
  }

  button:not(.clickable-icon) {
    border-radius: 100vh;

    &[class*="mod-"] {
      background-color: var(--text-color);
      color: var(--text-on-accent);
      border: none;
    }
    &.mod-cta {
      background-color: var(--interactive-accent);
    }
  }

  /********** Top Bar **********/
  .workspace .mod-root .workspace-leaf {
    .view-header-left .mod-left-split-toggle svg {
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");
      background-color: var(--icon-color);
      > * {
        display: none;
      }
    }
  }

  /********** Mode Switchcer **********/

  &.is-phone:not(.mod-toolbar-open):not(.quick-mode-switch-off) .mod-root .view-actions button:nth-last-child(2) {
    right: 16px;
    z-index: var(--layer-cover);
    backdrop-filter: none;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12) !important;
    border: none;
    border-radius: var(--radius-m);
    width: 56px;
    height: 56px;
  }
  /********** Bottom Bar **********/

  .mobile-navbar,
  .workspace-drawer .nav-header {
    background-color: var(--background-secondary);
    padding: 8px max(var(--safe-area-inset-right), 16px) calc(var(--safe-area-inset-bottom) + 8px) max(var(--safe-area-inset-left), 16px);
  }

  .mobile-navbar-actions {
    gap: 32px;
  }

  .mobile-navbar-action .clickable-icon {
    padding: 0;
    width: var(--input-height);
    height: var(--input-height);
  }

  .mobile-navbar-action:nth-child(3) {
    border-radius: var(--radius-m);
    background-color: var(--interactive-accent);
    .clickable-icon {
      color: var(--text-on-accent);
    }
    svg {
      --icon-size: 40px;
      stroke-width: 1.5px;

      circle {
        display: none;
      }
    }
  }

  /********** Menu **********/
  .menu {
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }

  .menu-grabber {
    top: 16px;
    height: 4px;
    width: 32px;
  }

  .menu-scroll {
    gap: 2px;
    padding-top: 34px;
  }
  .menu-item:not(.is-label) {
    flex-direction: row !important;
    gap: 16px;
  }
  .menu-item.tappable:not(:has(.mod-checked)) .menu-item-title {
    margin-left: 0 !important;
  }
  .menu-item {
    border-radius: var(--radius-m);
    border: none;
  }
  .menu-item + .menu-item,
  .menu-item:has(+ .menu-item) {
    border-radius: var(--radius-s);
  }
  .menu-separator + .menu-item,
  .menu-item:first-child:has(+ .menu-item) {
    border-top-right-radius: var(--radius-m);
    border-top-left-radius: var(--radius-m);
  }
  .menu-item:has(+ .menu-separator),
  .menu-item + .menu-item:last-child {
    border-bottom-right-radius: var(--radius-m);
    border-bottom-left-radius: var(--radius-m);
  }

  /********** Sidebar **********/

  .nav-files-container > div {
    gap: 2px;
    margin-bottom: 96px;
    border-radius: 0;
    background-color: transparent;
  }

  .nav-files-container .tree-item:not(:last-child)::before,
  .nav-files-container .tree-item-children::before {
    content: none;
  }

  .nav-files-container .tree-item-self {
    border-radius: 100vh;
    text-indent: 4px;
  }

  .nav-folder:not(.is-collapsed) > .nav-folder-title {
    background-color: var(--nav-item-background-hover);
  }

  /********** Settings **********/

  &.theme-light {
    .modal.mod-settings,
    .modal.mod-community-modal {
      .vertical-tab-nav-item,
      .setting-item:not(.setting-item-heading) {
        background-color: var(--background-primary);
      }
    }
  }

  &.theme-dark {
    .modal.mod-settings,
    .modal.mod-community-modal {
      .vertical-tab-nav-item,
      .setting-item:not(.setting-item-heading) {
        background-color: var(--background-secondary);
      }
    }
  }
  .modal.mod-settings,
  .modal.mod-community-modal {
    .vertical-tab-nav-item {
      border: none;
      border-radius: var(--radius-s);
      min-height: 64px;
      transition: border-radius var(--anim-duration-fast);
    }
    .vertical-tab-nav-item.is-active {
      border-radius: var(--radius-l);
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
    }
    .vertical-tab-nav-item-chevron {
      display: none;
    }

    .vertical-tab-header {
      padding: 0 16px;
    }
    .vertical-tab-header-group-items {
      gap: 2px;
      border-radius: var(--radius-l);
      background-color: transparent;
    }
    .vertical-tab-header-group-title {
      display: none;
    }

    .hotkey-list-container {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .setting-item-heading .setting-item-name {
      font-family: var(--font-text-theme);
      text-transform: unset;
      color: var(--text-accent);
      letter-spacing: 0.1px;
      padding-left: 8px;
      font-weight: bold;
    }

    .modal-header {
      padding: var(--safe-area-inset-top) 16px 0 !important;
    }
    .modal-title {
      gap: 8px;
      font-size: var(--font-ui-large);
      text-align: left;
    }
    .modal-setting-back-button {
      transition: var(--anim-duration-fast);
      border-radius: 100vh;
      background-color: var(--background-modifier-hover);

      @starting-style {
        width: 0;
      }
    }

    .modal-close-button {
      width: 48px;
      height: 48px;
    }

    .setting-item {
      border: none;
    }

    button:not(.clickable-icon) {
      padding: 24px;
      width: unset;
    }
  }

  &.is-phone {
    .modal.mod-settings .vertical-tab-content,
    .modal.mod-community-modal .vertical-tab-content {
      padding: 0 16px 100px;
    }

    .modal.mod-settings {
      .modal-close-button {
        top: calc(var(--safe-area-inset-top) + 8px);
        inset-inline-end: 16px;
      }

      .setting-item:not(.setting-item-heading),
      .setting-item-control .mobile-option-setting-item {
        border-radius: var(--radius-m);
        padding: 16px;
      }
      .setting-item:not(.setting-item-heading):has(+ .setting-item:not(.setting-item-heading)) {
        border: none;
        margin-bottom: 2px;
        border-bottom-right-radius: var(--radius-s);
        border-bottom-left-radius: var(--radius-s);
      }
      .setting-item:not(.setting-item-heading) + .setting-item:not(.setting-item-heading) {
        border-top-right-radius: var(--radius-s);
        border-top-left-radius: var(--radius-s);
      }
    }
  }

  &.is-tablet .modal:not(.mod-community-modal) {
    .modal-close-button {
      border-radius: 100vh;
      background-color: var(--background-modifier-hover);
    }

    .vertical-tab-content {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    .setting-item:not(.setting-item-heading) {
      border-radius: var(--radius-s);
    }
    .setting-item-heading + .setting-item,
    *:not(.setting-item) + .setting-item:not(.setting-item-heading),
    .setting-item:first-child:not(.setting-item-heading) {
      border-top-right-radius: var(--radius-m) !important;
      border-top-left-radius: var(--radius-m) !important;
    }
    .setting-item:has(+ .setting-item-heading),
    .setting-item:has(+ *:not(.setting-item)):not(.setting-item-heading),
    .setting-item:last-child {
      border-bottom-right-radius: var(--radius-m) !important;
      border-bottom-left-radius: var(--radius-m) !important;
    }
  }

  /********** Modal **********/

  .modal-container {
    align-items: center;
  }
  .modal:not(.mod-settings):not(.mod-community-modal) {
    margin: 0 8px;
    box-shadow: none;

    .modal-header {
      padding: 24px 24px 0;
      border: none;
    }

    .modal-title {
      max-width: 100%;
      text-align: left;
      font-size: var(--h1-size);
      font-weight: normal;
    }

    .modal-content {
      padding: 16px 24px;
    }

    .modal-button-container {
      margin-bottom: 0;
      flex-direction: row;
      padding: 0 24px 24px;
      gap: 4px;

      button {
        margin: 0;
        background-color: transparent;
        color: var(--text-accent);
        font-weight: bold;
        padding: 0 16px;
      }
    }
  }

  .modal[class*="mod-"] .modal-title {
    text-align: center !important;
  }

  /********** Prompt **********/

  .prompt {
    box-shadow: none;

    .prompt-input {
      min-height: var(--view-header-height);
    }

    .prompt-results {
      padding: 8px;
    }
    .suggestion-item {
      border-radius: 100vh;
      padding: 16px 24px;
    }
  }

  /********** Tab Switcher **********/

  .mobile-tab-switcher-menubar {
    padding: 8px max(var(--safe-area-inset-right), 16px) calc(var(--safe-area-inset-bottom) + 8px) max(var(--safe-area-inset-left), 16px);
    border: none;
  }
}
