body {
  --banner-content-offset: 0px;
  --banner-content-offset-fade: 64px;
  --banner-image-height: 320px;
  --banner-image-inset: 8px;
  --banner-image-object-fit: cover;
  --banner-icon-size: 48px;
  --banner-icon-spacer: 16px;
}
.banner-image-contain {
  --banner-image-object-fit: contain;
}
.banner-image-cover {
  --banner-image-object-fit: cover;
}
.banner-image-fill {
  --banner-image-object-fit: fill;
}

// Banner: Spacing
.banner:not(.banner-fade):not(.banner-icon) {
  .markdown-preview-pusher,
  .cm-sizer {
    margin-top: calc(var(--banner-image-height) + var(--banner-content-offset)) !important;
  }
}
.banner:not(.banner-fade).banner-icon {
  .markdown-preview-pusher,
  .cm-sizer {
    margin-top: calc(var(--banner-image-height) + var(--banner-icon-size) + var(--banner-icon-spacer) + var(--banner-content-offset)) !important;
  }
  .callout[data-callout="banner-icon"] {
    top: calc(var(--file-margins-block) + var(--banner-image-height) + var(--banner-content-offset));
  }
}
.banner.banner-fade:not(.banner-icon) {
  .markdown-preview-pusher,
  .cm-sizer {
    margin-top: calc(var(--banner-image-height) + (-1 * var(--banner-content-offset-fade)) + var(--banner-content-offset)) !important;
  }
}
.banner.banner-fade.banner-icon {
  .markdown-preview-pusher,
  .cm-sizer {
    margin-top: calc(var(--banner-image-height) + var(--banner-icon-size) + var(--banner-icon-spacer) + (-1 * var(--banner-content-offset-fade)) + var(--banner-content-offset)) !important;
  }
  .callout[data-callout="banner-icon"] {
    top: calc(var(--file-margins-block) + var(--banner-image-height) + calc(-1 * var(--banner-content-offset-fade)) + var(--banner-content-offset));
  }
}
.banner-icon:not(.banner) {
  .markdown-preview-pusher,
  .cm-sizer {
    margin-top: calc(var(--banner-icon-size) + var(--banner-icon-spacer) + var(--banner-content-offset)) !important;
  }
  .callout[data-callout="banner-icon"] {
    top: var(--file-margins-block);
  }
}

// Banner: Image
.banner {
  img[alt="banner"] {
    position: absolute;
    inset: 0 0 auto;
    padding-inline: var(--banner-image-inset);
    height: var(--banner-image-height);
    object-fit: var(--banner-image-object-fit);
  }

  .image-embed:has(img[alt="banner"]) {
    display: contents !important;
  }
}
.banner.banner-fade {
  img[alt="banner"] {
    mask: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.987) 15%, hsla(0, 0%, 0%, 0.951) 28.2%, hsla(0, 0%, 0%, 0.896) 39.7%, hsla(0, 0%, 0%, 0.825) 49.6%, hsla(0, 0%, 0%, 0.741) 58.1%, hsla(0, 0%, 0%, 0.648) 65.4%, hsla(0, 0%, 0%, 0.55) 71.6%, hsla(0, 0%, 0%, 0.45) 76.9%, hsla(0, 0%, 0%, 0.352) 81.4%, hsla(0, 0%, 0%, 0.259) 85.2%, hsla(0, 0%, 0%, 0.175) 88.5%, hsla(0, 0%, 0%, 0.104) 91.5%, hsla(0, 0%, 0%, 0.049) 94.3%, hsla(0, 0%, 0%, 0.013) 97.1%, hsla(0, 0%, 0%, 0) 100%);
  }
}
@for $i from 0 through 100 {
  .banner.y#{$i} {
    img[alt="banner"] {
      object-position: center #{percentage($i / 100)};
    }
  }
}

// Banner: Icon
.banner-icon {
  .cm-callout:has(.callout[data-callout="banner-icon"]) {
    display: contents !important;
  }

  .callout[data-callout="banner-icon"] {
    // Positioning
    position: absolute;
    z-index: 1;
    margin: 0;

    // Styling
    border: none !important;
    background-color: transparent !important;
    padding: 0;
    width: 1em;
    height: 1em;
    overflow: visible;
    font-size: 0;

    .callout-title-inner::first-letter {
      line-height: 100%;
      font-size: var(--banner-icon-size);
      color: var(--color-accent);
    }

    .callout-icon,
    .callout-content {
      display: none;
    }
  }
}
.banner-icon.banner-title {
  .inline-title:not([data-level]) {
    z-index: 1;
    margin-left: calc(var(--banner-icon-size) + 16px);
    margin-top: calc(-1 * var(--banner-icon-size) - 16px);
    max-width: calc(var(--file-line-width) - (var(--banner-icon-size) + 16px));
    width: fit-content;
  }
}
