body {
  --file-line-width: var(--line-width);
  --line-width: 700px;
}

body:not(.block-width-off) {
  --line-width-wide: 50rem;

  .wide {
    --file-line-width: min(100cqw, var(--line-width-wide));
  }
  .max {
    --file-line-width: 100%;
  }

  --block-width-wide: min(100cqw, var(--line-width-wide));
  --block-width-max: calc(100cqw - (var(--file-margins-x) * 2));
  --block-width-offset: calc(-1 * var(--file-margins-x));

  .mod-root .workspace-tab-container {
    container-type: inline-size;
  }

  // Table
  div:is(.table-wide, .table-max, .table-100) {
    .markdown-preview-sizer > .el-table,
    .markdown-preview-sizer > .el-pre .block-language-dataview,
    .markdown-preview-sizer > .el-pre .block-language-dataviewjs,
    .markdown-preview-sizer > .el-pre .block-language-datacorejsx,
    .cm-content > .cm-table-widget,
    .cm-content > .cm-lang-dataview,
    .cm-content > .cm-lang-dataviewjs,
    .cm-content > .cm-lang-datacorejsx {
      max-width: var(--table-line-max-width);
      width: var(--table-line-width) !important;
      justify-self: center;
      margin-inline: var(--table-line-width-offset) !important;
    }
  }
  .table-wide {
    --table-line-max-width: var(--block-width-max);
    --table-line-width: var(--block-width-wide);
  }
  .table-max {
    --table-line-max-width: var(--block-width-max);
    --table-line-width: var(--block-width-max);
  }
  .table-100 {
    --table-line-max-width: 100cqw;
    --table-line-width: 100cqw;
    --table-line-width-offset: var(--block-width-offset);

    .markdown-preview-sizer > .el-table,
    .cm-content > .cm-table-widget {
      tbody > tr > td {
        border-radius: 0;
      }
      tbody tr:first-child > td {
        border-block-start-width: 0;
      }
      tbody tr > td:last-child {
        border-inline-end-width: 0;
      }
      tbody tr > td:first-child {
        border-inline-start-width: 0;
      }
      tbody tr:last-child > td {
        border-block-end-width: 0;
      }
    }
  }

  // Bases
  div:is(.bases-wide, .bases-max, .bases-100) {
    .markdown-preview-sizer > .el-pre .bases-embed,
    .markdown-preview-sizer > .el-p .bases-embed,
    .cm-content > .bases-embed,
    .cm-content > .cm-lang-base {
      max-width: var(--bases-line-max-width);
      width: var(--bases-line-width) !important;
      justify-self: center;
      margin-inline: var(--bases-line-width-offset) !important;
    }
  }
  .bases-wide {
    --bases-line-max-width: var(--block-width-max);
    --bases-line-width: var(--block-width-wide);
  }
  .bases-max {
    --bases-line-max-width: var(--block-width-max);
    --bases-line-width: var(--block-width-max);
  }
  .bases-100 {
    --bases-line-max-width: 100cqw;
    --bases-line-width: 100cqw;
    --bases-line-width-offset: var(--block-width-offset);
  }

  // Image
  div:is(.img-wide, .img-max, .img-100) {
    .markdown-preview-sizer > .el-p p:has(img),
    .markdown-preview-sizer > .el-iframe,
    .cm-content .image-embed {
      max-width: var(--img-line-max-width);
      width: var(--img-line-width) !important;
      justify-self: center;
      margin-inline: var(--img-line-width-offset) !important;
    }
  }
  .cm-content .image-embed {
    display: block;
  }

  .img-wide {
    --img-line-max-width: var(--block-width-max);
    --img-line-width: var(--block-width-wide);
  }
  .img-max {
    --img-line-max-width: var(--block-width-max);
    --img-line-width: var(--block-width-max);
  }
  .img-100 {
    --img-line-max-width: 100cqw;
    --img-line-width: 100cqw;
    --img-line-width-offset: var(--block-width-offset);

    .markdown-preview-sizer img:not([alt="banner"]),
    .cm-content img:not([alt="banner"]) {
      border-radius: 0 !important;
    }
  }
}
