body {
  --file-line-width: var(--line-width);
  --line-width: 700px;
  --line-width-wide: 50rem;
  --line-width-offset: 0px;

  --block-width-wide: min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide));
  --block-width-wide-transform: translateX(min(calc(-1 * ((min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide)) - var(--line-width)) / 2) + var(--line-width-offset)), 0px));

  --block-width-max: calc(100cqw - (var(--file-margins-x) * 2));
  --block-width-max-transform: translateX(min(calc(-1 * (100cqw - var(--line-width)) / 2 + var(--file-margins-x) + var(--line-width-offset)), 0px));

  --block-width-100-width: 100cqw;
  --block-width-100-transform: translateX(min(calc(-1 * (100cqw - var(--line-width)) / 2 + var(--line-width-offset)), calc(-1 * var(--file-margins-x))));

  &.wide,
  .wide {
    --file-line-width: min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide));
    --line-width-offset: calc((var(--line-width-wide) - var(--line-width)) / 2);
  }
  &.max,
  .max {
    --file-line-width: 100cqw;
    --line-width-offset: calc((100cqw - var(--line-width)) / 2);
  }
}

.mod-root .workspace-tab-container {
  container-type: inline-size;
}

// Bases
.markdown-reading-view .bases-embed,
.markdown-source-view.mod-cm6 .cm-content > .bases-embed,
.markdown-source-view.mod-cm6 .cm-content > .cm-lang-base {
  margin-inline: auto !important;
}

.bases-wide {
  --bases-embed-width: var(--block-width-wide);
  --bases-embed-transform: var(--block-width-wide-transform);
}
.bases-max {
  --bases-embed-width: var(--block-width-max);
  --bases-embed-transform: var(--block-width-max-transform);
}
.bases-100 {
  --bases-embed-width: var(--block-width-100-width);
  --bases-embed-transform: var(--block-width-100-transform);
}

// Table
.markdown-preview-sizer > .el-table,
.markdown-preview-sizer > .el-pre .block-language-dataview,
.markdown-preview-sizer > .el-pre .block-language-dataviewjs,
.markdown-preview-sizer > .el-pre .block-language-datacorejsx,
.markdown-source-view.mod-cm6 .cm-content > .cm-table-widget,
.markdown-source-view.mod-cm6 .cm-content > .cm-lang-dataview,
.markdown-source-view.mod-cm6 .cm-content > .cm-lang-dataviewjs,
.markdown-source-view.mod-cm6 .cm-content > .cm-lang-datacorejsx {
  width: var(--table-embed-width, 100%);
  transform: var(--table-embed-transform, none);
  margin-inline: auto !important;
}

.table-wide {
  --table-embed-width: var(--block-width-wide);
  --table-embed-transform: var(--block-width-wide-transform);
}
.table-max {
  --table-embed-width: var(--block-width-max);
  --table-embed-transform: var(--block-width-max-transform);
}
.table-100 {
  --table-embed-width: var(--block-width-100-width);
  --table-embed-transform: var(--block-width-100-transform);
}

.table-100 {
  .markdown-preview-sizer > .el-table,
  .cm-content > .cm-table-widget {
    tbody > tr > td {
      border-radius: 0;
    }
    tbody tr:first-child > td {
      border-block-start-width: 0;
    }
    tbody tr > td:last-child {
      border-inline-end-width: 0;
    }
    tbody tr > td:first-child {
      border-inline-start-width: 0;
    }
    tbody tr:last-child > td {
      border-block-end-width: 0;
    }
  }
}

// Image
.markdown-reading-view img,
.markdown-source-view.mod-cm6 img[alt]:not(.cm-content > .image-embed > img),
.markdown-source-view.mod-cm6 .image-embed {
  width: var(--img-embed-width, 100%) !important;
  transform: var(--img-embed-transform, none);
  margin-inline: auto !important;
  display: block;
  max-width: unset !important;
}

.img-wide {
  --img-embed-width: var(--block-width-wide);
  --img-embed-transform: var(--block-width-wide-transform);
}
.img-max {
  --img-embed-width: var(--block-width-max);
  --img-embed-transform: var(--block-width-max-transform);
}
.img-100 {
  --img-embed-width: var(--block-width-100-width);
  --img-embed-transform: var(--block-width-100-transform);
}

.img-100 {
  .markdown-preview-sizer img,
  .cm-content img {
    border-radius: 0 !important;
  }
}
