body {
  --file-line-width: var(--line-width);
  --line-width: 700px;
}

body:not(.block-width-off) {
  --line-width-wide: 50rem;
  --line-width-offset: 0px;

  --block-width-wide: min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide));
  --block-width-wide-transform: translateX(min(calc(-1 * ((min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide)) - var(--line-width)) / 2) + var(--line-width-offset)), 0px));

  --block-width-max: calc(100cqw - (var(--file-margins-x) * 2));
  --block-width-max-transform: translateX(min(calc(-1 * (100cqw - var(--line-width)) / 2 + var(--file-margins-x) + var(--line-width-offset)), 0px));

  --block-width-100-width: 100cqw;
  --block-width-100-transform: translateX(min(calc(-1 * (100cqw - var(--line-width)) / 2 + var(--line-width-offset)), calc(-1 * var(--file-margins-x))));

  .wide {
    --file-line-width: min(calc(100cqw - (var(--file-margins-x) * 2)), var(--line-width-wide));
    --line-width-offset: calc((var(--line-width-wide) - var(--line-width)) / 2);
  }

  .max {
    --file-line-width: 100cqw;
    --line-width-offset: calc((100cqw - var(--line-width)) / 2);
  }

  .mod-root .workspace-tab-container {
    container-type: inline-size;
  }
}

// Bases
:is(.bases-wide, .bases-max, .bases-100) {
  .markdown-preview-sizer .bases-embed,
  .cm-content > .bases-embed,
  .cm-content > .cm-lang-base {
    width: var(--bases-embed-width);
    transform: var(--bases-embed-transform);
    margin-inline: auto !important;
  }
}

.bases-wide {
  --bases-embed-width: var(--block-width-wide);
  --bases-embed-transform: var(--block-width-wide-transform);
}
.bases-max {
  --bases-embed-width: var(--block-width-max);
  --bases-embed-transform: var(--block-width-max-transform);
}
.bases-100 {
  --bases-embed-width: var(--block-width-100-width);
  --bases-embed-transform: var(--block-width-100-transform);
}

// Table
:is(.table-wide, .table-max, .table-100) {
  .markdown-preview-sizer > .el-table,
  .markdown-preview-sizer > .el-pre .block-language-dataview,
  .markdown-preview-sizer > .el-pre .block-language-dataviewjs,
  .markdown-preview-sizer > .el-pre .block-language-datacorejsx,
  .cm-content > .cm-table-widget,
  .cm-content > .cm-lang-dataview,
  .cm-content > .cm-lang-dataviewjs,
  .cm-content > .cm-lang-datacorejsx {
    width: var(--table-embed-width);
    transform: var(--table-embed-transform);
    margin-inline: auto !important;
  }
}

.table-wide {
  --table-embed-width: var(--block-width-wide);
  --table-embed-transform: var(--block-width-wide-transform);
}
.table-max {
  --table-embed-width: var(--block-width-max);
  --table-embed-transform: var(--block-width-max-transform);
}
.table-100 {
  --table-embed-width: var(--block-width-100-width);
  --table-embed-transform: var(--block-width-100-transform);
}

.table-100 {
  .markdown-preview-sizer > .el-table,
  .cm-content > .cm-table-widget {
    tbody > tr > td {
      border-radius: 0;
    }
    tbody tr:first-child > td {
      border-block-start-width: 0;
    }
    tbody tr > td:last-child {
      border-inline-end-width: 0;
    }
    tbody tr > td:first-child {
      border-inline-start-width: 0;
    }
    tbody tr:last-child > td {
      border-block-end-width: 0;
    }
  }
}

// Image
:is(.img-wide, .img-max, .img-100) {
  .markdown-preview-sizer img:not([alt="banner"]),
  .cm-content img:not([alt="banner"], .cm-widgetBuffer, .cm-content > .image-embed > img),
  .cm-content .image-embed {
    width: var(--img-embed-width) !important;
    transform: var(--img-embed-transform);
    margin-inline: auto !important;
    display: block;
    max-width: unset !important;
  }
}

.img-wide {
  --img-embed-width: var(--block-width-wide);
  --img-embed-transform: var(--block-width-wide-transform);
}
.img-max {
  --img-embed-width: var(--block-width-max);
  --img-embed-transform: var(--block-width-max-transform);
}
.img-100 {
  --img-embed-width: var(--block-width-100-width);
  --img-embed-transform: var(--block-width-100-transform);
}

.img-100 {
  .markdown-preview-sizer img:not([alt="banner"]),
  .cm-content img:not([alt="banner"]) {
    border-radius: 0 !important;
  }
}
