@media screen, print {
  body.colorful-headings-text {
    .markdown-rendered h1,
    .HyperMD-header-1 {
      color: color-mix(in srgb, var(--h1-color, var(--color-red)) 75%, var(--color-base-100));
    }
    .markdown-rendered h2,
    .HyperMD-header-2 {
      color: color-mix(in srgb, var(--h2-color, var(--color-orange)) 75%, var(--color-base-100));
    }
    .markdown-rendered h3,
    .HyperMD-header-3 {
      color: color-mix(in srgb, var(--h3-color, var(--color-yellow)) 75%, var(--color-base-100));
    }
    .markdown-rendered h4,
    .HyperMD-header-4 {
      color: color-mix(in srgb, var(--h4-color, var(--color-green)) 75%, var(--color-base-100));
    }
    .markdown-rendered h5,
    .HyperMD-header-5 {
      color: color-mix(in srgb, var(--h5-color, var(--color-blue)) 75%, var(--color-base-100));
    }
    .markdown-rendered h6,
    .HyperMD-header-6 {
      color: color-mix(in srgb, var(--h6-color, var(--color-purple)) 75%, var(--color-base-100));
    }
  }

  body.colorful-headings-dot {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header-1,
    .cm-line.HyperMD-header-2,
    .cm-line.HyperMD-header-3,
    .cm-line.HyperMD-header-4,
    .cm-line.HyperMD-header-5,
    .cm-line.HyperMD-header-6 {
      &:not(:hover) .heading-collapse-indicator {
        opacity: 1;

        svg.svg-icon {
          border-radius: 100vh;
        }
      }
    }

    .markdown-rendered h1:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-1:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h1-color, var(--color-red));
      background-color: var(--h1-color, var(--color-red));
    }
    .markdown-rendered h2:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-2:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h2-color, var(--color-orange));
      background-color: var(--h2-color, var(--color-orange));
    }
    .markdown-rendered h3:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-3:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h3-color, var(--color-yellow));
      background-color: var(--h3-color, var(--color-yellow));
    }
    .markdown-rendered h4:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-4:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h4-color, var(--color-green));
      background-color: var(--h4-color, var(--color-green));
    }
    .markdown-rendered h5:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-5:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h5-color, var(--color-blue));
      background-color: var(--h5-color, var(--color-blue));
    }
    .markdown-rendered h6:not(:hover) .heading-collapse-indicator svg.svg-icon,
    .HyperMD-header-6:not(:hover) .heading-collapse-indicator svg.svg-icon {
      color: var(--h6-color, var(--color-purple));
      background-color: var(--h6-color, var(--color-purple));
    }
  }

  body.colorful-headings-side {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header-1,
    .cm-line.HyperMD-header-2,
    .cm-line.HyperMD-header-3,
    .cm-line.HyperMD-header-4,
    .cm-line.HyperMD-header-5,
    .cm-line.HyperMD-header-6 {
      position: relative;
      padding-inline-start: var(--font-ui-smaller);

      &::before {
        pointer-events: none;
        display: inline-flex;
        border-radius: var(--radius-s);
        width: 4px;
        inset-block: 0;
        content: "";
        position: absolute;
        inset-inline-start: 0;
        transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      }
    }

    .HyperMD-header:not(.cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):has(> br:only-child) + .cm-line.HyperMD-header)::before {
      margin-top: var(--p-spacing);
    }

    .markdown-rendered h1::before,
    .HyperMD-header-1::before {
      background-color: var(--h1-color, var(--color-red));
    }
    .markdown-rendered h2::before,
    .HyperMD-header-2::before {
      background-color: var(--h2-color, var(--color-orange));
    }
    .markdown-rendered h3::before,
    .HyperMD-header-3::before {
      background-color: var(--h3-color, var(--color-yellow));
    }
    .markdown-rendered h4::before,
    .HyperMD-header-4::before {
      background-color: var(--h4-color, var(--color-green));
    }
    .markdown-rendered h5::before,
    .HyperMD-header-5::before {
      background-color: var(--h5-color, var(--color-blue));
    }
    .markdown-rendered h6::before,
    .HyperMD-header-6::before {
      background-color: var(--h6-color, var(--color-purple));
    }
  }

  body.colorful-headings-side,
  body.colorful-headings-background {
    .heading-collapse-indicator {
      inset-inline-start: 0;
    }
    .cm-active .heading-collapse-indicator {
      inset-inline-start: -32px;
    }
  }

  body.colorful-headings-side.colorful-headings-background {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header-1,
    .cm-line.HyperMD-header-2,
    .cm-line.HyperMD-header-3,
    .cm-line.HyperMD-header-4,
    .cm-line.HyperMD-header-5,
    .cm-line.HyperMD-header-6 {
      padding-inline-start: var(--font-ui-smaller);

      &::after {
        inset-inline: 8px -4px;
      }
    }
  }

  body.colorful-headings-background {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .cm-line.HyperMD-header-1,
    .cm-line.HyperMD-header-2,
    .cm-line.HyperMD-header-3,
    .cm-line.HyperMD-header-4,
    .cm-line.HyperMD-header-5,
    .cm-line.HyperMD-header-6 {
      position: relative;
      padding-inline-start: 8px;

      &::after {
        pointer-events: none;
        display: inline-flex;
        border-radius: var(--radius-s);
        inset-block: -4px;
        content: "";
        position: absolute;
        inset-inline: 0 -8px;
        max-width: 100cqw;
        transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      }
    }

    .HyperMD-header:not(.cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):has(> br:only-child) + .cm-line.HyperMD-header)::after {
      margin-top: var(--p-spacing);
    }

    .markdown-rendered h1::after,
    .HyperMD-header-1::after {
      background-color: rgb(from var(--h1-color, var(--color-red)) r g b / 10%);
    }
    .markdown-rendered h2::after,
    .HyperMD-header-2::after {
      background-color: rgb(from var(--h2-color, var(--color-orange)) r g b / 10%);
    }
    .markdown-rendered h3::after,
    .HyperMD-header-3::after {
      background-color: rgb(from var(--h3-color, var(--color-yellow)) r g b / 10%);
    }
    .markdown-rendered h4::after,
    .HyperMD-header-4::after {
      background-color: rgb(from var(--h4-color, var(--color-green)) r g b / 10%);
    }
    .markdown-rendered h5::after,
    .HyperMD-header-5::after {
      background-color: rgb(from var(--h5-color, var(--color-blue)) r g b / 10%);
    }
    .markdown-rendered h6::after,
    .HyperMD-header-6::after {
      background-color: rgb(from var(--h6-color, var(--color-purple)) r g b / 10%);
    }
  }
  body.colorful-headings-background:not(.colorful-headings-full-width) {
    .markdown-rendered :is(h1, h2, h3, h4, h5, h6),
    .HyperMD-header-1,
    .HyperMD-header-2,
    .HyperMD-header-3,
    .HyperMD-header-4,
    .HyperMD-header-5,
    .HyperMD-header-6 {
      width: fit-content;
      justify-self: self-start;
      max-width: 100%;
    }
  }
}
