body:not(.is-mobile):not(.is-translucent).colorful-frame {
  --colorful-frame-icon-color: #ffffff;

  // Non-labeled icon color
  &:is(.layout-cards, .layout-border) .workspace-ribbon,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-cards, .layout-border) .workspace-ribbon .sidebar-toggle-button,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-border) .workspace-tabs.mod-top .workspace-tab-header-container,
  &.layout-cards .workspace-tabs .workspace-tab-header-container,
  &.layout-minimal .workspace-split:not(.mod-left-split) .workspace-tabs.mod-top .workspace-tab-header-container,
  &.layout-viewfinder .mod-root .workspace-tabs.mod-top .workspace-tab-header-container {
    --icon-color: hsl(from var(--colorful-frame-icon-color) h s l / 0.7);
    --icon-color-hover: var(--colorful-frame-icon-color);
    --icon-color-active: var(--colorful-frame-icon-color);
    --icon-color-focused: var(--colorful-frame-icon-color);
  }

  // Tab text & icon color
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-border) .workspace-tabs.mod-top .workspace-tab-header-container-inner,
  &.layout-cards .workspace-split .workspace-tabs .workspace-tab-header-container-inner,
  &.layout-minimal .workspace-split:not(.mod-left-split) .workspace-tabs.mod-top .workspace-tab-header-container-inner,
  &.layout-viewfinder .mod-root .workspace-tabs.mod-top .workspace-tab-header-container-inner {
    --tab-text-color: hsl(from var(--colorful-frame-icon-color) h s l / 0.5);
    --tab-text-color-active: hsl(from var(--colorful-frame-icon-color) h s l / 0.7);
    --tab-text-color-focused: hsl(from var(--colorful-frame-icon-color) h s l / 0.7);
    --tab-text-color-focused-active: var(--colorful-frame-icon-color);
  }

  // Fix: tab text & icon color for non-tinted area
  &.tab-top-left-stacked:not(.theme-light.contrast-light-vivid) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    --colorful-frame-icon-color: initial;
  }
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-minimal, .layout-cards, .layout-border, .layout-viewfinder).tab-default .mod-root .workspace-tabs.mod-top .workspace-tab-header.is-active,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-minimal, .layout-cards, .layout-border, .layout-viewfinder).tab-top-left-dropdown .mod-left-split .workspace-tabs.mod-top .workspace-tab-header-container-inner:hover .workspace-tab-header,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-minimal, .layout-cards, .layout-border, .layout-viewfinder).tab-top-right-dropdown .mod-right-split .workspace-tabs.mod-top .workspace-tab-header-container-inner:hover .workspace-tab-header {
    --tab-text-color: initial;
    --tab-text-color-active: initial;
    --tab-text-color-focused: initial;
    --tab-text-color-focused-active: initial;
  }

  // Workspace: Using top space for tint
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-minimal) .workspace,
  &.layout-viewfinder .mod-root {
    background-image: linear-gradient(var(--colorful-frame-background, var(--color-accent)) calc(var(--header-height) - var(--tab-outline-width)), transparent calc(var(--header-height) - var(--tab-outline-width)));
  }

  // Fix: Stacked tabs spacing
  &:is(.layout-baseline, .layout-cupertino, .layout-classic) .workspace-ribbon .side-dock-actions,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic).tab-top-left-stacked .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-top: 8px;
  }
  &:is(.layout-baseline, .layout-cupertino, .layout-classic):not(.mod-macos).tab-top-left-stacked .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner,
  &:is(.layout-baseline, .layout-cupertino, .layout-classic).mod-macos.is-frameless:not(.is-hidden-frameless).tab-top-left-stacked .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-top: calc(var(--header-height) + 8px);
  }

  // Fix: Resize handle position
  &:is(.layout-classic, .layout-minimal) .workspace-split > .workspace-leaf-resize-handle {
    top: var(--header-height);
  }

  // Workspace: Use full background for tint
  &:is(.layout-cards, .layout-border, .layout-frame) .workspace {
    background: var(--colorful-frame-background, var(--color-accent));
  }

  // Fix: Cards workspace indicator color for compact tabs
  &.layout-cards.tab-left-compact .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) .workspace-tab-header,
  &.layout-cards.tab-right-compact .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) .workspace-tab-header {
    background-color: hsl(from var(--colorful-frame-icon-color) h s l / 0.5);
  }

  // Workspace: Use sidedock for tint
  &:is(.layout-macos, .layout-fusion).theme-light .mod-sidedock {
    background-color: color-mix(in srgb, #fff, var(--colorful-frame-background, var(--color-accent)) 2%);
  }
  &:is(.layout-macos, .layout-fusion).theme-dark .mod-sidedock {
    background-color: color-mix(in srgb, var(--background-modifier-cover), var(--colorful-frame-background, var(--color-accent)) 2%);
  }

  // Fix: Obsidian frame color bleed
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-cards, .layout-border, .layout-frame).is-frameless:not(.is-hidden-frameless) .titlebar {
    --titlebar-text-color: hsl(from var(--colorful-frame-icon-color) h s l / 0.7);
    --titlebar-text-color-focused: var(--colorful-frame-icon-color);
    border-bottom: none;
    background: var(--colorful-frame-background, var(--color-accent));
  }

  // Fix: Window control icon color
  &:is(.layout-baseline, .layout-cupertino, .layout-classic, .layout-minimal, .layout-cards, .layout-border, .layout-frame).is-frameless .titlebar {
    --titlebar-text-color: hsl(from var(--colorful-frame-icon-color) h s l / 0.7);
    --titlebar-text-color-focused: var(--colorful-frame-icon-color);
  }

  // Fix: Override underline tab style
  &:is(.tab-underline, .tab-underline-accented):is(.layout-cupertino, .layout-classic, .layout-minimal, .layout-viewfinder) .workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    margin-bottom: 1px;

    &.is-active {
      border-color: var(--tab-text-color-focused-active);
    }
  }
}
