body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile):not(.is-translucent).colorful-frame {
  // Workspace: Use sidedock for tint
  &.theme-light .mod-sidedock.mod-left-split {
    background-color: color-mix(in srgb, #fff, var(--color-accent) 2%);
  }
  &.theme-dark .mod-sidedock.mod-left-split {
    background-color: color-mix(in srgb, var(--background-modifier-cover), var(--color-accent) 2%);
  }
}
