body.colorful-frame.is-frameless:not(.is-hidden-frameless):not(.is-mobile) {
  .titlebar {
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
  }

  .titlebar-inner {
    color: var(--text-on-accent);
  }
  &.colorful-frame-invert .titlebar-inner {
    color: var(--text-on-accent-invert);
  }
}

body.colorful-frame.is-hidden-frameless:not(.is-mobile):not(.layout-macos, .layout-cards, .layout-border, .layout-frame, .layout-viewfinder) {
  &.layout-cupertino .workspace::before,
  .workspace-ribbon.mod-left:not(.is-collapsed)::before,
  .workspace-split:not(.is-sidedock-collapsed) .workspace-tabs.mod-top .workspace-tab-header-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
    height: var(--header-height);
    pointer-events: none;
    border-bottom: none;
    width: 100%;
  }

  // Stacked nav spacing
  &:not(.stacked-nav-off):not(.layout-cards, .layout-border) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
    gap: 8px;
  }

  // Layout style fix
  &:is(.layout-classic, .layout-minimal) .mod-sidedock > .workspace-leaf-resize-handle {
    top: var(--header-height);
  }

  // Tab style fix
  .mod-root .workspace-tab-header {
    --tab-outline-width: 0px;
  }

  // Ribbon fix
  &.mod-macos:not(.hover-ribbon) .workspace-ribbon.mod-left,
  &.mod-macos.hover-ribbon .workspace-ribbon.mod-left:not(.is-collapsed) {
    padding-top: 8px;
  }
  &.mod-macos.hover-ribbon .workspace-ribbon.mod-left::before {
    top: calc(-1 * var(--header-height));
  }
}

// Icons & Tab colors
body.colorful-frame.is-hidden-frameless:not(.is-mobile):not(.layout-frame, .layout-macos) {
  --colorful-frame-content-color: var(--text-on-accent);

  &.colorful-frame-invert {
    --colorful-frame-content-color: var(--text-on-accent-invert);
  }

  &:not(.layout-viewfinder):not(.stacked-nav-off) .mod-sidedock.mod-left-split .workspace-tabs.mod-top .sidebar-toggle-button,
  &:not(.stacked-nav-off) .mod-root .workspace-tabs.mod-top .workspace-tab-header-container > div,
  &:not(.layout-viewfinder):not(.stacked-nav-off) .mod-sidedock.mod-right-split .workspace-tabs.mod-top .workspace-tab-header-container,
  &.layout-cards .mod-sidedock.mod-right-split .workspace-tabs .workspace-tab-header-container,
  &:not(.layout-viewfinder).stacked-nav-off .workspace-tabs.mod-top .workspace-tab-header-container,
  &:not(.layout-viewfinder) .titlebar-inner,
  &:is(.layout-cards, .layout-border) .workspace-ribbon.mod-left {
    --icon-color: var(--colorful-frame-content-color);
    --icon-color-hover: var(--icon-color);
    --icon-color-active: var(--icon-color);
    --icon-color-focused: var(--icon-color);
    --titlebar-text-color: var(--icon-color);
    --titlebar-text-color-focused: var(--icon-color);
    z-index: 1;
  }

  &:is(.tabs-underline, .tabs-underline-accented) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    --tab-text-color: rgb(from var(--colorful-frame-content-color) r g b / 50%);
    --tab-text-color-focused: var(--tab-text-color);
    --tab-text-color-focused-active: var(--tab-text-color);
    --tab-text-color-active: var(--colorful-frame-content-color);
    --tab-text-color-focused-active-current: var(--tab-text-color-active);

    &.is-active {
      border-bottom-color: var(--tab-text-color-active);
    }
    &:not(.is-active):hover {
      border-bottom-color: var(--tab-text-color);
    }
  }
}

// Layout style specific
body.colorful-frame:not(.is-mobile):is(.layout-cards, .layout-border) {
  .workspace-ribbon.mod-left,
  .workspace-split {
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
  }
  .workspace-ribbon.mod-left::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
    height: var(--header-height);
    pointer-events: none;
    border-bottom: none;
    top: calc(-1 * var(--header-height));
  }
}
body.colorful-frame:not(.is-mobile).layout-frame .workspace {
  background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
}
body.colorful-frame:not(.is-mobile).layout-viewfinder .mod-root .workspace-tab-header-container {
  background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
}
