body.colorful-frame.is-frameless:not(.is-hidden-frameless):not(.is-mobile) {
  .titlebar {
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
  }

  .titlebar-inner {
    color: var(--text-on-accent);
  }
}

body.colorful-frame.is-hidden-frameless:not(.is-mobile):not(.layout-macos, .layout-fusion, .layout-cards, .layout-border, .layout-frame, .layout-viewfinder) {
  &.layout-cupertino .workspace::before,
  .workspace-ribbon.mod-left:not(.is-collapsed)::before,
  .workspace-split:not(.is-sidedock-collapsed) .workspace-tabs.mod-top .workspace-tab-header-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
    height: var(--header-height);
    pointer-events: none;
    border-bottom: none;
    width: 100%;
  }

  // Stacked nav spacing
  &:is(.tab-top-left-stacked, :not(.css-settings-manager)):not(.layout-cards, .layout-border) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
    gap: 8px;
  }

  // Layout style fix
  &:is(.layout-classic, .layout-minimal) .mod-sidedock > .workspace-leaf-resize-handle {
    top: var(--header-height);
  }

  // Tab style fix
  .mod-root .workspace-tab-header {
    --tab-outline-width: 0px;
  }

  // Ribbon fix
  &.mod-macos:not(.hover-ribbon) .workspace-ribbon.mod-left,
  &.mod-macos.hover-ribbon .workspace-ribbon.mod-left:not(.is-collapsed) {
    padding-top: 8px;
  }
  &.mod-macos.hover-ribbon .workspace-ribbon.mod-left::before {
    top: calc(-1 * var(--header-height));
  }
}

// Layout style specific
body.colorful-frame:not(.is-mobile):is(.layout-cards, .layout-border) {
  .workspace-ribbon.mod-left,
  .workspace-split {
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
  }
  .workspace-ribbon.mod-left::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
    height: var(--header-height);
    pointer-events: none;
    border-bottom: none;
    top: calc(-1 * var(--header-height));
  }
}
body.colorful-frame:not(.is-mobile).layout-frame .workspace {
  background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
}
body.colorful-frame:not(.is-mobile).layout-viewfinder .mod-root .workspace-tab-header-container {
  background-color: color-mix(in srgb, var(--colorful-frame-color, var(--color-accent)) var(--colorful-frame-opacity, 100%), var(--background-primary));
}
