body:not(.is-mobile).compact-actions-off .nav-buttons-container {
  background-color: transparent !important;
  padding: 0;
  box-shadow: none;
}

body.mod-windows:not(.windows-mode-off):not(.is-mobile).compact-actions-off .nav-action-button {
  padding: 8px;
  flex: 0 !important;
}

body:not(.is-mobile):not(.compact-actions-off) {
  .mod-sidedock .workspace-leaf-content > .nav-header,
  .mod-sidedock .workspace-leaf-content > .view-content > .nav-header {
    &,
    .nav-buttons-container,
    .nav-action-button,
    .nav-action-button::after,
    svg.svg-icon {
      transition: var(--anim-duration-moderate) var(--anim-motion-cupertino) !important;
    }

    &:not(:hover):not(:has(.has-active-menu)) .nav-buttons-container {
      gap: 4px;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
      flex-grow: 0;

      .nav-action-button.clickable-icon {
        background-color: var(--background-modifier-hover);
        padding: 2px;
        width: 0;
        height: 0;
        opacity: 1;
        min-width: 0;
        min-height: 0;
      }
      .nav-action-button.clickable-icon::after {
        width: 0;
        height: 0;
      }
      svg.svg-icon {
        --icon-size: 0px;
      }
    }
  }
}
