.nav-header,
.nav-buttons-container,
.nav-action-button,
.nav-action-button::after,
.nav-header svg {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline), background-color var(--anim-duration-fast);
}

body:not(.compact-actions-off, .compact-actions-left) .mod-sidedock .workspace-leaf-content .nav-header:first-child:not(:hover) .nav-buttons-container {
  gap: 4px !important;
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;

  .nav-action-button {
    padding: 2px !important;
    width: 0 !important;
    flex: 0;
    background-color: var(--background-modifier-hover);
    box-shadow: none !important;
    min-width: 0;

    &::after {
      font-size: 0;
      opacity: 0;
    }
  }
  .nav-action-button.is-active {
    background-color: var(--background-modifier-hover) !important;
  }
  .nav-action-button.clickable-icon[aria-disabled="true"] {
    opacity: var(--icon-opacity);
  }

  svg {
    width: 0px;
    height: 0px;
  }
}

body.compact-actions-indicator .mod-sidedock .workspace-leaf-content .nav-header:first-child:not(:hover) .nav-buttons-container {
  background-color: var(--background-modifier-hover) !important;
  border-radius: 100vh;
  width: 48px;

  .nav-action-button {
    background-color: transparent;
  }
}

body.compact-actions-left .mod-sidedock .workspace-leaf-content .nav-header:first-child {
  align-items: start;
}
