body:not(.compact-actions-off) .mod-sidedock .workspace-leaf-content > .nav-header,
body:not(.compact-actions-off) .mod-sidedock .workspace-leaf-content > .view-content > .nav-header {
  &,
  .nav-buttons-container,
  .nav-action-button,
  .nav-action-button::after,
  svg {
    transition: var(--anim-duration-moderate) var(--anim-motion-cupertino), background-color var(--anim-duration-fast);
  }

  &:not(:hover) .nav-buttons-container {
    gap: 4px !important;
    padding: 0 !important;
    background-color: transparent !important;
    width: 0 !important;

    .nav-action-button {
      padding: 2px !important;
      width: 0 !important;
      flex: 0;
      background-color: var(--background-modifier-hover);
      box-shadow: none !important;
      min-width: 0;
    }
    .nav-action-button.is-active {
      background-color: var(--background-modifier-hover) !important;
    }
    .nav-action-button.clickable-icon[aria-disabled="true"] {
      opacity: var(--icon-opacity);
    }

    svg {
      width: 0px;
      height: 0px;
    }
  }
}
