body.is-mobile.theme-dark {
  --system-status-background: black;
  --mobile-sidebar-background: black;
  --tab-background-active: black;
  background-color: black;

  .workspace,
  .mod-root .view-header,
  .mod-root .view-header::before,
  .mod-root .view-content {
    background-color: black !important;
  }
}
