body:not(.is-mobile).deep-dark-all.theme-dark {
  --background-primary: black;
  --background-primary-alt: var(--color-base-00);
  --background-secondary: black;
  --background-secondary-alt: var(--color-base-05);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.2);
  --interactive-normal: var(--color-base-10);

  &:not(.layout-cupertino, .layout-macos, .layout-cards, .layout-border, .layout-frame) .mod-sidedock > .workspace-leaf-resize-handle:not(:hover) {
    border-color: var(--divider-color);
  }
}

body.is-mobile.deep-dark-all.theme-dark,
body.is-mobile.deep-dark-mobile.theme-dark {
  --system-status-background: black;
  --mobile-sidebar-background: black;
  --tab-background-active: black;
  background-color: black;

  .workspace,
  .mod-root .view-header,
  .mod-root .view-header::before,
  .mod-root .view-content {
    background-color: black !important;
  }

  &:not(.layout-cupertino, .layout-macos) {
    .menu,
    .menu-scroll {
      background-color: black;
    }
    .modal {
      border: var(--modal-border-width) solid var(--modal-border-color);
    }
  }
}
