body.mod-windows:not(.adaptive-mode-off) .nav-files-container > div {
  --nav-item-background-active: var(--background-modifier-hover);
  --nav-item-color-active: var(--nav-item-color);

  .tree-item-self.is-active::before {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    margin-left: 0;
    border-radius: var(--button-radius);
    background-color: var(--interactive-accent);
    width: 4px;
    height: auto;
    content: "";
  }
}

body.is-android:not(.adaptive-mode-off) .nav-files-container > div {
  --nav-item-background-active: var(--background-primary);
  --nav-item-background-selected: var(--background-primary);
  --nav-item-color-active: var(--text-normal);
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) .nav-files-container > div {
  --nav-item-background-hover: transparent;
  --nav-item-background-active: var(--background-modifier-cover);
  --nav-item-color: var(--text-normal);
  --nav-item-color-hover: var(--text-normal);
  --nav-item-color-active: var(--text-accent);
}
