body:is(.nav-item-baseline, :not(.css-settings-manager)) .nav-files-container > div {
  --nav-item-background-hover: transparent;
  --nav-item-background-active: transparent;
  --nav-item-weight-hover: var(--font-medium);
  --nav-item-weight-active: var(--font-medium);

  .tree-item-self.is-active::before {
    position: absolute;
    margin-left: -12px;
    border-radius: var(--button-radius);
    background-color: var(--nav-item-color-active);
    width: 4px;
    height: 4px;
    content: "";
  }
}

body.nav-item-baseline.input-fluent .nav-files-container > div {
  --nav-item-background-hover: var(--background-modifier-hover);
  --nav-item-background-active: var(--background-modifier-hover);
  --nav-item-color-active: var(--nav-item-color);
  --nav-item-weight-hover: var(--nav-item-weight);

  .tree-item-self.is-active::before {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    margin-left: 0;
    border-radius: var(--button-radius);
    background-color: var(--interactive-accent);
    width: 4px;
    height: auto;
    content: "";
  }
}

body.nav-item-strong {
  .nav-files-container > div {
    --nav-item-background-active: var(--interactive-accent);
    --nav-item-color-active: var(--text-on-accent);
  }

  &.input-material .nav-files-container > div {
    --nav-item-background-active: var(--interactive-accent-active);
    --nav-item-background-selected: var(--interactive-accent-active);
    --nav-item-color-active: var(--text-accent-active);
  }

  &.input-cupertino.layout-macos .nav-files-container > div {
    --nav-item-background-hover: transparent;
    --nav-item-background-active: var(--background-modifier-cover);
    --nav-item-color-active: var(--text-accent);
  }
}
