body:not(.is-mobile) {
  --hover-sidedock-width: 320px;
  --hover-sidedock-delay: 160ms;
  --hover-sidedock-trigger-area: 1px;
}

body:not(.is-mobile).hover-sidedock {
  .mod-sidedock.is-sidedock-collapsed[style*="display"] {
    display: flex !important;
    position: absolute;
    opacity: 0;
    z-index: 11;
    background-color: transparent;
    width: var(--hover-sidedock-width) !important;

    // Position
    &.mod-left-split {
      transform: translateX(calc(-1 * (var(--hover-sidedock-width) - var(--hover-sidedock-trigger-area))));
    }
    &.mod-right-split {
      transform: translateX(calc(var(--hover-sidedock-width) - var(--hover-sidedock-trigger-area)));
    }
    &.mod-left-split,
    &.mod-left-split::before {
      right: auto;
      left: 0;
    }
    &.mod-right-split,
    &.mod-right-split::before {
      right: 0;
      left: auto;
    }

    // Background
    &::before {
      position: absolute;
      z-index: 0;
      transition: var(--anim-duration-moderate);
      inset-block: 0;
      width: 150%;
      content: "";
      pointer-events: none;
    }
    &.mod-left-split::before {
      background: linear-gradient(to right, var(--background-primary) 50%, transparent);
    }
    &.mod-right-split::before {
      background: linear-gradient(to left, var(--background-primary) 50%, transparent);
    }
  }

  // Hovered
  .mod-sidedock.is-sidedock-collapsed[style*="display"]:hover,
  &.hover-ribbon .workspace-ribbon.mod-left.is-collapsed:hover + .mod-sidedock,
  & > .app-container > .horizontal-main-container > .workspace > .mod-sidedock:has(> .workspace-tabs.mod-active) {
    transition-delay: var(--hover-sidedock-delay);
    transform: none;
    opacity: 1;

    &::before {
      opacity: 1;
    }
  }

  // macOS fix
  &:not(.stacked-nav-off).mod-macos .mod-sidedock.mod-left-split.is-sidedock-collapsed .mod-top-left-space .workspace-tab-header-container {
    padding-top: var(--header-height);
  }
}

body:not(.is-mobile).hover-ribbon {
  .workspace-ribbon.mod-left {
    position: absolute;
    z-index: 12;
    height: -webkit-fill-available;
    opacity: 0;
    transform: translateX(calc(-1 * var(--ribbon-width) + 1px));
    background-color: transparent;
  }
  .workspace-ribbon.mod-left:hover {
    opacity: 1;
    transform: none;
    transition-delay: var(--hover-sidedock-delay) !important;
  }

  .workspace-ribbon.mod-left:hover + .mod-sidedock {
    transition-delay: var(--hover-sidedock-delay) !important;
    padding-left: calc(var(--ribbon-width) - 8px);
  }

  &.hover-sidedock .workspace-ribbon.mod-left.is-collapsed {
    z-index: 13;
  }

  // macOS fix
  &.mod-macos:not(.is-fullscreen) .workspace-ribbon.mod-left.is-collapsed ~ .mod-root .workspace-tab-header-container {
    padding-left: 88px;
  }
}
