body:not(.is-mobile):not(.zoom-off) .markdown-preview-view {
  .image-embed:not(.canvas-node-content, [alt="banner"]) img,
  img[referrerpolicy="no-referrer"]:not([alt="banner"]) {
    cursor: zoom-in;
  }

  .image-embed:not(.canvas-node-content, [alt="banner"]):active img,
  img[referrerpolicy="no-referrer"]:not([alt="banner"]):active {
    position: fixed;
    z-index: 1000;
    cursor: zoom-out;
    inset: 0;
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
    max-height: unset;
    object-fit: contain;
    mask: none;
    padding: 0;
    border-radius: 0 !important;
    border: none;
  }
}
