body:not(.is-mobile):not(.zoom-off) .workspace-leaf-content[data-type="markdown"] {
  .image-embed:not(.canvas-node-content):not(:has(> .image-resize-container)),
  img[referrerpolicy="no-referrer"],
  .cm-content > img:not(.image-resize-border) {
    cursor: zoom-in;
  }
}

body:not(.is-mobile):not(.zoom-off) .markdown-preview-view {
  .image-embed:not(.canvas-node-content):active img,
  img[referrerpolicy="no-referrer"]:active {
    position: fixed;
    z-index: 1000;
    cursor: zoom-out;
    inset: 0;
    background-color: var(--background-primary);
    width: 100%;
    height: 100%;
    max-height: unset;
    object-fit: contain;
    mask: none;
    padding: 0;
    border-radius: 0 !important;
    border: none;
  }
}
