body:not(.is-mobile):not(.mod-windows:not(.windows-mode-off)) {
  &.is-hidden-frameless.is-fullscreen.show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space {
    .sidebar-toggle-button.mod-left {
      margin-left: calc(-1 * var(--ribbon-width));
    }
    .workspace-tab-header-container {
      margin-left: 0;
    }
  }

  .mod-sidedock.mod-left-split.is-sidedock-collapsed .mod-top-left-space .workspace-tab-header-container {
    padding-top: calc(var(--header-height) + 8px) !important;
  }

  .mod-sidedock.mod-left-split .mod-top-left-space {
    --sidebar-tab-text-display: flex;

    .sidebar-toggle-button {
      top: 0;
    }

    .workspace-tab-header-container {
      padding: var(--header-height) 0 0 !important;
      height: fit-content;
    }

    .workspace-tab-header-container-inner {
      border-radius: 0;
      padding: 0 20px;
      flex-direction: column;
      margin: 0 !important;
      background-color: transparent;
      width: 100%;
      height: fit-content;
    }

    .workspace-tab-header {
      background-color: transparent;
      height: 32px;
    }

    .workspace-tab-header-inner {
      gap: 8px;
      transition: var(--anim-duration-fast);
      background-color: transparent;
      padding: 0 4px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
