body:not(.is-mobile):not(.mod-windows:not(.windows-mode-off)) {
  &.is-hidden-frameless.is-fullscreen.show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space {
    .sidebar-toggle-button.mod-left {
      margin-left: calc(-1 * var(--ribbon-width));
    }
    .workspace-tab-header-container {
      margin-left: 0;
    }
  }

  .mod-sidedock.mod-left-split .mod-top-left-space {
    --sidebar-tab-text-display: flex;

    .sidebar-toggle-button {
      top: 0;
    }

    .workspace-tab-header-container {
      padding: var(--header-height) 8px 0 !important;
      height: fit-content;
    }

    .workspace-tab-header-container-inner {
      margin: 0 !important;
      flex-direction: column;
      width: 100%;
      background-color: transparent;
    }

    .workspace-tab-header {
      padding: 0 8px;
      background-color: transparent;
      height: 32px;
    }

    .workspace-tab-header-inner {
      padding: 0 4px;
      gap: 8px;
      background-color: transparent;
      transition: var(--anim-duration-fast);

      &:hover {
        opacity: 1;
      }
    }
  }
}
