body:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
  --sidebar-tab-text-display: flex;

  .workspace-tab-header-container {
    height: fit-content;
    flex-direction: column;
    padding: 0;
  }
  .workspace-tab-header-container-inner {
    flex-direction: column;
    width: -webkit-fill-available;
    gap: calc(4px * var(--density-modifier));
    animation: workspaceLeafIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
    padding: 0 16px;
  }
  .workspace-tab-header {
    padding: 8px;
  }
  .workspace-tab-header-inner {
    gap: 8px;
    padding: 0;
    border-radius: 0;
  }
  .workspace-tab-header-inner:hover {
    color: var(--icon-color-hover);
  }
  .workspace-tab-header-spacer {
    display: none;
  }

  .sidebar-toggle-button {
    order: -1;
    margin-left: auto;
    max-height: var(--header-height);
    min-height: var(--header-height);
  }
  .sidebar-toggle-button .clickable-icon {
    margin: 8px;
  }
}

body:not(.stacked-nav-off):not(.mod-macos) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner,
body:not(.stacked-nav-off).mod-macos:not(.is-hidden-frameless).show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
  margin-top: 8px;
}
