// Backlinks
body:not(.is-mobile) .backlink-pane {
  .search-result-file-match:not(:hover) .search-result-file-match-replace-button {
    display: none;
  }

  .search-result-file-match-replace-button {
    padding: 4px 8px;
  }
}

.embedded-backlinks .nav-header > .search-input-container {
  width: 100%;
  margin: 48px 0 16px;
  align-self: start;
}

// Footnotes
.markdown-embed[data-type="footnote"] {
  background-color: transparent;
  overflow: visible;
}

// Web viewer
.workspace-leaf-content[data-type="webviewer"] {
  .view-header {
    gap: 0;
  }
  .view-header-left,
  .view-actions {
    flex: 0;
  }
  .webviewer-content {
    border-top: none;
  }
}
