@keyframes fadeInUp {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
}

@keyframes fadeInUpDelay {
  0% {
    transform: translateY(80px);
  }
  50% {
    transform: translateY(80px);
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }
}

@keyframes fadeInScale {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes blurInScale {
  from {
    transform: scale(1.25);
    opacity: 0;
    filter: blur(16px);
  }
  30% {
    transform: scale(0.99);
    filter: blur(0px);
  }
}

.view-header,
.view-content,
.workspace-tab-header-container-inner {
  transition: all var(--anim-duration-fast);
}
.mod-root,
.workspace-tab-header-container {
  transition: padding var(--anim-duration-fast), margin var(--anim-duration-fast);
}

body.is-mobile {
  .workspace-drawer.mod-left {
    @starting-style {
      transform: translateX(-100%);
    }
  }

  .workspace-drawer.mod-right {
    @starting-style {
      transform: translateX(100%);
    }
  }

  .workspace-drawer.mod-left,
  .workspace-drawer.mod-right,
  .menu,
  .mobile-tab-switcher,
  .menu-item,
  .suggestion-item {
    transition: all;
    transition-duration: var(--anim-duration-moderate) !important;
    transition-timing-function: var(--anim-motion-cupertino) !important;

    will-change: transform;
    &[style*="transform"]:not([style*="transition: transform 150ms ease-in-out"]):not([style*="transition-delay: 0s"]) {
      transition: none;
    }
  }
}

body.is-phone {
  /* Prompt In*/
  .prompt {
    transition: var(--anim-duration-moderate) !important;
    transform: none !important;
    overflow: visible;

    @starting-style {
      opacity: 0;
      filter: var(--blur-s);
    }
  }

  .prompt-results {
    transition: var(--anim-duration-slow) var(--anim-motion-cupertino);

    @starting-style {
      transform: translateY(80px);
    }
  }

  .prompt-input-container {
    transition: var(--anim-duration-slow) var(--anim-motion-cupertino);

    @starting-style {
      filter: var(--blur-s);
      transform: scaleX(0.75) !important;
      opacity: 0;
    }
  }

  /* Prompt Out */
  .prompt[style*="transform: translateY"] {
    opacity: 0;
  }

  .mobile-navbar,
  .mod-root .view-content::before,
  .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2) {
    @starting-style {
      opacity: 0;
    }
  }
  &.hide-cursor .mobile-navbar,
  &.hide-cursor .mod-root .view-content::before,
  &.hide-cursor .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2) {
    opacity: 0;
  }

  &:not(.hide-cursor) {
    .mobile-navbar,
    .mod-root .view-content::before,
    .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2) {
      animation: fadeInUpDelay var(--anim-duration-slow);
    }
  }
}
