body:is(.layout-cupertino, .layout-macos, .input-cupertino) {
  --side-padding: 20px;

  --blur-s: blur(2px) saturate(1.5) brightness(1.05);
  --blur-m: blur(4px) saturate(1.5) brightness(1.05);
  --blur-l: blur(8px) saturate(1.5) brightness(1.05);

  &.mod-macos.is-translucent {
    --blur-s: none;
    --blur-m: none;
    --blur-l: none;
  }

  &.theme-light {
    --liquid-glass-background: rgba(255, 255, 255, 0.5);
    --background-modifier-border: rgba(0, 0, 0, 0.075);

    --shadow-base: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(0, 0, 0, 0.4);

    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 0 8px rgba(0, 0, 0, 0.025), 0 4px 48px rgba(0, 0, 0, 0.15);
    --shadow-s: var(--shadow-base), inset 0 0 1px 1px white, var(--shadow-border), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), inset 0 0 1px 1px white, 0 16px 64px 0 rgba(0, 0, 0, 0.15);
  }

  &.theme-dark {
    --liquid-glass-background: rgba(255, 255, 255, 0.075);
    --background-modifier-border: rgba(255, 255, 255, 0.15);

    --shadow-base: inset 1px 1.5px 1px -1px rgba(255, 255, 255, 0.2), inset -1px -1.5px 1px -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(255, 255, 255, 0.3);

    --shadow-xs: var(--shadow-base);
    --shadow-s: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 16px 64px 0 rgba(0, 0, 0, 0.3);
  }
}

body:is(.layout-cupertino, .layout-macos).theme-light {
  --color-red-rgb: 255, 56, 60;
  --color-orange-rgb: 255, 141, 40;
  --color-yellow-rgb: 255, 204, 0;
  --color-green-rgb: 52, 199, 89;
  --color-cyan-rgb: 0, 192, 232;
  --color-blue-rgb: 0, 136, 255;
  --color-purple-rgb: 203, 48, 224;
  --color-pink-rgb: 255, 45, 85;
}
body:is(.layout-cupertino, .layout-macos).theme-dark {
  --color-red-rgb: 255, 66, 69;
  --color-orange-rgb: 255, 146, 48;
  --color-yellow-rgb: 255, 214, 0;
  --color-green-rgb: 48, 209, 88;
  --color-cyan-rgb: 60, 211, 254;
  --color-blue-rgb: 0, 145, 255;
  --color-purple-rgb: 107, 52, 242;
  --color-pink-rgb: 255, 55, 95;
}
