body.layout-cupertino:not(.is-mobile),
body.layout-macos:not(.is-mobile),
body.mobile-cupertino.is-mobile {
  --side-padding: 20px;

  --inline-title-margin-bottom: 0.5em;
  --p-spacing: 1rem;
  --line-height-normal: 1.6;

  --blur-s: blur(4px) saturate(1.5) brightness(1.025);
  --blur-m: blur(8px) saturate(1.5) brightness(1.025);
  --blur-l: blur(16px) saturate(1.5) brightness(1.025);

  --modal-background: rgb(from var(--background-secondary) r g b / 75%);

  --icon-opacity: 1;
  --icon-color: var(--color-base-100);
  --nav-item-color: var(--color-base-100);

  .modal,
  .prompt,
  .menu {
    border: none;
  }

  &.theme-light {
    --shadow-base: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(0, 0, 0, 0.4);

    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 1px 8px rgba(0, 0, 0, 0.025), 0 4px 48px rgba(0, 0, 0, 0.095);
    --shadow-s: var(--shadow-base), inset 0 0 1px 1px white, var(--shadow-border), 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), inset 0 0 1px 1px white, 0 18px 60px 0 rgba(0, 0, 0, 0.3);
  }

  &.theme-dark {
    --shadow-base: inset 1px 1.5px 1px -1px rgba(255, 255, 255, 0.2), inset -1px -1.5px 1px -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(255, 255, 255, 0.3);

    --shadow-xs: inset 0 8px 64px rgba(255, 255, 255, 0.125), var(--shadow-base);
    --shadow-s: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 18px 60px 0 rgba(0, 0, 0, 0.3);
  }

  // Editor panel
  .markdown-reading-view,
  .markdown-source-view {
    font-feature-settings: "ss01" 1, "ss07" 1, "cv07" 1;
  }
  .mod-root .workspace-leaf-content[data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
  }

  // Tabs style fix
  &.tabs-floating {
    --tab-background-active: var(--background-modifier-hover);
  }
}
