body {
  --modal-background: var(--background-secondary);
  --modal-border-color: var(--background-modifier-border-hover);
}

.modal-bg {
  opacity: 0 !important;
}

.modal-container {
  perspective: 240px;
}

.modal {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);

  @starting-style {
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.95) rotateX(-1deg);
  }
}

// Modal
body:not(.is-mobile) .modal-title {
  margin-left: 0;
}

.modal {
  &:not(.mod-sidebar-layout) {
    border-radius: var(--modal-radius);
  }

  .modal-title {
    font-family: var(--h1-font);
    transition: var(--anim-duration-moderate);
    max-width: 0;
    min-width: fit-content;
    overflow: visible;
    text-align: left;

    &:not(:has(.modal-setting-back-button)):not(.modal-container.mod-confirmation .modal-title) {
      font-size: var(--h1-size);
      max-width: 100%;
      padding-left: 24px;
    }
  }

  .modal-content .setting-item {
    padding: 8px 0;
  }
}
.modal-close-button {
  position: absolute;
  top: 8px;
  inset-inline-end: 8px !important;
  height: 32px;
  width: 32px;
  padding: 8px;
  color: var(--text-faint);
  line-height: 12px;
  z-index: 1;

  &::before {
    display: block;
    height: 100%;
  }
}

// Menu & suggestion
@keyframes menuIn {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-8px);
  }
}

.menu,
.suggestion-container {
  padding: 0;

  .menu-scroll,
  .suggestion {
    padding: 4px;
  }

  .menu-item,
  .suggestion-item {
    padding: calc(6px * var(--density-modifier)) 8px;
    border-radius: calc(var(--radius-m) - 4px);
    margin-bottom: 0;
  }

  .menu-item-icon {
    order: unset !important;
  }

  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-xs);
  }

  .menu-separator {
    margin: 4px 0;
  }
}

body:not(.is-phone) {
  .menu,
  .suggestion-container {
    animation: menuIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;

    .suggestion-item,
    .suggestion-empty {
      font-size: var(--font-ui-small);
    }
  }
}

body.is-tablet .menu,
body.is-tablet .suggestion-container {
  border: 1px solid var(--background-modifier-border-hover);

  .menu-item {
    padding: 8px 12px;
  }
  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-s);
  }
  .menu-item-title {
    max-width: 240px;
  }
}

body.is-phone .menu,
body.is-phone .suggestion-container {
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  overflow: hidden;
  will-change: transform;

  @starting-style {
    opacity: 0;
    filter: none;
    transform: translateY(100%);
  }

  &[style*="transform: translateY"] {
    transition: none;
  }

  .menu-grabber {
    margin: 8px auto;
    position: absolute;
    inset: 0;
  }
  .menu-scroll {
    max-height: 80vh;
    padding: 32px 16px;
  }
  .menu-item {
    padding: 16px;
    font-size: var(--nav-item-size);
    gap: 16px;
    border-radius: 0;
  }
  .menu-separator {
    margin: 12px 16px;
  }
  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-s);
  }
}

// Settings
.modal.mod-sidebar-layout {
  background-color: var(--background-secondary);
  backdrop-filter: none !important;

  .vertical-tab-header {
    border-inline-end: none;
    background-color: unset;
    position: relative;
  }
  .horizontal-tab-nav-item,
  .vertical-tab-nav-item,
  .vertical-tab-header-group-title {
    padding: calc(8px * var(--density-modifier)) 16px;
    line-height: normal;
  }
  .horizontal-tab-content,
  .vertical-tab-content {
    background-color: transparent;
    scrollbar-gutter: stable;
  }

  .setting-item {
    padding: calc(16px * var(--density-modifier)) 0;
  }
  .setting-item-name {
    font-weight: var(--font-medium);
    overflow: visible;
  }
}

body:not(.nav-item-subtle, .nav-item-strong) .modal.mod-sidebar-layout {
  .vertical-tab-nav-item:not(:hover) {
    transition: var(--anim-duration-moderate), font-weight 0s;
  }
  .vertical-tab-nav-item:hover:not(.is-active) {
    font-weight: var(--nav-item-weight-hover);
    background-color: var(--nav-item-background-hover);
  }
  .vertical-tab-nav-item.is-active {
    font-weight: var(--nav-item-weight-active);
    display: inline-flex;
    align-items: center;
    background-color: var(--nav-item-background-active);
    color: var(--nav-item-color-active);

    &::before {
      content: "";
      position: absolute;
      margin-left: -12px;
      width: 4px;
      height: 4px;
      border-radius: var(--button-radius);
      background-color: var(--nav-item-color-active);
    }
  }
}
body.nav-item-subtle .modal.mod-sidebar-layout {
  .vertical-tab-nav-item.is-active {
    background-color: var(--nav-item-background-active);
    color: var(--nav-item-color-active);
  }
}

body.is-phone .modal.mod-sidebar-layout {
  .modal-header {
    border-bottom: none;
    padding-top: calc(var(--safe-area-inset-top) + 10px);
  }
  .modal-setting-back-button {
    inset-inline-start: 8px;
    border-radius: 100vh;
  }
  .modal-setting-back-button-icon {
    margin-inline-end: 0;
  }
  .modal-close-button {
    line-height: 12px;
    color: var(--text-normal);
    top: var(--safe-area-inset-top);
    padding: 16px;
    width: unset;
    height: unset;
  }

  .vertical-tab-header,
  .vertical-tab-content {
    background-color: var(--background-secondary);
    box-shadow: none;
  }
}

// Community {
.modal.mod-sidebar-layout.mod-community-modal {
  .modal-sidebar {
    padding: 0;
  }

  .community-modal-controls {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 16px;

    .setting-item {
      padding: 0;
      margin: 0;
    }
    .setting-item:first-child {
      margin-right: auto;

      .setting-item-info {
        display: none;
      }
    }
    .setting-item:nth-last-child(2) {
      margin-right: 40px;
    }
    .community-modal-search-summary {
      display: none;
    }
  }
  .community-item .flair {
    top: 0;
    border-radius: var(--button-radius);
    padding: 4px 8px;
  }
}
body.is-phone .modal.mod-sidebar-layout.mod-community-modal {
  .community-modal-controls {
    padding: 16px;
    background-color: var(--background-secondary);
  }
  .community-modal-controls .setting-item {
    margin-right: unset;
    width: 100%;
  }
  .community-modal-controls .setting-item .setting-item-control {
    margin-top: 0;
  }
}
