// Menu & suggestion
@keyframes menuIn {
  from {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-8px);
  }
}

.menu,
.suggestion-container {
  -electron-corner-smoothing: var(--corner-smoothing);
  border-radius: var(--menu-radius);
  padding: 0;

  .menu-item,
  .suggestion-item {
    -electron-corner-smoothing: var(--corner-smoothing);
    padding: calc(6px * var(--density-modifier)) 8px;
    border-radius: calc(var(--menu-radius) - var(--menu-padding));
    margin-bottom: 0;
  }

  .menu-item-icon {
    order: unset !important;
    color: var(--text-normal);
  }

  .menu-item-icon .svg-icon {
    --icon-size: var(--icon-xs);
    --icon-stroke: var(--icon-xs-stroke-width);
  }

  .menu-separator {
    margin: 4px 0;
  }
}

body:not(.is-phone) {
  --menu-padding: 4px;

  & > .menu,
  & > .suggestion-container {
    animation: menuIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }

  .menu,
  .suggestion-container div:is(.suggestion-item, .suggestion-empty) {
    font-size: var(--font-ui-small);
    align-items: center;
  }
}

body.is-mobile {
  .menu,
  .suggestion-container {
    .menu-item-icon .svg-icon {
      --icon-size: var(--icon-s);
      --icon-stroke: var(--icon-s-stroke-width);
    }
  }
}

body.is-phone {
  --menu-padding: 32px 16px;

  .menu,
  .suggestion-container {
    border-radius: var(--radius-l) var(--radius-l) 0 0;
    overflow: hidden;

    .menu-grabber {
      margin: 8px auto;
      position: absolute;
      inset: 0;
    }
    .menu-scroll {
      max-height: 80vh;
    }
    .menu-item {
      padding: calc(16px * var(--density-modifier)) 20px;
      font-size: var(--nav-item-size);
      gap: 16px;
      border-radius: 0;
    }
    .menu-item:only-child,
    .suggestion-item {
      border-radius: var(--radius-s);
    }
    .menu-separator {
      margin: calc(12px * var(--density-modifier)) 16px;
    }
  }
}

body.is-tablet {
  .menu,
  .suggestion-container {
    border: 1px solid var(--background-modifier-border-hover);
    border-radius: var(--menu-radius);
    overflow: auto;
    max-height: 80vh;

    .menu-scroll {
      overflow: visible;
    }

    .menu-item {
      padding: calc(8px * var(--density-modifier)) 12px;
    }
    .menu-item-title {
      max-width: 240px;
    }
  }
}

// Modal
body {
  --modal-background: var(--background-secondary);
  --modal-border-color: var(--background-modifier-border-hover);

  .modal {
    -electron-corner-smoothing: var(--corner-smoothing);

    &:not(.mod-sidebar-layout) {
      border-radius: var(--modal-radius);

      .modal-title {
        font-size: var(--font-ui-large);
        max-width: 100%;
      }
    }

    .modal-title {
      font-family: var(--h1-font);
      transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      max-width: 0;
      overflow: visible;
      text-align: left;
    }
  }
  .modal-close-button {
    border-radius: 100vh;
    position: absolute;
    top: 8px;
    inset-inline-end: 8px !important;
    height: unset;
    width: unset;
    padding: 8px;
    line-height: 12px;
    z-index: 1;

    &:empty::before {
      content: "\2715";
      line-height: 1;
      display: block;
      text-align: center;
      width: var(--icon-l);
      height: var(--icon-l);
      font-size: var(--icon-m);
      font-weight: bold;
    }
  }
}

body:not(.is-mobile) {
  @keyframes modalIn {
    from {
      opacity: 0;
      filter: blur(4px);
      transform: scale(0.975);
    }
  }

  .modal-bg {
    background-color: rgba(0, 0, 0, 0.35);
  }
  .modal {
    box-shadow: var(--shadow-s);
    animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }
  .modal-title {
    margin-left: 0;
  }
}

body.is-phone {
  .modal-container.mod-confirmation .modal:not(.mod-sidebar-layout) {
    --modal-radius: var(--radius-l) var(--radius-l) 0 0;
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-header {
      border-bottom: none;
      padding-top: 24px;
    }

    .modal-content {
      padding: var(--safe-area-inset-side);
    }

    .modal-nav-action {
      position: relative;
      background-color: var(--interactive-normal);
      margin: 0 var(--safe-area-inset-side) 8px;
    }

    & > button:last-child {
      margin-bottom: var(--safe-area-inset-bottom) !important;
    }
  }
}

body.is-tablet {
  --modal-radius: var(--radius-l);
}

// Notice
.notice-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
}
.notice {
  padding: calc(12px * var(--density-modifier)) 16px;
  margin-bottom: 0;
}
