@media screen, print {
  .markdown-reading-view,
  .markdown-source-view {
    --bold-color: var(--color-base-100);
    --h1-color: var(--color-base-100);
    --h2-color: var(--color-base-100);
    --h3-color: var(--color-base-100);
    --h4-color: var(--color-base-100);
    --h5-color: var(--color-base-100);
    --h6-color: var(--color-base-100);
    --inline-title-color: var(--color-base-100);
    --text-normal: var(--color-base-80);

    transition: var(--anim-duration-fast) ease-in-out;
    letter-spacing: 0.2px;
  }
  .markdown-preview-view {
    scrollbar-gutter: auto;
  }
  .workspace-tabs {
    overflow: visible;
  }
  .mod-fade::before,
  .mod-fade::after {
    display: none;
  }
  svg.svg-icon {
    fill: none;
  }
  .collapse-indicator {
    --cursor: pointer;
  }

  /* Animation */
  .workspace-leaf-content[data-mode="source"] .markdown-reading-view {
    transform: scale(0.99);
  }
  .workspace-leaf-content[data-mode="preview"] .markdown-source-view {
    transform: scale(0.99);
  }

  /* Mode switcher */
  .mod-root .workspace-leaf-content[data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent) !important;
    color: var(--text-on-accent) !important;
  }

  /* Image */
  img {
    border-radius: var(--radius-s);
  }

  body:not(.full-width-off) .workspace-leaf-content[data-type="markdown"] {
    .image-embed:not(.canvas-node-content) {
      display: block;
      border-radius: var(--radius-s);
      width: 100%;
      line-height: 0;
    }
    img:not([width]):not([class]) {
      background-color: var(--background-secondary);
      width: 100%;
      height: 100%;
      max-height: 480px;
      object-fit: contain;
      text-align: center;
    }
  }

  /* Code */
  .markdown-rendered code,
  .cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
    padding: 2px 4px;
  }

  pre[class*="language-"] code {
    border-radius: 0;
  }

  /* Codeblock */
  .markdown-rendered pre,
  .HyperMD-codeblock {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 8px -2px, rgba(0, 0, 0, 0.04) 0px 2px 4px -2px;
  }

  .HyperMD-codeblock-begin {
    border-bottom: none;
  }
  .HyperMD-codeblock:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
    border-top: none;
    border-bottom: none;
  }
  .HyperMD-codeblock-end {
    border-top: none;
  }

  .HyperMD-codeblock-begin,
  .HyperMD-codeblock-end {
    color: var(--text-faint) !important;

    &:not(:has(.cm-formatting-code-block)) {
      height: 12px;
    }
  }

  .HyperMD-codeblock {
    padding-right: 16px !important;
  }

  .markdown-rendered button.copy-code-button,
  .markdown-source-view.mod-cm6 .edit-block-button,
  .code-block-flair {
    box-shadow: none !important;
    padding: 8px !important;
    line-height: 100%;
    background-color: transparent !important;
  }

  /* Highlight */
  .markdown-reading-view mark,
  .markdown-source-view mark {
    box-decoration-break: clone;
    border-radius: var(--radius-s);
    padding: 2px 4px;
    color: var(--color-base-100);

    &:not([style]):not([class*="hltr-"]) {
      color: var(--text-accent);
    }
  }

  .cm-s-obsidian span.cm-highlight {
    box-decoration-break: clone;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--text-accent);
  }
  .cm-line .cm-highlight:nth-child(1 of .cm-highlight) {
    border-top-left-radius: var(--radius-s);
    border-bottom-left-radius: var(--radius-s);
    padding-left: 4px;
  }
  .cm-line .cm-highlight:nth-last-child(1 of .cm-highlight) {
    border-top-right-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
    padding-right: 4px;
  }

  /* Link */
  body:not(.clean-link-off) {
    --link-decoration: none;
    --link-external-decoration: none;
  }

  /* Callout */
  .callout {
    background-color: rgba(var(--callout-color), 0.15);
    backdrop-filter: var(--blur-s);

    p:last-child {
      margin-bottom: 0;
    }

    pre {
      box-shadow: none;
      border: var(--border-width) solid var(--background-modifier-border);
    }

    .callout-title {
      align-items: center;
      gap: 8px;
    }

    &.is-collapsible .callout-title {
      cursor: pointer;
    }

    .callout-title-inner {
      --p-spacing: 0;
    }

    .callout-icon svg.svg-icon {
      --icon-size: var(--icon-s);
    }

    .callout-content > *:last-child {
      margin-bottom: 0 !important;
    }

    .callout-content .callout {
      border: var(--border-width) solid var(--background-modifier-border);
      background-color: transparent;
    }
  }

  .callout:not([data-callout]) {
    --callout-color: var(--color-accent);
    background-color: hsla(var(--color-accent-hsl), 0.15);

    .callout-title {
      color: var(--callout-color);
    }
  }

  /* Active line */
  body:not(.active-line-off) .markdown-source-view .cm-active:not(:has(.cm-fold-indicator):hover) {
    &::after {
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: -12px;
      border-left: 4px solid var(--background-modifier-border-hover);
      border-radius: var(--input-radius);
      content: "";
    }

    &[dir="rtl"]::after {
      right: -12px;
      left: unset;
    }
  }

  /* Heading */
  body {
    --h1-size: 1.5em;
    --h2-size: 1.25em;
    --h3-size: 1.125em;
    --h4-size: 1em;
    --h5-size: 1em;
    --h6-size: 0.875em;

    h4,
    .markdown-rendered h4,
    .cm-header-4 {
      opacity: 0.8;
      letter-spacing: normal;
    }

    h5,
    .markdown-rendered h5,
    .cm-header-5 {
      opacity: 0.5;
      letter-spacing: normal;
    }

    h6,
    .markdown-rendered h6,
    .cm-header-6 {
      opacity: 0.5;
      letter-spacing: normal;
      text-transform: uppercase;
    }
  }

  /* Table */
  :root table {
    border-collapse: separate;
    border-spacing: 0;
  }

  body:not(.full-width-off) table,
  body:not(.full-width-off) .table-wrapper {
    width: 100% !important;
  }

  .markdown-preview-view,
  .cm-sizer {
    table {
      position: relative;
      border-radius: var(--radius-s);
    }

    table::before {
      position: absolute;
      z-index: 1;
      inset: 0;
      border: var(--table-border-width) solid var(--table-border-color);
      border-radius: var(--radius-s);
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      pointer-events: none;
      content: "";
    }

    .table-cell-wrapper:active,
    .table-cell-wrapper:focus,
    .table-cell-wrapper:focus-within {
      background-color: var(--background-modifier-hover) !important;
    }

    thead,
    tbody {
      background-color: var(--background-secondary);
    }

    thead tr th {
      border-top: none;
    }

    tr td,
    tr th {
      border-right: none;
      border-bottom: none;
    }

    th:first-child,
    th:first-child .table-cell-wrapper {
      border-top-left-radius: var(--radius-s);
    }
    th:last-child,
    th:last-child .table-cell-wrapper {
      border-top-right-radius: var(--radius-s);
    }
    tr:last-child td:first-child,
    tr:last-child td:first-child .table-cell-wrapper {
      border-bottom-left-radius: var(--radius-s);
    }
    tr:last-child td:last-child,
    tr:last-child td:last-child .table-cell-wrapper {
      border-bottom-right-radius: var(--radius-s);
    }

    .cm-table-widget[dir="rtl"],
    .el-table[dir="rtl"],
    div[dir="rtl"] {
      th:first-child,
      th:first-child .table-cell-wrapper {
        border-top-right-radius: var(--radius-s);
        border-top-left-radius: 0;
      }
      th:last-child,
      th:last-child .table-cell-wrapper {
        border-top-right-radius: 0;
        border-top-left-radius: var(--radius-s);
      }
      tr:last-child td:first-child,
      tr:last-child td:first-child .table-cell-wrapper {
        border-bottom-right-radius: var(--radius-s);
        border-bottom-left-radius: 0;
      }
      tr:last-child td:last-child,
      tr:last-child td:last-child .table-cell-wrapper {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: var(--radius-s);
      }

      tr th:first-child,
      tr td:first-child {
        border-left: var(--table-border-width) solid var(--table-border-color);
      }
      tr th:last-child,
      tr td:last-child {
        border-left-width: 0 !important;
      }
    }

    .table-col-btn,
    .table-row-btn {
      border: none !important;
    }
  }

  .cm-html-embed td,
  .markdown-rendered td,
  .cm-html-embed th,
  .markdown-rendered th,
  .markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper {
    padding: 8px;
  }

  /* Embed */
  .workspace-leaf-content[data-type="markdown"] {
    .markdown-embed,
    .file-embed {
      border-radius: var(--radius-m);
    }

    .markdown-embed-title {
      font-size: var(--inline-title-size);
    }

    iframe.external-embed {
      border-radius: var(--radius-s);
      aspect-ratio: 16/9;
      height: auto;
    }
  }

  body:not(.full-width-off) .workspace-leaf-content[data-type="markdown"] {
    iframe.external-embed {
      width: 100%;
    }
  }

  /* Blockquote */

  .markdown-rendered blockquote {
    border-radius: var(--callout-radius);
    padding: 12px 16px 12px 32px;
  }

  .el-blockquote {
    position: relative;
  }

  .el-blockquote::before {
    border-radius: 100vh;
  }

  .cm-line.HyperMD-quote > span:first-child {
    margin-left: 16px;
  }

  .cm-line:not(.HyperMD-quote) + .cm-line.HyperMD-quote {
    border-top-left-radius: var(--callout-radius);
    border-top-right-radius: var(--callout-radius);
    overflow: hidden;
    padding-top: 12px !important;
  }
  .cm-line.HyperMD-quote:has(+ .cm-line:not(.HyperMD-quote)) {
    border-bottom-left-radius: var(--callout-radius);
    border-bottom-right-radius: var(--callout-radius);
    overflow: hidden;
    padding-bottom: 12px !important;
  }

  /***/

  body:not(.is-mobile) {
    &.theme-light .mod-root .workspace-tab-container {
      box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
    }
    &.theme-dark .mod-root .workspace-tab-container {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
    }

    .workspace.is-left-sidedock-open .mod-root .workspace-leaf-resize-handle,
    .workspace.is-right-sidedock-open .mod-root .workspace-leaf-resize-handle {
      border-color: transparent;
    }

    .mod-root {
      padding-bottom: 8px;

      .workspace-tab-container {
        outline: var(--border-width) solid var(--background-modifier-border);
        border-radius: var(--radius-m);
        background-color: var(--background-primary);
      }

      .workspace-tabs:not(:only-of-type) .workspace-tab-container {
        box-shadow: none;
      }

      .workspace-leaf-content[data-type="markdown"] {
        .view-header {
          background-color: transparent !important;
          position: absolute;
          inset: 0 0 auto;

          &::before {
            position: absolute;
            z-index: -1;
            content: "";
            inset: 0;
            background-color: var(--background-primary);
            mask: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.987) 14%, hsla(0, 0%, 0%, 0.951) 26.2%, hsla(0, 0%, 0%, 0.896) 36.8%, hsla(0, 0%, 0%, 0.825) 45.9%, hsla(0, 0%, 0%, 0.741) 53.7%, hsla(0, 0%, 0%, 0.648) 60.4%, hsla(0, 0%, 0%, 0.55) 66.2%, hsla(0, 0%, 0%, 0.45) 71.2%, hsla(0, 0%, 0%, 0.352) 75.6%, hsla(0, 0%, 0%, 0.259) 79.6%, hsla(0, 0%, 0%, 0.175) 83.4%, hsla(0, 0%, 0%, 0.104) 87.2%, hsla(0, 0%, 0%, 0.049) 91.1%, hsla(0, 0%, 0%, 0.013) 95.3%, hsla(0, 0%, 0%, 0) 100%);
          }
        }

        // Content pusher
        .view-content > .markdown-reading-view > div:first-child,
        .view-content > .markdown-source-view > .cm-editor > .cm-scroller {
          padding-top: calc(var(--file-margins) + var(--view-header-height)) !important;
        }
      }
    }

    &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
      margin-left: 8px;
      border-radius: var(--radius-window);
    }
    .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
      margin-right: 8px;
      border-radius: var(--radius-window);
    }
    &:not(.is-popout-window) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
      background-color: var(--background-primary);

      .mod-root {
        padding-bottom: 0;
      }
      .mod-root .workspace-tab-container {
        margin: 0 !important;
        outline: 1px solid transparent;
        box-shadow: none;
        border: 0px solid transparent !important;
        border-radius: 0;
      }
    }

    &:not(.is-popout-window) .workspace.is-left-sidedock-open,
    &:not(.is-popout-window) .workspace.is-right-sidedock-open {
      .mod-root .workspace-split.mod-vertical,
      .mod-root.workspace-split.mod-vertical {
        gap: 8px;

        hr.workspace-leaf-resize-handle {
          --divider-width-hover: 4px;
          right: -6px;
          border-radius: var(--radius-s);
        }
      }
    }
  }

  body:not(.is-phone) {
    .view-header {
      flex-shrink: 0;
      border: none;
      padding: 0 12px;
      height: var(--view-header-height);
    }

    .view-header-title-parent .view-header-breadcrumb,
    .view-header-title-parent .view-header-breadcrumb-separator {
      opacity: 0.5;
      color: var(--text-muted);
    }
  }

  body.is-mobile {
    .mod-root .view-content {
      background-color: var(--background-primary);
    }

    .markdown-preview-view .task-list-item-checkbox {
      top: 0.25em;
      margin-inline-start: calc((var(--checkbox-size) + 8px) * -1);
      margin-inline-end: 10px;
    }
  }

  body.is-tablet {
    .mod-root .workspace-leaf {
      contain: none !important;
    }
    .mod-root .workspace-tabs.mod-stacked .workspace-tab-header-container-inner {
      display: none;
    }

    .view-header {
      padding: 0 var(--side-padding);

      button {
        height: 100%;
      }
    }
    .view-header-nav-buttons,
    .view-actions {
      gap: 0px !important;
    }
  }
}
