body.is-mobile {
  --background-modifier-form-field: var(--interactive-normal) !important;
  --border-width: 0.3px;
  --divider-color: rgba(var(--mono-rgb-100), 0.1) !important;
  --divider-width: var(--border-width);
  --canvas-dot-pattern: var(--color-base-20);
  --checkbox-size: var(--icon-m);
  --icon-xs-stroke-width: 2px;
  --icon-s-stroke-width: 1.5px;
  --icon-m-stroke-width: 1.5px;
  --icon-l-stroke-width: 1.5px;
  --icon-xl-stroke-width: 1px;
  --input-height: 44px;
  --input-radius: var(--radius-m);
  --mobile-sidebar-width: 100%;
  --mobile-toolbar-height: var(--input-height);
  --modal-background: rgb(from var(--background-secondary) r g b / 75%) !important;
  --nav-item-background-active: var(--color-accent);
  --nav-item-background-selected: var(--color-accent);
  --nav-item-color-active: var(--text-on-accent);
  --nav-item-padding: 16px 20px;
  --header-height: var(--input-height);
  --radius-l: 32px;
  --radius-m: 24px;
  --radius-s: 16px;
  --radius-xl: 40px;
  --slider-thumb-height: 25px;
  --slider-thumb-y: -10px;
  --slider-thumb-width: 38px;
  --tab-switcher-background: transparent;
  --tab-switcher-menubar-background: var(--tab-switcher-background);
  --tab-switcher-preview-radius: var(--radius-m);
  --toggle-border-width: 2px;
  --toggle-thumb-height: 25px;
  --toggle-thumb-width: 38px;
  --toggle-width: 68px;
  --toolbar-option-width: var(--mobile-toolbar-height);
  --modal-header-height: var(--view-header-height);
  --dropdown-padding: 4px 32px 4px 16px;

  padding: 0;

  &.theme-light {
    --interactive-normal: var(--background-primary);
    --shadow-border: 0 0 transparent;
  }
  &.theme-dark {
    --interactive-normal: var(--background-secondary);
  }

  &.is-ios {
    --font-ui-smaller: calc(var(--font-text-size) * 0.8 + 1px);
    --font-ui-small: calc(var(--font-text-size) * 0.937 + 1px);
    --font-ui-medium: calc(var(--font-text-size) + 1px);
    --font-ui-large: calc(var(--font-text-size) * 1.2 + 1px);
    --safe-area-inset-bottom: 28px;

    .markdown-preview-view,
    .markdown-source-view {
      font-size: calc(var(--font-text-size) + 1px);
    }
  }
}

body.is-phone {
  --file-header-justify: flex-start;
  --mobile-sidebar-max-width: 100%;
  --tab-outline-width: 1px;
  --tab-outline-width: 1px;
}

body.is-tablet {
  --prompt-input-height: 56px;

  .mod-root {
    padding-top: var(--safe-area-inset-top);
  }

  &.show-ribbon {
    --ribbon-width: 52px;
  }
}

/********** Mode Switchcer **********/

body.is-phone {
  .mod-root .view-header {
    z-index: 3;
  }
  .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    position: fixed;
    right: 28px;
    bottom: 0;
    backdrop-filter: var(--blur-s);
    margin-bottom: max(var(--safe-area-inset-bottom), 16px);
    border-radius: var(--clickable-icon-radius);
    padding: 12px;
    width: auto;
    height: auto;
    color: var(--text-muted);
    box-shadow: var(--shadow-xs-tinted) !important;
  }

  .mod-root .workspace-leaf-content[data-mode="source"] .view-actions button:nth-last-child(2) {
    background-color: var(--text-highlight-bg) !important;
    color: var(--text-accent) !important;
  }

  &.is-android:not(.material-off) .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    backdrop-filter: none;
    background-color: var(--background-secondary);
  }
}

/********** Top Bar **********/

body.is-mobile {
  .view-actions {
    padding: 0;
    height: var(--view-header-height);
    gap: 8px;
  }
  .view-action.clickable-icon {
    width: var(--view-header-height);
    height: var(--view-header-height);
  }
  .view-header-title-container {
    height: var(--view-header-height);
    text-align: center;
    justify-content: center;
  }

  .workspace .mod-root .workspace-leaf .view-header {
    height: fit-content;
  }
}

body.is-phone {
  &.theme-light .modal.mod-sidebar-layout .modal-header::before {
    background-color: var(--background-secondary);
  }

  .view-action,
  .workspace-drawer-header-icon,
  .modal-setting-back-button,
  .modal-close-button {
    --icon-color: var(--text-normal);
    box-shadow: var(--shadow-xs) !important;
    backdrop-filter: var(--blur-s);
  }

  .mod-root .workspace-leaf-content[data-type="markdown"] .view-header,
  .mod-root .workspace-leaf-content[data-type="graph"] .view-header,
  .mod-root .workspace-leaf-content[data-type="canvas"] .view-header,
  .modal.mod-sidebar-layout .modal-header {
    position: fixed;
    background-color: transparent;
    width: 100%;

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      inset: 0;
      background-color: var(--background-primary);
      pointer-events: none;
      height: calc(100% + 16px);
      mask: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.987) 14%, hsla(0, 0%, 0%, 0.951) 26.2%, hsla(0, 0%, 0%, 0.896) 36.8%, hsla(0, 0%, 0%, 0.825) 45.9%, hsla(0, 0%, 0%, 0.741) 53.7%, hsla(0, 0%, 0%, 0.648) 60.4%, hsla(0, 0%, 0%, 0.55) 66.2%, hsla(0, 0%, 0%, 0.45) 71.2%, hsla(0, 0%, 0%, 0.352) 75.6%, hsla(0, 0%, 0%, 0.259) 79.6%, hsla(0, 0%, 0%, 0.175) 83.4%, hsla(0, 0%, 0%, 0.104) 87.2%, hsla(0, 0%, 0%, 0.049) 91.1%, hsla(0, 0%, 0%, 0.013) 95.3%, hsla(0, 0%, 0%, 0) 100%);
    }
  }

  .mod-root .workspace-leaf-content[data-type="markdown"] .view-content::before,
  .mod-root .workspace-leaf-content[data-type="graph"] .view-content::before,
  .mod-root .workspace-leaf-content[data-type="canvas"] .view-content::before {
    position: absolute;
    z-index: 2;
    content: "";
    inset: auto 0 0;
    background-color: var(--background-primary);
    pointer-events: none;
    height: calc(var(--safe-area-inset-bottom) + var(--input-height) + 16px);
    mask: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 3.4%, hsla(0, 0%, 0%, 0.049) 7.3%, hsla(0, 0%, 0%, 0.104) 11.4%, hsla(0, 0%, 0%, 0.175) 15.9%, hsla(0, 0%, 0%, 0.259) 20.5%, hsla(0, 0%, 0%, 0.352) 25.2%, hsla(0, 0%, 0%, 0.45) 30.1%, hsla(0, 0%, 0%, 0.55) 34.9%, hsla(0, 0%, 0%, 0.648) 39.8%, hsla(0, 0%, 0%, 0.741) 44.5%, hsla(0, 0%, 0%, 0.825) 49.1%, hsla(0, 0%, 0%, 0.896) 53.6%, hsla(0, 0%, 0%, 0.951) 57.7%, hsla(0, 0%, 0%, 0.987) 61.6%, hsl(0, 0%, 0%) 65%);
  }

  // Content pusher
  .view-content > .markdown-reading-view > div:first-child,
  .view-content > .markdown-source-view > .cm-editor > .cm-scroller,
  .view-content > .markdown-source-view .document-search-container {
    padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 8px) !important;
  }

  .markdown-source-view .document-search-container ~ .cm-editor .cm-scroller {
    padding: var(--file-margins) !important;
  }

  .mod-root {
    .view-header {
      padding: var(--safe-area-inset-top) var(--side-padding) 0;
    }

    .view-header-left,
    .view-actions {
      flex-grow: 0;
      animation: fadeIn var(--anim-duration-fast);
    }

    .view-header-title-parent .view-header-breadcrumb {
      padding: 0;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .view-header-title-parent .view-header-breadcrumb-separator,
    .view-header-title-parent .view-header-breadcrumb {
      opacity: 0.5;
      padding: 0;
      color: var(--color-base-100);
    }

    .view-header-title-parent:not(:empty) {
      display: flex;
      align-items: center;
      gap: 4px;
      opacity: 1;
    }
    .view-header-breadcrumb:first-child {
      opacity: 1;
      color: var(--interactive-accent);
    }

    .document-search-container {
      --icon-size: var(--icon-l);
      padding-left: var(--side-padding);
      padding-right: var(--side-padding);
      z-index: 0;
    }
  }
}

/********** Pull Action **********/

.pull-action {
  backdrop-filter: var(--blur-s);
  animation: fadeInDown var(--anim-duration-fast);
  box-shadow: var(--shadow-s-tinted);
  background-color: var(--modal-background);
  padding: 12px 24px;
  width: fit-content;
  font-weight: var(--font-bold);
  min-height: var(--input-height);

  &.mod-activated {
    background-color: var(--text-highlight-bg);
    color: var(--text-accent);
  }
}

/********** Bottom Bar **********/

body.is-mobile {
  .mobile-navbar {
    max-width: calc(100% - 48px - 8px);
    background-color: transparent;
    pointer-events: none;
  }

  .mobile-navbar-actions,
  .workspace-drawer .nav-buttons-container,
  .mobile-toolbar-options-list {
    --icon-color: var(--text-normal);
    gap: 8px;
    box-shadow: var(--shadow-xs) !important;
    backdrop-filter: var(--blur-s);
    justify-content: flex-start;
    max-width: fit-content;
    border-radius: var(--clickable-icon-radius);
    padding: 0 8px;
    pointer-events: auto;
    overflow: hidden;

    .clickable-icon {
      padding: 12px;
    }
  }
  .mobile-navbar-action,
  .nav-action-button {
    display: flex;
    justify-content: center;
    min-width: 0;
    position: relative;

    &::before {
      background-color: white;
      content: "";
      position: absolute;
      inset: 0;
      filter: var(--blur-l);
      transition: var(--anim-duration-fast);
      border-radius: 100vh;
      opacity: 0;
      transform: none;
      z-index: -1;
    }

    &:active::before {
      opacity: 0.25;
      transform: scale(5);
    }
  }

  .mobile-toolbar-options-container {
    gap: 8px;
  }
  .mobile-toolbar {
    background-color: transparent;
    overflow: visible;
  }
  .mobile-toolbar-options-list {
    gap: 4px;
    width: calc(100% - var(--input-height) - 8px - var(--input-height) - 8px);
  }

  .mobile-navbar,
  .workspace-drawer .nav-header,
  .mobile-toolbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--layer-status-bar);
    border: none;
    padding: 0 28px max(var(--safe-area-inset-bottom), 16px);
  }

  .nav-action-button {
    flex-grow: 0 !important;

    &.is-active {
      background-color: transparent !important;
      color: var(--color-accent) !important;
    }
  }
}

body.is-tablet .workspace-drawer .nav-header {
  padding: 4px 0 max(var(--safe-area-inset-bottom), 16px);
}

/********** Image Viewer **********/

body.is-mobile {
  .mobile-image-viewer {
    backdrop-filter: var(--blur-l);
    animation: var(--anim-duration-fast) fadeInScale;
    background-color: var(--workspace-background-translucent);
  }
  .mobile-image-viewer img {
    border-radius: 0;
  }
}

/********** Tab Switcher **********/

body.is-phone {
  .mobile-navbar-tabs-action {
    border-width: var(--icon-l-stroke-width);
    border-radius: 30%;
    width: calc(var(--icon-size) - 2px);
    height: calc(var(--icon-size) - 2px);
    font-weight: var(--font-normal);
  }

  .mobile-tab-switcher {
    justify-content: flex-end;
    animation: none !important;
    margin: 0 8px 8px;
    width: unset;
    height: unset;

    &[style*="opacity: 1"] {
      transition-property: transform !important;
    }
  }

  .mobile-tab-switcher-scroll {
    padding-top: 0;
    height: unset;
    max-height: 80vh;
  }
  .mobile-tab-switcher-scroll::before {
    position: absolute;
    z-index: -1;
    backdrop-filter: var(--blur-m);
    box-shadow: var(--shadow-l);
    border-radius: var(--radius-xl);
    background-color: var(--modal-background);
    width: 100%;
    height: -webkit-fill-available;
    content: "";
  }
  .mobile-tab-wrapper {
    z-index: 2;
  }

  .mobile-tab-switcher-menubar {
    padding: 4px var(--side-padding) 16px;
    border: none;
  }
  .mobile-tab-switcher-menu-button {
    z-index: 2;
    flex: 1;
    height: var(--input-height);
    border-radius: var(--clickable-icon-radius);
    box-shadow: var(--shadow-s);
    justify-content: center;
  }

  .mobile-tab-switcher-menu-spacer .clickable-icon {
    box-shadow: var(--shadow-s);
  }
  .mobile-tab-switcher-menu-spacer:first-child {
    z-index: 2;
  }
  .mobile-tab-switcher-menu-spacer:last-child .clickable-icon {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);

    &::before {
      position: fixed;
      z-index: 1;
      inset: 0;
      content: "";
    }
  }

  .mobile-tab .mobile-tab-pin,
  .mobile-tab .close-button {
    width: 32px;
    height: 32px;
  }
}

/********** Find and Replace **********/

body.is-tablet {
  .document-search-container {
    position: fixed;
    bottom: 0;
    border: none;
    background-color: transparent;
    padding-bottom: max(var(--safe-area-inset-bottom), 16px);
    width: 100%;

    &::before {
      z-index: -2 !important;
      backdrop-filter: var(--blur-l);
    }
    &::before,
    &::after {
      position: absolute;
      z-index: -1;
      mask: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 4.7%, hsla(0, 0%, 0%, 0.049) 8.9%, hsla(0, 0%, 0%, 0.104) 12.8%, hsla(0, 0%, 0%, 0.175) 16.6%, hsla(0, 0%, 0%, 0.259) 20.4%, hsla(0, 0%, 0%, 0.352) 24.4%, hsla(0, 0%, 0%, 0.45) 28.8%, hsla(0, 0%, 0%, 0.55) 33.8%, hsla(0, 0%, 0%, 0.648) 39.6%, hsla(0, 0%, 0%, 0.741) 46.3%, hsla(0, 0%, 0%, 0.825) 54.1%, hsla(0, 0%, 0%, 0.896) 63.2%, hsla(0, 0%, 0%, 0.951) 73.8%, hsla(0, 0%, 0%, 0.987) 86%, hsl(0, 0%, 0%) 100%);
      inset: -16px 0 0;
      pointer-events: none;
      content: "";
    }
  }
}
