body.blur-effect-off .modal {
  backdrop-filter: none;
}

body {
  &.theme-light .modal {
    border-width: var(--modal-border-width) 0 0;
  }

  .modal:not(.mod-sidebar-layout) {
    backdrop-filter: blur(var(--blur-m)) saturate(1.5);
    box-shadow: var(--shadow-s);
  }

  .modal-button-container {
    justify-content: center;
    gap: 6px;

    button {
      flex-grow: 1;
      width: auto;
      line-height: var(--line-height-normal);
      border-radius: var(--clickable-icon-radius);
    }

    .mod-checkbox {
      justify-content: center;
      margin-bottom: 8px;
      width: 100%;
    }
  }
}

body:not(.is-mobile) {
  .modal-bg {
    background-color: transparent;
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-close-button {
      display: none;
    }

    .modal-title {
      margin: 4px 0 8px;
      font-weight: var(--font-bold);

      &:empty {
        display: none;
      }
    }

    .modal-title,
    .modal-content {
      padding: 0 4px;
    }

    button {
      min-height: 28px;
    }

    .modal-header {
      margin: 0;
    }

    .modal-title,
    .modal-content,
    .mod-checkbox {
      font-size: var(--font-ui-small);
    }
  }
}

body.is-mobile .modal:not(.mod-sidebar-layout) {
  margin: 0 8px 8px;
  border-radius: var(--modal-radius);
  background-color: var(--modal-background);

  .modal-header {
    border: none !important;
    padding: 24px 24px 0;
  }

  .modal-title {
    max-width: 100%;
    text-align: start;
  }

  .modal-content {
    padding: 8px 24px;
    font-size: var(--font-ui-small);

    .modal-button-container {
      padding: 0 0 16px;
    }
  }

  .modal-button-container {
    margin: 0;
    padding: 0 16px 16px;

    button {
      margin: 0;
      font-size: var(--font-ui-medium);
      text-align: center;
      justify-content: center;
      min-height: 48px;
    }
  }

  .modal-nav-action {
    margin-top: unset;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 24px;
    height: unset;

    &:first-of-type {
      inset-inline-start: unset;
      right: 6em;
    }
  }
}

body.is-tablet:not(.is-android:not(.material-off)) {
  .modal {
    outline: var(--prompt-border-width) solid var(--background-modifier-hover);
  }

  .modal-title {
    font-size: var(--font-ui-medium);
    text-align: center;
  }
}
