body {
  --prompt-border-color: var(--background-modifier-border-hover);
  --prompt-input-height: 64px;
}
body.is-mobile {
  --prompt-input-height: 64px;
}

.prompt {
  -electron-corner-smoothing: system-ui;
  background-color: var(--background-secondary);
  animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;

  .prompt-input,
  .prompt-input:hover,
  .prompt-input:focus,
  .prompt-input:focus-visible {
    background-color: transparent;
    border-bottom-color: var(--divider-color);
  }

  .prompt-results {
    flex: 1;
  }
  .suggestion-item {
    padding: 12px;
  }
}
body.is-phone {
  .prompt {
    animation: none;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }
  .suggestion-item {
    padding: 16px;
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
}
body.is-tablet {
  .prompt {
    border: var(--prompt-border-width) solid var(--prompt-border-color);
  }
  .prompt-input {
    background-color: transparent !important;
  }
}
