body {
  --prompt-border-color: var(--background-modifier-border-hover);
  --prompt-input-height: 64px;
}

body.is-phone {
  --prompt-input-height: 64px;
}

.prompt {
  background-color: var(--background-secondary);
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);

  @starting-style {
    opacity: 0;
    filter: blur(4px);
    transform: scale(0.95) rotateX(-1deg);
  }

  .prompt-input,
  .prompt-input:hover,
  .prompt-input:focus,
  .prompt-input:focus-visible {
    background-color: transparent;
    border-bottom-color: var(--divider-color);
  }

  .prompt-results {
    flex: 1;
  }
  .suggestion-item {
    padding: 12px;
  }
}
body.is-tablet .prompt {
  border: var(--prompt-border-width) solid var(--prompt-border-color);
}
body.is-phone {
  .prompt {
    transition: none;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }
  .suggestion-item {
    padding: 16px;
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
}
