body {
  --prompt-border-color: var(--background-modifier-border-hover);
  --prompt-input-height: 64px;
}
body.is-tablet {
  --prompt-input-height: 64px;
}

body.mod-macos.is-translucent .prompt {
  animation: modalInTranslucent var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
}

.prompt {
  -electron-corner-smoothing: var(--corner-smoothing);
  background-color: var(--background-secondary);
  animation: modalIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;

  .prompt-input,
  .prompt-input:hover,
  .prompt-input:focus,
  .prompt-input:focus-visible {
    background-color: transparent;
    border-bottom-color: var(--divider-color);
  }

  .prompt-results {
    flex: 1;
  }
  .suggestion-item {
    padding: 12px;
  }
}
body.is-phone {
  .prompt {
    animation: none;
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }
  .prompt .prompt-results {
    padding: var(--navbar-side-padding);
  }
  .prompt .prompt-input-container {
    width: auto;
    margin: auto var(--navbar-side-padding) var(--keyboard-spacing);
  }
  .prompt .prompt-input {
    background-color: var(--background-primary);
  }
  .prompt .suggestion-item {
    padding: calc(16px * var(--density-modifier)) 16px;
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
  .suggestion-item {
    padding: calc(8px * var(--density-modifier)) 16px;
  }
}
body.is-tablet {
  .prompt {
    border: var(--prompt-border-width) solid var(--prompt-border-color);
    border-radius: var(--modal-radius);
  }
  .prompt-input {
    background-color: transparent;
  }
}
