body,
body.theme-light,
body.theme-dark {
  --font-interface-theme: Inter;
  --font-text-theme: Inter;
  --font-print-theme: Inter;

  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;
  --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.5);

  --text-normal: var(--color-base-90);
  --divider-color-hover: var(--color-base-50);

  --bold-modifier: 300;

  --icon-opacity: 1;

  --shadow-s: rgba(0, 0, 0, 0.08) 0px 12px 24px -4px, rgba(0, 0, 0, 0.04) 0px 8px 16px -4px;
  --shadow-l: 0 14px 62px 0 #00000040;
  --shadow-tactile: rgba(0, 0, 0, 0.04) 0px 2px 8px -2px, rgba(var(--mono-rgb-100), 0.04) 0px 2px 4px -2px;

  --anim-speed-modifier: 1;
  --anim-motion-baseline: cubic-bezier(0.1, 0, 0.1, 1.25);
  --anim-duration-superfast: calc(80ms * var(--anim-speed-modifier));
  --anim-duration-fast: calc(160ms * var(--anim-speed-modifier));
  --anim-duration-moderate: calc(320ms * var(--anim-speed-modifier));
  --anim-duration-slow: calc(640ms * var(--anim-speed-modifier));

  --icon-stroke-modifier: 1;
  --icon-xs-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-s-stroke-width: calc(2px * var(--icon-stroke-modifier));
  --icon-m-stroke-width: calc(1.75px * var(--icon-stroke-modifier));
  --icon-l-stroke-width: calc(1.75px * var(--icon-stroke-modifier));
  --icon-xl-stroke-width: calc(1.25px * var(--icon-stroke-modifier));

  --density-modifier: 1;
}

.theme-light {
  --color-base-80: #494949;
  --color-base-90: #363636;

  --color-red-rgb: 255, 56, 60;
  --color-red: #ff383c;
  --color-orange-rgb: 255, 141, 40;
  --color-orange: #ff8d28;
  --color-yellow-rgb: 255, 204, 0;
  --color-yellow: #ffcc00;
  --color-green-rgb: 52, 199, 89;
  --color-green: #34c759;
  --color-cyan-rgb: 0, 192, 232;
  --color-cyan: #00c0e8;
  --color-blue-rgb: 0, 136, 255;
  --color-blue: #0088ff;
  --color-purple-rgb: 203, 48, 224;
  --color-purple: #cb30e0;
  --color-pink-rgb: 255, 45, 85;
  --color-pink: #ff2d55;
}
.theme-dark {
  --color-base-80: #c0c0c0;
  --color-base-90: #cdcdcd;

  --color-red-rgb: 255, 66, 69;
  --color-red: #ff4245;
  --color-orange-rgb: 255, 146, 48;
  --color-orange: #ff9230;
  --color-yellow-rgb: 255, 214, 0;
  --color-yellow: #ffd600;
  --color-green-rgb: 48, 209, 88;
  --color-green: #30d158;
  --color-cyan-rgb: 60, 211, 254;
  --color-cyan: #3cd3fe;
  --color-blue-rgb: 0, 145, 255;
  --color-blue: #0091ff;
  --color-purple-rgb: 107, 52, 242;
  --color-purple: #6b34f2;
  --color-pink-rgb: 255, 55, 95;
  --color-pink: #ff375f;
}

@media (prefers-color-scheme: light) {
  body.theme-dark {
    --workspace-background-translucent: var(--background-secondary);
  }
}
@media (prefers-color-scheme: dark) {
  body.theme-light {
    --workspace-background-translucent: var(--background-secondary);
  }
}

body.is-translucent {
  --divider-color: var(--background-modifier-border) !important;
}

body:not(.is-mobile) {
  .workspace,
  .app-container {
    transition: var(--anim-duration-moderate);
  }

  .app-container {
    align-items: center;
    background: var(--background-secondary);
  }
}

body:not(.accented-interface) {
  --interactive-accent: rgb(var(--mono-rgb-100));
  --interactive-accent-hover: rgba(var(--mono-rgb-100), 0.8);
  --text-on-accent: var(--color-base-00);
  --text-on-accent-inverted: var(--color-base-00);
}

body.is-frameless:not(.is-hidden-frameless, .is-fullscreen) .titlebar {
  background-color: var(--background-secondary);
}
body.window-title-off .titlebar-text {
  display: none;
}
