/* @settings

name: Cupertino
id: cupertino
settings:
    -
        id: material-off
        title: Disable Android mode
        description: Turn off Material styling on Android.
        type: class-toggle
    -
        id: windows-mode-off
        title: Disable Windows mode
        description: Turn off Fluent styling on Windows.
        type: class-toggle
    -
        id: cupertino-desc
        description: Most of the settings are for **turning off** Cupertino customizations. You don't need to change anything if you want to keep all default Cupertino optimizations.
        type: info-text
        markdown: true
    -
        id: active-line-off
        title: Disable active editing line highlight
        type: class-toggle
    -
        id: center-tabs-off
        title: Disable centered tabs
        type: class-toggle
    -
        id: hide-frontmatter-off
        title: Disable compact properties
        type: class-toggle
    -
        id: mode-highlight-off
        title: Disable editing mode indicator
        type: class-toggle
    -
        id: hide-embed-title-off
        title: Disable hiding embed title
        type: class-toggle
    -
        id: clean-link-off
        title: Disable clean link style
        type: class-toggle
    -
        id: full-width-off
        title: Disable full width elements
        type: class-toggle
    -
        id: compact-mode
        title: Compact list view
        type: class-toggle
    -
        id: desktop-header
        title: Desktop
        type: heading
        level: 1
    -
        id: accented-frame-opacity
        title: Accented window
        description: Higher value might impact contrast.
        type: variable-number-slider
        default: 0
        min: 0
        max: 100
        step: 5
    -
        id: hide-nav-header-off
        title: Disable compact panel actions
        type: class-toggle
    -
        id: hide-status-off
        title: Disable compact status bar
        type: class-toggle
    -
        id: image-zoom-off
        title: Disable image zoom
        type: class-toggle
*/

body {
  --anim-motion-cupertino: cubic-bezier(0.32, 0.72, 0, 1);
  --anim-motion-liquid: cubic-bezier(0.2, 1, 0.5, 2);
  --background-modifier-border: var(--divider-color);
  --background-modifier-border-focus: hsla(var(--interactive-accent-hsl), 0.5);
  --background-modifier-message: var(--background-secondary);
  --background-modifier-hover: rgba(var(--mono-rgb-100), 0.05);
  --bold-modifier: 300;
  --border-width: 0.3px;
  --blockquote-background-color: var(--background-primary-alt);
  --blockquote-border-color: var(--text-faint);
  --blockquote-border-thickness: 6px;
  --blockquote-color: var(--text-muted);
  --blur-s: blur(4px) saturate(1.5) brightness(1.1);
  --blur-m: blur(8px) saturate(1.5) brightness(1.1);
  --blur-l: blur(16px) saturate(1.5) brightness(1.1);
  --caret-color: var(--text-accent);
  --callout-padding: 16px;
  --callout-radius: var(--radius-s);
  --checkbox-radius: var(--radius-xl);
  --code-border-width: var(--border-width);
  --code-white-space: pre-wrap;
  --code-size: var(--font-smaller);
  --code-background: var(--background-primary-alt);
  --code-normal: var(--text-muted);
  --code-comment: var(--text-faint);
  --code-function: var(--color-orange);
  --code-important: var(--color-orange);
  --code-keyword: var(--color-red);
  --code-property: var(--color-blue);
  --code-punctuation: var(--text-muted);
  --code-string: var(--color-cyan);
  --code-tag: var(--color-red);
  --code-value: var(--color-purple);
  --divider-color: rgba(var(--mono-rgb-100), 0.1) !important;
  --divider-color-hover: var(--text-faint);
  --dropdown-background-size: var(--icon-s);
  --dropdown-padding: 4px 16px 4px 8px;
  --embed-background: var(--background-secondary);
  --embed-border-start: none;
  --embed-block-shadow-hover: none;
  --embed-padding: 16px;
  --font-text-theme: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
  --font-interface-theme: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
  --file-header-border: none;
  --highlight-mix-blend-mode: none !important;
  --hr-color: var(--background-modifier-hover);
  --icon-opacity: 1;
  --inline-title-size: 2em;
  --input-height: 24px;
  --input-radius: var(--radius-s);
  --interactive-hover: var(--interactive-normal) !important;
  --interactive-accent-clear: rgb(from var(--interactive-accent) r g b / 35%);
  --line-height-normal: 1.6;
  --list-spacing: 0.2em;
  --metadata-gap: 0;
  --metadata-padding: 0;
  --metadata-input-height: var(--input-height) !important;
  --metadata-property-radius: var(--radius-m) !important;
  --metadata-property-radius-hover: var(--metadata-property-radius);
  --metadata-property-radius-focus: var(--metadata-property-radius);
  --modal-border-color: rgba(255, 255, 255, 0.1);
  --nav-item-color: var(--color-base-100);
  --nav-item-padding: 8px 8px 8px 24px;
  --prompt-border-color: var(--modal-border-color);
  --clickable-icon-radius: 100vh;
  --radius-l: 20px;
  --radius-m: 12px;
  --radius-s: 6px;
  --radius-xl: 32px;
  --ribbon-background-collapsed: transparent;
  --ribbon-background: transparent;
  --ribbon-padding: 4px 8px;
  --ribbon-width: 56px;
  --search-icon-size: var(--icon-s);
  --slider-thumb-border-width: 0;
  --slider-thumb-height: 18px;
  --slider-thumb-width: 28px;
  --slider-thumb-radius: var(--toggle-thumb-radius);
  --slider-track-height: 6px;
  --slider-track-background: var(--background-modifier-border-hover);
  --tab-background-active: var(--background-primary-alt);
  --tab-container-background: transparent;
  --tab-divider-color: transparent;
  --tab-outline-width: 0;
  --tab-radius-active: var(--radius-s);
  --tab-radius: var(--radius-s);
  --tab-width: 100px;
  --table-column-first-border-width: 0;
  --table-column-last-border-width: 0;
  --table-header-border-width: 0;
  --table-header-weight: var(--font-weight);
  --table-row-last-border-width: 0;
  --text-highlight-bg: rgba(var(--color-orange-rgb), 0.25);
  --text-selection: var(--background-modifier-hover);
  --titlebar-background-focused: transparent;
  --titlebar-background: transparent;
  --toggle-border-width: 1.5px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);
  --toggle-thumb-height: 13px;
  --toggle-thumb-width: 21px;
  --toggle-width: 36px;
  --view-header-height: 48px;
  --workspace-background-translucent: rgb(from var(--background-primary) r g b / 75%);

  &.theme-light {
    --background-modifier-cover: rgba(170, 170, 170, 0.6);
    --background-modifier-border-hover: var(--color-base-25);
    --color-base-80: #494949;
    --color-base-90: #363636;
    --color-red-rgb: 255, 59, 48;
    --color-red: #ff3b30;
    --color-orange-rgb: 255, 149, 0;
    --color-orange: #ff9500;
    --color-yellow-rgb: 255, 204, 0;
    --color-yellow: #ffcc00;
    --color-green-rgb: 40, 205, 65;
    --color-green: #28cd41;
    --color-cyan-rgb: 85, 190, 240;
    --color-cyan: #55bef0;
    --color-blue-rgb: 0, 122, 255;
    --color-blue: #007aff;
    --color-purple-rgb: 175, 82, 222;
    --color-purple: #af52de;
    --color-pink-rgb: 255, 45, 85;
    --color-pink: #ff2d55;
    --modal-background: rgb(from var(--background-secondary) r g b / 75%) !important;
    --interactive-normal: var(--color-base-25);
    --input-shadow: inset 0 -0.15px 0 0.5px rgba(0, 0, 0, 0.2), 0 1px 1.5px 0 rgba(0, 0, 0, 0.03), 0 0.3px 0.5px 0 rgba(0, 0, 0, 0.1) !important;

    --code-normal: #383a42;
    --code-comment: #b6b9c5;
    --code-function: #b76b02;
    --code-important: #b76b02;
    --code-keyword: #e45749;
    --code-property: #62afef;
    --code-punctuation: #383a42;
    --code-string: #0d97b3;
    --code-tag: #e45749;
    --code-value: #a626a4;

    --shadow-base: inset 0 1px 2px rgba(255, 255, 255, 0.75), inset 0 -2px 1px -2px rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.075), 0 1px 8px rgba(0, 0, 0, 0.05);
    --shadow-invert-base: inset 0 2px 1px -2px rgba(255, 255, 255, 0.75), inset 0 -1px 2px rgba(255, 255, 255, 0.75), 0 1px 2px rgba(0, 0, 0, 0.075), 0 1px 8px rgba(0, 0, 0, 0.05);
    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(96, 96, 96, 0.05);
    --shadow-s: inset 0 0 0 var(--border-width) var(--divider-color), var(--shadow-base), 0 6px 14px rgba(0, 0, 0, 0.08);
    --shadow-l: inset 0 0 0 var(--border-width) var(--divider-color), var(--shadow-base), 0 11px 34px rgba(0, 0, 0, 0.2);
    --shadow-invert-xs: var(--shadow-invert-base), inset 0 8px 48px rgba(96, 96, 96, 0.05);
    --shadow-invert-s: var(--shadow-invert-base), 0 6px 14px rgba(0, 0, 0, 0.08);
    --shadow-invert-l: var(--shadow-invert-base), 0 11px 34px rgba(0, 0, 0, 0.2);
  }

  &.theme-dark {
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --color-base-80: #c0c0c0;
    --color-base-90: #cdcdcd;
    --color-red-rgb: 255, 69, 58;
    --color-red: #ff453a;
    --color-orange-rgb: 255, 159, 10;
    --color-orange: #ff9f0a;
    --color-yellow-rgb: 255, 214, 10;
    --color-yellow: #ffd60a;
    --color-green-rgb: 50, 215, 75;
    --color-green: #32d74b;
    --color-cyan-rgb: 90, 200, 245;
    --color-cyan: #5ac8f5;
    --color-blue-rgb: 10, 132, 255;
    --color-blue: #0a84ff;
    --color-purple-rgb: 191, 90, 242;
    --color-purple: #bf5af2;
    --color-pink-rgb: 255, 55, 95;
    --color-pink: #ff375f;
    --modal-background: rgb(from var(--color-base-00) r g b / 90%) !important;
    --interactive-normal: var(--color-base-40);
    --input-shadow: inset 0 0.5px 0px 0px rgba(255, 255, 255, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1) !important;

    --code-normal: #abb2bf;
    --code-comment: #5c6370;
    --code-function: #d19a66;
    --code-important: #d19a66;
    --code-keyword: #e16d76;
    --code-property: #62afef;
    --code-punctuation: #abb2bf;
    --code-string: #58b6c2;
    --code-tag: #e16d76;
    --code-value: #c678de;

    --shadow-base: inset 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(255, 255, 255, 0.1), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-invert-base: inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-xs: inset 0 8px 48px rgba(255, 255, 255, 0.08), var(--shadow-base);
    --shadow-s: inset 0 0 0 var(--border-width) var(--divider-color), var(--shadow-base), 0 6px 14px rgba(0, 0, 0, 0.15);
    --shadow-l: inset 0 0 0 var(--border-width) var(--divider-color), var(--shadow-base), 0 11px 34px rgba(0, 0, 0, 0.5);
    --shadow-invert-xs: inset 0 8px 48px rgba(255, 255, 255, 0.08), var(--shadow-invert-base);
    --shadow-invert-s: var(--shadow-invert-base), 0 6px 14px rgba(0, 0, 0, 0.15);
    --shadow-invert-l: var(--shadow-invert-base), 0 11px 34px rgba(0, 0, 0, 0.5);
  }

  &:not(.is-mobile) {
    --dialog-width: fit-content;
  }

  &:not(.is-phone) {
    --header-height: 56px;
  }

  &.is-mobile {
    --background-modifier-form-field: var(--interactive-normal) !important;
    --divider-color: rgba(var(--mono-rgb-100), 0.1) !important;
    --divider-width: var(--border-width);
    --canvas-dot-pattern: var(--color-base-20);
    --checkbox-size: var(--icon-m);
    --icon-xs-stroke-width: 2px;
    --icon-s-stroke-width: 1.5px;
    --icon-m-stroke-width: 1.5px;
    --icon-l-stroke-width: 1.5px;
    --icon-xl-stroke-width: 1px;
    --input-height: 48px;
    --input-radius: var(--radius-m);
    --mobile-sidebar-width: 100%;
    --mobile-toolbar-height: var(--input-height);
    --modal-background: rgb(from var(--background-secondary) r g b / 75%) !important;
    --nav-item-background-active: var(--color-accent);
    --nav-item-background-selected: var(--color-accent);
    --nav-item-color-active: var(--text-on-accent);
    --nav-item-padding: 16px 20px;
    --radius-l: 32px;
    --radius-m: 24px;
    --radius-s: 16px;
    --radius-xl: 40px;
    --slider-thumb-height: 25px;
    --slider-thumb-y: -10px;
    --slider-thumb-width: 38px;
    --tab-switcher-background: transparent;
    --tab-switcher-menubar-background: var(--tab-switcher-background);
    --tab-switcher-preview-radius: var(--radius-m);
    --toggle-border-width: 2px;
    --toggle-thumb-height: 25px;
    --toggle-thumb-width: 38px;
    --toggle-width: 68px;
    --toolbar-option-width: var(--mobile-toolbar-height);
    --modal-header-height: var(--view-header-height);
    --modal-radius: var(--radius-xl);
    --dropdown-padding: 4px 32px 4px 16px;

    padding: 0;

    &.theme-light {
      --interactive-normal: var(--background-primary);
    }
    &.theme-dark {
      --interactive-normal: var(--background-secondary);
    }
  }

  &.is-phone {
    --file-header-justify: flex-start;
    --mobile-sidebar-max-width: 100%;
    --tab-outline-width: 1px;
    --tab-outline-width: 1px;
    --view-header-height: 44px;
  }

  &.is-tablet {
    --prompt-input-height: 56px;

    .mod-root {
      padding-top: var(--safe-area-inset-top);
    }

    &.show-ribbon {
      --ribbon-width: 52px;
    }
  }

  &:not(.is-focused) {
    --workspace-background-translucent: var(--background-secondary);
  }

  &.is-popout-window {
    --workspace-background-translucent: var(--background-secondary);
  }
}

@media (prefers-color-scheme: light) {
  body.theme-dark {
    --workspace-background-translucent: var(--background-secondary);

    .app-container {
      background-color: var(--background-primary);
    }
  }
}
@media (prefers-color-scheme: dark) {
  body.theme-light {
    --workspace-background-translucent: var(--background-secondary);

    .app-container {
      background-color: var(--background-primary);
    }
  }
}

.app-container {
  transition-delay: 0 !important;
}

body:not(.is-popout-window),
body:not(.is-popout-window) .app-container {
  align-items: center;
}

body:not(.is-mobile) {
  .workspace,
  .workspace-ribbon,
  .workspace-split.mod-root,
  .workspace-split,
  .workspace-tabs .workspace-leaf,
  .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: transparent;
  }

  &:not(.is-translucent) .app-container {
    background-color: var(--background-secondary);
  }

  .app-container::before {
    position: fixed;
    inset: 0;
    background-color: hsla(var(--color-accent-hsl), calc(var(--accented-frame-opacity) * 0.005));
    content: "";
  }

  .workspace-sidedock-vault-profile {
    border: none !important;
    --vault-profile-color: var(--text-muted);
    --icon-color: var(--text-muted);
  }

  &.is-frameless:not(.is-hidden-frameless) .titlebar {
    background-color: var(--background-secondary);
  }

  .titlebar {
    z-index: 1 !important;
    background-color: transparent;
  }
}

body:not(.show-view-header):not(.is-phone) {
  --view-header-height: 0px;

  .view-header {
    display: flex !important;

    > div {
      display: none;
    }
  }
}

body.compact-mode {
  --nav-item-padding: 6px 8px 6px 24px;

  &.is-mobile {
    --nav-item-padding: 12px 20px;
    .nav-files-container .tree-item-icon.collapse-icon {
      right: 16px;
    }
    .suggestion-item {
      padding: 8px 16px !important;
    }
  }
}

body.is-ios .lucide-more-vertical,
body.mod-macos .lucide-more-vertical {
  transform: none;
}
