// Settings
.modal.mod-sidebar-layout {
  backdrop-filter: none;
  background-color: var(--mobile-sidebar-background, var(--background-secondary));

  .vertical-tab-header {
    border-inline-end: none;
    background-color: unset;
    position: relative;
  }
  .horizontal-tab-nav-item,
  .vertical-tab-nav-item,
  .vertical-tab-header-group-title {
    padding: 8px;
  }
  .horizontal-tab-content,
  .vertical-tab-content {
    background-color: transparent;
    scrollbar-gutter: stable;
  }

  .setting-item {
    padding: 16px 0;
  }
  .setting-item-name {
    font-weight: var(--font-medium);
    overflow: visible;
    font-size: calc(var(--font-ui-small) + 1px);
  }
  .setting-item-description {
    word-break: break-word;
  }

  .vertical-tab-nav-item.is-active {
    background-color: var(--nav-item-background-active);
    color: var(--nav-item-color-active);
  }
}

body:not(.is-mobile) .modal.mod-sidebar-layout {
  .vertical-tab-content {
    container-type: inline-size;
  }

  .horizontal-tab-nav-item,
  .vertical-tab-nav-item {
    padding: 6px 8px;
  }

  @container (max-width: 560px) {
    .vertical-tab-content {
      .setting-item-info {
        margin-inline-end: 0;
        width: 100%;
      }
      .setting-item:not(.setting-item-heading) {
        flex-wrap: wrap;
        gap: 8px;
      }
      .setting-item-control {
        gap: 8px;
      }

      button {
        white-space: normal;
      }

      select,
      .dropdown,
      input:not([type="color"]) {
        flex: 1;
        text-overflow: ellipsis;
      }
    }
  }
}

body.is-mobile.theme-light .modal.mod-sidebar-layout {
  --interactive-normal: var(--background-primary);
}

body.is-mobile .modal.mod-sidebar-layout {
  background-color: var(--mobile-sidebar-background);

  .modal-close-button {
    padding: 10px;
  }
  .modal-close-button::before {
    width: var(--icon-m);
    height: var(--icon-m);
    font-size: var(--icon-s);
  }
}

body.is-phone .modal.mod-sidebar-layout {
  .modal-header {
    border-bottom: none;
    padding-top: calc(var(--safe-area-inset-top) + 10px);
  }
  .modal-setting-back-button {
    inset-inline-start: 8px;
    border-radius: 100vh;
  }
  .modal-setting-back-button-icon {
    margin-inline-end: 0;
  }
  .modal-close-button {
    top: var(--safe-area-inset-top);
  }

  .vertical-tab-header,
  .vertical-tab-content {
    background-color: var(--mobile-sidebar-background);
    box-shadow: none;
  }
}
body.is-phone .modal.mod-sidebar-layout:not(.mod-community-modal) {
  .modal-title:not(:has(.modal-setting-back-button)) {
    font-size: 1.5em;
    font-weight: calc(var(--font-weight) + var(--bold-modifier));
    max-width: 100%;
    padding-left: 20px;
  }
}

// Community {
.modal.mod-sidebar-layout.mod-community-modal {
  .modal-sidebar {
    padding: 0;
  }

  .community-modal-controls {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 16px;

    .setting-item {
      padding: 0;
      margin: 0;
    }
    .setting-item:first-child {
      margin-right: auto;

      .setting-item-info {
        display: none;
      }
    }
    .setting-item:nth-last-child(2) {
      margin-right: 40px;
    }
    .community-modal-search-summary {
      display: none;
    }
  }
  .community-item .flair {
    top: 0;
    border-radius: var(--button-radius);
    padding: 4px 8px;
  }
}
body.is-phone .modal.mod-sidebar-layout.mod-community-modal {
  .community-modal-controls {
    padding: 8px 16px;
    background-color: var(--system-status-background);
  }
  .community-modal-controls .setting-item {
    margin-right: unset;
    width: 100%;
  }
  .community-modal-controls .setting-item .setting-item-control {
    margin-top: 0;
  }
}
body.is-tablet .modal.mod-sidebar-layout.mod-community-modal {
  .community-modal-controls {
    padding: 10px;
  }
  .community-modal-controls .setting-item:nth-last-child(2) {
    margin-right: 52px;
  }
}
