body:not(.is-phone) {
  --setting-items-radius: var(--radius-m);
  --setting-items-padding: 16px 16px;
  --setting-group-heading-color: var(--text-faint);
  --setting-group-heading-size: var(--font-ui-small);

  .modal-sidebar {
    --background-modifier-form-field: var(--interactive-normal);
  }

  .modal.mod-sidebar-layout {
    background-color: var(--background-primary);

    .vertical-tab-header {
      border-inline-end: none;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: 8px 12px;
      align-items: center;
    }

    .vertical-tab-content {
      background-color: transparent;
    }

    .setting-item-name {
      overflow: visible;
    }
  }

  .modal.mod-settings {
    .installed-plugins-container .setting-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 1fr;
      gap: 8px;

      .setting-item {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--background-modifier-border);
        border-radius: var(--radius-m);
        background-color: var(--background-primary);
        padding: 16px !important;
        margin: 0px !important;
      }
      .setting-item-info {
        margin-inline-end: 0;
        width: 100%;
      }
      .setting-item-description > div:last-child {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
      }
      .setting-item-control {
        flex: none;
        align-self: flex-end;
      }
    }
  }

  .modal.mod-community-modal {
    .modal-sidebar {
      padding: 0;
    }
    .community-modal-controls {
      display: flex;
      height: auto;
      align-items: center;
      padding: 0 8px;
      width: 100%;
      flex-wrap: wrap;
    }
    .modal-sidebar:not(:only-child) .community-modal-controls .setting-item {
      width: 100%;
      margin-right: 0;
    }
    .community-modal-controls .setting-item {
      margin: 0;
      padding: 8px 0;
      display: flex;
      align-items: center;
    }
    .community-modal-controls .setting-item:first-child {
      margin-right: auto;
    }
    .community-modal-controls .setting-item.mod-toggle {
      margin-right: 48px;
    }
    .community-modal-controls .setting-item:first-child .setting-item-info,
    .community-modal-search-summary {
      display: none;
    }
    .community-modal-search-results {
      gap: 8px;
      padding: 8px;
    }
    .community-item:not(.is-selected) {
      background-color: var(--background-primary);
    }
  }
}

body.is-phone {
  .modal.mod-sidebar-layout {
    box-shadow: none;

    .modal-header {
      padding: 0;
      align-items: center;
      display: inline;
      z-index: 1;
    }
    .modal-title:not(:has(.modal-setting-back-button)) {
      font-size: 1.5em;
      font-weight: calc(var(--font-weight) + var(--bold-modifier));
      max-width: 100%;
      padding-left: 20px;
    }
    .modal-setting-back-button {
      inset-inline-start: 8px;
      bottom: unset;
    }

    .vertical-tab-header-group-title {
      display: none;
    }
  }
  .modal.mod-settings {
    .modal-title {
      margin-top: var(--safe-area-inset-top);
      height: var(--touch-size-m);
    }
  }
  .modal.mod-community-modal {
    .modal-title {
      height: calc(var(--touch-size-m) + 16px);
    }
    .installed-plugins-container .setting-items .setting-item {
      border: none;
    }
  }
}
