body:not(.is-mobile):not(.mod-windows:not(.windows-mode-off)).sidedock-alt {
  --nav-item-color: rgb(var(--mono-rgb-100));
  --nav-item-color-active: var(--text-accent);
  --nav-collapse-icon-color: rgb(var(--mono-rgb-100));

  &.theme-dark {
    --nav-item-background-active: rgba(0, 0, 0, 0.5);
  }

  &:not(.is-translucent).theme-light .app-container {
    background-color: var(--background-primary);
  }
  &:not(.is-translucent).theme-dark div:is(.app-container, .mod-root .view-header, .mod-root .view-content),
  .mod-root .workspace-leaf-content[data-type="markdown"] .view-header::before {
    background-color: var(--color-base-05);
  }

  &.is-popout-window .workspace .mod-root {
    margin-left: 0;
    margin-right: 0;
  }
  &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root {
    margin-left: 0;
    .workspace-tabs.mod-top-left-space .workspace-tab-header-container {
      margin-left: 0;
    }
    .workspace-tabs.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
      padding-left: 0;
    }
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root {
    margin-right: 0;
    .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
      margin-right: 0;
    }
    .workspace-tabs:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
      padding-right: 0;
    }
  }

  .mod-root {
    padding-bottom: 0;

    .workspace-tab-container {
      box-shadow: none;
      outline: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  &:not(.is-focused) .mod-sidedock {
    background-color: var(--color-base-20) !important;
    box-shadow: none !important;
  }
  .mod-sidedock {
    background-color: color-mix(in srgb, var(--background-primary) 98%, var(--color-accent));
  }

  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);
  }
  &.theme-light .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05), 0 4px 32px rgba(0, 0, 0, 0.05);
  }
  &.theme-dark .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid var(--background-modifier-border);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  }
  .mod-sidedock.mod-left-split {
    z-index: var(--layer-sidedock);
    border-radius: var(--radius-window);
    display: flex !important;
    margin: 8px 0 8px 8px;
    height: -webkit-fill-available;

    .workspace-tabs {
      --header-height: 40px;

      .workspace-tab-header-container {
        padding-left: 4px !important;
        padding-right: 4px !important;
      }
      .workspace-tab-header-container-inner {
        margin: 4px 0;
      }
    }

    .workspace-tabs.mod-top-left-space .workspace-tab-header-container {
      padding-left: max(var(--frame-left-space), 4px) !important;
    }
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-inline-start: var(--divider-width) solid var(--divider-color);
  }
}
