.side-dock-settings,
.side-dock-actions {
  gap: 4px;
}

.nav-files-container > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.tree-item-self {
  align-items: center;
  transition: background-color var(--anim-duration-fast);
  margin-bottom: 0;

  &:hover {
    cursor: pointer;
  }
}
.search-results-info .dropdown {
  box-shadow: none !important;
  background-color: transparent;
}
.search-results-children .tree-item-inner {
  color: var(--color-base-100);
}

body:not(.is-mobile) {
  &.show-ribbon .mod-sidedock.mod-left-split .workspace-tabs {
    margin-left: -8px;
  }

  .workspace .workspace-ribbon,
  .workspace .mod-sidedock > .workspace-leaf-resize-handle {
    border: none;
  }

  .workspace-ribbon.mod-left:before {
    display: none;
  }

  .workspace-split.mod-sidedock .workspace-leaf-content > .node-insert-event,
  .workspace-split.mod-sidedock .workspace-leaf-content > .view-content {
    padding: 4px 20px 0;
  }

  .workspace-split.mod-sidedock .workspace-leaf-content > .nav-header {
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .view-content > .node-insert-event {
    padding: 0;
  }

  .search-row {
    margin: 4px 20px;
  }

  .view-content .nav-header {
    padding: 4px 0;
  }

  /* Unfocused window opacity */
  &:not(.is-focused) {
    .workspace-ribbon,
    .mod-sidedock > div,
    .mod-root .workspace-tab-header-container {
      opacity: 0.5;
    }
  }

  /* Auto hide panel actions */
  &:not(.hide-nav-header-off) .mod-sidedock .workspace-leaf-content > .nav-header,
  &:not(.hide-nav-header-off) .mod-sidedock .workspace-leaf-content:not([data-type="zotero-annotation-view"]) > .view-content > .nav-header {
    .nav-buttons-container,
    .nav-action-button,
    .nav-action-button::after,
    svg.svg-icon {
      transition: var(--anim-duration-fast) !important;
    }

    &:not(:hover):not(:has(.has-active-menu)) .nav-buttons-container {
      gap: 4px;
      background-color: transparent;
      padding: 0;
      box-shadow: none;

      .nav-action-button {
        flex-grow: 0;
        background-color: var(--background-modifier-hover);
        padding: 2px;
        width: unset;
        height: unset;
        opacity: 1;
      }
      .nav-action-button::after {
        width: 0;
        height: 0;
      }
      svg.svg-icon {
        --icon-size: 0px;
      }
    }

    &:hover .nav-action-button {
      padding: 8px !important;
    }
  }

  &.hide-nav-header-off {
    .nav-buttons-container {
      border-radius: calc(var(--clickable-icon-radius) + 2px);
      background-color: var(--background-modifier-hover);
      padding: 2px;
      box-shadow: none;
      width: 100%;
    }
    .nav-action-button {
      flex-grow: 1;
    }
  }

  /* Panel actions style */
  .nav-buttons-container {
    border-radius: 100vh;
    background-color: var(--modal-background);
    padding: 4px;
    box-shadow: var(--shadow-s);
    width: fit-content;
    gap: 0;
  }
  .nav-action-button {
    position: relative;
    height: 100%;
  }
  .nav-action-button.is-active,
  .nav-action-button.is-active:hover {
    background-color: var(--interactive-normal);
    color: var(--icon-color);
  }
  .nav-header .search-input-container {
    margin: 8px auto;
    width: 100%;
  }

  /* Hide indent line */
  .tree-item-children {
    margin-bottom: 0;
    border-inline-start: none;
  }
}

body.is-mobile {
  &.theme-light .workspace-drawer {
    background-color: var(--background-secondary);
  }
  &.theme-dark .workspace-drawer {
    background-color: var(--background-primary);
  }

  .workspace-drawer-backdrop {
    background-color: transparent;
  }

  .workspace-drawer {
    border-radius: 0;

    .workspace-drawer-inner {
      background-color: transparent;
      overflow: visible;
      gap: 16px;
    }

    .workspace-drawer-header {
      padding: 0 24px;
    }
    .workspace-drawer-header-left {
      gap: 4px;
    }
    .workspace-drawer-header-info {
      color: var(--text-faint);
      margin: 0;
    }
    .workspace-drawer-header-icon {
      margin: 0;
      width: var(--view-header-height) !important;
      height: var(--view-header-height);
    }

    .workspace-drawer-active-tab-container {
      background-color: transparent;
      gap: 8px;
    }
    .workspace-drawer-active-tab-header {
      margin: 0 20px;
      background-color: var(--background-modifier-hover);
      padding: 0;
      width: fit-content;
    }
    .workspace-drawer-active-tab-title {
      margin-left: 20px;
    }
    .workspace-drawer-active-tab-chevron {
      margin-right: 4px;
    }

    .view-content {
      padding: 0 20px 96px;
      overflow: auto;
    }
    .view-content > div:not(.nav-header):not(:empty) {
      border-radius: var(--input-radius);
      background-color: var(--interactive-normal);

      &:not(.node-insert-event) {
        padding: 8px 20px;
      }
    }

    .search-row {
      margin: 4px 20px;
    }
    .search-result-file-title {
      color: var(--color-base-100);
    }
    .search-result-file-matches {
      margin: 0;
      box-shadow: none;
      border: var(--border-width) solid var(--background-modifier-border);
    }
    .search-result-file-match {
      padding: 16px;
    }
  }

  .nav-files-container {
    padding: 0 20px 8px !important;

    & > div {
      gap: 0;
      margin-bottom: 80px;
      border-radius: var(--input-radius);
      background-color: var(--interactive-normal);

      > .tree-item {
        &:nth-child(2) > .tree-item-self {
          border-top-right-radius: var(--input-radius);
          border-top-left-radius: var(--input-radius);
        }
        &:last-child > .tree-item-self {
          border-bottom-right-radius: var(--input-radius);
          border-bottom-left-radius: var(--input-radius);
        }
      }
    }
    .tree-item {
      position: relative;
      border-radius: 0;
    }
    .tree-item:not(:last-child)::before {
      position: absolute;
      left: 20px;
      right: 0;
      bottom: 0;
      border-bottom: var(--border-width) solid var(--background-modifier-border);
      content: "";
    }
    .tree-item-self {
      border-radius: 0;
      padding-inline-end: 20px;
    }
    .tree-item-self:focus-within {
      color: var(--nav-item-color);
    }
    .tree-item-children {
      position: relative;
      margin-bottom: 0;
      border-inline-start: none;
    }
    .tree-item-children::before {
      position: absolute;
      left: 10px;
      top: 0;
      right: 0;
      border-top: var(--border-width) solid var(--background-modifier-border);
      width: 100%;
      content: "";
      width: calc(100% - 10px);
    }
    .tree-item-icon.collapse-icon {
      right: 20px;
      margin-inline-start: unset;
    }
  }

  .empty-state {
    background-color: transparent !important;
  }
}

body.is-tablet {
  &.theme-dark .workspace-drawer {
    background-color: var(--background-primary-alt);
  }

  .workspace-drawer {
    &.is-pinned {
      border-color: var(--hr-color);
      background-color: var(--background-primary);
      padding-top: calc(var(--safe-area-inset-top) + 16px);
    }
  }

  .side-dock-ribbon {
    padding-left: 12px;
  }

  .side-dock-actions {
    padding: 0;
  }
}
