/*!
/* @settings

name: Cupertino
id: cupertino
settings:
    - 
        id: cupertino-desc
        description: "Cupertino offers simplified, native-style UI. For granular controls, try [Baseline](obsidian://show-theme?name=Baseline)."
        type: info-text
        markdown: true
    -
        id: adaptive-mode-off
        title: Disable adaptive mode
        description: Prevent automatic styling based on operating system.
        type: class-toggle
    -
        id: active-line-off
        title: Disable active line highlight
        type: class-toggle
    -
        id: tab-floating-center-off
        title: Disable centered tabs
        type: class-toggle
    -
        id: desktop-header
        title: Desktop
        type: heading
        level: 1
        collapsed: true
    -
        id: hover-ribbon
        title: Hover ribbon
        description: Reveal ribbon by hovering over left window edge.
        type: class-toggle
        addCommand: true
    -
        id: hover-sidedock
        title: Hover sidebars
        description: Reveal collapsed sidebars by hovering over window edges.
        type: class-toggle
        addCommand: true
    -
        id: focus-view
        title: Focus view
        description: Hide tabs and table title bar when both sidebars are collapsed.
        type: class-toggle
        addCommand: true
    -
        id: nav-action-center
        title: Disable compact panel actions
        type: class-toggle
    -
        id: tab-icon
        title: Disable compact sidebar tabs
        type: class-toggle
    -
        id: status-bar-baseline
        title: Disable compact status bar
        type: class-toggle
    -
        id: zoom-off
        title: Disable media zoom
        type: class-toggle
    -
        id: editor
        title: Editor
        type: heading
        level: 1
        collapsed: true
    -
        id: banner-off
        title: Disable banner
        type: class-toggle
    -
        id: block-width-off
        title: Disable block width
        type: class-toggle
    -
        id: media-muted-off
        title: Disable dark mode media dimming
        type: class-toggle
    -
        id: font-variant-off
        title: Disable font variants
        type: class-toggle
    -
        id: full-width-media-off
        title: Disable full-width elements
        type: class-toggle
    -
        id: mode-switcher-off
        title: Disable quick mode switcher
        type: class-toggle
    -
        id: accessibility
        title: Accessibility
        type: heading
        level: 1
        collapsed: true
    -
        id: reduce-contrast-change
        title: Reduce contrast change
        description: Minimize contrast shifts when window loses focus.
        type: class-toggle
    -
        id: reduce-motion
        title: Reduce motion
        description: Minimize animation effects throughout the app.
        type: class-toggle
    -
        id: clean-link-off
        title: Underlined links
        description: Always underline links for improved visibility.
        type: class-toggle
*/

.view-content .style-settings-container .style-settings-container .setting-item {
  align-items: center;
  padding: 16px;

  &:not(.setting-item-heading) {
    flex-direction: row;
  }

  .setting-item-control {
    padding-top: 0;
  }
}
.style-settings-heading:not(.is-collapsed) {
  border-bottom: none;
}
.style-settings-heading,
.style-settings-container {
  margin-block: 0 !important;
  padding-left: 32px;
}
.style-settings-heading {
  border-radius: 0;
  padding: 16px !important;
}
.style-settings-heading .setting-item-name {
  color: var(--text-normal) !important;
}

.style-settings-container .setting-item {
  margin-bottom: 0;
  border-radius: 0;
}
.style-settings-container .setting-item-description > div:last-child {
  display: none;
}
.style-settings-container .setting-item:not(.style-settings-heading) > .setting-item-control {
  min-height: var(--input-height);
}
.style-settings-container .setting-item:nth-child(1 of .setting-item:not(.setting-item-heading)) {
  border-top-right-radius: var(--setting-items-radius);
  border-top-left-radius: var(--setting-items-radius);
}
.style-settings-container .setting-item:nth-last-child(1 of .setting-item:not(.setting-item-heading)) {
  border-bottom-right-radius: var(--setting-items-radius);
  border-bottom-left-radius: var(--setting-items-radius);
}
