/*!
/* @settings

name: Cupertino
id: cupertino
settings:
    -
        id: cupertino-desc
        description: All following settings are for **turning off** Cupertino customizations. You don't need to change anything if you want to keep all default Cupertino optimizations.
        type: info-text
        markdown: true
    -
        id: windows-header
        title: Windows
        type: heading
        level: 1
    -
        id: windows-off
        title: Disable Windows mode
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: android-header
        title: Android
        type: heading
        level: 1
    -
        id: android-off
        title: Disable Android mode
        description: Turn off Android specific styling.
        type: class-toggle
    -
        id: cupertino-header
        title: Workspace
        type: heading
        level: 1
    -
        id: layout-cupertino
        title: Disable floating sidebar
        type: class-toggle
    -
        id: layout-macos-tint-off
        title: Disable sidebar tinting
        type: class-toggle
    -
        id: editor-header
        title: Editor
        type: heading
        level: 1
    -
        id: active-line-off
        title: Disable active editing line highlight
        type: class-toggle
    -
        id: block-width-off
        title: Disable block width
        type: class-toggle
    -
        id: center-tabs-off
        title: Disable centered tabs
        type: class-toggle
    -
        id: clean-link-off
        title: Disable clean link style
        type: class-toggle
    -
        id: media-dimming-off
        title: Disable dark mode media dimming
        type: class-toggle
    -
        id: font-variant-off
        title: Disable font variants
        type: class-toggle
    -
        id: full-width-media-off
        title: Disable full width elements
        type: class-toggle
    -
        id: metadata-heading-off
        title: Disable simplified properties
        type: class-toggle
    -
        id: mode-switcher-off
        title: Disable quick mode switcher
        type: class-toggle
    -
        id: desktop-header
        title: Desktop
        type: heading
        level: 1
    -
        id: compact-actions-off
        title: Disable compact panel actions
        type: class-toggle
    -
        id: compact-status-bar-off
        title: Disable compact status bar
        type: class-toggle
    -
        id: zoom-off
        title: Disable media zoom
        type: class-toggle
*/

/*!
/* @settings

name: Cupertino Accessibility
id: cupertino-accessibility
settings:
	-
		id: reduce-contrast-change
		title: Reduce contrast change
		description: Minimizes contrast changes and color flashing when Obsidian is unfocused
		type: class-toggle
		default: false
	-
		id: reduce-motion
		title: Reduce motion
		description: Minimizes animation effects across the interface
		type: class-toggle
		default: false
*/

.view-content .style-settings-container .style-settings-container .setting-item {
  padding: 16px;
  align-items: center;

  &:not(.setting-item-heading) {
    flex-direction: row;
  }

  .setting-item-control {
    padding-top: 0;
  }
}
.style-settings-heading:not(.is-collapsed) {
  border-bottom: none;
}
.style-settings-heading,
.style-settings-container {
  padding-left: 32px;
  margin-block: 0 !important;
}
.style-settings-heading {
  padding: 16px !important;
  border-radius: 0;
}
.style-settings-heading .setting-item-name {
  color: var(--text-normal) !important;
}

.style-settings-container .setting-item {
  border-radius: 0;
  margin-bottom: 0;
}
.style-settings-container .setting-item:nth-child(1 of .setting-item:not(.setting-item-heading)) {
  border-top-left-radius: var(--setting-items-radius);
  border-top-right-radius: var(--setting-items-radius);
}
.style-settings-container .setting-item:nth-last-child(1 of .setting-item:not(.setting-item-heading)) {
  border-bottom-left-radius: var(--setting-items-radius);
  border-bottom-right-radius: var(--setting-items-radius);
}
.style-settings-container .themed-color-wrapper > div {
  background-color: transparent;
  color: var(--color-base-100);
  gap: 8px;

  .pickr-reset > button {
    color: var(--color-base-100);
    background-color: var(--color-base-10);
    margin: 0;
  }
}
.themed-color-wrapper {
  display: flex;
}
.themed-color-wrapper > div + div {
  margin-top: 0;
}

.style-settings-container .pickr .pcr-button {
  box-shadow: none;

  &::before {
    background: var(--color-base-50);
    border-radius: var(--button-radius);
  }

  &::after {
    border-radius: var(--button-radius);
  }
}

body.layout-cupertino .style-settings-container .setting-item[data-id="layout-macos-tint-off"] {
  pointer-events: none;

  > * {
    opacity: 0.5;
  }
}

body.is-android:not(.android-off) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="cupertino-header"],
  .style-settings-heading[data-id="cupertino-header"] + .style-settings-container {
    display: none;
  }
}

body:not(.mod-windows) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="windows-header"],
  .style-settings-heading[data-id="windows-header"] + .style-settings-container {
    display: none;
  }
}

body:not(.is-android) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="android-header"],
  .style-settings-heading[data-id="android-header"] + .style-settings-container {
    display: none;
  }
}
