/*!
/* @settings

name: Cupertino
id: cupertino
settings:
    -
        id: cupertino-desc
        description: All following settings are for **turning off** Cupertino customizations. You don't need to change anything if you want to keep all default Cupertino optimizations.
        type: info-text
        markdown: true
    -
        id: cupertino-header
        title: Cupertino
        type: heading
        level: 1
    -
        id: liquid-glass-off
        title: Disable floating sidebar
        type: class-toggle
    -
        id: liquid-glass-tint-off
        title: Disable sidebar tinting
        type: class-toggle
    -
        id: windows-header
        title: On Windows
        type: heading
        level: 1
    -
        id: windows-off
        title: Disable Windows mode
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: android-header
        title: On Android
        type: heading
        level: 1
    -
        id: android-off
        title: Disable Android mode
        description: Turn off Android specific styling.
        type: class-toggle
    -
        id: editor-header
        title: Editor
        type: heading
        level: 1
    -
        id: active-line-off
        title: Disable active editing line highlight
        type: class-toggle
    -
        id: block-width-off
        title: Disable block width
        type: class-toggle
    -
        id: center-tabs-off
        title: Disable centered tabs
        type: class-toggle
    -
        id: clean-link-off
        title: Disable clean link style
        type: class-toggle
    -
        id: full-width-media-off
        title: Disable full width elements
        type: class-toggle
    -
        id: font-variant-off
        title: Disable font variants
        type: class-toggle
    -
        id: media-dimming-off
        title: Disable dark mode media dimming
        type: class-toggle
    -
        id: empty-state-off
        title: Disable new tab styling
        type: class-toggle
    -
        id: desktop-header
        title: Desktop
        type: heading
        level: 1
    -
        id: compact-actions-off
        title: Disable compact panel actions
        type: class-toggle
    -
        id: compact-status-bar-off
        title: Disable compact status bar
        type: class-toggle
    -
        id: zoom-off
        title: Disable media zoom
        type: class-toggle
*/

.vertical-tab-content > div > .setting-item-heading:not(.is-collapsed) {
  border-bottom: 0;
}
.style-settings-heading,
.style-settings-container {
  padding-left: 32px;
  margin-block: 0 !important;
}
.style-settings-heading {
  padding: 16px var(--side-padding) !important;
}
.style-settings-heading .setting-item-name {
  color: var(--text-normal) !important;
}

body.is-android:not(.android-off) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="cupertino-header"],
  .style-settings-heading[data-id="cupertino-header"] + .style-settings-container {
    display: none;
  }
}

body:not(.mod-windows) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="windows-header"],
  .style-settings-heading[data-id="windows-header"] + .style-settings-container {
    display: none;
  }
}

body:not(.is-android) .style-settings-heading[data-id="cupertino"] + .style-settings-container {
  .style-settings-heading[data-id="android-header"],
  .style-settings-heading[data-id="android-header"] + .style-settings-container {
    display: none;
  }
}
