/*!
/* @settings

name: Cupertino
id: cupertino
settings:
    -
        id: windows-off
        title: ADAPTIVE MOVE
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: windows-off
        title: FOCUS MODE
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: windows-off
        title: HOVER SIDEDOCK
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: cupertino-desc
        description: All following settings are for **turning off** Cupertino customizations. You don't need to change anything if you want to keep all default Cupertino optimizations.
        type: info-text
        markdown: true
    -
        id: windows-header
        title: Windows
        type: heading
        level: 1
    -
        id: windows-off
        title: Disable Windows mode
        description: Turn off Windows specific styling.
        type: class-toggle
    -
        id: android-header
        title: Android
        type: heading
        level: 1
    -
        id: android-off
        title: Disable Android mode
        description: Turn off Android specific styling.
        type: class-toggle
    -
        id: cupertino-header
        title: Workspace
        type: heading
        level: 1
    -
        id: layout-cupertino
        title: Disable floating sidebar
        type: class-toggle
    -
        id: layout-macos-tint-off
        title: Disable sidebar tinting
        type: class-toggle
    -
        id: editor-header
        title: Editor
        type: heading
        level: 1
    -
        id: active-line-off
        title: Disable active editing line highlight
        type: class-toggle
    -
        id: banner-off
        title: Disable banner
        type: class-toggle
    -
        id: block-width-off
        title: Disable block width
        type: class-toggle
    -
        id: center-tabs-off
        title: Disable centered tabs
        type: class-toggle
    -
        id: clean-link-off
        title: Disable clean link style
        type: class-toggle
    -
        id: media-dimming-off
        title: Disable dark mode media dimming
        type: class-toggle
    -
        id: font-variant-off
        title: Disable font variants
        type: class-toggle
    -
        id: full-width-media-off
        title: Disable full width elements
        type: class-toggle
    -
        id: metadata-heading-off
        title: Disable simplified properties
        type: class-toggle
    -
        id: mode-switcher-off
        title: Disable quick mode switcher
        type: class-toggle
    -
        id: desktop-header
        title: Desktop
        type: heading
        level: 1
    -
        id: compact-actions-off
        title: Disable compact panel actions
        type: class-toggle
    -
        id: compact-status-bar-off
        title: Disable compact status bar
        type: class-toggle
    -
        id: zoom-off
        title: Disable media zoom
        type: class-toggle
*/

/*!
/* @settings

name: Cupertino Accessibility
id: cupertino-accessibility
settings:
	-
		id: reduce-contrast-change
		title: Reduce contrast change
		description: Minimizes contrast changes and color flashing when Obsidian is unfocused
		type: class-toggle
	-
		id: reduce-motion
		title: Reduce motion
		description: Minimizes animation effects across the interface
		type: class-toggle
*/

.view-content .style-settings-container .style-settings-container .setting-item {
  align-items: center;
  padding: 16px;

  &:not(.setting-item-heading) {
    flex-direction: row;
  }

  .setting-item-control {
    padding-top: 0;
  }
}
.style-settings-heading:not(.is-collapsed) {
  border-bottom: none;
}
.style-settings-heading,
.style-settings-container {
  margin-block: 0 !important;
  padding-left: 32px;
}
.style-settings-heading {
  border-radius: 0;
  padding: 16px !important;
}
.style-settings-heading .setting-item-name {
  color: var(--text-normal) !important;
}

.style-settings-container .setting-item {
  margin-bottom: 0;
  border-radius: 0;
}
.style-settings-container .setting-item:nth-child(1 of .setting-item:not(.setting-item-heading)) {
  border-top-right-radius: var(--setting-items-radius);
  border-top-left-radius: var(--setting-items-radius);
}
.style-settings-container .setting-item:nth-last-child(1 of .setting-item:not(.setting-item-heading)) {
  border-bottom-right-radius: var(--setting-items-radius);
  border-bottom-left-radius: var(--setting-items-radius);
}
.style-settings-container .themed-color-wrapper {
  display: flex;

  > div {
    gap: 8px;
    margin-top: 0 !important;
    background-color: transparent;
    color: var(--color-base-100);

    .pickr .pcr-button {
      box-shadow: none;
    }
    .pickr .pcr-button::before {
      border-radius: var(--button-radius);
      background: var(--color-base-50);
    }
    .pickr .pcr-button::after {
      border-radius: var(--button-radius);
    }

    .pickr-reset > button {
      margin: 0;
      background-color: var(--color-base-10);
      color: var(--color-base-100);
    }
  }
}
.style-settings-container .pcr-app.visible {
  box-shadow: var(--shadow-l);
  border-radius: var(--modal-radius);
  background-color: var(--modal-background);
  padding: 8px;

  .pcr-selection .pcr-palette,
  .pcr-selection .pcr-palette::before {
    border-radius: calc(var(--modal-radius) - 8px);
  }
  .pcr-selection .pcr-color-preview {
    margin: 0;
  }

  .pcr-swatches {
    margin: 8px 0;
    padding: 0;

    > button {
      margin: 0;
      box-shadow: none;
      border-radius: 100vh;
    }
    > button.pcr-active {
      box-shadow: 0 0 0 1px white;
      border-radius: 100vh;
    }
  }

  .pcr-interaction {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    margin: 0;
    padding: 0;

    input.pcr-type[value="HEX"],
    input.pcr-type[value="RGB"],
    input.pcr-type[value="HSL"],
    input.pcr-type[value="HEXA"],
    input.pcr-type[value="RGBA"],
    input.pcr-type[value="HSLA"] {
      grid-column: span 2;
    }
    input.pcr-save,
    input.pcr-cancel {
      grid-column: span 3;
    }

    input:focus {
      box-shadow: none;
    }
    input.pcr-result {
      grid-column: span 6;
      margin: 0;
      border-radius: var(--input-radius);
      background: var(--background-modifier-form-field);
      padding: var(--input-padding);
      min-width: unset;
      color: var(--text-normal);
      caret-color: var(--text-normal);
      font-size: var(--font-ui-small);
    }
    input[type="button"] {
      margin: 0;
      box-shadow: var(--input-shadow);
      border-radius: var(--button-radius);
      background-color: var(--interactive-normal);
      padding: 8px 12px;
      color: var(--text-normal);
      font-weight: var(--input-font-weight);
      font-size: var(--font-ui-small);
      font-family: var(--font-interface);
      letter-spacing: normal;
    }
    input.pcr-save {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
    }
  }
}
