body {
  --header-height: 48px;
  --tab-max-width: var(--tab-width);

  --tab-radius: var(--radius-s);
  --tab-radius-active: var(--tab-radius) var(--tab-radius) 0 0;
  --tab-curve: calc(var(--tab-radius) + 4px);

  --tab-outline-width: 0px;
  --tab-divider-color: var(--background-modifier-border);

  --tab-text-align: left;

  --tab-text-color-focused-active: var(--text-normal);
  --tab-text-color-focused-active-current: unset;
}
body:not(.is-mobile) {
  --tab-action-width: 32px;
}
body.is-mobile {
  --header-height: 44px !important;
  --tab-text-color-focused: var(--text-normal);
}
body.is-tablet {
  --header-height: 52px !important;
  --view-header-height: 60px !important;
  --tab-action-width: 44px;
}

// All panels
body:not(.is-phone) .workspace-tab-header-container {
  transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  background-color: transparent;
  border-bottom: none;
}

.sidebar-toggle-button {
  height: 100%;
  padding-bottom: 8px;
  align-items: center;
}
.sidebar-toggle-button .clickable-icon {
  width: fit-content;
  height: fit-content;
}
.workspace-tab-header-inner-icon {
  color: inherit !important;
}

// Editor panel
body:not(.is-phone) .workspace .mod-root {
  .workspace-tab-header-container-inner {
    padding: 8px var(--tab-curve) 0;
    margin: 0 -4px 0 0;
    gap: 8px;
  }

  .workspace-tab-header {
    --tab-outline-width: 0px;
    padding: 0;
  }

  .workspace-tab-header-inner {
    padding-inline-start: 12px;
    padding-inline-end: 8px;
    margin-bottom: 8px;
    height: auto;
  }
  .workspace-tab-header-inner-title {
    line-height: normal;
    text-align: var(--tab-text-align);
  }

  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list {
    display: block;
    align-content: center;
    padding: 4px 0;
    margin: 0;
  }
  .workspace-tab-header-new-tab .clickable-icon,
  .workspace-tab-header-tab-list .clickable-icon {
    height: auto;
    padding: 8px;
  }
}

// Editor panel: Baseline
body.tab-default:is(.layout-cupertino, .layout-macos, .layout-classic, .layout-minimal, .layout-frame, .layout-viewfinder) .mod-root .workspace-tab-header,
body.tab-default.layout-fusion .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root .workspace-tab-header {
  --tab-outline-width: 1px;
}
body.is-tablet:not(.tab-floating, .tab-floating-center, .tab-underline, .tab-underline-accented):not(.layout-macos, .layout-classic, .layout-minimal, .layout-border, .layout-frame, .layout-viewfinder) .workspace-drawer.mod-left.is-pinned + .mod-root .workspace-tab-header-container {
  padding-left: var(--tab-radius);
}

// Editor panel: Floating
body:is(.tab-floating, .tab-floating-center):not(.is-phone) .workspace .mod-root .workspace-tabs:not(.mod-stacked) {
  --tab-radius-active: var(--tab-radius);
  --tab-curve: 0;

  .workspace-tab-header-container-inner {
    padding-bottom: 8px;
    gap: 4px;
    margin: 0;
  }
  .workspace-tab-header {
    padding: 0;
    background-color: var(--background-modifier-hover);
  }
  .workspace-tab-header:not(.is-active):not(:hover) {
    opacity: 0.5;
  }
  .workspace-tab-header-inner {
    padding-inline-start: 12px;
    padding-inline-end: 8px;
    margin-bottom: 0;
  }
}
body:is(.tab-floating, .tab-floating-center).is-tablet {
  --header-height: 60px !important;

  .mod-root .workspace-tabs:not(.mod-stacked) {
    .workspace-tab-header-container-inner {
      padding-block: 0 !important;
    }
    .workspace-tab-header {
      margin-block: 8px;
    }
  }
}

// Editor panel: Floating (Center)
body:not(.is-phone).tab-floating-center .mod-root .workspace-tabs:not(.mod-stacked) {
  container-type: inline-size;

  @container (min-width: 560px) {
    .workspace-tab-header-container-inner {
      flex: 1;
      justify-content: safe center;
      transition:
        padding-left var(--anim-duration-moderate) var(--anim-motion-baseline),
        padding-right var(--anim-duration-moderate) var(--anim-motion-baseline);
    }

    .workspace-tab-header-spacer {
      display: none;
    }
  }
}

body.mod-macos:not(.is-mobile).tab-floating-center {
  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 560px) {
      // Both sidedocks hidden
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-right: calc(var(--frame-left-space) + calc(--tab-action-width) * 2);
      }
      // Left sidedock hidden
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-right: calc(var(--frame-left-space) - var(--tab-action-width));
      }
      // Right sidedock hidden
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 3);
      }
      // Both sidedocks shown
      &:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
    }
  }
}

body:not(.mod-macos):not(.is-mobile).tab-floating-center {
  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 560px) {
      // Both sidedocks hidden
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--frame-right-space) + var(--tab-action-width) * 2);
      }
      // Left sidedock hidden
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
      // Right sidedock hidden
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--frame-right-space) + var(--tab-action-width) * 3);
      }
      // Both sidedocks shown
      &:not(.mod-top-left-space):not(.mod-top-right-space).mod-top .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 3);
      }

      // Left sidedock hidden left split pane
      &:is(.mod-root > .workspace-tabs):not(:only-of-type).mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: var(--tab-action-width);
      }
      // Left split pane & Non-top pane
      &:is(.mod-root > .workspace-tabs):not(:only-of-type):first-of-type:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner,
      &:not(.mod-top) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
    }
  }
}

body.is-tablet.tab-floating-center {
  // Both drawer hidden
  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 560px) {
      // Single pane
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
      // Left pane
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: var(--tab-action-width);
      }
      // Right pane
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 3);
      }
      // Non-top pane
      &:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
    }
  }
  .workspace-drawer.is-pinned.mod-left + .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 560px) {
      // Single pane
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 3);
      }
      // Left pane
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
    }
  }
  .mod-root:has(+ .workspace-drawer.is-pinned.mod-right) .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 560px) {
      // Single pane
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: var(--tab-action-width);
      }
      // Right pane
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2);
      }
    }
  }
}

// Editor panel: Underline
body:not(.is-phone):is(.tab-underline, .tab-underline-accented) .workspace .mod-root .workspace-tabs:not(.mod-stacked) {
  --tab-background-active: transparent;

  .workspace-tab-header-container-inner {
    padding-top: 0;
    gap: 0;
  }
  .workspace-tab-header {
    --tab-background-active: transparent;
    border-bottom: 2px solid transparent;
    padding-top: 8px;
  }
  .workspace-tab-header.is-active {
    border-color: var(--text-muted);
  }
  .workspace-tab-header:not(.is-active):hover {
    border-color: var(--background-modifier-border);

    .workspace-tab-header-inner {
      background-color: transparent;
    }
  }
  .workspace-tab-header-inner {
    margin-bottom: 6px;
  }
}
body:not(.is-phone).tab-underline-accented .workspace .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
  border-color: var(--color-accent);
}

// Editor panel: Tab divider
body:not(.tab-divider):not(.is-phone) .mod-root .workspace-tabs:not(.mod-stacked),
body.tab-divider:is(.tab-floating, .tab-floating-center):not(.is-phone) .mod-root .workspace-tabs:not(.mod-stacked) {
  .workspace-tab-header-inner::after {
    content: none;
  }
}
body.tab-divider.tab-default:not(.is-phone) .mod-root .workspace-tabs:not(.mod-stacked) {
  .workspace-tab-header:has(+ .workspace-tab-header.is-active) .workspace-tab-header-inner::after,
  .workspace-tab-header:last-child .workspace-tab-header-inner::after {
    content: none;
  }
  .workspace-tab-header-inner::after {
    inset-inline-end: -5px;
    width: 2px;
  }
}
body.tab-divider:is(.tab-underline, .tab-underline-accented):not(.is-phone) .mod-root .workspace-tabs:not(.mod-stacked) {
  .workspace-tab-header:last-child .workspace-tab-header-inner::after {
    content: none;
  }
  .workspace-tab-header.is-active .workspace-tab-header-inner::after {
    opacity: 1;
  }
}

// Editor panel: Full width
body.tab-full-width {
  --tab-width: auto;

  .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner {
    flex: 100%;
  }
}

// Editor panel: Stacks
.mod-root .workspace-tabs.mod-stacked .workspace-tab-header-container-inner {
  display: none;
}
.tab-stack-top-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: right;
}
.tab-stack-center {
  --tab-stacked-text-align: center;
}
.tab-stack-center-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: center;
}
.tab-stack-bottom {
  --tab-stacked-text-transform: rotate(180deg);
}
.tab-stack-bottom-flipped {
  --tab-stacked-text-align: right;
}
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner {
  flex-direction: var(--tab-stacked-spine-order);
}

// Editor panel: Tablet fix
body.is-tablet .workspace .mod-root {
  .sidebar-toggle-button {
    padding-left: 0;
  }
  .sidebar-toggle-button .clickable-icon {
    margin: auto 0;
  }
  .workspace-tab-header-tab-list .clickable-icon,
  .workspace-tab-header-new-tab .clickable-icon {
    --icon-size: var(--icon-l);
    --icon-stroke: var(--icon-l-stroke-width);
  }
}

// Side panels
.workspace .mod-sidedock {
  .workspace-tab-header-container,
  .workspace-tab-header,
  .workspace-tab-header div {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }

  .workspace-tab-header-container {
    padding-block: 8px;
    align-items: center;
  }
  .workspace-tab-header-container-inner {
    -webkit-app-region: no-drag;
    padding: 0 8px 0 0;
    margin: 0;
    gap: calc(8px * var(--density-modifier));
    height: 100%;
  }

  .sidebar-toggle-button {
    position: relative !important;
    padding: 0 !important;
    height: fit-content;
  }

  .workspace-tab-header {
    height: calc-size(auto, size);
    line-height: normal;
  }
  .workspace-tab-header.is-active {
    background-color: inherit;
    box-shadow: none;
  }
  .workspace-tab-header.is-active:hover {
    background-color: inherit;
  }
  .workspace-tab-header:not(.is-active):not(:hover) {
    opacity: 0.5;
  }
  .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
    background-color: inherit;
  }
  .workspace-tab-header-inner {
    gap: 8px;
  }
}

// Side panels: Labeled tabs
body.tab-top-left-labeled:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space,
body.tab-top-right-labeled:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs.mod-top-right-space,
body.tab-left-labeled:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top),
body.tab-right-labeled:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) {
  --sidebar-tab-text-display: inline-block;

  .workspace-tab-header-container-inner {
    gap: 0;
  }
  .workspace-tab-header-inner {
    width: auto !important;
  }
}

// Side panels: Text tabs
body.tab-top-left-text:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space,
body.tab-top-right-text:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs.mod-top-right-space,
body.tab-left-text:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top),
body.tab-right-text:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) {
  --sidebar-tab-text-display: inline-block;

  .workspace-tab-header-container-inner {
    gap: 0;
  }
  .workspace-tab-header.is-active {
    font-weight: var(--font-medium);
  }
  .workspace-tab-header-inner {
    width: auto !important;
  }
  .workspace-tab-header-inner-icon {
    display: none;
  }
  .workspace-tab-header-inner-title {
    text-transform: capitalize;
  }
}

// Side panels: Stacked tabs
body:is(.tab-top-left-stacked, :not(.css-settings-manager)) .mod-sidedock.mod-left-split .mod-top-left-space {
  --sidebar-tab-text-display: inline-block;

  .workspace-tab-header-container {
    height: fit-content;
    flex-direction: column;
    padding: 0;
  }
  .workspace-tab-header-container-inner {
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 0;
    animation: workspaceLeafIn var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
    padding: 0 8px;
  }
  .workspace-tab-header {
    padding: 8px 12px;
  }
  .workspace-tab-header-inner {
    gap: 8px;
    padding: 0;
    border-radius: 0;
  }
  .workspace-tab-header-spacer {
    display: none;
  }

  .sidebar-toggle-button {
    order: -1;
    margin-left: auto;
    max-height: var(--header-height);
    min-height: var(--header-height);
  }
  .sidebar-toggle-button .clickable-icon {
    margin: 8px;
  }
}
body:is(.tab-top-left-stacked, :not(.css-settings-manager)):not(.mod-macos):not(.layout-border) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner,
body:is(.tab-top-left-stacked, :not(.css-settings-manager)).mod-macos:not(.is-hidden-frameless).show-ribbon .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
  margin-top: 8px;
}

// Side panels: Dropdown tabs
body.tab-top-left-dropdown:is(.layout-macos, .layout-fusion):not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header {
  padding: 0;
}
body.tab-top-left-dropdown:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space,
body.tab-top-right-dropdown:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs.mod-top-right-space,
body.tab-left-dropdown:not(.is-grabbing) .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top),
body.tab-right-dropdown:not(.is-grabbing) .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) {
  --sidebar-tab-text-display: inline-block;

  .workspace-tab-header-container-inner {
    flex-direction: column;
    align-self: flex-start;
    gap: 0 !important;
    z-index: 1;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    border-radius: var(--radius-s);
    background-color: transparent;
    outline: 0px solid transparent;
  }
  .workspace-tab-header {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
    padding: 8px 0;
    height: calc(var(--header-height) - 8px * 2);
    flex-shrink: 0;
  }

  .workspace-tab-header-container-inner:hover {
    height: calc-size(auto, size);
    background-color: var(--interactive-normal);
    outline: 4px solid var(--interactive-normal);
    transition-delay: var(--anim-duration-moderate);

    .workspace-tab-header {
      transition-property: order, opacity;
      transition-delay: var(--anim-duration-moderate), 0s;
    }
  }
  .workspace-tab-header-container-inner:not(:hover) .workspace-tab-header.is-active {
    order: -1;
  }
}

// Side panels: Compact tabs
body:is(.tab-left-compact, :not(.css-settings-manager)) .mod-sidedock.mod-left-split,
body:is(.tab-right-compact, :not(.css-settings-manager)) .mod-sidedock.mod-right-split {
  .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) {
    height: calc-size(auto, size);

    .workspace-tab-header {
      background-color: var(--background-modifier-hover);
      height: 4px;
    }

    .workspace-tab-header-inner-icon,
    .workspace-tab-header-inner-title {
      opacity: 0;
    }
  }
}

// Side panels: Platforms
body:not(.mod-macos).is-hidden-frameless .mod-sidedock .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: var(--frame-right-space);
}

body.mod-macos.is-frameless:not(.is-popout-window) .workspace {
  .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: 8px;
  }

  .mod-root .sidebar-toggle-button.mod-right {
    position: relative;
    padding-right: 0;
  }
}
