body {
  --header-height: 48px;

  --tab-curve: calc(var(--radius-s) + 4px);
  --tab-outline-width: 0px;
  --tab-radius-active: var(--tab-radius) var(--tab-radius) 0 0;

  --tab-text-color-focused: var(--tab-text-color);
}

body.is-phone {
  --header-height: 56px !important;
}
body.is-tablet {
  --header-height: 44px !important;
}

// All panels
body:not(.is-mobile) {
  .workspace-ribbon svg.svg-icon,
  .workspace-tab-header-container svg.svg-icon,
  .mod-root .view-header svg.svg-icon,
  .mod-sidedock .nav-action-button svg.svg-icon {
    margin: -1px;
  }
}

.sidebar-toggle-button {
  height: 100%;
}
.sidebar-toggle-button .clickable-icon {
  width: fit-content;
}

// Editor panel
body:not(.is-mobile) .workspace .mod-root {
  .workspace-tab-header-container {
    padding-top: 8px;
    padding-left: 0;
    background-color: transparent;
  }
  .workspace-tab-header-new-tab .clickable-icon,
  .workspace-tab-header-tab-list .clickable-icon {
    padding: 8px;
  }
}
body:not(.is-mobile) .workspace .mod-root {
  .mod-top-left-space .workspace-tab-header-container-inner {
    padding-left: 8px;
  }
  .workspace-tab-header,
  .sidebar-toggle-button,
  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list {
    padding: 0 0 8px;
  }
}

body:not(.is-phone) .workspace .mod-root {
  .workspace-tab-header-container-inner {
    padding: 0 var(--radius-s) 0 calc(var(--radius-s) + 8px);
    margin: 0;
    gap: 8px;
  }
  .workspace-tab-header-inner {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
  }
  .workspace-tab-header-inner::after {
    content: none;
  }
  .workspace-tab-header-inner-title {
    line-height: normal;
  }

  .sidebar-toggle-button .clickable-icon {
    height: auto;
  }

  .workspace-tab-header-new-tab {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
  .workspace-tab-header-tab-list {
    margin-inline-end: 0;
  }
  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list {
    display: block;
    align-content: center;
  }
  .workspace-tab-header-new-tab .clickable-icon,
  .workspace-tab-header-tab-list .clickable-icon {
    height: auto;
    max-height: 100%;
  }
}

// Editor panel: Floating
body:not(.is-phone).tabs-floating .workspace .mod-root,
body:not(.is-phone).tabs-floating-center .workspace .mod-root {
  --tab-radius-active: var(--tab-radius);
  --tab-curve: 0;

  .workspace-tab-header-container-inner {
    padding: 0 8px 8px;
    gap: 4px;
  }
  .workspace-tab-header {
    padding: 0;
    background-color: var(--background-modifier-hover);
  }
  .workspace-tab-header:not(.is-active):not(:hover) {
    opacity: 0.5;
  }
  .workspace-tab-header-inner {
    padding-inline-start: 12px;
    padding-inline-end: 6px;
  }
}

// Editor panel: Floating (Center)
body:not(.is-phone).tabs-floating-center .mod-root .workspace-tabs:not(.mod-stacked) {
  --tab-max-width: var(--tab-width);
  container-type: inline-size;

  @container (min-width: 480px) {
    .workspace-tab-header-container-inner {
      flex: 1;
      justify-content: safe center;
      transition: padding-left var(--anim-duration-moderate) var(--anim-motion-baseline), padding-right var(--anim-duration-moderate) var(--anim-motion-baseline);
    }

    .workspace-tab-header-spacer {
      display: none;
    }
  }
}

body.mod-macos:not(.is-mobile).tabs-floating-center {
  --tab-action-width: 32px;

  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 480px) {
      // Both sidedocks hidden (Left space - Right initial space)
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-right: calc(calc(var(--frame-left-space) + 8px + var(--tab-action-width) + 8px) - calc(var(--tab-action-width) * 3 + 8px));
      }
      // Left sidedock hidden (Left space - Right initial space)
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-right: calc(calc(var(--frame-left-space) + 8px + var(--tab-action-width) + 8px) - calc(var(--tab-action-width) * 2 + 8px));
      }
      // Right sidedock hidden (Right space + Left initial space)
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--tab-action-width) * 3 + 8px) + 8px);
      }
      // Both sidedocks shown (Right space + Left initial space)
      &:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--tab-action-width) * 2 + 8px) + 8px);
      }
    }
  }
}

body.mod-windows:not(.is-mobile).tabs-floating-center,
body.mod-linux:not(.is-mobile).tabs-floating-center {
  --tab-action-width: 32px;

  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 480px) {
      // Both sidedocks hidden (Right space - Left initial space)
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--frame-right-space) + var(--tab-action-width) * 3 + 8px) - var(--tab-action-width));
      }
      // Left sidedock hidden (Right space - Left initial space)
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(calc(8px + var(--tab-action-width) * 3 + 8px) - calc(8px + var(--tab-action-width)));
      }
      // Right sidedock hidden (Right space + Left initial space)
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--frame-right-space) + var(--tab-action-width) * 3 + 8px) + 8px);
      }
      // Both sidedocks shown (Right space + Left initial space)
      &:not(.mod-top-left-space):not(.mod-top-right-space).mod-top .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--tab-action-width) * 3 + 8px) + 8px);
      }

      // Left sidedock hidden left split pane (Right space - Left initial space)
      &:is(.mod-root > .workspace-tabs):not(:only-of-type).mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(calc(8px + var(--tab-action-width) * 2 + 8px) - calc(8px + var(--tab-action-width)));
      }
      // Left split pane & Non-top pane (Right space + Left initial space)
      &:is(.mod-root > .workspace-tabs):not(:only-of-type):first-of-type:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner,
      &:not(.mod-top) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2 + 8px + 8px);
      }
    }
  }
}

body.is-tablet.tabs-floating-center {
  --tab-action-width: 40px;

  .mod-root .workspace-tabs:not(.mod-stacked) {
    @container (min-width: 480px) {
      // Single pane (Right space - Left initial space)
      &.mod-top-left-space.mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--tab-action-width) * 3 + 8px) - var(--tab-action-width));
      }
      // Left pane (Right space - Left initial space)
      &.mod-top-left-space:not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(calc(var(--tab-action-width) * 2 + 8px) - var(--tab-action-width));
      }
      // Right pane (Right space + Left initial space)
      &:not(.mod-top-left-space).mod-top-right-space .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 3 + 8px + 8px);
      }
      // Non-top pane (Right space + Left initial space)
      &:not(.mod-top-left-space):not(.mod-top-right-space) .workspace-tab-header-container-inner {
        padding-left: calc(var(--tab-action-width) * 2 + 8px + 8px);
      }
    }
  }
}

// Editor panel: Underline
body:not(.is-phone).tabs-underline .workspace .mod-root {
  --tab-background-active: transparent;

  .workspace-tab-header-container-inner {
    padding: 0 0 0 8px;
    gap: 0;
  }
  .workspace-tab-header.is-active {
    border-bottom: 2px solid var(--background-modifier-border-focus);
    padding-top: 1px;
  }
  .workspace-tab-header:not(.is-active):hover {
    border-bottom: 2px solid var(--background-modifier-border);
    padding-top: 1px;

    .workspace-tab-header-inner {
      background-color: transparent;
    }
  }
}

// Editor panel: Stacks
.tab-stack-top-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: right;
}
.tab-stack-center {
  --tab-stacked-text-align: center;
}
.tab-stack-center-flipped {
  --tab-stacked-text-transform: rotate(180deg);
  --tab-stacked-text-align: center;
}
.tab-stack-bottom {
  --tab-stacked-text-transform: rotate(180deg);
}
.tab-stack-bottom-flipped {
  --tab-stacked-text-align: right;
}
.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header-inner {
  flex-direction: var(--tab-stacked-spine-order);
}

// Side panels
.workspace .mod-sidedock {
  .workspace-tab-header-container,
  .workspace-tab-header,
  .workspace-tab-header div {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
  }

  .workspace-tab-header-container {
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    align-items: center;
  }
  .workspace-tab-header-container-inner {
    -webkit-app-region: no-drag;
    padding: 0 8px;
    margin: 0;
    gap: calc(8px * var(--density-modifier));
    height: 100%;
  }

  .sidebar-toggle-button {
    position: relative;
    padding: 0;
  }

  .workspace-tab-header {
    --icon-color: var(--text-faint);
    height: calc-size(auto, size);
    line-height: normal;
  }
  .workspace-tab-header.is-active {
    background-color: inherit;
  }
  .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
    background-color: inherit;
  }
  .workspace-tab-header-inner {
    gap: 8px;
  }

  .workspace-tab-header.is-active .workspace-tab-header-inner-icon {
    color: var(--icon-color-focused);
  }
}

// Side panels: Compact tabs
body:not(.compact-tabs-off) .workspace .mod-sidedock {
  .workspace-tabs:not(.mod-top) .workspace-tab-header-container:not(:hover) {
    height: calc-size(auto, size);

    .workspace-tab-header {
      background-color: var(--background-modifier-hover);
      height: 4px;
    }

    .workspace-tab-header-inner-icon,
    .workspace-tab-header-inner-title {
      opacity: 0;
    }
  }
}

// Side panels: Tab names
body.labeled-tabs-all {
  --sidebar-tab-text-display: flex;
}
body.labeled-tabs-single .workspace-tab-header:only-child {
  --sidebar-tab-text-display: flex;
}

// Side panels: Platforms
body:not(.mod-macos).is-hidden-frameless .mod-sidedock .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: var(--frame-right-space);
}

body.mod-macos.is-frameless:not(.is-popout-window) .workspace {
  .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: 8px;
  }

  .sidebar-toggle-button.mod-right {
    position: relative;
    padding-right: 0;
  }
}

body.is-tablet .workspace .mod-root {
  .workspace-tab-header-container-inner {
    padding: 0 var(--radius-s);
  }
  .sidebar-toggle-button {
    padding-left: 0;
  }
  .sidebar-toggle-button .clickable-icon {
    margin: auto 0;
  }
  .workspace-tab-header-tab-list .clickable-icon,
  .workspace-tab-header-new-tab .clickable-icon {
    --icon-size: var(--icon-l);
    --icon-stroke: var(--icon-l-stroke-width);
  }
}
