/*
Admin
Bradley Wyatt (bwya77)
https://github.com/bwya77/obsidian-baseline-customization/
*/

.theme-light.admin-light.color-scheme-accent,
.theme-dark.admin-dark.color-scheme-accent {
  --accent-h: 206;
  --accent-s: 82%;
  --accent-l: 63%;
}

.theme-light.admin-light {
  --background-secondary: #f3f5f7;

  --text-normal: #2e2e2e;
}

.theme-dark.admin-dark,
.theme-light.admin-light.contrast-light-vivid .workspace::before,
.theme-light.admin-light.contrast-light-vivid div:is(.titlebar, .status-bar, .workspace-ribbon),
.theme-light.admin-light.contrast-light-vivid:is(.layout-cards.stacked-nav-off .mod-sidedock.mod-left-split .workspace-tab-header-container, .layout-border.stacked-nav-off .mod-sidedock.mod-left-split .workspace-tabs.mod-top .workspace-tab-header-container, .layout-cards .mod-sidedock.mod-right-split .workspace-tab-header-container, .layout-border .mod-sidedock.mod-right-split .workspace-tabs.mod-top .workspace-tab-header-container, :not(.layout-cards, .layout-border) .mod-sidedock.mod-left-split, :not(.layout-cards, .layout-border, .layout-minimal) .mod-sidedock.mod-right-split, :not(.layout-minimal) .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner)) {
  --background-primary: #23282e;
  --background-primary-alt: #1c2128;
  --background-secondary: #171b21;
  --background-modifier-hover: #2d343e;

  --interactive-normal: #2d343e;
  --interactive-hover: #23282e;

  --text-normal: #ffffff;
  --text-muted: #b3b3b3;
  --text-faint: #909090;
}
