/*
Adwaita
GNOME Project
https://gitlab.gnome.org/GNOME/libadwaita/
*/

.theme-light.adwaita-light,
.theme-dark.adwaita-dark {
  --background-modifier-border: rgb(from var(--text-normal) r g b / 15%); // --border-color

  --interactive-normal: rgb(from var(--text-normal) r g b / 10%);
  --interactive-hover: rgb(from var(--text-normal) r g b / 15%);

  --menu-border-color: rgb(from var(--text-normal) r g b / 10%);
  --modal-border-color: rgb(from var(--text-normal) r g b / 10%);
  --prompt-border-color: rgb(from var(--text-normal) r g b / 10%);
}
.theme-light.adwaita-light.color-scheme-accent,
.theme-dark.adwaita-dark.color-scheme-accent {
  --accent-h: 213;
  --accent-s: 76%;
  --accent-l: 55%;
}
.theme-light.adwaita-light {
  --color-red-rgb: 237, 51, 59;
  --color-orange-rgb: 255, 120, 0;
  --color-yellow-rgb: 246, 211, 45;
  --color-green-rgb: 46, 194, 126;
  --color-cyan-rgb: 35, 164, 173;
  --color-blue-rgb: 98, 160, 234;
  --color-purple-rgb: 192, 97, 203;
  --color-pink-rgb: 224, 97, 178;

  --color-base-00: #ffffff;
  --color-base-05: #fdfdfc;
  --color-base-10: #fbfafa;
  --color-base-20: #f6f5f4;
  --color-base-25: #eeedeb;
  --color-base-30: #e6e5e3;
  --color-base-35: #deddda;
  --color-base-40: #c0bfbc;
  --color-base-50: #9a9996;
  --color-base-60: #77767b;
  --color-base-70: #5e5c64;
  --color-base-80: #3d3846;
  --color-base-90: #241f31;
  --color-base-100: #000000;

  --mono-rgb-adwaita: 0, 0, 6;

  --background-primary: #fff; // --view-bg-color
  --background-primary-alt: #fff; // --card-bg-color
  --background-secondary: #ebebed; // --sidebar-bg-color
  --background-secondary-alt: #f3f3f5; // --secondary-sidebar-bg-color

  --divider-color: rgba(0, 0, 6, 7%); // --sidebar-border-color

  --text-normal: rgba(var(--mono-rgb-adwaita), 80%);
  --text-muted: rgba(var(--mono-rgb-adwaita), 64%);
  --text-faint: rgba(var(--mono-rgb-adwaita), 48%);

  --menu-background: #fff; // --popover-bg-color
  --modal-background: #fafafb; // --window-bg-background

  &:not(.is-focused):not(.reduce-contrast-change) {
    --background-secondary: #f2f2f4;
  }
}

.theme-light.adwaita-light.contrast-light-vivid:not(.layout-minimal) .app-container {
  --background-secondary: #2e2e32;
}
.theme-light.adwaita-light.contrast-light-vivid:not(.layout-minimal, .layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock, .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner)),
.theme-light.adwaita-light.contrast-light-vivid:is(.layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock),
.theme-light.adwaita-light.contrast-light-vivid.layout-minimal div:is(.workspace-ribbon, .mod-sidedock.mod-left-split),
.theme-dark.adwaita-dark {
  --color-red-rgb: 224, 27, 36;
  --color-orange-rgb: 230, 97, 0;
  --color-yellow-rgb: 245, 194, 17;
  --color-green-rgb: 38, 162, 105;
  --color-cyan-rgb: 33, 144, 164;
  --color-blue-rgb: 53, 132, 228;
  --color-purple-rgb: 145, 65, 172;
  --color-pink-rgb: 213, 97, 170;

  --color-base-100: #ffffff;
  --color-base-90: #fbfafa;
  --color-base-80: #f6f5f4;
  --color-base-70: #e6e5e3;
  --color-base-60: #c0bfbc;
  --color-base-50: #9a9996;
  --color-base-40: #77767b;
  --color-base-35: #6b6970;
  --color-base-30: #5e5c64;
  --color-base-25: #4e4a55;
  --color-base-20: #3d3846;
  --color-base-10: #241f31;
  --color-base-05: #121019;
  --color-base-00: #000000;

  --mono-rgb-adwaita: 255, 255, 255;

  --background-primary: #1d1d20; // --view-bg-color
  --background-primary-alt: rgba(var(--mono-rgb-adwaita), 8%); // --card-bg-color
  --background-secondary: #2e2e32; // --sidebar-bg-color
  --background-secondary-alt: #28282c; // --secondary-sidebar-bg-color

  --divider-color: rgba(0, 0, 6, 36%); // --sidebar-border-color

  --text-normal: rgb(var(--mono-rgb-adwaita));
  --text-muted: rgba(var(--mono-rgb-adwaita), 80%);
  --text-faint: rgba(var(--mono-rgb-adwaita), 55%);

  --menu-background: #36363a; // --popover-bg-color
  --modal-background: #222226; // --window-bg-background

  &:not(.is-focused):not(.reduce-contrast-change) {
    --background-secondary: #28282c;
  }
}
