/* Atom */

.theme-light.atom-light.color-scheme-accent {
  --accent-h: 231;
  --accent-s: 76%;
  --accent-l: 62%;
}
.theme-light.atom-light {
  --color-red-rgb: 228, 87, 73;
  --color-orange-rgb: 183, 107, 2;
  --color-yellow-rgb: 193, 131, 2;
  --color-green-rgb: 80, 161, 80;
  --color-cyan-rgb: 13, 151, 179;
  --color-blue-rgb: 98, 175, 239;
  --color-purple-rgb: 166, 38, 164;
  --color-pink-rgb: 228, 87, 73;

  --background-primary: #fafafa;
  --background-primary-alt: #eaeaeb;
  --background-secondary: #eaeaeb;
  --interactive-normal: rgba(0, 0, 0, 0.1);
  --interactive-hover: rgba(0, 0, 0, 0.15);

  --background-modifier-border: #dbdbdc;
  --background-modifier-border-hover: #d8d8d9;

  --text-normal: #232324;
  --text-muted: #8e8e90;
  --text-faint: #a0a1a8;

  --text-selection: rgba(180, 180, 183, 0.3);
  --text-highlight-bg: rgba(209, 154, 102, 0.35);
}

.theme-dark.atom-dark.color-scheme-accent {
  --accent-h: 220;
  --accent-s: 86%;
  --accent-l: 65%;
}
.theme-light.atom-light.contrast-light-vivid:not(.layout-minimal) .app-container {
  --background-secondary: #21252c;
}
.theme-light.atom-light.contrast-light-vivid:not(.layout-minimal, .layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock, .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner)),
.theme-light.atom-light.contrast-light-vivid:is(.layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock),
.theme-light.atom-light.contrast-light-vivid.layout-minimal div:is(.workspace-ribbon, .mod-sidedock.mod-left-split),
.theme-dark.atom-dark {
  --color-red-rgb: 225, 109, 118;
  --color-orange-rgb: 209, 154, 102;
  --color-yellow-rgb: 206, 193, 103;
  --color-green-rgb: 152, 195, 121;
  --color-cyan-rgb: 88, 182, 194;
  --color-blue-rgb: 98, 175, 239;
  --color-purple-rgb: 198, 120, 222;
  --color-pink-rgb: 225, 109, 118;

  --background-primary: #282c34;
  --background-primary-alt: #21252c;
  --background-secondary: #21252c;
  --interactive-normal: #3a3f4b;
  --interactive-hover: #282c34;

  --divider-color: #181a1f;

  --text-normal: #d8dae1;
  --text-muted: #898f9d;
  --text-faint: #5d6370;

  --text-selection: rgba(114, 123, 141, 0.3);
  --text-highlight-bg: rgba(209, 154, 102, 0.3);
}
