body.is-mobile.theme-dark {
  --system-status-background: black;
  --settings-background: black;
  --modal-sidebar-background: black;
  --mobile-sidebar-background: black;
  --tab-background-active: black;

  --background-primary-alt: var(--color-base-05);
  --background-secondary-alt: var(--color-base-10);
  --background-modifier-border: var(--background-modifier-hover);

  background-color: black;

  &.is-mobile .mod-root .view-header,
  .workspace,
  .mod-root .workspace-tabs .workspace-leaf,
  .mod-root .view-header::before,
  .mod-root .view-content {
    background-color: black !important;
  }
}
