/* Notion */
.theme-light.notion-light.color-scheme-accent,
.theme-dark.notion-dark.color-scheme-accent {
  --accent-h: 217;
  --accent-s: 67%;
  --accent-l: 57%;

  --background-modifier-border-focus: var(--color-accent);

  --interactive-accent: var(--color-accent);
}
.theme-light.notion-light {
  --background-primary-alt: #f9f8f7;
  --background-secondary: #f9f8f7;

  --background-modifier-hover: rgba(0, 0, 0, 0.03);
  --background-modifier-border: #e9e8e5;
  --background-modifier-border-hover: #e6e6e4;

  --text-normal: #2c2c2b;
  --text-muted: #5f5e5b;
  --text-faint: #a8a49c;

  --text-selection: rgba(131, 201, 229, 0.3);
}
.theme-dark.notion-dark,
.theme-light.notion-light.contrast-light-vivid .titlebar,
.theme-light.notion-light.contrast-light-vivid .status-bar,
.theme-light.notion-light.contrast-light-vivid .workspace::before,
.theme-light.notion-light.contrast-light-vivid .workspace-ribbon,
.theme-light.notion-light.contrast-light-vivid.layout-cards.stacked-nav-off .mod-sidedock.mod-left-split .workspace-tab-header-container,
.theme-light.notion-light.contrast-light-vivid.layout-border.stacked-nav-off .mod-sidedock.mod-left-split .workspace-tabs.mod-top .workspace-tab-header-container,
.theme-light.notion-light.contrast-light-vivid.layout-cards .mod-sidedock.mod-right-split .workspace-tab-header-container,
.theme-light.notion-light.contrast-light-vivid.layout-border .mod-sidedock.mod-right-split .workspace-tabs.mod-top .workspace-tab-header-container,
.theme-light.notion-light.contrast-light-vivid:not(.layout-cards, .layout-border) .mod-sidedock.mod-left-split,
.theme-light.notion-light.contrast-light-vivid:not(.layout-cards, .layout-border, .layout-minimal) .mod-sidedock.mod-right-split,
.theme-light.notion-light.contrast-light-vivid:not(.layout-minimal) .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner) {
  --background-primary: #191919;
  --background-primary-alt: #202020;
  --background-secondary: #202020;

  --background-modifier-hover: rgba(255, 255, 255, 0.055);
  --background-modifier-border: #313131;
  --background-modifier-border-hover: #30302e;

  --text-normal: #f0efed;
  --text-muted: #9b9b9b;
  --text-faint: #65645f;
}
