/* Notion */

.theme-light.notion-light.color-scheme-accent,
.theme-dark.notion-dark.color-scheme-accent {
  --accent-h: 217;
  --accent-s: 67%;
  --accent-l: 57%;

  --background-modifier-border-focus: var(--color-accent);

  --interactive-accent: var(--color-accent);
}
.theme-light.notion-light,
.theme-dark.notion-dark {
  --color-red-rgb: 229, 100, 88;
  --color-orange-rgb: 213, 128, 59;
  --color-yellow-rgb: 216, 163, 47;
  --color-green-rgb: 70, 161, 113;
  --color-cyan-rgb: 55, 164, 180;
  --color-blue-rgb: 39, 131, 222;
  --color-purple-rgb: 181, 119, 214;
  --color-pink-rgb: 219, 105, 153;
}

.theme-light.notion-light {
  --background-primary-alt: #f9f8f7;
  --background-secondary: #f9f8f7;

  --background-modifier-hover: rgba(0, 0, 0, 0.03);
  --background-modifier-border: #e9e8e5;
  --background-modifier-border-hover: #e6e6e4;

  --text-normal: #2c2c2b;
  --text-muted: #5f5e5b;
  --text-faint: #a8a49c;

  --text-selection: rgba(131, 201, 229, 0.3);
}
.theme-dark.notion-dark {
  --background-primary: #191919;
  --background-primary-alt: #202020;
  --background-secondary: #202020;

  --background-modifier-hover: rgba(255, 255, 255, 0.055);
  --background-modifier-border: #313131;
  --background-modifier-border-hover: #30302e;

  --text-normal: #f0efed;
  --text-muted: #9b9b9b;
  --text-faint: #65645f;
}
