/* Sky color scheme, inspired by Notion */

.theme-light.sky-light.color-scheme-accent {
  --accent-h: 197;
  --accent-s: 71%;
  --accent-l: 52%;
}
.theme-light.sky-light {
  --background-primary-alt: #f7f6f4;
  --background-secondary: #f7f6f4;
  --interactive-normal: #e8e7e4;
  --interactive-hover: #dbdbda;

  --background-modifier-border: #ededec;
  --background-modifier-border-hover: #dbdbda;
  --background-modifier-border-focus: #aaa9a5;

  --text-normal: #37352f;
  --text-muted: #72706c;
  --text-faint: #aaa9a5;

  --text-selection: rgba(131, 201, 229, 0.3);
}

.theme-dark.sky-dark.color-scheme-accent {
  --accent-h: 197;
  --accent-s: 71%;
  --accent-l: 52%;
}
.theme-light.sky-light.contrast-light-vivid:not(.layout-minimal, .layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock, .mod-root .workspace-tab-header-container > div:not(.workspace-tab-header-container-inner)),
.theme-light.sky-light.contrast-light-vivid:is(.layout-frame, .layout-viewfinder) div:is(.titlebar, .workspace-ribbon, .mod-sidedock),
.theme-light.sky-light.contrast-light-vivid.layout-minimal div:is(.workspace-ribbon, .mod-sidedock.mod-left-split),
.theme-dark.sky-dark {
  --background-primary: #2f3437;
  --background-primary-alt: #373c3f;
  --background-secondary: #373c3f;
  --interactive-normal: #4b5053;
  --interactive-hover: #373c3f;

  --background-modifier-border: #3e4245;
  --background-modifier-border-hover: #585d5f;
  --background-modifier-border-focus: #585d5f;

  --text-normal: #ebebeb;
  --text-muted: #a3a5a9;
  --text-faint: #6d7476;

  --text-selection: rgba(57, 134, 164, 0.3);
}
