/* Things */

.theme-light.things-light.color-scheme-accent {
  --accent-h: 215;
  --accent-s: 76%;
  --accent-l: 43%;
}
.theme-dark.things-dark.color-scheme-accent {
  --accent-h: 215;
  --accent-s: 91%;
  --accent-l: 64%;
}
.theme-dark.things-dark,
.theme-light.things-light {
  --color-red-rgb: 255, 48, 108;
  --color-orange-rgb: 255, 149, 2;
  --color-yellow-rgb: 255, 213, 0;
  --color-green-rgb: 75, 191, 94;
  --color-cyan-rgb: 73, 174, 164;
  --color-purple-rgb: 176, 81, 222;
  --color-pink-rgb: 255, 46, 85;
}
.theme-light.things-light {
  --color-blue-rgb: 27, 97, 194;
}
.theme-dark.things-dark {
  --color-blue-rgb: 77, 149, 247;
}

.theme-light.things-light {
  --background-primary: white;
  --background-primary-alt: #f5f6f8;
  --background-secondary: #f5f6f8;
  --interactive-normal: rgba(162, 177, 187, 0.25);
  --interactive-hover: rgba(162, 177, 187, 0.5);

  --background-modifier-border: #eef0f4;
  --background-modifier-border-hover: #d8dadd;
  --background-modifier-border-focus: #c1c3c6;

  --text-normal: #26272b;
  --text-muted: #7d7f84;
  --text-faint: #a9abb0;

  --text-selection: #cae2ff;
}

.theme-dark.things-dark {
  --background-primary: #24262a;
  --background-primary-alt: #202225;
  --background-secondary: #202225;
  --interactive-normal: #3d3f41;
  --interactive-hover: #202225;

  --divider-color: #17191c;

  --background-modifier-border: #3a3b3f;
  --background-modifier-border-hover: #45464a;
  --background-modifier-border-focus: #6c6e70;

  --text-normal: #fbfbfb;
  --text-muted: #cbcccd;
  --text-faint: #6c6e70;

  --text-selection: rgba(40, 119, 236, 0.35);
}
