body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-xl: 24px;

  --background-modifier-form-field: var(--interactive-normal);

  --button-radius: 8px;
}

.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);

  --background-modifier-form-field: var(--interactive-normal);
}

// Button
button,
.clickable-icon,
select,
.dropdown {
  transition: var(--anim-duration-moderate) var(--anim-motion-cupertino), background-color var(--anim-duration-fast);
}

button:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  padding: 8px;
  max-height: 100%;
}

// Toggle
.checkbox-container {
  box-shadow: none;
}
.checkbox-container:after {
  box-shadow: none;
}
.checkbox-container:focus-within {
  outline: none;
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
}
