body {
  --input-height: 32px;

  --radius-modifier: 1;
  --input-radius: var(--radius-s);
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 20px;
  --radius-xl: 28px;

  --background-modifier-form-field: var(--interactive-normal);

  --button-radius: 8px;
}

.theme-light {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
}
.theme-dark {
  --input-shadow: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);
  --input-shadow-hover: 0 0 0 var(--input-border-width) var(--background-modifier-border-hover);

  --background-modifier-form-field: var(--interactive-normal);
}

// Button
button,
.clickable-icon,
select,
.dropdown {
  -electron-corner-smoothing: var(--corner-smoothing);
  transition: var(--anim-duration-moderate) var(--anim-motion-cupertino), background-color var(--anim-duration-fast);
}

button:not(.clickable-icon, .ant-switch, .workspace-leaf-content:not([data-type="markdown"]) button, .copy-code-button) {
  padding: 16px;
  display: inline-flex;
}

.clickable-icon {
  padding: 8px;
  max-height: 100%;
}

// Toggle
body.obsidian-app .checkbox-container {
  -electron-corner-smoothing: var(--corner-smoothing);
  transition: var(--anim-duration-moderate);
  box-shadow: none;

  &:focus-within {
    outline: none;
  }

  &::after {
    transition: var(--anim-duration-moderate) var(--anim-motion-baseline), background-color 0s;
  }
  &:active:after {
    -electron-corner-smoothing: var(--corner-smoothing);
    box-shadow: none;
    width: calc(var(--toggle-thumb-width) + var(--toggle-border-width));
    height: var(--toggle-thumb-height);
    margin-top: var(--toggle-border-width);
  }
  &.is-enabled:active:after {
    left: calc(var(--toggle-border-width) * -1);
  }
}

// Slider
input[type="range"]::-webkit-slider-thumb {
  -electron-corner-smoothing: var(--corner-smoothing);
  box-shadow: none;
}
