body.input-cupertino {
  --background-modifier-message: var(--modal-background) !important;
  --modal-background: rgb(from var(--background-primary-alt) r g b / 75%) !important;

  &.is-translucent {
    --modal-background: var(--background-primary);
  }

  .menu,
  .prompt,
  .modal:not(.mod-sidebar-layout) {
    backdrop-filter: var(--blur-l);
    border: none;
    background-color: var(--modal-background);
  }
  .suggestion-container,
  .popover {
    backdrop-filter: var(--blur-m);
    border: none;
    background-color: var(--modal-background);
  }
  .cm-tooltip,
  .notice {
    backdrop-filter: var(--raised-blur);
    border: none;
    background-color: var(--modal-background);
  }
}

// Menu
body.input-cupertino:not(.is-mobile) {
  .menu,
  .suggestion-container {
    animation: none;

    svg.svg-icon {
      transition: none;
    }

    .menu-item,
    .suggestion-item {
      padding: calc(4px * var(--density-modifier)) 12px;
      align-items: center;
      display: flex;
    }
    .suggestion-item {
      min-height: 32px;
    }
    .menu-separator {
      margin: 6px 8px;
    }
  }

  .menu:hover,
  .suggestion-container:hover {
    backdrop-filter: var(--blur-m);

    .menu-item.selected:not(.is-label):not(.is-disabled) {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);

      .menu-item-icon {
        color: var(--text-on-accent);
      }
    }
  }
}

body.input-cupertino.is-mobile {
  .menu,
  .suggestion-container {
    .menu-scroll {
      background-color: transparent;
    }
    .menu-item,
    .suggestion-item {
      padding: calc(8px * var(--density-modifier)) var(--side-padding);

      &:not([class*="is-"]) .menu-item-icon {
        color: var(--text-normal);
      }
      .menu-item-icon .svg-icon {
        --icon-size: var(--icon-m);
        --icon-stroke: var(--icon-m-stroke-width);
      }
    }
  }
}
body.input-cupertino.is-phone {
  --menu-shadow: var(--shadow-s);
  --menu-padding: 32px var(--safe-area-inset-side);

  .menu {
    margin: 8px;
    border-radius: var(--modal-radius) var(--modal-radius) calc(var(--safe-area-inset-top) - 8px) calc(var(--safe-area-inset-top) - 8px);
  }

  .menu .menu-item {
    min-height: 48px;
  }
  .menu .menu-item::after {
    content: none;
  }
  .menu .menu-item:not(:last-child) {
    border-bottom: none;

    .menu-item-title {
      position: relative;
    }
    .menu-item-title::after {
      position: absolute;
      inset: auto 0 -14px;
      background-color: rgba(var(--mono-rgb-100), 0.1);
      height: var(--border-width);
      content: "";
    }
  }

  .menu-group {
    .menu-item.is-label + .menu-item:not(.is-label),
    .menu-item:first-child {
      border-top-left-radius: var(--radius-m);
      border-top-right-radius: var(--radius-m);
    }
    .menu-item:last-child {
      border-bottom-left-radius: var(--radius-m);
      border-bottom-right-radius: var(--radius-m);
    }
  }
}
body.input-cupertino.is-tablet {
  --menu-shadow: var(--shadow-l);

  .menu,
  .suggestion-container {
    .menu-separator {
      margin: 4px 16px;
    }
    .menu-item,
    .suggestion-item {
      gap: 16px;
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
    }
  }

  .suggestion-container {
    border-radius: var(--radius-m);
  }
}

// Modal
body.input-cupertino:not(.is-mobile) {
  @keyframes modalInCupertino {
    from {
      opacity: 1;
      filter: none;
      transform: scale(0.99);
    }
  }
  .modal {
    animation: modalInCupertino var(--anim-duration-moderate) var(--anim-motion-baseline) forwards;
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-title {
      width: 100%;
    }
    .modal-button-container button {
      flex: 1;
      margin: 0;
      border-radius: 100vh;
      min-height: 32px;
    }
  }
}

body.input-cupertino.is-mobile {
  .modal-setting-back-button,
  .modal-close-button {
    --icon-size: var(--icon-xl);
    padding: 6px;
  }
}

body.input-cupertino.is-phone {
  --modal-radius: var(--radius-xl);

  .modal-container.mod-confirmation .modal {
    border-radius: var(--radius-xl) var(--radius-xl) calc(var(--safe-area-inset-top) - 8px) calc(var(--safe-area-inset-top) - 8px);
  }
  .modal:not(.mod-sidebar-layout) {
    --modal-radius: var(--radius-xl);

    margin: 0 8px 8px;
    width: calc(100vw - 16px) !important;
    left: 0 !important;

    .modal-close-button {
      top: 16px !important;
      inset-inline-end: 16px !important;
    }

    .modal-content {
      padding: 0 var(--safe-area-inset-side);
    }

    .modal-button-container {
      gap: 8px;
      padding: 16px var(--safe-area-inset-side) 0;
    }
    .modal-button-container button {
      margin-top: 0;
    }
  }
}

// Notice & Tooltip
body.input-cupertino {
  .notice-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: visible;
  }
  &.is-mobile .notice {
    box-shadow: var(--raised-shadow);
  }
  .notice {
    margin-bottom: 0;
    box-shadow: var(--shadow-l);
    border-radius: var(--radius-m);
    padding: calc(16px * var(--density-modifier)) var(--side-padding);
    color: var(--text-muted);
    overflow: hidden;
  }
  .notice:last-child {
    transition: var(--anim-duration-slow) var(--anim-motion-baseline) !important;
  }
  &.is-phone .notice:last-child {
    @starting-style {
      transform: translateY(-50%) scaleX(0.5) !important;
      filter: blur(4px);
      opacity: 0;
    }
  }

  .tooltip {
    --background-modifier-message: var(--background-primary);
    filter: drop-shadow(0 0 16px var(--background-modifier-box-shadow));
    animation: none;
    box-shadow: none;
    border-radius: var(--radius-l);
    padding: 8px 16px;
    color: var(--text-muted);
    font-weight: var(--font-normal);
  }
}

// Drag ghost
body.input-cupertino:not(.is-mobile) {
  --drag-ghost-background: var(--background-primary);
  --drag-ghost-text-color: var(--text-normal);

  .drag-ghost {
    box-shadow: var(--shadow-l);
    padding: 8px 12px;
    border-radius: var(--radius-m);
  }
}
