body.input-fluent {
  --radius-s: calc(4px * var(--radius-modifier));
  --radius-m: calc(4px * var(--radius-modifier));
  --radius-l: calc(8px * var(--radius-modifier));
  --radius-xl: calc(8px * var(--radius-modifier));
  --input-radius: var(--radius-m);
  --button-radius: var(--input-radius);
  --clickable-icon-radius: var(--radius-m);
  --checkbox-radius: var(--radius-m);
  --tab-radius: var(--radius-l);

  --toggle-thumb-height: 12px;
  --toggle-thumb-width: 12px;
  --toggle-width: 40px;
  --toggle-border-width: 4px;
  --slider-thumb-border-width: 4px;
  --slider-thumb-width: 18px;
  --slider-thumb-height: 18px;
  --slider-track-background: var(--color-base-50);
  --slider-track-height: 4px;

  --blur-s: blur(8px) saturate(0.75);
  --blur-m: blur(16px) saturate(0.75);
  --blur-l: blur(32px) saturate(0.75);

  &.mod-windows:not(.dynamic-type-off) {
    --font-ui-smaller: calc(12px + var(--font-ui-modifier));
    --font-ui-small: calc(12px + var(--font-ui-modifier));
    --font-ui-medium: calc(14px + var(--font-ui-modifier));
    --font-ui-large: calc(20px + var(--font-ui-modifier));
  }
  &.is-mobile {
    --input-border-width: var(--border-width);

    --slider-thumb-width: 24px;
    --slider-thumb-height: 24px;
  }
  &.theme-light {
    --input-shadow: 0px 0px 0px var(--input-border-width) rgba(0, 0, 0, 0.05), 0 -0.5px 0 0 rgba(0, 0, 0, 0.25) inset !important;
    --input-shadow-hover: var(--input-shadow) !important;
    --input-shadow-active: inset 0 0 0 1px var(--background-modifier-border);
    --slider-thumb-border-color: var(--color-base-00);

    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 15px 30px rgba(0, 0, 0, 0.07);
    --shadow-l: 0px 32px 64px 0px rgba(0, 0, 0, 0.19), 0px 2px 21px 0px rgba(0, 0, 0, 0.15);

    --modal-background: rgb(from white r g b / 85%);
    --setting-items-background: var(--background-primary);
  }
  &.theme-dark {
    --input-shadow: 0px 0px 0px var(--input-border-width) rgba(0, 0, 0, 0.1), 0 0.5px 0 rgba(255, 255, 255, 0.1) inset !important;
    --input-shadow-hover: var(--input-shadow) !important;
    --input-shadow-active: inset 0 0 1px var(--background-modifier-border);
    --slider-thumb-border-color: var(--color-base-35);

    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.028), 0px 3.4px 6.7px rgba(0, 0, 0, 0.042), 0px 15px 30px rgba(0, 0, 0, 0.07);
    --shadow-l: 0px 32px 64px 0px rgba(0, 0, 0, 0.37), 0px 2px 21px 0px rgba(0, 0, 0, 0.37);

    --modal-background: rgb(from var(--color-base-20) r g b / 65%);
    --setting-items-background: var(--background-secondary);
  }
  &.is-translucent {
    --modal-background: var(--background-secondary);
  }

  // Button
  button:active,
  select:focus,
  .combobox-button:focus,
  .dropdown:focus {
    opacity: 0.75;
    box-shadow: var(--input-shadow-active);
  }
  &:not(.is-mobile) {
    .clickable-icon.is-active {
      color: var(--icon-color-focused);
      background-color: var(--background-primary);
    }
    .clickable-icon:not([aria-disabled="true"], .modal-close-button):hover,
    .clickable-icon.has-active-menu {
      background-color: var(--background-modifier-hover);
    }
  }

  // Text input
  input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]):not(.prompt-input) {
    box-shadow: 0 -0.5px 0 var(--color-base-50) inset;

    &:active,
    &:focus,
    &:focus-visible {
      box-shadow: 0 -2px 0 var(--interactive-accent) inset;
      border-color: var(--background-modifier-border);
    }
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    transition: var(--anim-duration-fast);
    box-shadow: 0 0.5px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--interactive-accent);
  }
  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]::-webkit-slider-thumb:active {
    --slider-thumb-border-width: 3px;
    border-color: var(--slider-thumb-border-color);
  }

  // Toggle
  .checkbox-container {
    &:not(.is-enabled) {
      --toggle-thumb-color: var(--text-muted);
      outline: 1px solid var(--text-faint);
      background-color: var(--color-base-10);
    }
    &:hover {
      --toggle-thumb-height: 16px;
      --toggle-thumb-width: 16px;
      --toggle-border-width: 2px;
    }
  }

  // Dialog
  .menu,
  .suggestion-container,
  .popover,
  .prompt,
  .modal,
  .cm-tooltip,
  .notice {
    background-color: var(--modal-background) !important;
    backdrop-filter: var(--blur-l);
  }

  // Settings
  .modal.mod-settings {
    --setting-items-padding: 0px;

    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(8px * var(--density-modifier)) 16px;
      position: relative;
      border-radius: var(--setting-items-radius);
    }
    .vertical-tab-nav-item.is-active {
      background-color: var(--background-modifier-hover);
      color: var(--text-normal);

      &::before {
        position: absolute;
        top: 8px;
        bottom: 8px;
        left: 0;
        border-radius: var(--button-radius);
        background-color: var(--interactive-accent);
        width: 4px;
        content: "";
        margin-left: unset;
        height: unset;
      }
    }

    .setting-items {
      background-color: transparent;
      padding-block: 0;
    }

    .setting-item:not(.setting-item-heading) {
      border: var(--border-width) solid rgba(0, 0, 0, 0.1);
      border-radius: var(--radius-m);
      padding: calc(16px * var(--density-modifier));
      background-color: var(--setting-items-background);

      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }

  // Notice
  .notice {
    color: var(--text-muted);
  }
}

body.input-fluent:not(.is-mobile) {
  --menu-padding: 4px;
  --prompt-input-height: 64px;
  --tab-outline-color: rgba(var(--mono-rgb-100), 0.05);

  // Side panels
  @keyframes workspaceLeafInFluent {
    from {
      transform: translateY(16px);
      opacity: 0;
    }
  }

  .mod-sidedock .workspace-leaf {
    animation: workspaceLeafInFluent var(--anim-duration-moderate);
  }

  // Panel actions
  &:not(.nav-action-center, .nav-action-left) .mod-sidedock .workspace-leaf-content .nav-header:first-child .nav-buttons-container {
    padding: 0;

    .nav-action-button {
      flex: 1;
      padding: 12px;
    }
    .nav-action-button.is-active {
      background-color: var(--interactive-normal);
      color: var(--icon-color);
      box-shadow: inset 0 0 0 1px var(--background-modifier-hover);

      &::after {
        position: absolute;
        bottom: 0;
        border-radius: var(--button-radius);
        background-color: var(--interactive-accent);
        width: 24px;
        height: 3px;
        content: "";
      }
    }
  }

  .modal-bg {
    background-color: black;
    opacity: 0.3 !important;
  }

  // Menu
  .menu,
  .suggestion-container {
    animation: none;
    border-radius: var(--radius-l);
    border: var(--border-width) solid var(--background-modifier-border);

    .menu-separator {
      margin: var(--menu-padding) calc(-1 * var(--menu-padding));
    }

    .menu-item,
    .suggestion-item {
      border-radius: var(--radius-m);
      padding: 8px;
    }

    .menu-item-icon .svg-icon {
      --icon-size: var(--icon-s);
      --icon-stroke: var(--icon-s-stroke-width);
    }
  }

  // Prompt
  .prompt {
    animation: none;

    .prompt-results {
      position: relative;
    }
    .prompt-results .suggestion-item {
      position: relative;
      padding: calc(12px * var(--density-modifier)) 20px;
    }
    .prompt-results .suggestion-item.is-selected::after {
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 0;
      border-radius: var(--button-radius);
      background-color: var(--interactive-accent);
      width: 4px;
      content: "";
    }
  }

  // Modal
  .modal {
    animation: none;
  }

  .modal-close-button {
    top: 0;
    inset-inline-end: 0 !important;
    padding-inline: 16px;
    border-radius: 0;

    &:empty::before {
      margin: 0;
      width: var(--icon-s);
      height: var(--icon-s);
      font-size: var(--icon-xs);
      font-weight: 100;
    }

    &:hover {
      background-color: var(--color-red);
      color: white;
    }
  }

  .modal:not(.mod-sidebar-layout) {
    padding: 0;
    min-width: 480px;

    .modal-title {
      padding: 24px 24px 4px;
      font-size: var(--font-ui-large);
    }

    .modal-content {
      padding: 4px 24px 16px;
    }

    .modal-button-container {
      margin: 0;
      border-top: var(--border-width) solid var(--background-modifier-border);
      background-color: rgba(0, 0, 0, 0.05);
      padding: 24px;

      button {
        border-radius: var(--button-radius);
      }
    }

    .modal-content > .modal-button-container {
      margin: 0 -24px -16px;
    }
  }

  // Settings
  .modal.mod-sidebar-layout .vertical-tab-content {
    animation: workspaceLeafInFluent var(--anim-duration-moderate);
  }
}

body.input-fluent.is-phone {
  .mobile-navbar,
  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    backdrop-filter: var(--blur-l);
    box-shadow: var(--shadow-s);
    border-radius: var(--radius-l);
    background-color: var(--modal-background) !important;
  }

  .modal.mod-settings {
    .vertical-tab-header-group-items {
      background-color: transparent;
    }
    .vertical-tab-nav-item-chevron,
    .vertical-tab-nav-item-title {
      border-bottom: none;
    }
    .vertical-tab-content {
      background-color: var(--settings-background);
    }
  }
}
