body.input-material {
  --input-font-weight: var(--font-medium);
  --input-border-width: 1px;
  --input-height: 40px;

  --radius-xs: calc(4px * var(--radius-modifier));
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(16px * var(--radius-modifier));
  --radius-xl: calc(28px * var(--radius-modifier));
  --input-radius: var(--radius-s);
  --button-radius: 100vh;
  --clickable-icon-radius: 100vh;
  --tab-radius: var(--radius-m);

  --toggle-border-width: 4px;
  --toggle-thumb-height: 24px;
  --toggle-thumb-width: 24px;
  --toggle-width: 52px;
  --toggle-s-border-width: var(--toggle-border-width);
  --toggle-s-thumb-height: var(--toggle-thumb-height);
  --toggle-s-thumb-width: var(--toggle-thumb-width);
  --toggle-s-width: var(--toggle-width);
  --slider-thumb-border-width: 0;
  --slider-thumb-height: 44px;
  --slider-thumb-width: 4px;
  --slider-thumb-y: -19px;
  --slider-thumb-radius: 100vh;
  --slider-track-height: 16px;

  --tab-font-weight: var(--font-medium);
  --nav-item-weight: var(--font-medium);
  --nav-item-weight-hover: var(--font-medium);
  --nav-item-weight-active: var(--font-medium);
  --nav-item-radius: 100vh;

  --background-modifier-border: var(--color-base-30);
  --background-modifier-form-field: var(--background-modifier-hover);
  --interactive-hover: var(--color-base-25);
  --interactive-normal: var(--background-primary);
  --dropdown-background: var(--background-modifier-form-field);
  --dropdown-background-hover: var(--background-modifier-form-field);

  --menu-radius: var(--radius-l);

  --shadow-s: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px !important;
  --shadow-l: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px !important;

  &.theme-light {
    --setting-items-background: var(--background-primary);
  }
  &.theme-dark {
    --setting-items-background: var(--background-secondary);
  }

  // Button
  button:not([aria-disabled="true"]),
  .clickable-icon:not([aria-disabled="true"]),
  .tappable,
  .is-clickable {
    cursor: pointer;
  }

  // Text input
  textarea,
  input:is([type="text"], [type="search"], [type="email"], [type="password"], [type="number"]):not(.prompt-input),
  select,
  .combobox-button,
  .dropdown {
    transition: var(--anim-duration-fast);
    box-shadow: inset 0 0 var(--interactive-accent);
    border-width: 0 0 var(--border-width);
    border-style: solid;
    border-color: var(--background-modifier-border-focus);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
      box-shadow: inset 0 -2px var(--interactive-accent);
      border-color: transparent;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    outline: 6px solid var(--setting-items-background);
    background-color: var(--interactive-accent);
  }
  input[type="range"]:active {
    --slider-thumb-y: -23px;
    --slider-thumb-height: 52px;
  }

  // Toggle
  .checkbox-container {
    cursor: pointer;

    &:not(.is-enabled) {
      --toggle-thumb-color: var(--text-muted);
      box-shadow: inset 0 0 0 2px var(--text-muted);
    }
    &:not(.is-enabled):not(:hover, :active) {
      --toggle-s-border-width: 8px;
      --toggle-s-thumb-height: 16px;
      --toggle-s-thumb-width: 16px;
      --toggle-border-width: 8px;
      --toggle-thumb-height: 16px;
      --toggle-thumb-width: 16px;
    }
  }

  // Dialog
  .menu,
  .suggestion-container,
  .popover,
  .prompt,
  .modal,
  .cm-tooltip {
    border: none;
  }

  // Menu
  .menu,
  .suggestion-container {
    .menu-item-icon .svg-icon {
      --icon-size: var(--icon-m);
      --icon-stroke: var(--icon-m-stroke-width);
    }
  }

  // Settings
  --setting-items-radius: var(--radius-l);

  &.theme-light .modal.mod-sidebar-layout {
    background-color: var(--background-secondary);
  }
  &.theme-dark .modal.mod-sidebar-layout {
    background-color: var(--background-primary);
  }
  .modal.mod-settings {
    .vertical-tab-header-group-title {
      display: none;
    }
    .vertical-tab-header-group-items {
      gap: 0;
    }
    .vertical-tab-nav-item {
      border-radius: var(--button-radius);
      padding: calc(12px * var(--density-modifier)) 16px;
      width: fit-content;
      font-weight: var(--font-medium);
      border-bottom: 0;
      cursor: pointer;
      align-items: center;
    }
    .vertical-tab-nav-item.is-active {
      background-color: var(--setting-items-background);
    }

    .vertical-tab-nav-item .vertical-tab-nav-item-icon {
      --icon-size: 20px;
      --setting-nav-icon-background: var(--color-base-50);
      padding: 10px;
      border-radius: var(--clickable-icon-radius);
      color: hsl(from var(--setting-nav-icon-background) h calc(s * 1.05) calc(l * 0.35));
      background-color: hsl(from var(--setting-nav-icon-background) h calc(s * 0.9) calc(l * 1.15));
      margin-top: -4px;
      margin-left: -8px;
      margin-bottom: -4px;
    }

    .setting-items {
      padding: 0;
      background-color: transparent;
    }

    .setting-item:not(.setting-item-heading) {
      border-top: none;
      border-radius: var(--radius-xs);
      background-color: var(--setting-items-background);
      padding: var(--setting-items-padding);
      margin-bottom: 2px;
    }
    .setting-item:nth-child(1 of .setting-item:not(.setting-item-heading)),
    .setting-item-heading + .setting-item {
      border-top-left-radius: var(--setting-items-radius);
      border-top-right-radius: var(--setting-items-radius);
    }
    .setting-item:nth-last-child(1 of .setting-item:not(.setting-item-heading)),
    .setting-item:has(+ .setting-item-heading) {
      border-bottom-left-radius: var(--setting-items-radius);
      border-bottom-right-radius: var(--setting-items-radius);
    }
    .setting-item-name {
      font-weight: var(--font-medium);
    }
    .setting-item-description {
      font-size: var(--font-ui-small);
    }
  }
}

body.input-material.is-mobile {
  // Settings
  .modal.mod-settings {
    .setting-group .setting-item:not(:last-child):not(.setting-item-heading) {
      margin-bottom: 2px;
    }

    .setting-item-control button:not(.clickable-icon) {
      width: fit-content;
      padding: 16px;
    }
  }
}

body.input-material:not(.is-phone) {
  @keyframes menuInMaterial {
    from {
      opacity: 0;
      transform: translateY(-4px) scaleY(95%);
    }
  }

  // Menu
  .menu,
  .suggestion-container {
    transform-origin: top center;
    animation: menuInMaterial var(--anim-duration-fast) forwards;

    .menu-item,
    .suggestion-item {
      padding: calc(8px * var(--density-modifier)) 12px;
      font-weight: var(--font-medium);
      cursor: pointer;
      gap: 12px;
    }
  }

  // Prompt
  .prompt {
    border-radius: var(--radius-l);

    .prompt-input-container {
      margin: 16px 16px 0;
    }
    .prompt-input {
      border: none;
      border-radius: 100vh;
      background-color: var(--interactive-normal);
      font-size: var(--font-ui-large);
    }

    .suggestion-item {
      border-radius: 100vh;
    }
  }
}

body.input-material.is-phone {
  // Editor
  .mobile-navbar,
  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    border: none !important;
    box-shadow: var(--shadow-s);
  }
  &.is-floating-nav .mod-root .workspace-leaf-content[data-type="markdown"] > .view-content::before,
  &.is-floating-nav .mod-root .workspace-leaf-content[data-type="markdown"] > .view-content::after {
    content: none;
  }

  // Menu
  .menu {
    .menu-item:not(.is-label) {
      border-radius: var(--radius-xs);
    }
    .menu-item.is-label + .menu-item:not(.is-label),
    .menu-item:first-child {
      border-top-left-radius: var(--setting-items-radius);
      border-top-right-radius: var(--setting-items-radius);
    }
    .menu-item:last-child {
      border-bottom-left-radius: var(--setting-items-radius);
      border-bottom-right-radius: var(--setting-items-radius);
    }
    .menu-item:not(:last-child) {
      margin-bottom: 2px;
    }
    .menu-item::after {
      content: none;
    }
  }

  // Settings
  .modal.mod-settings {
    .vertical-tab-header-group-items {
      gap: 2px;
      background-color: transparent;
    }
    .vertical-tab-nav-item {
      width: 100%;
      border-radius: var(--radius-xs);
      padding: calc(16px * var(--density-modifier)) 20px;
      height: auto;
      background-color: var(--setting-items-background);
    }
    .vertical-tab-nav-item-title,
    .vertical-tab-nav-item-chevron {
      border-bottom: none;
    }
  }

  // Prompt
  .prompt {
    .prompt-input {
      box-shadow: none;
      border: none;
      border-radius: 100vh;
    }
    .prompt-input-container {
      margin: auto var(--safe-area-inset-side) var(--safe-area-inset-side);
    }

    .suggestion-item {
      border-radius: 100vh;
    }
  }
}
