body.input-tactile {
  --background-modifier-form-field: var(--background-modifier-hover);

  &.theme-light {
    --input-shadow: inset 0 -1px rgba(var(--mono-rgb-100), 0.03), 0 0 0 0.5px rgba(var(--mono-rgb-100), 0.1), 0px 0.5px rgba(var(--mono-rgb-100), 0.07), 0px 8px 4px -2px rgba(var(--mono-rgb-100), 0.01), 0px 2px 4px -1px rgba(var(--mono-rgb-100), 0.02), 0px 2px 2px -1px rgba(var(--mono-rgb-100), 0.04);
    --input-shadow-hover: inset 0 -1px rgba(var(--mono-rgb-100), 0.03), 0 0 0 0.5px rgba(var(--mono-rgb-100), 0.1);

    textarea,
    input[type="date"],
    input[type="datetime-local"],
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      box-shadow: 0 1px rgb(var(--mono-rgb-0));
    }
  }
  &.theme-dark {
    --input-shadow: inset 0 0.5px 0 rgba(var(--mono-rgb-100), 0.25), inset 0 0 0 0.5px rgba(var(--mono-rgb-100), 0.1), 0px 8px 4px -2px rgba(var(--mono-rgb-0), 0.01), 0px 2px 4px -1px rgba(var(--mono-rgb-0), 0.02), 0px 2px 2px -1px rgba(var(--mono-rgb-0), 0.04);
    --input-shadow-hover: inset 0 -1px rgba(var(--mono-rgb-0), 0.03), 0 0 0 0.5px rgba(var(--mono-rgb-0), 0.1);
    --input-shadow-hover: inset 0 0.5px 0 rgba(var(--mono-rgb-100), 0.1);

    textarea,
    input[type="date"],
    input[type="datetime-local"],
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
      border-color: transparent;
      box-shadow: 0px 0.5px rgba(var(--mono-rgb-100), 0.2);
    }
  }

  button.mod-cta {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-blend-mode: soft-light;
  }
}
