body.input-tactile {
  --corner-smoothing: 100%;

  --input-shadow-base: 0px 8px 4px -2px rgba(0, 0, 0, 0.01), 0px 2px 4px -1px rgba(0, 0, 0, 0.025), 0px 2px 2px -1px rgba(0, 0, 0, 0.025);

  &.theme-light {
    --input-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0px 0.5px rgba(0, 0, 0, 0.05), var(--input-shadow-base);
    --input-shadow-hover: inset 0 -1px rgba(0, 0, 0, 0.025), 0 0 0 0.5px rgba(0, 0, 0, 0.1);

    --shadow-s: inset 0 0.5px rgb(255, 255, 255), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
    --shadow-l: inset 0 0.5px rgb(255, 255, 255), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 24px 48px rgba(0, 0, 0, 0.1), 0 16px 96px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);

    div:is(.workspace, .modal, .menu) {
      textarea,
      input,
      .checkbox-container {
        box-shadow: 0 1px rgb(var(--mono-rgb-0)), inset 0 4px 4px -4px rgba(0, 0, 0, 0.05);
      }
    }
  }

  &.theme-dark {
    --input-shadow: inset 0 0.5px rgba(255, 255, 255, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.1), var(--input-shadow-base);
    --input-shadow-hover: inset 0 0 0 0.5px rgba(255, 255, 255, 0.1);

    --shadow-s: inset 0 0.5px rgba(255, 255, 255, 0.1), 0 0 0 0.5px rgba(255, 255, 255, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-l: inset 0 0.5px rgba(255, 255, 255, 0.1), 0 0 0 0.5px rgba(255, 255, 255, 0.1), 0 0.5px rgba(0, 0, 0, 0.1), 0 24px 48px rgba(0, 0, 0, 0.05), 0 16px 96px rgba(0, 0, 0, 0.25), 0 16px 32px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.25);

    div:is(.workspace, .modal, .menu) {
      textarea,
      input,
      .checkbox-container {
        border-color: transparent;
        box-shadow: 0 0.5px rgba(255, 255, 255, 0.25);
      }
    }
  }

  button.mod-cta {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    background-blend-mode: soft-light;
  }

  // Slider
  .checkbox-container:after {
    box-shadow: var(--input-shadow-base);
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: var(--input-shadow);
    border: none;
  }

  // Dialog
  .menu,
  .suggestion-container,
  .popover,
  .prompt,
  .modal,
  .cm-tooltip,
  .notice {
    border: none;
  }
}

body.input-tactile:not(.is-mobile) {
  // Menu
  .menu-item,
  .suggestion-item {
    padding: calc(8px * var(--density-modifier)) 12px;
    gap: 12px;
  }
}
