body.input-tactile {
  --corner-smoothing: 100%;
  --clickable-icon-radius: 100vh;

  --input-shadow-base: 0px 8px 4px -2px rgba(0, 0, 0, 0.01), 0px 2px 4px -1px rgba(0, 0, 0, 0.025), 0px 2px 2px -1px rgba(0, 0, 0, 0.025);

  &.theme-light {
    --input-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.05), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0px 0.5px rgba(0, 0, 0, 0.05), var(--input-shadow-base);
    --input-shadow-hover: inset 0 -1px rgba(0, 0, 0, 0.025), 0 0 0 0.5px rgba(0, 0, 0, 0.1);
    --input-shadow-inset: 0 0 0 0.5px rgba(0, 0, 0, 0.2), 0 1px rgb(255, 255, 255, 0.5), inset 0 4px 4px -4px rgba(0, 0, 0, 0.05);

    --shadow-s: inset 0 0.5px rgb(255, 255, 255), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
    --shadow-l: inset 0 0.5px rgb(255, 255, 255), 0 0 0 0.5px rgba(0, 0, 0, 0.1), 0 24px 48px rgba(0, 0, 0, 0.1), 0 16px 96px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
  }

  &.theme-dark {
    --input-shadow: inset 0 0.5px rgba(255, 255, 255, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.1), var(--input-shadow-base);
    --input-shadow-hover: inset 0 0 0 0.5px rgba(255, 255, 255, 0.1);
    --input-shadow-inset: 0 1px rgba(255, 255, 255, 0.15);

    --shadow-s: inset 0 0.5px rgba(255, 255, 255, 0.1), 0 0 0 0.5px rgba(255, 255, 255, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-l: inset 0 0.5px rgba(255, 255, 255, 0.1), 0 0 0 0.5px rgba(255, 255, 255, 0.1), 0 0.5px rgba(0, 0, 0, 0.1), 0 24px 48px rgba(0, 0, 0, 0.05), 0 16px 96px rgba(0, 0, 0, 0.25), 0 16px 32px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.25);
  }

  button.mod-cta {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
    background-blend-mode: soft-light;
  }
  .clickable-icon:hover {
    background-color: var(--interactive-normal);
    box-shadow: var(--input-shadow);
  }

  textarea,
  input:is([type="date"], [type="datetime-local"], [type="text"], [type="search"], [type="email"], [type="password"], [type="number"], [type="range"]),
  .checkbox-container {
    border: none;
    box-shadow: var(--input-shadow-inset);
  }

  // Toggle
  .checkbox-container:after {
    box-shadow: var(--input-shadow-base);
  }

  // Slider
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: var(--input-shadow);
    border: none;
  }

  // Dialog
  .menu,
  .suggestion-container,
  .popover,
  .prompt,
  .modal,
  .cm-tooltip {
    border: none;
  }
}

body.input-tactile:not(.is-mobile) {
  // Panel actions
  .mod-sidedock .nav-header .nav-buttons-container {
    border-radius: var(--clickable-icon-radius);
    background: var(--background-modifier-hover);
    padding: 4px;
    -electron-corner-smoothing: var(--corner-smoothing);
    box-shadow: var(--input-shadow-inset);

    .nav-action-button.is-active {
      background-color: var(--interactive-normal);
      box-shadow: var(--input-shadow);
    }
  }

  // Menu
  .menu-item,
  .suggestion-item {
    padding: calc(8px * var(--density-modifier)) 12px;
    gap: 12px;
  }

  // Settings
  --setting-items-background: var(--background-primary);

  .modal.mod-sidebar-layout {
    .vertical-tab-content {
      transition: var(--anim-duration-slow) var(--anim-motion-baseline);

      @starting-style {
        scale: 0.995;
      }
    }

    .vertical-tab-nav-item {
      -electron-corner-smoothing: var(--corner-smoothing);
      transition: box-shadow var(--anim-duration-fast);
    }
    .vertical-tab-nav-item:hover:not(.is-active) {
      box-shadow: var(--input-shadow-inset);
    }
    .vertical-tab-nav-item.is-active {
      --text-normal: var(--text-on-accent);
      color: var(--text-on-accent);
      background-color: var(--interactive-accent);
      background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
      background-blend-mode: soft-light;
      box-shadow: var(--input-shadow);
    }
  }
}

body.input-tactile.is-phone {
  .mobile-navbar,
  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    box-shadow: var(--input-shadow);
    border: none !important;
  }
}
