.clickable-icon {
  transition: all 0.1s ease-in-out !important;
}

.is-flashing {
  --text-highlight-bg: hsla(var(--color-accent-hsl), 0.25);
}

body:not(.is-mobile) {
  .clickable-icon {
    padding: 4px 8px;
  }
  button:not(.clickable-icon) {
    padding: 4px 12px;
    box-shadow: none;
    border: none;
    padding: 4px 10px;
    height: unset;
    min-height: var(--input-height);
    font-weight: normal;
    line-height: unset;
  }
}

body.is-mobile {
  button {
    box-shadow: none !important;
  }

  .clickable-icon {
    background-color: transparent;
    padding: 10px;
    min-width: var(--input-height);
    height: var(--input-height);

    &.is-active {
      opacity: 1;
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
    }
  }
}

body.is-phone:not(.is-android:not(.material-off)) {
  button:not(.clickable-icon) {
    justify-content: flex-start;
    background-color: var(--interactive-normal);
    padding: 0 20px;
    min-height: var(--input-height);
    color: var(--text-accent);
    font-weight: normal;
    text-align-last: unset;
  }

  .setting-item-control button {
    color: var(--text-accent);
  }
}

body.is-tablet:not(.is-android:not(.material-off)) {
  textarea,
  input[type="text"],
  input[type="number"],
  button:not(.clickable-icon) {
    padding: 4px 20px;
  }
}
