body:not(.is-mobile) .menu,
body:not(.is-mobile) .suggestion-container {
  backdrop-filter: var(--blur-s);
  border-radius: var(--radius-m);
  background-color: var(--modal-background);
  padding: 0;
  border: none;

  > div {
    padding: 4px;
  }

  .menu-separator {
    margin: 6px 8px;
  }

  .menu-item,
  .suggestion-item {
    border-radius: calc(var(--radius-m) - 4px);
    padding: 4px 12px;
    font-size: var(--font-ui-small);

    .svg-icon {
      --icon-size: var(--icon-xs);
    }
  }
  .menu-item.selected:not(.is-label):not(.is-disabled),
  .suggestion-item.is-selected:not(.mod-group) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);

    .menu-item-icon,
    .suggestion-flair {
      color: var(--text-on-accent);
    }
  }

  .search-suggest-item.mod-group {
    margin: 0;
    padding: 4px 8px;
  }
  .search-suggest-item.mod-group:not(:first-child) {
    margin-top: 8px;
  }
  .search-suggest-item:not(.mod-group).is-selected {
    --text-muted: var(--text-on-accent);
  }
}

body.is-mobile {
  .menu {
    backdrop-filter: var(--blur-m);
    background-color: var(--modal-background);
    padding: 0;
    overflow: hidden;
    white-space: normal;
    border-radius: var(--modal-radius);
  }

  .menu-scroll {
    background-color: transparent;
    max-height: 80vh;
  }
  .menu-item {
    gap: 16px;
  }
  .menu-item-icon {
    color: var(--text-normal);
    justify-content: center;

    > svg.svg-icon {
      --icon-size: var(--icon-m);
    }
  }
  .menu-item-title {
    white-space: normal;
  }
  .menu-item.is-label {
    border: none !important;
  }

  .menu-separator {
    margin: 8px var(--side-padding);
  }

  .suggestion-container {
    backdrop-filter: var(--blur-l);
    border: none;
    background-color: rgb(from var(--background-secondary-alt) r g b / 75%) !important;

    .suggestion {
      padding: 0;
    }
    .suggestion-item {
      display: flex;
      align-items: center;
      margin: 0;
      border-bottom: var(--border-width) solid var(--background-modifier-border-hover);
      border-radius: 0;
      padding: 8px var(--side-padding);
      min-height: var(--input-height);
    }
    .suggestion-item:last-child {
      border: none;
    }
  }
}

body.is-phone {
  .menu {
    margin: 0 8px 8px;
    width: unset;
  }
  .menu-grabber {
    position: absolute;
    top: 8px;
    align-self: center;
    width: 36px;
    height: 5px;
  }
  .menu-scroll {
    padding: 40px var(--side-padding) max(var(--safe-area-inset-bottom), 16px);
  }
  .menu-item {
    border-radius: var(--radius-m);
    font-size: var(--font-ui-medium);
    padding: 16px var(--side-padding);
  }
}

body.is-tablet {
  .menu {
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-l);
  }
  .menu-scroll {
    padding: 12px 8px;
  }
  .menu-item {
    padding: 12px var(--side-padding);
  }
}
