.notice-container {
  display: flex;
  top: unset;
  bottom: 16px;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
}

.notice {
  backdrop-filter: blur(var(--blur-s)) saturate(1.5);
  margin-bottom: 0;
  box-shadow: var(--shadow-s);
  border: var(--border-width) solid var(--background-modifier-hover);
  border-radius: var(--radius-l);
  background-color: var(--modal-background);
  padding: 16px 24px;
  overflow: hidden;
  color: var(--text-muted);
}

body.is-phone .notice-container {
  bottom: max(var(--safe-area-inset-bottom), 16px);
  margin-bottom: 56px;
  padding-right: 20px;
  padding-left: 20px;
}
