.popover {
  backdrop-filter: blur(var(--blur-l)) saturate(1.5);
  animation: var(--anim-duration-fast) fadeInScale;
  border-radius: var(--radius-l);
  background-color: var(--workspace-background-translucent);
}
