.prompt-input-container::before {
  -webkit-mask-size: 100% 100%;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' viewBox='0 0 20 20'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='white' d='M0 7.793c0 4.297 3.496 7.793 7.793 7.793 1.7 0 3.252-.547 4.531-1.465l4.805 4.815c.224.224.517.332.83.332.664 0 1.123-.498 1.123-1.153a1.118 1.118 0 0 0-.322-.8l-4.776-4.805a7.703 7.703 0 0 0 1.602-4.717C15.586 3.496 12.09 0 7.793 0 3.496 0 0 3.496 0 7.793Zm1.67 0A6.127 6.127 0 0 1 7.793 1.67a6.127 6.127 0 0 1 6.123 6.123 6.127 6.127 0 0 1-6.123 6.123A6.127 6.127 0 0 1 1.67 7.793Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h20v20H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  -webkit-mask-repeat: no-repeat;
  position: absolute;
  background-color: var(--search-icon-color);
  width: var(--icon-l);
  height: var(--icon-l);
  content: "";
  left: 20px;
}

body:not(.is-phone) {
  .modal-container:has(.prompt):not(:last-child) {
    opacity: 0;
  }

  .prompt {
    backdrop-filter: var(--blur-m);
    border: none;
    background-color: var(--modal-background);
    animation: var(--anim-duration-slow) blurInScale;
  }

  .prompt-input-container {
    --search-clear-button-size: var(--search-icon-size);
    border-bottom: var(--border-width) solid var(--background-modifier-border);
    align-items: center;
  }

  .prompt-input {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent;
    height: 56px !important;
    font-size: var(--font-ui-large);
    margin-left: 24px;
  }

  .prompt-results {
    padding: 16px;
  }

  .prompt-instructions {
    border-color: var(--background-modifier-border);
    color: var(--text-faint);
  }

  .prompt .suggestion-item {
    padding: 8px 20px;
  }
}

body.is-mobile {
  .prompt-input-container::before {
    width: var(--icon-m);
    height: var(--icon-m);
  }

  .prompt-input {
    margin-left: 32px;
  }
}

body.is-phone {
  .prompt {
    --prompt-top: 0;
    --prompt-bottom: 0;
    border-radius: 0;
    background-color: var(--modal-background) !important;
    backdrop-filter: var(--blur-m);
    height: 100%;
    justify-content: space-between;
  }

  .prompt-input-container {
    --search-clear-button-size: var(--icon-s);
    margin: 0 28px max(var(--safe-area-inset-bottom), 16px);
    border: none;
    align-items: center;
    gap: 8px;
    position: absolute;
    inset: auto 0 0;
    z-index: 1;
  }

  .prompt-input-container::before {
    left: 16px;
    z-index: 1;
  }

  .prompt-input {
    padding-left: 48px !important;
  }

  .prompt-input,
  .search-input-clear-button {
    border-radius: var(--clickable-icon-radius);
    box-shadow: var(--shadow-l) !important;
    backdrop-filter: var(--blur-s);
    background-color: var(--modal-background) !important;
    margin: 0;
  }

  .search-input-clear-button {
    position: relative;
    inset-inline-end: 0;
    width: var(--input-height);
    height: var(--input-height);
    flex-shrink: 0;
  }
  .search-input-clear-button:after {
    -webkit-mask-position: 50% 50%;
    -webkit-mask-size: 100% 100%;

    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath fill='black' d='M13.993.26.253 14a.875.875 0 0 0 0 1.23.896.896 0 0 0 1.24 0l13.74-13.74a.875.875 0 0 0 0-1.23.87.87 0 0 0-1.24 0ZM15.233 14 1.493.26a.87.87 0 0 0-1.24 0 .884.884 0 0 0 0 1.23l13.74 13.74c.332.333.908.342 1.24 0a.884.884 0 0 0 0-1.23Z'/%3e%3c/svg%3e");
  }

  .prompt-results {
    mask: linear-gradient(to bottom, transparent, black calc(var(--safe-area-inset-top) + 16px), black calc(100vh - var(--safe-area-inset-bottom) - var(--input-height) - 16px), transparent calc(100vh - var(--safe-area-inset-bottom)));
    padding: calc(var(--safe-area-inset-top) + 16px) 20px 128px;
  }

  .prompt .suggestion-item {
    padding: var(--nav-item-padding);
  }

  .suggestion-item {
    gap: 8px;
  }

  .suggestion-flair {
    margin: 0 !important;
  }
}

body.is-tablet {
  .prompt {
    --prompt-bottom: 0;

    animation: var(--anim-duration-slow) blurInScale;
    outline: var(--prompt-border-width) solid var(--background-modifier-hover);
    background-color: var(--modal-background) !important;
  }

  .prompt-input {
    border: none;
    background-color: transparent !important;
  }

  .prompt-input-container {
    display: flex;
    align-items: center;
  }
}
