body:not(.is-mobile) .checkbox-container {
  box-shadow: none;

  &::after {
    box-shadow: none;
  }
}

body.is-mobile .checkbox-container {
  box-shadow: none;
  overflow: hidden;

  &::after {
    box-shadow: none;
  }
}
