.checkbox-container {
  transition: var(--anim-duration-moderate);
  box-shadow: none;

  &::after {
    transition: var(--anim-duration-moderate);
    box-shadow: none;
  }
}

body:not(.mod-windows:not(.windows-mode-off)):not(.is-android:not(.material-off)) .checkbox-container {
  &:active:after {
    transform-origin: center;
    scale: 1.5;
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    background-color: transparent;
  }

  &.is-enabled:active:after {
    transform-origin: center right;
  }
}
