.checkbox-container {
  transition: var(--anim-duration-moderate) var(--anim-motion-cupertino);
  box-shadow: none !important;

  &::after {
    transition: var(--anim-duration-moderate) var(--anim-motion-cupertino);
    box-shadow: none;
  }
}

body:not(.mod-windows:not(.windows-mode-off)):not(.is-android:not(.material-off)) .checkbox-container {
  &:active:after {
    transform-origin: center;
    scale: 1.5;
    backdrop-filter: brightness(1.025);
    box-shadow: inset 1px 1px 2px -2px rgba(var(--mono-rgb-100), 1), inset -1px -1px 2px -2px rgba(var(--mono-rgb-100), 1), var(--shadow-xs);
    background-color: transparent;
  }

  &.is-enabled:active:after {
    transform-origin: center right;
  }
}
