.input-panel,
.output-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}
.output-panel textarea {
  background-color: var(--background-primary-alt);
  color: var(--text-muted);
}
textarea {
  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;
  background-color: var(--background-primary);
  padding: 8px;
  width: 100%;
  height: 240px;
  min-height: 120px;
  resize: vertical;
  color: var(--text-normal);
  font-family: monospace;
  white-space: pre;

  &::placeholder {
    color: var(--text-faint);
  }
}

.clear-btn {
  color: var(--color-red);
}

.warning-container:empty,
.conflict-container:empty,
.unsupported-container:empty {
  display: none;
}
.warning-container:not(:empty),
.conflict-container:not(:empty),
.unsupported-container:not(:empty) {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  background-color: var(--background-primary);
  padding: 24px;
}
.unsupported-theme {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.conflict-key,
.unsupported-theme-name {
  font-weight: 700;
}
.conflict-key {
  margin-bottom: 8px;
}
.warning-description,
.conflict-theme,
.unsupported-category-name {
  margin-bottom: 8px;
  color: var(--text-faint);
  font-size: 0.85rem;
}
.warning-list,
.unsupported-list {
  margin: 0;
}
.warning-item:not(:last-child),
.unsupported-item:not(:last-child) {
  margin-bottom: 8px;
}
.warning-item::marker,
.unsupported-item::marker {
  color: var(--text-faint);
}

.conflict-actions {
  display: flex;
  gap: 8px;
}
.conflict-label {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 1px solid var(--background-modifier-border);
  border-radius: 100px;
  background-color: transparent;
  padding: 8px;
  min-height: 32px;
  color: var(--text-faint);
  text-align: center;
}
.conflict-label.selected {
  border-color: transparent;
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
.color-preview {
  border-radius: 100px;
  width: 16px;
  height: 16px;
}

/* Settings Replica */
.setting {
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);
}
.setting-search {
  background: var(--background-primary);
}
.setting-actions button:last-child,
.setting-item-actions svg:last-child {
  animation: pulse 3s infinite alternate;
}
