@view-transition {
  navigation: auto;
}
@keyframes pulse {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--mono-rgb-100);
    color: var(--color-base-00);
  }
}
@keyframes workspaceLeafIn {
  from {
    transform: scale(0.95);
    opacity: 0;
    filter: blur(4px);
  }
}
@keyframes workspaceLeafOut {
  to {
    transform: scale(0.95);
    opacity: 0;
    filter: blur(4px);
  }
}
::view-transition-old(content) {
  animation: workspaceLeafOut 320ms cubic-bezier(0.1, 0, 0.1, 1.25) both;
}
::view-transition-new(content) {
  animation: workspaceLeafIn 320ms cubic-bezier(0.1, 0, 0.1, 1.25) both;
}

html {
  scrollbar-gutter: stable;
}

:root {
  --background-primary: var(--color-base-00);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-20);
  --background-secondary-alt: light-dark(var(--color-base-05), var(--color-base-30));
  --background-modifier-form-field: light-dark(var(--color-base-10), var(--color-base-25));
  --background-modifier-active-hover: hsla(170, 65%, 27%, 0.15);
  --background-modifier-border: var(--color-base-30);
  --interactive-normal: light-dark(var(--color-base-00), var(--color-base-30));
  --interactive-hover: light-dark(var(--color-base-10), var(--color-base-35));
  --text-normal: light-dark(var(--color-base-100), var(--color-base-90));
  --text-muted: var(--color-base-70);
  --text-faint: var(--color-base-50);

  --mono-rgb-0: light-dark(white, black);
  --mono-rgb-100: light-dark(black, white);
  --color-red: light-dark(#fe7070, #d95a5f);
  --color-orange: light-dark(#ec7500, #db8650);
  --color-yellow: light-dark(#e0cd63, #c4b45e);
  --color-green: light-dark(#4ad55f, #48c45a);
  --color-cyan: light-dark(#38dbd6, #3fbab6);
  --color-blue: light-dark(#6aadfa, #5694da);
  --color-purple: light-dark(#bb9ef5, #8e7dc2);
  --color-pink: light-dark(#f37db7, #de6793);
  --color-base-00: light-dark(#ffffff, #1e1e1e);
  --color-base-05: light-dark(#fcfcfc, #212121);
  --color-base-10: light-dark(#fafafa, #242424);
  --color-base-20: light-dark(#f6f6f6, #262626);
  --color-base-25: light-dark(#e3e3e3, #2a2a2a);
  --color-base-30: light-dark(#e0e0e0, #363636);
  --color-base-35: light-dark(#d4d4d4, #3f3f3f);
  --color-base-40: light-dark(#bdbdbd, #555555);
  --color-base-50: light-dark(#ababab, #666666);
  --color-base-60: light-dark(#707070, #999999);
  --color-base-70: light-dark(#5c5c5c, #b3b3b3);
  --color-base-80: light-dark(#494949, #c0c0c0);
  --color-base-90: light-dark(#363636, #cdcdcd);
  --color-base-100: light-dark(#222222, #dadada);
}

*:not(svg) {
  box-sizing: border-box;
}

body {
  transition: 320ms;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  background-color: var(--background-secondary);
  padding: 48px 8px;
  width: 95vw;
  max-width: 1024px;
  min-height: 100vh;
  color: var(--text-normal);
  line-height: 1.5;
  font-family: "Inter", system-ui, sans-serif;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1.802em;
  line-height: 1.2;
  font-family: "Instrument Serif", system-ui, sans-serif;
  letter-spacing: -0.015em;
}
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.602em;
  line-height: 1.2;
  font-family: "Instrument Serif", system-ui, sans-serif;
  letter-spacing: -0.015em;
}
p {
  margin: 0;
  width: 100%;
  color: var(--text-muted);
  font-size: 0.85rem;
  text-align: center;
}
p a {
  color: var(--text-normal);
  font-weight: 500;
}
a {
  transition: 160ms;
}
a:not(:hover) {
  text-decoration-color: transparent;
}
a button {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
}
.header-title {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: auto;
}
.header-title h1 a {
  display: inline-flex;
  align-items: center;
  color: var(--text-normal);
}
.header-title h1 a svg.lucide-chevron-left {
  position: absolute;
  opacity: 0;
  transition: 320ms cubic-bezier(0.1, 0, 0.1, 1.25);
  color: var(--text-faint);
}
.header-title h1 a:hover svg.lucide-chevron-left {
  transform: translateX(-1em);
  opacity: 1;
}
.header-title h1 span {
  margin: 0 8px;
  color: var(--text-faint);
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-actions > a {
  color: var(--text-muted);
  font-size: 0.85rem;
}
.header-link {
  view-transition-name: header-link;
}
.content {
  view-transition-name: content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.panel-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 160ms;
  cursor: pointer;
  border: 1px solid var(--background-modifier-border);
  border-radius: 24px;
  background-color: var(--mono-rgb-0);
  padding: 0 16px;
  height: 32px;
  color: var(--text-normal);
  font-size: 0.85rem;
  font-family: "Inter", system-ui, sans-serif;
}
button:hover {
  background-color: var(--interactive-hover);
}
button svg {
  width: 1em;
  height: 1em;
}

.copy-btn {
  flex: 1;
  background-color: var(--mono-rgb-100);
  color: var(--color-base-00);
}
.copy-btn:hover {
  background-color: var(--mono-rgb-100);
  opacity: 0.8;
}
.copy-btn span {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 320ms cubic-bezier(0.1, 0, 0.1, 1.25);

  @starting-style {
    transform: scale(0.75);
    opacity: 0;
    filter: blur(4px);
  }
}
.download-btn,
.submit-btn {
  text-decoration: none;
}

/* Settings Replica */
@media (max-width: 480px) {
  .setting-container {
    display: none;
  }
}

.setting-container {
  cursor: not-allowed;
  border: 1px solid var(--background-modifier-border);
  border-radius: 24px;
  background-color: var(--background-primary);
  padding: 32px 32px 0;
  overflow: hidden;
  user-select: none;
}
.setting-container * {
  cursor: not-allowed;
}

.setting {
  display: flex;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.setting-sidebar {
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  border-right: 1px solid var(--background-modifier-border);
  background: var(--background-secondary);
  padding: 12px;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 12px 0;
}
.sidebar-title {
  padding: 8px;
  color: var(--text-faint);
  font-weight: 600;
  font-size: 0.7rem;
}
.sidebar-link {
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--text-normal);
  font-size: 0.85rem;
}

.setting-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--background-primary);
  padding: 32px 48px;
}
.setting-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 12px;
}

.setting-search {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  background: var(--background-modifier-form-field);
  padding: 4px 8px;
  height: 32px;
  color: var(--text-faint);
  font-size: 0.85rem;
  white-space: nowrap;
}
.setting-search svg {
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}

.setting-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.setting-actions button {
  border: none;
  border-radius: 4px;
  background: none;
  padding: 2px 8px;
  color: var(--text-muted);
  font-weight: 500;
  font-size: 0.85rem;
}

.setting-list {
  padding: 24px 0;
}
.setting-item {
  display: flex;
  align-items: center;
}
.setting-item > svg {
  margin-right: 8px;
  width: 14px;
  height: 14px;
  color: var(--text-faint);
}
.setting-item-name {
  color: var(--text-normal);
  font-weight: 600;
  font-size: 1rem;
}
.setting-item-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 8px;
}
.setting-item-actions svg {
  border-radius: 4px;
  padding: 4px;
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}
