@use "app/root.scss";
@use "app/cupertino.scss";
@use "app/icons.scss";
@use "app/tabs.scss";
@use "app/sidedock.scss";
@use "app/dialog.scss";
@use "app/prompt.scss";
@use "app/settings.scss";
@use "app/status-bar.scss";
@use "app/empty-state.scss";
@use "app/mobile.scss";
@use "app/style-settings.scss";

@use "editor/editor.scss";
@use "editor/frontmatter.scss";
@use "editor/blockquote.scss";
@use "editor/callout.scss";
@use "editor/table.scss";
@use "editor/bases.scss";

@use "layouts/cupertino.scss" as layout-cupertino;
@use "layouts/cupertino-dialog.scss";
@use "layouts/cupertino-settings.scss";
@use "layouts/cupertino-prompt.scss";
@use "layouts/cupertino-mobile.scss";
@use "layouts/fluent.scss" as layout-fluent;
@use "layouts/macos.scss";
@use "layouts/mobile.scss" as layout-mobile;
@use "layouts/layout-styles.scss";

@use "elements/baseline.scss";
@use "elements/cupertino.scss" as element-cupertino;
@use "elements/fluent.scss" as element-fluent;

@use "features/alternative-checkboxes.scss";
@use "features/block-width.scss";
@use "features/callout-icon.scss";
@use "features/compact-actions.scss";
@use "features/image-zoom.scss";
@use "features/dataview-cards.scss";
@use "features/helpers-tables.scss";
@use "features/image-filters.scss";

@use "integrations/core-plugins.scss";
@use "integrations/community-plugins.scss";
