@use "app/root.scss";
@use "app/cupertino.scss";
@use "app/fonts.scss";
@use "app/icons.scss";
@use "app/tabs.scss";
@use "app/sidedock.scss";
@use "app/dialog.scss";
@use "app/prompt.scss";
@use "app/settings.scss";
@use "app/status-bar.scss";
@use "app/empty-state.scss";
@use "app/mobile.scss";
@use "app/style-settings.scss";

@use "editor/editor.scss";
@use "editor/frontmatter.scss";
@use "editor/blockquote.scss";
@use "editor/callout.scss";
@use "editor/table.scss";
@use "editor/bases.scss";

@use "layouts/classic.scss";
@use "layouts/cards.scss";
@use "layouts/border.scss";
@use "layouts/frame.scss";
@use "layouts/viewfinder.scss";
@use "layouts/cupertino.scss" as layout-cupertino;
@use "layouts/cupertino-dialog.scss";
@use "layouts/cupertino-settings.scss";
@use "layouts/cupertino-prompt.scss";
@use "layouts/cupertino-mobile.scss";
@use "layouts/fluent.scss" as layout-fluent;
@use "layouts/macos.scss";
@use "layouts/mobile.scss" as layout-mobile;
@use "layouts/layout-styles.scss";

@use "elements/baseline.scss";
@use "elements/cupertino.scss" as element-cupertino;
@use "elements/elevated.scss";
@use "elements/fluent.scss" as element-fluent;
// @use "elements/tactile.scss";
@use "elements/material.scss";

@use "features/alternative-checkboxes.scss";
@use "features/block-width.scss";
@use "features/callout-icon.scss";
@use "features/compact-actions.scss";
@use "features/image-zoom.scss";
@use "features/stacked-nav.scss";
@use "features/dataview-cards.scss";
@use "features/helpers-tables.scss";
@use "features/image-filters.scss";
@use "features/underline-headings.scss";
@use "features/colorful-folders.scss";
@use "features/colorful-frame.scss";
@use "features/colorful-headings.scss";
@use "features/focus-mode.scss";
@use "features/hover-sidedock.scss";

@use "color-schemes/contrast.scss";
@use "color-schemes/admin.scss";
@use "color-schemes/atom.scss";
@use "color-schemes/ayu.scss";
@use "color-schemes/catppuccin.scss";
@use "color-schemes/dracula.scss";
@use "color-schemes/everforest.scss";
@use "color-schemes/flexoki.scss";
@use "color-schemes/frappe.scss";
@use "color-schemes/gruvbox.scss";
@use "color-schemes/latte.scss";
@use "color-schemes/macchiato.scss";
@use "color-schemes/melange.scss";
@use "color-schemes/minimal.scss";
@use "color-schemes/mocha.scss";
@use "color-schemes/nord.scss";
@use "color-schemes/notion.scss";
@use "color-schemes/rose-pine.scss";
@use "color-schemes/sanctum.scss";
@use "color-schemes/sky.scss";
@use "color-schemes/solarized.scss";
@use "color-schemes/things.scss";
@use "color-schemes/tiniri.scss";

@use "integrations/core-plugins.scss";
@use "integrations/community-plugins.scss";
@use "integrations/flash-notice.scss";
