@use "app/root.scss";
@use "app/animation.scss";
@use "app/tab.scss";
@use "app/editor.scss";
@use "app/frontmatter.scss";
@use "app/modal.scss";
@use "app/settings.scss";
@use "app/sidedock.scss";
@use "app/sidedock-alt.scss";
@use "app/mobile.scss";
@use "app/empty-state.scss";

@use "components/button.scss";
@use "components/checkbox.scss";
@use "components/menu.scss";
@use "components/notice.scss";
@use "components/popover.scss";
@use "components/prompt.scss";
@use "components/slider.scss";
@use "components/status-bar.scss";
@use "components/text-field.scss";
@use "components/toggle.scss";
@use "components/tooltip.scss";

@use "plugins-core/backlinks.scss";
@use "plugins-core/canvas.scss";
@use "plugins-core/graph.scss";
@use "plugins-core/outline.scss";

@use "plugins/notebook-navigator.scss";
@use "plugins/omnisearch.scss";

@use "features/callout-icon.scss";
@use "features/windows-mode.scss";
@use "features/cards.scss";
@use "features/image-filters.scss";
@use "features/image-zoom.scss";
@use "features/helper-embeds.scss";
@use "features/helper-tables.scss";
@use "features/android-mode.scss";
@use "features/hover-sidedock.scss";
@use "features/compact-actions.scss";
@use "features/block-width.scss";
