body.layout-border:not(.is-mobile) {
  --tab-radius: var(--radius-m);

  .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    height: -webkit-fill-available;
    top: var(--header-height);
    bottom: 8px;
  }
  .mod-sidedock .workspace-tabs > .workspace-leaf-resize-handle {
    width: -webkit-fill-available;

    &:is(.mod-sidedock.mod-left-split .workspace-leaf-resize-handle) {
      left: 8px;
    }
    &:is(.mod-sidedock.mod-right-split .workspace-leaf-resize-handle) {
      right: 8px;
    }
  }

  // Side panels
  .mod-sidedock {
    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      background-color: var(--background-primary);
    }

    > .workspace-leaf-resize-handle:not(:hover) {
      border-color: var(--divider-color);
    }

    &.mod-left-split {
      .workspace-tabs:not(.mod-top) .workspace-tab-header-container,
      .workspace-tab-container {
        margin-left: 8px;
      }
      .workspace-tabs.mod-top .workspace-tab-container {
        border-top-left-radius: var(--radius-m);
      }
      .workspace-tabs:last-child .workspace-tab-container {
        border-bottom-left-radius: var(--radius-m);
      }
    }
    &.mod-right-split {
      .workspace-tabs:not(.mod-top) .workspace-tab-header-container,
      .workspace-tab-container {
        margin-right: 8px;
      }
      .workspace-tabs.mod-top .workspace-tab-container {
        border-top-right-radius: var(--radius-m);
      }
      .workspace-tabs:last-child .workspace-tab-container {
        border-bottom-right-radius: var(--radius-m);
      }
    }
  }
  &:not(.stacked-nav-off) .mod-sidedock {
    &.mod-left-split .workspace-tabs.mod-top-left-space {
      .workspace-tab-header-container-inner {
        border-radius: var(--radius-m) 0 0 0;
        margin-right: 0;
        margin-bottom: 0;
      }
      .workspace-tab-container {
        border-top-left-radius: 0;
      }
    }

    .workspace-tabs.mod-top-left-space {
      .workspace-leaf-content > .nav-header,
      .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
        padding-top: 0;
        padding-bottom: 8px;
      }
    }
  }

  // Editor panel
  .workspace.is-left-sidedock-open .mod-root .workspace-tab-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .workspace.is-right-sidedock-open .mod-root .workspace-tab-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Deep dark
  &.deep-dark-all.theme-dark {
    .mod-sidedock > .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }
    .mod-root {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      .workspace-tab-header-container-inner {
        margin-bottom: -1px;
      }
    }

    .mod-sidedock {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      &.mod-left-split {
        .workspace-tabs.mod-top .workspace-tab-container {
          border-width: var(--divider-width) 0 0 var(--divider-width);
        }
        .workspace-tabs:last-child .workspace-tab-container {
          border-width: 0 0 var(--divider-width) var(--divider-width);
        }
      }
      &.mod-right-split {
        .workspace-tabs.mod-top .workspace-tab-container {
          border-width: var(--divider-width) var(--divider-width) 0 0;
        }
        .workspace-tabs:last-child .workspace-tab-container {
          border-width: 0 var(--divider-width) var(--divider-width) 0;
        }
      }
    }

    &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner {
      border: var(--divider-width) solid var(--divider-color);
      border-width: var(--divider-width) 0 0 var(--divider-width);
    }
  }
}

// Tablet
body.layout-border.is-tablet {
  .workspace-drawer.is-pinned.mod-left {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .workspace-drawer.is-pinned.mod-right {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.deep-dark-all.theme-dark,
  &.deep-dark-mobile.theme-dark {
    .mod-root {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
        border-width: var(--divider-width) 0 var(--divider-width);
      }
      .workspace-tab-header-container-inner {
        margin-bottom: -1px;
      }
    }
    .workspace-drawer {
      border: var(--divider-width) solid var(--divider-color);
    }
  }
}
