body.layout-border:not(.is-mobile) {
  &:not(.status-bar-full) .mod-sidedock > .workspace-leaf-resize-handle {
    margin-bottom: 8px;
    height: -webkit-fill-available;
  }
  .mod-sidedock > .workspace-leaf-resize-handle,
  .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
    top: var(--header-height);
  }

  // Side panels
  .mod-sidedock {
    .workspace-tabs > .workspace-leaf-resize-handle {
      width: -webkit-fill-available;

      &:is(.mod-sidedock.mod-left-split .workspace-leaf-resize-handle) {
        left: 8px;
      }
      &:is(.mod-sidedock.mod-right-split .workspace-leaf-resize-handle) {
        right: 8px;
      }
    }

    .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
      background-color: var(--background-primary);
    }

    > .workspace-leaf-resize-handle:not(:hover) {
      border-color: var(--divider-color);
    }

    &.mod-left-split .workspace-tabs {
      &:not(.mod-top) .workspace-tab-header-container {
        margin-left: 8px;
      }
      &.mod-top .workspace-tab-container {
        border-top-left-radius: var(--tab-radius);
      }
      &:last-child .workspace-tab-container {
        border-bottom-left-radius: var(--tab-radius);
      }
      .workspace-tab-container {
        margin-right: 0;
        border-radius: 0;
      }
    }
    &.mod-right-split .workspace-tabs {
      &:not(.mod-top) .workspace-tab-header-container {
        margin-right: 8px;
      }
      &.mod-top .workspace-tab-container {
        border-top-right-radius: var(--tab-radius);
      }
      &:last-child .workspace-tab-container {
        border-bottom-right-radius: var(--tab-radius);
      }
      .workspace-tab-container {
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
  &.tab-top-left-stacked .mod-sidedock {
    &.mod-left-split .workspace-tabs.mod-top-left-space {
      .workspace-tab-header-container-inner {
        border-radius: var(--tab-radius) 0 0 0;
        margin-left: 8px;
        margin-top: 0;
      }
      .workspace-tab-container {
        border-top-left-radius: 0;
      }
    }

    .workspace-tabs.mod-top-left-space {
      .workspace-leaf-content > .nav-header,
      .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
        padding-top: 0;
        padding-bottom: 8px;
      }
    }
  }

  &.tab-top-left-stacked.show-ribbon.hover-ribbon .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 8px;
  }

  // Vault switcher
  .mod-sidedock .workspace-sidedock-vault-profile {
    margin-right: 0;
    border-bottom-right-radius: 0;
  }
  &.hide-vault-switcher-off .mod-sidedock {
    &.mod-left-split .workspace-tabs:last-of-type .workspace-tab-container {
      border-bottom-left-radius: 0;
    }
    .workspace-sidedock-vault-profile {
      width: auto;
      margin: 0 0 0 8px;
      background-color: var(--background-primary);
      border-bottom-left-radius: var(--tab-radius);
    }
  }

  // Editor panel
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
  .workspace:not(.is-left-sidedock-open) .mod-root > div:first-of-type .workspace-tab-container {
    border-top-left-radius: var(--tab-radius);
    border-bottom-left-radius: var(--tab-radius);
  }
  .workspace:not(.is-right-sidedock-open) .mod-root > div:last-of-type .workspace-tab-container {
    border-top-right-radius: var(--tab-radius);
    border-bottom-right-radius: var(--tab-radius);
  }

  // Contrast
  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark {
    .mod-root .workspace-leaf-resize-handle:not(:hover),
    .mod-sidedock > .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }

    .mod-root {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      .workspace-tab-header-container-inner {
        margin-bottom: -1px;
      }
    }

    .mod-sidedock {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      &.mod-left-split {
        .workspace-tabs.mod-top .workspace-tab-container {
          border-width: var(--divider-width) 0 0 var(--divider-width);
        }
        .workspace-tabs:last-of-type .workspace-tab-container {
          border-width: 0 0 var(--divider-width) var(--divider-width);
        }
      }
      &.mod-right-split {
        .workspace-tabs.mod-top .workspace-tab-container {
          border-width: var(--divider-width) var(--divider-width) 0 0;
        }
        .workspace-tabs:last-of-type .workspace-tab-container {
          border-width: 0 var(--divider-width) var(--divider-width) 0;
        }
      }
    }

    &.tab-top-left-stacked .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner {
      border: var(--divider-width) solid var(--divider-color);
      border-width: var(--divider-width) 0 0 var(--divider-width);
    }
  }
}

// Tablet
body.layout-border.is-tablet {
  // Editor panel
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
  .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
    top: var(--header-height);
  }

  .workspace-drawer.mod-left.is-pinned + .mod-root {
    padding-left: 0;
  }
  .workspace-drawer.mod-left:not(.is-pinned) + .mod-root > div:first-of-type .workspace-tab-container {
    border-top-left-radius: var(--tab-radius);
    border-bottom-left-radius: var(--tab-radius);
  }
  .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) {
    padding-right: 0;
  }
  .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) > div:last-of-type .workspace-tab-container {
    border-top-right-radius: var(--tab-radius);
    border-bottom-right-radius: var(--tab-radius);
  }

  // Side panels
  .workspace-drawer.is-pinned {
    border-width: var(--divider-width);
  }
  .workspace-drawer.is-pinned.mod-left {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .workspace-drawer.is-pinned.mod-right {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // Contrast
  &:is(.contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark, .contrast-dark-black-mobile.theme-dark) .mod-root .workspace-tab-container {
    border-width: var(--divider-width) 0 var(--divider-width);
  }
}
