body:is(.layout-cards, .layout-border):not(.is-mobile) {
  // Editor panel
  &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container,
  &.show-ribbon.hover-ribbon .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container,
  &.show-ribbon.hover-ribbon .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }

  // Side panels
  .mod-sidedock .workspace-tabs {
    overflow: visible;

    .workspace-tab-container {
      background-color: var(--background-primary);
    }
  }

  // Vault switcher
  .mod-sidedock .workspace-sidedock-vault-profile {
    padding: 8px;
    margin: 0 8px 8px;

    &::before {
      background-color: var(--background-primary);
      border-radius: 0 0 var(--radius-s) var(--radius-s);
    }
  }

  // Ribbon
  &.show-ribbon {
    &.stacked-nav-off .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    &:not(.hover-sidedock) .mod-sidedock.mod-left-split .workspace-tabs .workspace-tab-container,
    .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
      margin-left: 0;
    }
    &:not(.stacked-nav-off):not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed),
    &:not(.stacked-nav-off).mod-macos:not(.is-hidden-frameless) .workspace-ribbon.mod-left:not(.is-collapsed) {
      margin-top: var(--header-height);
    }
  }

  // Stacked nav
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space {
    .workspace-tab-header-container-inner {
      background-color: var(--background-primary);
      border-radius: var(--radius-s);
      padding-block: 8px;
      margin: 0 8px 8px;
    }
  }
  &.show-ribbon:not(.stacked-nav-off):not(.mod-macos):not(.hover-sidedock) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
  &.show-ribbon:not(.stacked-nav-off):not(.mod-macos).hover-sidedock .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
  &.show-ribbon:not(.stacked-nav-off).mod-macos:not(.is-hidden-frameless) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner {
    margin-top: var(--header-height);
    margin-left: 0;
  }
  &.hover-ribbon .workspace-ribbon.mod-left.is-collapsed ~ .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--tab-curve) + 8px);
  }

  // Hover sidedock {
  &.hover-sidedock {
    &:not(.stacked-nav-off) .mod-sidedock.mod-left-split.is-sidedock-collapsed .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    .mod-sidedock.is-sidedock-collapsed .workspace-tabs .workspace-tab-container {
      background-color: transparent;
      margin: 0;
    }
  }

  // Status bar
  &:not(.status-bar-full) {
    .workspace-split {
      padding-bottom: 8px;
    }
    .status-bar {
      bottom: 8px;
      right: 8px;
    }
  }
  &.status-bar-default .status-bar {
    border: none;
  }
}

// Prompt
body:is(.layout-cards, .layout-border):not(.is-phone) .prompt {
  .prompt-input-container {
    margin: 8px 8px 0;
    border-bottom-width: 0;
  }
  .prompt-input {
    border-radius: var(--radius-m);
    border-bottom: none;
    padding-left: 16px;
    background: var(--background-primary) !important;
  }
  .prompt-results {
    padding: 8px;
  }
  .suggestion-item {
    padding: 12px 16px;
  }
}
body:is(.layout-cards, .layout-border).is-phone .prompt .prompt-input {
  border-radius: var(--radius-l);
}

// Tablet
body:is(.layout-cards, .layout-border).is-tablet {
  .workspace-drawer.is-pinned {
    margin: 0 8px;
    padding-top: 16px;
    margin-top: calc(var(--safe-area-inset-top) + var(--header-height));
    margin-bottom: 8px;
    border-radius: var(--radius-s);
    background-color: var(--background-primary);
  }

  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .mod-root {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      .workspace-tab-header-container-inner {
        margin-bottom: -1px;
      }
    }

    .workspace-drawer {
      border: var(--divider-width) solid var(--divider-color);
    }
  }
  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .workspace-drawer,
    .view-header {
      background-color: black !important;
    }
  }
}

// Cards specific
body.layout-cards:not(.is-mobile) {
  .mod-sidedock .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
  .mod-sidedock .workspace-tabs .workspace-tab-container {
    margin: 0 8px;
    border-radius: var(--radius-s);
  }

  // Vault switcher
  &.hide-vault-switcher-off .mod-sidedock .workspace-sidedock-vault-profile {
    margin: 8px 8px 0;
    border-radius: var(--radius-s);
    background-color: var(--background-primary);
    width: auto;
  }

  // Contrast
  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark {
    &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    .mod-sidedock .workspace-tabs .workspace-tab-container,
    .mod-root .workspace-tab-container {
      border: var(--divider-width) solid var(--divider-color);
    }

    .mod-root .workspace-tab-header-container-inner {
      margin-bottom: -1px;
    }
  }
}
