body:is(.layout-cards, .layout-border):not(.is-mobile) {
  --ribbon-padding: calc(var(--header-height) + 4px) 4px 0 12px;

  // Side panels
  .mod-sidedock {
    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-leaf,
    .workspace-tabs .workspace-tab-container {
      background-color: var(--background-primary);
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }

  // Editor panel
  .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }

  // ----------------------------------------------------------------

  // Stacked nav
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space {
    .workspace-tab-header-container-inner {
      background-color: var(--background-primary);
      border-radius: var(--radius-s);
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 0 8px 8px;
    }
  }

  // Status bar
  &:not(.status-bar-full) {
    .workspace-split {
      padding-bottom: 8px;
    }
    .status-bar {
      bottom: 8px;
      right: 8px;
    }
  }
  &.status-bar-default .status-bar {
    border: none;
  }
}

body.layout-cards:not(.is-mobile) .mod-sidedock {
  .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
  .workspace-tabs .workspace-tab-container {
    margin: 0 8px;
    border-radius: var(--radius-s);
  }
}

// Mobile
body:is(.layout-cards, .layout-border).is-mobile.is-tablet {
  --mobile-sidebar-background: var(--background-primary);

  .workspace-drawer.is-pinned {
    margin: 0 8px;
    padding-top: 16px;
    margin-top: calc(var(--safe-area-inset-top) + var(--header-height));
    margin-bottom: var(--safe-area-inset-bottom);
    border-radius: var(--radius-s);
  }
}
