body.layout-cards:not(.is-mobile),
body.layout-border:not(.is-mobile) {
  // Side panels
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    padding: 12px 16px;
    background-color: var(--background-primary);
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .mod-sidedock {
    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-leaf {
      background-color: var(--background-primary);
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }

  // Editor panel
  &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }

  // ----------------------------------------------------------------

  // Ribbon fix
  &.show-ribbon .mod-sidedock.mod-left-split {
    .workspace-tabs .workspace-tab-container {
      margin-left: 0;
    }
  }

  // Status bar
  &:not(.status-bar-full) {
    .workspace-split {
      padding-bottom: 8px;
    }
    .status-bar {
      bottom: 8px;
      right: 8px;
    }
  }

  // ----------------------------------------------------------------

  // Style Settings: Tabs style fix
  &.tabs-underline .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: var(--radius-l);
  }
  &.tabs-floating .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) / 2);
  }

  // Style Settings: Status bar fix
  &.status-bar-default .status-bar {
    border: none;
  }
}

body.layout-cards:not(.is-mobile) {
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner,
  .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-l);
  }

  // Side panels
  .mod-sidedock {
    .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }

    .workspace-tabs .workspace-tab-container {
      margin: 0 8px;
    }
  }

  // Editor panel
  .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) + 8px);
  }
}

body.layout-border:not(.is-mobile) {
  .workspace-split.mod-left-split > .workspace-leaf-resize-handle,
  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    height: -webkit-fill-available;
    top: var(--header-height);
    bottom: 8px;
  }
  .mod-sidedock .workspace-tabs > .workspace-leaf-resize-handle {
    width: -webkit-fill-available;

    &:is(.mod-sidedock.mod-left-split .workspace-leaf-resize-handle) {
      left: 8px;
    }
    &:is(.mod-sidedock.mod-right-split .workspace-leaf-resize-handle) {
      right: 8px;
    }
  }

  // Side panels
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin-right: -8px;
      margin-bottom: -8px;
      padding-bottom: 0;
      border-top-left-radius: var(--radius-l);
    }
    &.workspace-tabs.mod-top .workspace-tab-container {
      border-top-left-radius: 0;
    }
  }

  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    background-color: var(--background-primary);
  }
  .mod-sidedock.mod-left-split .workspace-tab-container,
  .mod-sidedock.mod-left-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    margin-left: 8px;

    &:is(.workspace-tabs.mod-top .workspace-tab-container) {
      border-top-left-radius: var(--radius-l);
    }
    &:is(.workspace-tabs:last-child .workspace-tab-container) {
      border-bottom-left-radius: var(--radius-l);
    }
  }
  .mod-sidedock.mod-right-split .workspace-tab-container,
  .mod-sidedock.mod-right-split .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    margin-right: 8px;

    &:is(.workspace-tabs.mod-top .workspace-tab-container) {
      border-top-right-radius: var(--radius-l);
    }
    &:is(.workspace-tabs:last-child .workspace-tab-container) {
      border-bottom-right-radius: var(--radius-l);
    }
  }

  // Editor panel
  .workspace.is-left-sidedock-open .mod-root .workspace-tab-container {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .workspace.is-right-sidedock-open .mod-root .workspace-tab-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
