body.layout-cards:not(.is-mobile),
body.layout-border:not(.is-mobile) {
  --ribbon-padding: calc(var(--header-height) + 8px) 4px 0 12px;

  // Side panels
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    padding: 12px 16px;
    background-color: var(--background-primary);
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .mod-sidedock {
    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tabs .workspace-leaf {
      background-color: var(--background-primary);
    }
    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }

    .workspace-sidedock-vault-profile {
      padding: 16px;
    }
  }

  // Editor panel
  .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }

  // ----------------------------------------------------------------

  // Ribbon fix
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 8px;
  }

  // Status bar
  &:not(.status-bar-full) {
    .workspace-split {
      padding-bottom: 8px;
    }
    .status-bar {
      bottom: 8px;
      right: 8px;
    }
  }

  // ----------------------------------------------------------------

  // Style Settings: Tabs style fix
  &.tabs-underline .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: var(--radius-l);
  }
  &.tabs-floating .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner,
  &.tabs-floating-center .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) / 2);
  }

  // Style Settings: Status bar fix
  &.status-bar-default .status-bar {
    border: none;
  }
}

body.layout-cards:not(.is-mobile) {
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner,
  .workspace-tabs .workspace-tab-container {
    border-radius: var(--radius-l);
  }

  // Side panels
  .mod-sidedock {
    .workspace-leaf-resize-handle:not(:hover) {
      border-color: transparent;
    }

    .workspace-tabs .workspace-tab-container {
      margin: 0 8px;
    }
  }

  // Editor panel
  .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container-inner {
    padding-left: calc(var(--radius-l) + 8px);
  }
}
