body:is(.layout-cards, .layout-border):not(.is-mobile) {
  // Editor panel
  &:not(.show-ribbon:not(.hover-ribbon)) .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tabs:first-of-type .workspace-tab-container {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root .workspace-tabs:last-of-type .workspace-tab-container {
    margin-right: 8px;
  }

  // Side panels
  .mod-sidedock .workspace-tabs {
    overflow: visible;

    .workspace-tab-container {
      background-color: var(--background-primary);
      margin: 0 8px;
      border-radius: var(--tab-radius);
    }
  }

  // Vault switcher
  .mod-sidedock .workspace-sidedock-vault-profile {
    padding: 8px;
    margin: 0 8px 8px;
    overflow: hidden;
    border-radius: 0 0 var(--tab-radius) var(--tab-radius);

    &::before {
      background-color: var(--background-primary) !important;
    }
  }

  // Ribbon
  .workspace-ribbon.mod-left:not(.is-collapsed) {
    padding-left: 4px;
  }
  &.show-ribbon:not(.hover-ribbon) {
    .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    &:not(.hover-sidedock) .mod-sidedock.mod-left-split .workspace-tabs .workspace-tab-container,
    .workspace:not(.is-left-sidedock-open) .mod-root .workspace-tab-container {
      margin-left: 0 !important;
    }
    &:is(.tab-top-left-stacked, :not(.css-settings-manager)):not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed),
    &:is(.tab-top-left-stacked, :not(.css-settings-manager)).mod-macos:not(.is-hidden-frameless) .workspace-ribbon.mod-left:not(.is-collapsed) {
      margin-top: var(--header-height);
    }
  }
  &.mod-macos.is-hidden-frameless {
    .workspace-ribbon.mod-left {
      padding-top: 8px;
    }
  }

  // Stacked nav
  &:is(.tab-top-left-stacked, :not(.css-settings-manager)) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space {
    .workspace-tab-header-container-inner {
      background-color: var(--background-primary);
      border-radius: var(--tab-radius);
      padding-block: 8px;
    }
  }
  &.show-ribbon:is(.tab-top-left-stacked, :not(.css-settings-manager)):not(.mod-macos):not(.hover-sidedock) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
  &.show-ribbon:is(.tab-top-left-stacked, :not(.css-settings-manager)):not(.mod-macos).hover-sidedock .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
  &.show-ribbon:is(.tab-top-left-stacked, :not(.css-settings-manager)).mod-macos:not(.is-hidden-frameless) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner {
    margin-top: var(--header-height);
    margin-left: 0;
  }

  // Hover sidedock {
  &.hover-sidedock {
    &:is(.tab-top-left-stacked, :not(.css-settings-manager)) .mod-sidedock.mod-left-split.is-sidedock-collapsed .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    .mod-sidedock.is-sidedock-collapsed .workspace-tabs .workspace-tab-container {
      background-color: transparent;
      margin: 0;
    }
  }

  // Status bar
  &:not(.status-bar-cupertino, .status-bar-full) {
    .workspace > .workspace-split {
      padding-bottom: 8px;
    }
    .status-bar {
      bottom: 8px;
      right: 8px;
    }
  }
  &.status-bar-default .status-bar {
    border: none;
  }
}

// Tablet
body:is(.layout-cards, .layout-border).is-tablet {
  // Editor panel
  .mod-root {
    padding-bottom: 8px;
    height: auto;
  }

  // Side panels
  .workspace-drawer.is-pinned {
    margin: 0 8px;
    margin-top: calc(var(--safe-area-inset-top) + var(--header-height));
    margin-bottom: 8px;
    border-radius: var(--radius-s);
    background-color: var(--background-primary);
    height: auto;

    .workspace-drawer-ribbon,
    .workspace-drawer-inner {
      padding-block: 0px 16px;
    }
    .nav-buttons-container:after,
    .workspace-drawer-tab-options.is-collapsed {
      --mobile-sidebar-background: var(--background-primary);
    }
  }

  // Contrast
  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .mod-root {
      .workspace-tab-container {
        border: var(--divider-width) solid var(--divider-color);
      }
      .workspace-tab-header-container-inner {
        margin-bottom: -1px;
      }
    }

    .workspace-drawer {
      border: var(--divider-width) solid var(--divider-color);
    }
  }
  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .workspace-drawer,
    .view-header {
      background-color: black !important;
    }
  }
}

// Cards specific
body.layout-cards:not(.is-mobile) {
  // Editor panel
  .workspace-split.mod-root .workspace-tabs {
    overflow: visible;
  }
  .workspace-split.mod-vertical {
    gap: 8px;
  }

  .workspace-split > * > .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
  .workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
    border-inline-end-width: 8px;
    transform: translateX(8px);
  }
  .workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
    border-bottom-width: 8px;
    transform: translateY(8px);
  }

  // Side panels
  .mod-sidedock .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
  &:is(.tab-top-left-stacked, :not(.css-settings-manager)) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space {
    .workspace-tab-header-container-inner {
      margin: 0 8px 8px;
    }
  }

  // Vault switcher
  &.hide-vault-switcher-off .mod-sidedock .workspace-sidedock-vault-profile {
    margin: 8px 8px 0;
    border-radius: var(--tab-radius);
    background-color: var(--background-primary);
    width: auto;
  }

  // Contrast
  &.is-translucent,
  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark {
    &:is(.tab-top-left-stacked, :not(.css-settings-manager)) .mod-sidedock.mod-left-split .workspace-tabs.mod-top-left-space .workspace-tab-header-container-inner,
    .mod-sidedock .workspace-tabs .workspace-tab-container,
    .mod-root .workspace-tab-container {
      border: var(--divider-width) solid var(--divider-color);
    }

    .mod-root .workspace-tab-header-container-inner {
      margin-bottom: -1px;
    }
  }
}
