body:is(.layout-classic, .layout-minimal):not(.is-mobile) {
  // Side panels
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-border);
    }
  }

  // Status bar
  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }
}

body.layout-minimal {
  &.show-ribbon:not(.is-mobile) .workspace:not(.is-left-sidedock-open) .workspace-ribbon {
    box-shadow: 0 calc(-1 * var(--header-height)) 0 0 var(--background-primary);
    background-color: var(--background-primary);
  }

  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    border-bottom: none;
  }
  .workspace-split:not(.mod-left-split) .workspace-tabs .workspace-tab-header-container {
    background-color: var(--background-primary);
  }

  .workspace > .mod-root,
  .workspace-drawer.mod-right,
  .mod-sidedock.mod-right-split,
  .mod-sidedock.mod-right-split .workspace-tabs .workspace-leaf {
    background-color: var(--background-primary);
  }

  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .workspace > .mod-root,
    .workspace-drawer.mod-right,
    .mod-sidedock.mod-right-split,
    .mod-sidedock.mod-right-split .workspace-tabs .workspace-leaf,
    .workspace-tab-header-container,
    .mod-root .view-header {
      background-color: black !important;
    }
  }
}
