body:is(.layout-classic, .layout-minimal):not(.is-mobile) {
  // Side panels
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-border);
    }
  }

  // Ribbon
  &.mod-macos.stacked-nav-off .workspace-ribbon {
    padding-top: 8px;
    margin-top: var(--header-height);
    border-top: var(--tab-outline-width) solid var(--tab-outline-color);
  }

  // Status bar
  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }
}

body.layout-minimal {
  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    border-bottom: none;
    background-color: transparent;
  }

  .workspace > .mod-root,
  .workspace-drawer.mod-right,
  .mod-sidedock.mod-right-split,
  .mod-sidedock.mod-right-split .workspace-tabs .workspace-leaf {
    --mobile-sidebar-background: var(--background-primary);
    background-color: var(--background-primary);
  }
}
