body:is(.layout-classic, .layout-minimal):not(.is-mobile) {
  // Editor panel
  .workspace-split.mod-root .workspace-tabs .workspace-tab-container {
    border-radius: 0;
  }

  // Side panels
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split {
    .sidebar-toggle-button::after {
      height: var(--tab-outline-width);
      background-color: var(--tab-outline-color);
      content: "";
      position: absolute;
      inset: auto -100vw 0;
    }
    .mod-top-left-space {
      .workspace-tab-header-container {
        border-bottom: none;
      }
      .workspace-tab-header-container-inner {
        overflow: visible;
        position: relative;
        padding-top: 8px;
      }
      .workspace-leaf-content > .nav-header,
      .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
        padding-top: 0;
        padding-bottom: 8px;
      }
    }
  }
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-border);
    }

    .workspace-leaf-content > .nav-header,
    .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
      padding-top: 8px;
      padding-bottom: 0;
    }
  }

  // Ribbon fix
  &.show-ribbon.mod-macos {
    --ribbon-padding: calc(var(--header-height) + 8px) 0 0 16px;
  }
  &.show-ribbon.mod-macos,
  &.show-ribbon:not(.mod-macos).stacked-nav-off {
    .workspace-ribbon {
      position: relative;
    }
    .workspace-ribbon::before {
      height: var(--tab-outline-width);
      background-color: var(--tab-outline-color);
      content: "";
      position: absolute;
      inset: calc(var(--header-height) - 1px) 0;
    }
  }

  // Style Settings: Status bar fix
  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }
}

body.layout-minimal {
  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    border-bottom: none;
    background-color: transparent;
  }

  .workspace > .mod-root,
  .workspace-drawer.mod-right,
  .mod-sidedock.mod-right-split,
  .mod-sidedock.mod-right-split .workspace-tabs .workspace-leaf {
    --mobile-sidebar-background: var(--background-primary);
    background-color: var(--background-primary);
  }
}
