body:is(.layout-classic, .layout-minimal):not(.is-mobile) {
  // Side panels
  .mod-sidedock {
    & > .workspace-leaf-resize-handle {
      border-color: var(--background-modifier-border);
    }
  }

  // Ribbon
  .workspace-ribbon.mod-left.is-collapsed {
    border-right: var(--divider-width) solid var(--divider-color);
  }

  &.contrast-light-tonal.theme-light,
  &.contrast-dark-tonal.theme-dark,
  &.contrast-dark-black.theme-dark {
    .mod-sidedock > .workspace-leaf-resize-handle:not(:hover) {
      border-color: var(--divider-color);
    }
  }

  // Status bar
  &.status-bar-full {
    --status-bar-border-width: 1px 0 0 0;
  }
}

body.layout-minimal {
  &.show-ribbon:not(.is-mobile) .workspace-ribbon:not(.is-collapsed) {
    background-color: var(--background-secondary);
    box-shadow: 0 calc(-1 * var(--header-height)) var(--background-secondary);
  }

  .mod-sidedock .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    border-bottom: none;
  }
  .workspace-split:not(.mod-left-split) .workspace-tabs {
    background-color: var(--background-primary);
  }

  .mod-sidedock.mod-left-split {
    background-color: var(--background-secondary);
  }

  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .workspace > .mod-root,
    .workspace-drawer.mod-right,
    .mod-sidedock.mod-right-split,
    .mod-sidedock.mod-right-split .workspace-tabs .workspace-leaf,
    .workspace-tab-header-container,
    .mod-root .view-header {
      background-color: black !important;
    }
  }
}
