body:is(.liquid-glass-off, :not(.liquid-glass-off)).obsidian-app.is-mobile {
  --radius-s: 16px;
  --radius-m: 24px;
  --radius-l: 32px;
  --radius-xl: 40px;

  --titlebar-background: transparent;
  --titlebar-background-focused: transparent;
  --background-modifier-form-field: var(--interactive-normal);

  --nav-item-padding: 16px var(--side-padding);

  // Liquid Glass
  &.is-phone .prompt-input,
  &.is-phone .prompt-input-container .prompt-input-cta:not(:empty),
  &.is-phone .prompt-input-container .search-input-clear-button,
  &.is-phone .mod-root .view-header > div > .view-action,
  &.is-phone .mobile-navbar .mobile-navbar-actions,
  &.is-phone .mobile-toolbar-options-list,
  &.is-phone .workspace-drawer-header-icon,
  &.is-phone .mobile-tab-switcher-menu-button,
  &.is-phone .mobile-tab-switcher-menu-spacer .clickable-icon,
  .modal-setting-back-button,
  .modal-close-button,
  .workspace-drawer .nav-header .nav-buttons-container {
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    border: none;
    background-color: var(--liquid-glass-background);
    color: var(--text-normal);
    transition: var(--anim-duration-moderate);

    @starting-style {
      opacity: 0;
      filter: var(--blur-s);
      transform: scale(0.75);
    }
  }

  // Side panels
  .workspace-drawer .workspace-drawer-header,
  .workspace-drawer .workspace-leaf-content > .view-content,
  .workspace-drawer .workspace-leaf-content > .node-insert-event {
    padding-inline: var(--safe-area-inset-side);
  }

  .workspace-drawer .workspace-drawer-header-left {
    margin-left: 8px;
  }

  .workspace-drawer .workspace-drawer-active-tab-header {
    margin: 0 var(--safe-area-inset-side) 8px;
    border-radius: 100vh;
    background-color: var(--background-primary);
    padding-right: 8px;
    padding-left: 16px;
    width: fit-content;
  }

  .workspace-leaf-content:not([data-type="empty"]) .mod-left-split-toggle svg.svg-icon {
    --icon-size: var(--icon-l);
    background-color: currentColor;
    content: "";
    -webkit-mask-position: 25% 50%;
    -webkit-mask-size: 80% 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='21' fill='none' viewBox='0 0 12 21'%3e%3cpath fill='white' d='M0 10.372c0 .397.141.732.459 1.046l9.137 8.934c.256.266.575.395.953.395a1.35 1.35 0 0 0 1.372-1.354c0-.382-.163-.718-.422-.983l-8.24-8.04 8.24-8.036c.261-.266.422-.61.422-.98A1.349 1.349 0 0 0 10.549 0c-.38 0-.697.129-.953.385L.459 9.327A1.397 1.397 0 0 0 0 10.372Z'/%3e%3c/svg%3e");
  }

  // File explorer
  .nav-files-container > div {
    --nav-item-color-active: var(--text-on-accent);
    --nav-item-background-active: var(--interactive-accent);

    border-radius: var(--radius-m);
    background-color: var(--background-primary);

    > .tree-item:nth-child(2) > .tree-item-self {
      border-top-left-radius: var(--radius-m);
      border-top-right-radius: var(--radius-m);
    }
    > .tree-item:last-child > .tree-item-self {
      border-bottom-left-radius: var(--radius-m);
      border-bottom-right-radius: var(--radius-m);
    }

    .tree-item {
      position: relative;
    }
    .tree-item .tree-item-self {
      padding-inline-end: var(--side-padding);
      margin-bottom: 0;
      border-radius: 0;
    }
    .tree-item .tree-item-self .tree-item-icon {
      position: relative;
      order: 1;
      margin-inline-start: unset;
    }
    .tree-item .tree-item-inner {
      flex: 1;
    }

    .tree-item:not(.nav-files-container > div > div:nth-child(2)):not(:last-child:only-child):before {
      position: absolute;
      inset: calc(-1 * (var(--border-width) / 2)) var(--side-padding) auto;
      background: var(--background-modifier-border);
      height: var(--border-width);
      content: "";
    }
  }

  // HDR element
  &.is-ios.theme-light {
    &.is-phone .prompt-input-container::after,
    &.is-phone .prompt-input-container .prompt-input-cta:not(:empty)::before,
    &.is-phone .prompt-input-container .search-input-clear-button::before,
    &.is-phone .mobile-tab-switcher-menu-button::after,
    &.is-phone .mobile-tab-switcher-menu-spacer .clickable-icon::before,
    &.is-tablet .menu::after,
    &.is-tablet .workspace-drawer:not(.is-pinned)::after,
    .mod-root .view-header > div > .view-action::after,
    .workspace-drawer-header-icon::after,
    .workspace-drawer .nav-buttons-container::after,
    .mobile-navbar-actions::after,
    .mobile-toolbar-options-list::after,
    .modal-setting-back-button::after,
    .modal-close-button::after,
    .notice::after {
      position: absolute;
      z-index: 1;
      backdrop-filter: brightness(1.1);
      mask: linear-gradient(white, white) padding-box, linear-gradient(white, white) border-box;
      mask-composite: exclude, add;
      filter: blur(1px);
      inset: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      background: linear-gradient(to bottom left, white, transparent, white) border-box no-repeat;
      pointer-events: none;
      content: "";
    }

    &.is-phone .prompt-input-container::after {
      height: auto;
      border-radius: 100vh;
      margin-right: 56px;
    }
  }

  // Bases: Cards padding fix
  .bases-cards-item {
    padding: var(--side-padding);
  }
  .bases-cards-line,
  .bases-cards-label {
    padding: 0;
  }
}

body:is(.liquid-glass-off, :not(.liquid-glass-off)).obsidian-app.is-phone {
  // Editor panel
  .mod-root {
    .view-header-left,
    .view-actions {
      flex: 0;
      gap: 8px !important;
    }

    .view-header {
      padding-inline: var(--safe-area-inset-side);
    }
    .view-header-title-container {
      margin-left: 4px;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
    }
    .view-header-title-parent {
      font-size: var(--font-ui-smaller);
      opacity: 1;
    }
    .view-header-title {
      font-weight: var(--font-medium);
      opacity: 1;
      height: 1lh;
    }
    .view-header-breadcrumb {
      padding: 0;
    }
    .view-header-breadcrumb-separator {
      padding: 0 4px;

      &:last-child {
        display: none;
      }
    }
  }

  // Pull action
  .pull-action:not(.mod-activated) {
    background-color: var(--liquid-glass-background);
  }
  .pull-action {
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    width: fit-content;
    font-weight: calc(var(--font-weight) + var(--bold-modifier));
  }

  // Tab switcher
  --tab-switcher-background: transparent;
  --tab-switcher-menubar-background: var(--tab-switcher-background);
  --tab-switcher-preview-background-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  --tab-switcher-preview-radius: var(--radius-m);

  .mobile-tab-switcher {
    background: linear-gradient(rgba(var(--mono-rgb-0), 0.5), var(--mobile-sidebar-background)) !important;
    backdrop-filter: var(--blur-l);
    justify-content: flex-end;
    width: unset;
    height: unset;
  }

  .mobile-tab-switcher-scroll {
    padding-top: 0;
    height: unset;
  }
  .mobile-tab-switcher-menubar {
    background-color: var(--mobile-sidebar-background);
    padding: 0 var(--safe-area-inset-bottom-override) var(--safe-area-inset-bottom-override);
    border: none;
  }
  .mobile-tab-switcher-menu-button {
    flex: 1;
    height: var(--input-height);
    border-radius: var(--clickable-icon-radius);
    justify-content: center;
  }
  .mobile-tab-switcher-menu-spacer:first-child .clickable-icon {
    width: var(--input-height);
    height: var(--input-height);
  }
  .mobile-tab-switcher-menu-spacer:last-child .clickable-icon {
    padding: var(--input-padding);
    height: var(--input-height);
    backdrop-filter: none;
  }

  .mobile-tab .mobile-tab-pin,
  .mobile-tab .close-button {
    width: 32px;
    height: 32px;
  }
}

body:is(.liquid-glass-off, :not(.liquid-glass-off)).obsidian-app.is-tablet {
  --border-width: 0.5pt;

  .workspace-drawer.is-pinned {
    z-index: 4;
  }
}
