body:is(.layout-cupertino, .layout-macos):not(.is-mobile) {
  --setting-items-padding: calc(12px * var(--density-modifier)) var(--side-padding);

  .modal.mod-sidebar-layout {
    background-color: var(--background-primary);
    border: none;

    .vertical-tab-nav-item.is-active {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
    }

    .setting-item-heading {
      margin-bottom: 12px;
      margin-left: var(--side-padding);
    }
    .setting-item-heading .setting-item-name {
      color: var(--text-normal);
    }

    .setting-group-search {
      padding: 16px;
    }

    .setting-group .setting-items .setting-item {
      padding-inline: 0;
    }
    .setting-group .setting-item:first-child {
      padding-top: 0;
    }
    .setting-group .setting-item:last-child {
      padding-bottom: 0;
    }

    .setting-item:not(.setting-item-heading) {
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
      position: relative;
    }
  }

  .modal.mod-settings {
    .setting-group + .setting-group {
      margin-top: 24px;
    }

    .installed-plugins-container .setting-items {
      padding: 0 16px 16px;
    }
  }
}

body:is(.layout-cupertino, .layout-macos).is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-color: var(--text-faint);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button {
      inset-inline-start: var(--safe-area-inset-side);
    }
    .modal-close-button {
      top: var(--safe-area-inset-side);
      inset-inline-end: var(--safe-area-inset-side) !important;
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: var(--modal-header-height);
    }
  }
  .modal.mod-settings {
    --modal-header-height: 76px;

    .modal-title {
      margin-top: 16px;
    }
  }
  .modal.mod-community-modal {
    .modal-header {
      position: absolute;
    }
    .modal-title {
      height: calc(var(--touch-size-m) + 32px);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: calc(var(--touch-size-m) + 32px);
      border-radius: var(--modal-radius);
    }
  }
}

body:is(.layout-cupertino, .layout-macos).is-tablet {
  --setting-items-radius: var(--radius-m);

  .modal.mod-settings {
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: calc(12px * var(--density-modifier)) var(--side-padding);
    }
  }
}
