body:not(.is-mobile) {
  --radius-window: 6px;

  // Ribbon
  --ribbon-background: transparent;
  --ribbon-background-collapsed: var(--ribbon-background);

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    background-color: var(--background-primary);
  }

  // Side panels
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 0;
  }
  .mod-sidedock .workspace-tab-header-container {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: var(--clickable-icon-radius);
      padding: 0;
      outline: 2px solid transparent;
      background-clip: content-box;
      height: auto;
    }

    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);
      outline-color: var(--background-modifier-hover);
    }
    .workspace-tab-header-container-inner:hover .workspace-tab-header.is-active {
      background-color: var(--background-primary);
      box-shadow: var(--raised-shadow);
    }

    .workspace-tab-header {
      border-radius: var(--clickable-icon-radius);
    }
    .workspace-tab-header-inner {
      padding: 8px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: var(--clickable-icon-radius);
      width: var(--tab-action-width);
      height: fit-content;
    }
  }

  .mod-sidedock.mod-left-split .sidebar-toggle-button {
    order: -1;
  }
}

body.layout-macos:not(.is-mobile) {
  // Editor panel
  &.theme-light .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  .workspace.is-left-sidedock-open .mod-root .workspace-tab-header-container {
    overflow: hidden;
  }
  .mod-root {
    z-index: 1;
  }
  .mod-root .workspace-tabs {
    overflow: visible;
  }
  .mod-root .workspace-tab-container {
    outline: var(--tab-outline-width) solid var(--tab-outline-color);
  }
}

body.layout-macos:not(.is-mobile) {
  .workspace {
    background-color: var(--tab-container-background);
  }
  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    .mod-root {
      background-color: var(--background-primary);
      padding-bottom: 0;
    }
    .mod-root .workspace-tab-container {
      box-shadow: none;
      outline-color: transparent;
    }
  }
  .mod-root {
    padding-bottom: 8px;
  }

  // Windows & Linux fix
  &.is-hidden-frameless .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: var(--frame-right-space);
  }
}
