body:not(.mod-windows:not(.windows-off)) {
  .modal.mod-settings .vertical-tab-nav-item {
    .vertical-tab-nav-item-icon {
      --icon-size: var(--icon-xs);
      padding: 4px;
      border-radius: 6px;
      color: white;
      box-shadow: inset 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.25), inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.25), 0 0 2px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.15);
      background-image: linear-gradient(rgba(255, 255, 255, 0.25), transparent);
      background-color: var(--color-base-60);
    }

    &[data-setting-id="editor"] .vertical-tab-nav-item-icon {
      background-color: var(--color-blue);
    }
    &[data-setting-id="file"] .vertical-tab-nav-item-icon {
      background-color: var(--color-orange);
    }
    &[data-setting-id="appearance"] .vertical-tab-nav-item-icon {
      background-color: var(--color-accent);
    }
    &[data-setting-id="hotkeys"] .vertical-tab-nav-item-icon {
      background-color: var(--color-pink);
    }
    &[data-setting-id="keychain"] .vertical-tab-nav-item-icon {
      background-color: var(--color-green);
    }
    &[data-setting-id="plugins"] .vertical-tab-nav-item-icon {
      background-color: var(--color-cyan);
    }
    &[data-setting-id="community-plugins"] .vertical-tab-nav-item-icon {
      background-color: var(--color-purple);
    }
    &[data-setting-id="backlink"] .vertical-tab-nav-item-icon {
      background-color: var(--color-purple);
    }
    &[data-setting-id="canvas"] .vertical-tab-nav-item-icon {
      color: var(--color-red);
      background-color: rgb(238, 238, 238);
      background-image: linear-gradient(rgb(255, 255, 255), transparent);
    }
    &[data-setting-id="command-palette"] .vertical-tab-nav-item-icon {
      background-color: rgb(21, 21, 21);
    }
    &[data-setting-id="daily-notes"] .vertical-tab-nav-item-icon {
      background-color: var(--color-red);
    }
    &[data-setting-id="file-recovery"] .vertical-tab-nav-item-icon {
      background-color: var(--color-green);
    }
    &[data-setting-id="note-composer"] .vertical-tab-nav-item-icon {
      background-color: var(--color-cyan);
    }
    &[data-setting-id="page-preview"] .vertical-tab-nav-item-icon {
      background-color: var(--color-blue);
    }
    &[data-setting-id="switcher"] .vertical-tab-nav-item-icon {
      background-color: var(--color-purple);
    }
    &[data-setting-id="sync"] .vertical-tab-nav-item-icon {
      color: var(--color-green);
      background-color: rgb(238, 238, 238);
      background-image: linear-gradient(rgb(255, 255, 255), transparent);
    }
    &[data-setting-id="templates"] .vertical-tab-nav-item-icon {
      background-color: var(--color-blue);
    }
    &[data-setting-id="zk-prefixer"] .vertical-tab-nav-item-icon {
      background-color: var(--color-orange);
    }
    &[data-setting-id="webviewer"] .vertical-tab-nav-item-icon {
      color: var(--color-blue);
      background-color: rgb(238, 238, 238);
      background-image: linear-gradient(rgb(255, 255, 255), transparent);
    }
  }
}

body:not(.mod-windows:not(.windows-off)):not(.is-android:not(.android-off)):not(.is-phone) {
  --setting-items-padding: 12px var(--side-padding);
  --setting-items-background: var(--background-primary-alt);

  .modal.mod-sidebar-layout {
    background-color: var(--background-primary);
    border: none;

    .vertical-tab-nav-item.is-active {
      --text-normal: var(--text-on-accent);
      color: var(--text-on-accent);
      background-color: var(--interactive-accent);
    }
    .vertical-tab-nav-item:not(.is-active):hover {
      background-color: transparent;
    }
    .vertical-tab-header-group-title,
    .vertical-tab-nav-item {
      padding: 6px 8px;
    }

    .setting-item-heading {
      margin-bottom: 12px;
      margin-left: var(--side-padding);
    }
    .setting-item-heading .setting-item-name {
      color: var(--text-normal);
    }

    .setting-group-search {
      padding: 16px;
    }

    .setting-group .setting-items .setting-item {
      padding-inline: 0;
    }
    .setting-group .setting-item:first-child {
      padding-top: 0;
    }
    .setting-group .setting-item:last-child {
      padding-bottom: 0;
    }
  }

  .modal.mod-settings {
    .setting-group + .setting-group {
      margin-top: 24px;
    }

    .setting-item:not(.setting-item-heading) {
      padding: 12px var(--side-padding);
    }

    .installed-plugins-container .setting-items {
      padding: 0 16px 16px;
    }
    .installed-plugins-container .setting-items .setting-item {
      border: none;
    }
  }

  .modal.mod-community-modal {
    .community-modal-search-results {
      background-color: var(--setting-items-background);
    }
  }
}

body:not(.is-android:not(.android-off)).is-mobile {
  .modal.mod-settings {
    .vertical-tab-nav-item .vertical-tab-nav-item-icon {
      padding: 5px;
      border-radius: 8px;
      box-shadow: 0 0 0 0.5px var(--background-modifier-border);
      margin-left: -4px;
    }
  }
}

body:not(.is-android:not(.android-off)).is-phone {
  --setting-items-radius: var(--radius-m);
  --setting-group-heading-color: var(--text-faint);
  --setting-group-heading-size: var(--font-ui-medium);

  .modal.mod-sidebar-layout {
    --modal-radius: var(--radius-xl) var(--radius-xl) 0 0;
    max-height: calc(100% - var(--safe-area-inset-top));

    .modal-setting-back-button {
      inset-inline-start: var(--safe-area-inset-side);
    }
    .modal-close-button {
      top: var(--safe-area-inset-side);
      inset-inline-end: var(--safe-area-inset-side) !important;
    }

    .vertical-tab-header,
    .vertical-tab-content {
      padding-top: var(--modal-header-height);
    }

    .vertical-tab-nav-item {
      height: var(--touch-size-xl);
    }
  }
  .modal.mod-settings {
    --modal-header-height: 76px;

    .modal-title {
      margin-top: 16px;
    }
  }
  .modal.mod-community-modal {
    .modal-header {
      position: absolute;
    }
    .modal-title {
      height: calc(var(--touch-size-m) + 32px);
    }

    .modal-content .modal-sidebar,
    .modal-content .community-modal-info {
      padding-top: calc(var(--touch-size-m) + 32px);
      border-radius: var(--modal-radius);
    }
  }
}

body:not(.is-android:not(.android-off)).is-tablet {
  --setting-items-padding: 16px var(--side-padding);

  .modal.mod-settings {
    .vertical-tab-header-group-title {
      display: none;
    }
    .vertical-tab-nav-item {
      padding: 12px var(--side-padding);
    }
    .vertical-tab-nav-item.is-active {
      color: var(--interactive-accent);
      background-color: var(--background-modifier-hover);
    }
  }
}
