body:is(.layout-cupertino, .layout-macos):not(.is-mobile),
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  --background-modifier-message: var(--modal-background);

  .menu,
  .popover,
  .cm-tooltip,
  .suggestion-container,
  .prompt,
  .modal,
  .notice {
    backdrop-filter: var(--blur-s);
    border: none !important;
  }
}

// Menu
body:is(.layout-cupertino, .layout-macos):not(.is-mobile) {
  .menu,
  .menu svg.svg-icon {
    transition: none;
  }

  .menu,
  .popover,
  .cm-tooltip,
  .suggestion-container {
    background-color: var(--modal-background);
  }

  .menu:hover,
  .popover,
  .cm-tooltip,
  .suggestion-container {
    .menu-item.selected:not(.is-label):not(.is-disabled) {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);

      .menu-item-icon {
        color: var(--text-on-accent);
      }
    }
  }
  .menu,
  .suggestion-container {
    .menu-item,
    .suggestion-item {
      padding: calc(4px * var(--density-modifier)) 12px;
      align-items: center;
    }
    .suggestion-item {
      min-height: 32px;
    }
    .menu-separator {
      margin: 6px 8px;
    }
  }
}

body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  .menu-scroll {
    background-color: transparent;
  }

  .menu .menu-item,
  .menu .suggestion-item,
  .suggestion-container .menu-item,
  .suggestion-container .suggestion-item {
    padding: calc(12px * var(--density-modifier)) var(--side-padding);

    &:not([class*="is-"]) .menu-item-icon {
      color: var(--text-normal);
    }
    .menu-item-icon .svg-icon {
      --icon-size: var(--icon-m);
      --icon-stroke: var(--icon-m-stroke-width);
    }
  }
}
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile.is-phone {
  --menu-shadow: none;

  .menu .menu-scroll,
  .suggestion-container .menu-scroll {
    padding: 32px var(--side-padding);
  }
  .suggestion-container {
    background-color: var(--modal-background);
  }

  .menu .menu-item {
    min-height: 48px;
  }
  .menu .menu-item:not(:last-child) {
    border-bottom: none;

    .menu-item-title {
      position: relative;
    }
    .menu-item-title::after {
      position: absolute;
      inset: auto 0 -14px;
      background-color: rgba(var(--mono-rgb-100), 0.1);
      height: var(--border-width);
      content: "";
    }
  }
  .suggestion-container .suggestion-item {
    padding: calc(12px * var(--density-modifier)) var(--side-padding);
  }

  .menu-group {
    .menu-item:not(.is-label) {
      background-color: var(--background-modifier-hover);
    }

    .menu-item.is-label + .menu-item:not(.is-label),
    .menu-item:first-child {
      border-top-left-radius: var(--radius-m);
      border-top-right-radius: var(--radius-m);
    }
    .menu-item:last-child {
      border-bottom-left-radius: var(--radius-m);
      border-bottom-right-radius: var(--radius-m);
    }
  }
}
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile.is-tablet {
  --menu-background: var(--modal-background);
  --menu-shadow: var(--shadow-xs);
  --menu-radius: var(--radius-l);

  .menu {
    backdrop-filter: var(--blur-s);
    line-height: normal;
  }
  .menu,
  .suggestion-container {
    .menu-separator {
      margin: 4px 16px;
    }
    .menu-scroll,
    .suggestion {
      padding: 8px;
    }
    .menu-item,
    .suggestion-item {
      gap: 16px;
    }
  }
}

// Modal
body:is(.layout-cupertino, .layout-macos):not(.is-mobile) {
  --modal-background: rgb(from var(--background-primary) r g b / 75%);

  .modal {
    @starting-style {
      opacity: 1;
      filter: none;
      transform: scale(0.99);
    }
  }

  .modal:not(.mod-sidebar-layout) {
    .modal-title {
      width: 100%;
    }
    .modal-button-container button {
      flex: 1;
      margin: 0;
      border-radius: 100vh;
      min-height: 32px;
    }
  }
}

body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  --modal-background: rgb(from var(--background-secondary) r g b / 75%);

  --modal-header-height: var(--view-header-height);

  .modal-close-button {
    &:not(.mod-confirmation .modal-close-button) {
      display: flex;
    }

    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    width: var(--modal-header-height);
    height: var(--modal-header-height);

    &::before {
      width: var(--icon-l);
      height: var(--icon-l);
      content: "\2715";
      line-height: 1;
      text-align: center;
    }
  }
}
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile.is-phone .modal .modal-nav-action {
  height: var(--modal-header-height);
  margin-top: 0;
}

// Settings
body:is(.layout-cupertino, .layout-macos):not(.is-mobile) .modal.mod-sidebar-layout:not(.mod-community-modal) {
  background-color: var(--background-primary);

  .horizontal-tab-nav-item,
  .vertical-tab-nav-item,
  .vertical-tab-header-group-title {
    padding: 4px 8px;
  }

  .setting-item {
    padding: calc(12px * var(--density-modifier)) var(--side-padding);
  }
  .setting-item:not(.setting-item-heading) {
    border: none;
    background-color: var(--color-base-20);
    position: relative;

    &::after {
      position: absolute;
      inset: auto var(--side-padding) 0;
      background-color: var(--background-modifier-border);
      height: var(--border-width);
      pointer-events: none;
      content: "";
    }
  }

  .setting-item.setting-item-heading + .setting-item,
  *:not(.setting-item) + .setting-item,
  .setting-item:not(.setting-item-heading):first-child {
    border-top-left-radius: var(--radius-m);
    border-top-right-radius: var(--radius-m);
  }
  .setting-item:not(.setting-item-heading):has(+ .setting-item.setting-item-heading, + div:not(.setting-item)),
  .setting-item:not(.setting-item-heading):last-child {
    border-bottom-left-radius: var(--radius-m);
    border-bottom-right-radius: var(--radius-m);

    &::after {
      content: none;
    }
  }

  .installed-plugins-container {
    padding-top: 0;
    border-top: none;
  }
}

body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile.is-phone .modal.mod-sidebar-layout {
  .modal-header {
    position: absolute;
    z-index: 1;
    padding-top: calc(var(--safe-area-inset-top) + 12px);
  }
  .modal-header::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    mask: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.99) 18.4%, hsla(0, 0%, 0%, 0.963) 33.7%, hsla(0, 0%, 0%, 0.92) 46.4%, hsla(0, 0%, 0%, 0.864) 56.7%, hsla(0, 0%, 0%, 0.796) 64.8%, hsla(0, 0%, 0%, 0.72) 71.2%, hsla(0, 0%, 0%, 0.637) 76.1%, hsla(0, 0%, 0%, 0.55) 79.9%, hsla(0, 0%, 0%, 0.46) 82.8%, hsla(0, 0%, 0%, 0.37) 85.2%, hsla(0, 0%, 0%, 0.283) 87.3%, hsla(0, 0%, 0%, 0.2) 89.6%, hsla(0, 0%, 0%, 0.124) 92.3%, hsla(0, 0%, 0%, 0.056) 95.6%, hsla(0, 0%, 0%, 0) 100%);
    background-color: var(--background-secondary);
    height: calc(var(--safe-area-inset-top) + var(--view-header-height) + 32px);
    pointer-events: none;
    content: "";
  }
  .modal-setting-back-button {
    padding: 10px;
    inset-inline-start: var(--side-padding);
    height: fit-content;
  }

  .modal-content {
    position: absolute;
    inset: 0;
  }
  .modal-content .community-modal-controls,
  .modal-content .community-modal-info {
    background-color: var(--mobile-sidebar-background);
    padding-top: calc(var(--safe-area-inset-top) + var(--modal-header-height) + 24px);
  }

  .vertical-tab-header,
  .vertical-tab-content {
    padding-top: calc(var(--safe-area-inset-top) + var(--modal-header-height) + 24px);
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
  }
  .vertical-tab-header-group {
    padding-top: 0;
  }
  .vertical-tab-header-group-title {
    padding: 8px 4px;
  }
  .vertical-tab-header-group-title {
    color: var(--text-faint);
    font-size: var(--font-ui-medium);
  }
  .vertical-tab-header-group-items {
    border-radius: var(--radius-m);
    background-color: var(--background-primary);
    overflow: hidden;
  }
  .vertical-tab-nav-item {
    position: relative;
    border-bottom: none;
    padding: var(--nav-item-padding);
    height: unset;
  }
  .vertical-tab-nav-item:not(:last-child)::after {
    position: absolute;
    inset: auto var(--side-padding) 0;
    background-color: var(--background-modifier-border);
    height: var(--border-width);
    pointer-events: none;
    content: "";
  }

  .modal-close-button {
    inset-inline-end: var(--side-padding) !important;
    padding: 10px;
  }
}

// Notice & Tooltip
body:is(.layout-cupertino, .layout-macos):not(.is-mobile),
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  .notice-container {
    display: flex;
    top: unset;
    bottom: var(--safe-area-inset-bottom);
    flex-direction: column;
    gap: 8px;
    overflow: visible;
  }
  .notice {
    margin-bottom: 0;
    box-shadow: var(--shadow-l);
    border-radius: var(--radius-m);
    padding: calc(16px * var(--density-modifier)) var(--side-padding);
    color: var(--text-muted);
    background-color: var(--modal-background);
  }

  .tooltip {
    --background-modifier-message: var(--background-primary);
    color: var(--text-muted);
    border-radius: var(--radius-m);
  }
}
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  .notice {
    margin-bottom: 0;
    box-shadow: var(--shadow-xs);
    border-radius: var(--radius-m);
    padding: calc(16px * var(--density-modifier)) var(--side-padding);
    color: var(--text-muted);
    background-color: var(--modal-background);
  }
}

// Drag ghost
body:is(.layout-cupertino, .layout-macos):not(.is-mobile) {
  --drag-ghost-background: var(--background-primary);
  --drag-ghost-text-color: var(--text-normal);

  .drag-ghost {
    box-shadow: var(--shadow-l);
    padding: 8px 12px;
    border-radius: var(--radius-m);
  }
}
