body:is(.layout-cupertino, .layout-macos):not(.is-mobile),
body:is(.layout-cupertino, .layout-macos):not(.mobile-stable).is-mobile {
  --p-spacing: 1rem;
  --line-height-normal: 1.6;

  --clickable-icon-radius: 100vh;

  --text-normal-editor: var(--color-base-90);

  --icon-opacity: 1;
  --icon-color: rgb(var(--mono-rgb-100));
  --icon-color-hover: rgb(var(--mono-rgb-100));

  // File explorer
  .nav-files-container > div {
    --nav-collapse-icon-color: rgb(var(--mono-rgb-100));
    --nav-item-color: rgb(var(--mono-rgb-100));
    --nav-item-color-hover: rgb(var(--mono-rgb-100));
    --nav-item-color-active: rgb(var(--mono-rgb-100));
    --nav-item-color-selected: rgb(var(--mono-rgb-100));
    --nav-item-weight: var(--font-normal);
    --nav-item-weight-hover: var(--nav-item-weight);
    --nav-item-weight-active: var(--nav-item-weight);
    --nav-item-background-hover: transparent;
    --nav-item-background-active: var(--background-modifier-hover);
  }

  .tree-item-self.is-active::before {
    content: none !important;
  }

  // Editor panel
  .markdown-source-view,
  .markdown-preview-view {
    transition: transform var(--anim-duration-slow) var(--anim-motion-baseline);
  }
  .workspace-leaf-content[data-mode="source"] > .view-content > .markdown-reading-view > .markdown-preview-view {
    transform: scale(0.995);
    opacity: 0;
  }
  .workspace-leaf-content[data-mode="preview"] > .view-content > .markdown-source-view {
    transform: scale(0.995);
    opacity: 0;
  }

  .mod-root .workspace-leaf-content[data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
  }

  // Find & replace fix
  .document-search-container {
    padding: 8px var(--safe-area-inset-side);
    background-color: transparent;

    .document-search,
    .document-replace {
      max-width: 100%;
      padding: 0;
    }
    .document-search-buttons,
    .document-replace-buttons {
      flex-grow: 0;
    }
  }

  // Style Settings fix
  .style-settings-heading {
    border-bottom: none;
  }
}

body:is(.layout-cupertino, .layout-macos):not(.is-mobile) {
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(20px * var(--radius-modifier));
  --radius-xl: calc(28px * var(--radius-modifier));
  --radius-window: 6px;

  --tab-action-width: 40px;

  .workspace-split .clickable-icon {
    min-width: 40px;
  }
  .clickable-icon:not([aria-disabled="true"]):hover,
  .clickable-icon.has-active-menu,
  .modal-close-button:hover {
    box-shadow: var(--shadow-xs);
    background-color: var(--liquid-glass-background);
  }

  // Ribbon
  --ribbon-background: transparent;
  --ribbon-background-collapsed: var(--ribbon-background);

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    background-color: var(--background-primary);
  }

  // Side panels
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 0;
  }
  &.stacked-nav-off .mod-sidedock .workspace-tab-header-container,
  &:not(.stacked-nav-off) .mod-sidedock .workspace-tabs:not(.mod-top-left-space) .workspace-tab-header-container {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: var(--clickable-icon-radius);
      padding: 0;
      outline: 2px solid transparent;
      background-clip: content-box;
      height: auto;
    }

    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);
      outline-color: var(--background-modifier-hover);
    }
    .workspace-tab-header-container-inner:hover .workspace-tab-header.is-active {
      background-color: var(--background-primary);
      box-shadow: var(--shadow-xs);
    }

    .workspace-tab-header {
      border-radius: var(--clickable-icon-radius);
    }
    .workspace-tab-header-inner {
      padding: 8px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: var(--clickable-icon-radius);
      width: 40px;
      height: fit-content;
    }
  }

  .mod-sidedock.mod-left-split .sidebar-toggle-button {
    order: -1;
  }

  &:not(.compact-actions-off) {
    .mod-sidedock .workspace-leaf-content > .nav-header,
    .mod-sidedock .workspace-leaf-content > .view-content > .nav-header {
      .nav-buttons-container {
        border-radius: var(--clickable-icon-radius);
        background-color: var(--background-modifier-hover);
        padding: 2px;
        gap: 0;
        align-self: center;

        .nav-action-button {
          position: relative;
          padding: 8px;
          border-radius: var(--clickable-icon-radius);
        }
        .nav-action-button:hover:not([aria-disabled="true"]) {
          background-color: var(--background-modifier-hover);
          box-shadow: none;
        }
      }
    }
  }
  .mod-sidedock .workspace-tab-container,
  .mod-sidedock .workspace-leaf,
  .mod-sidedock .workspace-leaf-content {
    contain: size !important;
    overflow: visible;
  }

  // Hover sidedock
  &.hover-sidedock {
    .mod-sidedock.is-sidedock-collapsed:not([style*="overflow: hidden;"]) {
      backdrop-filter: var(--blur-m);
      box-shadow: none;
      border-radius: var(--radius-m);
      background-color: var(--modal-background);
      border: var(--border-width) solid var(--background-modifier-border);
      margin: 8px;
      overflow: visible;

      &::before {
        content: none;
      }
      &::after {
        content: "";
        position: absolute;
        width: 32px;
      }

      &.mod-left-split::after {
        inset: 0 auto 0 -32px;
      }
      &.mod-right-split::after {
        inset: 0 -32px 0 auto;
      }

      &.mod-left-split:not(:hover) {
        margin-left: 0;
      }
      &.mod-right-split:not(:hover) {
        margin-right: 0;
      }
    }
  }

  &.hover-ribbon.hover-sidedock:not(.mod-macos) {
    .workspace-ribbon.mod-left.is-collapsed:hover + .mod-sidedock {
      margin-left: 8px;
    }

    .workspace-ribbon.mod-left.is-collapsed {
      margin-top: 8px;

      .side-dock-actions {
        margin-top: 0;
      }

      &::before {
        content: none;
      }

      &:hover {
        padding-left: 16px;
      }
    }
  }
}

body.layout-cupertino:not(.is-phone) {
  // Editor panel
  &.theme-light .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  .mod-root {
    z-index: 5;

    .workspace-tabs,
    .workspace-tab-container {
      overflow: visible;
    }
    .workspace-tab-container {
      outline: var(--tab-outline-width) solid var(--tab-outline-color);
    }
  }
}

body.layout-cupertino:not(.is-mobile) {
  .workspace-split.mod-sidedock {
    background-color: transparent;
  }
  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    .mod-root {
      background-color: var(--background-primary);
      padding-bottom: 0;
    }
    .mod-root .workspace-tab-container {
      box-shadow: none;
      outline-color: transparent;
    }
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }
  &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root .workspace-tab-container {
    margin-left: 8px;
  }

  // Status bar
  &:not(.status-bar-full) .mod-root {
    padding-bottom: 8px;
  }
}
