body.mobile-cupertino.is-mobile {
  --radius-s: calc(16px * var(--radius-modifier));
  --radius-m: calc(24px * var(--radius-modifier));
  --radius-l: calc(32px * var(--radius-modifier));
  --radius-xl: calc(40px * var(--radius-modifier));

  --nav-item-padding: calc(16px * var(--density-modifier)) var(--side-padding);
  --background-modifier-form-field: var(--interactive-normal) !important;

  &.theme-light {
    --mobile-sidebar-background: var(--background-secondary);
    --interactive-normal: var(--background-primary);
    --background-modifier-hover: rgba(var(--mono-rgb-100), 0.045);
  }
  &.theme-dark {
    --mobile-sidebar-background: black;
    --interactive-normal: var(--background-secondary);
  }

  // Background fix
  &.is-phone .app-container,
  &.is-tablet.tab-floating .app-container,
  .mod-root .view-header::before,
  .mod-root .view-content::before,
  .mod-root .view-content,
  .mod-root .canvas-wrapper,
  &.theme-dark .modal.mod-sidebar-layout .modal-header::before,
  &.theme-dark .modal.mod-sidebar-layout .vertical-tab-header,
  &.theme-dark .modal.mod-sidebar-layout .vertical-tab-content {
    background-color: rgb(var(--mono-rgb-0)) !important;
  }

  // Liquid Glass
  &.is-phone .mod-root .view-header > div > .view-action,
  &.is-phone .mobile-navbar .mobile-navbar-actions,
  &.is-phone .mobile-toolbar-options-list,
  &.is-phone .workspace-drawer-header-icon,
  .workspace-drawer .nav-header .nav-buttons-container,
  .modal-setting-back-button,
  .modal-close-button {
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    border: none;
    background-color: transparent;
    color: var(--text-normal);
    height: fit-content;
    transition: var(--anim-duration-moderate);

    @starting-style {
      opacity: 0;
      filter: var(--blur-s);
    }
  }

  // Button style
  .workspace-tab-header-container .clickable-icon,
  .view-header .clickable-icon,
  .workspace-drawer-header-icon {
    border-radius: 100vh;
    padding: 10px;
    aspect-ratio: 1 / 1;
    position: relative;
    margin: 0;
  }

  // Editor panel
  .markdown-reading-view,
  .markdown-source-view {
    transition: transform var(--anim-duration-slow) var(--anim-motion-baseline);
  }
  .workspace-leaf-content[data-mode="source"] .markdown-reading-view {
    transform: scale(0.99);
  }
  .workspace-leaf-content[data-mode="preview"] .markdown-source-view {
    transform: scale(0.99);
  }

  // Side panels
  .workspace-drawer-inner {
    background-color: transparent;
  }

  .workspace-drawer .workspace-drawer-header,
  .workspace-drawer .workspace-leaf-content > .view-content,
  .workspace-drawer .workspace-leaf-content > .node-insert-event {
    padding-top: 0;
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
  }

  .workspace-drawer .workspace-drawer-active-tab-header {
    margin-bottom: 8px;
    border-radius: 100vh;
    background-color: var(--background-primary);
    padding-right: 8px;
    padding-left: 16px;
    width: fit-content;
  }

  .workspace-leaf-content:not([data-type="empty"]) .mod-left-split-toggle,
  .modal-setting-back-button-icon {
    svg {
      display: none;
    }

    &::before {
      background-color: var(--icon-color);
      width: var(--icon-l);
      height: var(--icon-l);
      content: "";
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 75% 75%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='17' fill='none' viewBox='0 0 13 17'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='white' d='M0 8.477a.88.88 0 0 0 .273.644l7.745 7.568a.84.84 0 0 0 .634.264c.508 0 .899-.38.899-.889a.917.917 0 0 0-.264-.634l-7.11-6.953 7.11-6.954A.936.936 0 0 0 9.551.89.876.876 0 0 0 8.652 0a.869.869 0 0 0-.634.254L.273 7.832A.864.864 0 0 0 0 8.477Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h12.393v16.963H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    }
  }

  // File explorer
  .nav-files-container > div {
    border-radius: var(--radius-m);
    background-color: var(--background-primary);

    > .tree-item:nth-child(2) > .tree-item-self {
      border-top-left-radius: var(--radius-m);
      border-top-right-radius: var(--radius-m);
    }
    > .tree-item:last-child > .tree-item-self {
      border-bottom-left-radius: var(--radius-m);
      border-bottom-right-radius: var(--radius-m);
    }

    .tree-item {
      position: relative;
    }
    .tree-item .tree-item-self {
      padding-inline-end: var(--side-padding);
      margin-bottom: 0;
      border-radius: 0;
    }
    .tree-item .tree-item-self .tree-item-icon {
      position: relative;
      order: 1;
      margin-inline-start: unset;
    }
    .tree-item .tree-item-inner {
      flex: 1;
    }

    .tree-item:not(.nav-files-container > div > div:nth-child(2)):not(:last-child:only-child):before {
      position: absolute;
      inset: calc(-1 * (var(--border-width) / 2)) var(--side-padding) auto;
      background: var(--background-modifier-border);
      height: var(--border-width);
      content: "";
    }
  }

  // HDR element
  &.is-ios.theme-light {
    .mod-root .view-header > div > .view-action::after,
    .workspace-drawer-header-icon::after,
    .workspace-drawer .nav-buttons-container::after,
    .mobile-navbar-actions::after,
    .mobile-toolbar-options-list::after,
    .modal-setting-back-button::after,
    .modal-close-button::after,
    .notice::after {
      position: absolute;
      z-index: 1;
      backdrop-filter: brightness(1.5);
      mask: linear-gradient(white, white) padding-box, linear-gradient(white, white) border-box;
      mask-composite: exclude, add;
      filter: blur(1px);
      inset: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      background: linear-gradient(to bottom left, white, transparent, white) border-box no-repeat;
      pointer-events: none;
      content: "";
    }
  }

  // Bases: Cards padding fix
  .bases-cards-item {
    padding: var(--side-padding);
  }
  .bases-cards-line,
  .bases-cards-label {
    padding: 0;
  }
}

body.mobile-cupertino.is-mobile.is-phone {
  --system-status-background: rgb(var(--mono-rgb-0));

  // Editor panel
  .view-header-left,
  .view-actions {
    flex: 0;
    gap: 8px;
  }

  .view-header {
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
  }
  .view-header-title-container {
    margin-left: 4px;
    flex-direction: column;
    align-items: flex-start;
  }
  .view-header-title-parent {
    font-size: var(--font-ui-smaller);
  }
  .view-header-title {
    font-weight: var(--font-medium);
  }
  .view-header-breadcrumb {
    padding: 0;
  }
  .view-header-breadcrumb-separator {
    padding: 0 4px;

    &:last-child {
      display: none;
    }
  }

  // Pull action
  .pull-action {
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    background-color: var(--modal-background);
    width: fit-content;
    font-weight: var(--font-bold);
  }
}

body.mobile-cupertino.is-mobile.is-tablet {
  --border-width: 0.5pt;
  --nav-item-weight-active: normal;
  --tab-curve: var(--radius-s);

  .workspace {
    background-color: var(--system-status-background);
  }

  // Editor panel
  &.tabs-floating .mod-root .workspace-tab-header {
    height: 44px;
    margin: auto 0;
  }

  .mod-root {
    .workspace-tab-header-container {
      padding-top: 0;
    }
    .workspace-tab-header {
      padding-bottom: 0;
    }
    .workspace-tab-header-new-tab,
    .workspace-tab-header-tab-list,
    .sidebar-toggle-button {
      padding-bottom: 0;
    }
  }

  // Side panels
  .workspace-drawer {
    box-shadow: var(--shadow-xs), var(--shadow-l);
    margin: var(--safe-area-inset-top) 16px var(--safe-area-inset-bottom);
    border-radius: var(--radius-xl);
    padding-top: var(--side-padding);
    height: -webkit-fill-available;
    border: none;

    &.mod-left {
      margin-right: 8px;
    }
    &.mod-right {
      margin-left: 8px;
    }
  }

  // Style Settings: Tabs style fix
  &.tabs-floating {
    --system-status-background: rgb(var(--mono-rgb-0));
    --titlebar-background: transparent;
    --titlebar-background-focused: transparent;
    --tab-radius: var(--radius-l);

    &.theme-dark .mod-root .view-header {
      background-color: black;
    }
  }
}
