body.layout-cupertino:not(.is-mobile),
body.layout-macos:not(.is-mobile),
body.mobile-cupertino.is-mobile {
  --side-padding: 20px;

  --inline-title-margin-bottom: 0.5em;
  --p-spacing: 1rem;
  --line-height-normal: 1.6;

  --blur-s: blur(4px) saturate(1.5) brightness(1.025);
  --blur-m: blur(8px) saturate(1.5) brightness(1.025);
  --blur-l: blur(16px) saturate(1.5) brightness(1.025);

  --modal-background: rgb(from var(--background-secondary) r g b / 75%);

  --icon-opacity: 1;
  --icon-color: var(--color-base-100);
  --nav-item-color: var(--color-base-100);

  .modal,
  .prompt,
  .menu {
    border: none;
  }

  &.theme-light {
    --shadow-base: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(0, 0, 0, 0.4);

    --shadow-xs: var(--shadow-base), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 1px 8px rgba(0, 0, 0, 0.025), 0 4px 48px rgba(0, 0, 0, 0.095);
    --shadow-s: var(--shadow-base), inset 0 0 1px 1px white, var(--shadow-border), 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), inset 0 0 1px 1px white, 0 18px 60px 0 rgba(0, 0, 0, 0.3);
  }

  &.theme-dark {
    --shadow-base: inset 1px 1.5px 1px -1px rgba(255, 255, 255, 0.2), inset -1px -1.5px 1px -1px rgba(255, 255, 255, 0.15), inset 0 4px 16px rgba(255, 255, 255, 0.025);
    --shadow-border: 0 0 1px 0 rgba(255, 255, 255, 0.3);

    --shadow-xs: inset 0 8px 64px rgba(255, 255, 255, 0.125), var(--shadow-base);
    --shadow-s: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    --shadow-l: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 0 rgba(0, 0, 0, 0.7), 0 18px 60px 0 rgba(0, 0, 0, 0.3);
  }

  // Editor panel
  .markdown-reading-view,
  .markdown-source-view {
    font-feature-settings: "ss01" 1, "ss07" 1, "cv07" 1;
  }
  .mod-root .workspace-leaf-content[data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
  }

  // Tabs style fix
  &.tabs-floating {
    --tab-background-active: var(--background-modifier-hover);

    .mod-root .workspace-tab-header-container {
      gap: 0;
    }
  }
}

body.layout-cupertino:not(.is-mobile) {
  .sidebar-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Editor panel
  &.theme-light .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  .mod-root {
    z-index: 1;

    .workspace-tabs,
    .workspace-tab-container {
      overflow: visible;
    }
    .workspace-tab-container {
      overflow: visible;
      outline: var(--border-width) solid var(--background-modifier-border);
    }
    .workspace-leaf {
      border-radius: var(--radius-s);
    }

    .workspace-tab-header-container {
      .sidebar-toggle-button,
      .workspace-tab-header-new-tab,
      .workspace-tab-header-tab-list {
        display: flex;
        align-items: center;

        .clickable-icon {
          height: auto;
        }
      }
    }
  }

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    .mod-root {
      background-color: var(--background-primary);
    }
    .mod-root .workspace-tab-container {
      box-shadow: none;
      margin-bottom: 0;
      outline-color: transparent;
    }
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }
  .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root .workspace-tab-container {
    margin-left: 8px;
  }

  // Status bar fix
  &:not(.status-bar-full) .mod-root .workspace-tab-container {
    margin-bottom: 8px;
  }
}

body.layout-cupertino:not(.is-mobile),
body.layout-macos:not(.is-mobile) {
  .workspace-split .clickable-icon {
    width: 40px;
  }
  .clickable-icon {
    border-radius: 100vh;
  }
  .clickable-icon:not([aria-disabled="true"]):hover,
  .clickable-icon.has-active-menu {
    box-shadow: var(--shadow-xs);
    background-color: var(--background-primary);
  }

  // Side panels
  .mod-sidedock .workspace-tab-header-container:not(body:not(.stacked-nav-off) .mod-top-left-space .workspace-tab-header-container) {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: 100vh;
      padding: 0;
      margin-left: 8px;
      border: 2px solid transparent;
      background-clip: content-box;
      height: auto;
    }

    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);
      border-color: var(--background-modifier-hover);
    }
    .workspace-tab-header-container-inner:hover .workspace-tab-header.is-active {
      background-color: var(--background-primary);
      box-shadow: var(--shadow-xs);
    }

    .workspace-tab-header {
      border-radius: 100vh;
    }
    .workspace-tab-header-inner {
      padding: 8px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: 100vh;
      width: 40px;
      height: fit-content;
    }
  }

  .mod-sidedock.mod-left-split .sidebar-toggle-button {
    order: -1;
  }

  &:not(.compact-actions-off) {
    .mod-sidedock .workspace-leaf-content > .nav-header,
    .mod-sidedock .workspace-leaf-content > .view-content > .nav-header {
      .nav-buttons-container {
        border-radius: 100vh;
        background-color: var(--background-modifier-hover);
        padding: 2px;
        gap: 0;
        align-self: center;

        .nav-action-button {
          position: relative;
          padding: 8px;
          border-radius: 100vh;
        }
        .nav-action-button:hover {
          background-color: var(--background-modifier-hover);
        }
        .nav-action-button.is-active,
        .nav-action-button.is-active:hover {
          background-color: var(--background-primary);
          color: var(--color-accent);
          box-shadow: var(--shadow-xs);
        }
      }
    }
  }
  .mod-sidedock .workspace-tab-container,
  .mod-sidedock .workspace-leaf,
  .mod-sidedock .workspace-leaf-content {
    contain: size !important;
    overflow: visible;
  }

  // File explorer
  .nav-file-title,
  .nav-folder-title {
    margin-bottom: 0;
  }
  .nav-files-container > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  // Tab outline fix
  &:not(.tabs-floating):not(.tabs-underline):not(.theme-light.contrast-light-vivid) {
    .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
      --tab-outline-width: var(--border-width);

      padding-top: 1px;
      margin-bottom: -1px;
    }
    .mod-root .workspace-tab-header-container-inner {
      --tab-outline-width: var(--border-width);

      padding-top: 1px;
      margin-bottom: -1px;
    }
  }

  // Style Settings: Stacked nav off fix
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 0 !important;
  }
}

body.mobile-cupertino.is-mobile {
  --nav-item-padding: calc(16px * var(--density-modifier)) var(--side-padding);
  --background-modifier-form-field: var(--interactive-normal) !important;

  &.theme-light {
    --mobile-sidebar-background: var(--background-secondary);
    --interactive-normal: var(--background-primary);
  }
  &.theme-dark {
    --mobile-sidebar-background: black;
    --interactive-normal: var(--background-secondary);
  }

  // Background fix
  .mod-root .view-header::before,
  .mod-root .view-content::before,
  .mod-root .view-content,
  &.theme-dark .modal.mod-sidebar-layout .modal-header::before,
  &.theme-dark .modal.mod-sidebar-layout .vertical-tab-header,
  &.theme-dark .modal.mod-sidebar-layout .vertical-tab-content {
    background-color: rgb(var(--mono-rgb-0)) !important;
  }

  // Liquid Glass
  &.is-phone .mod-root .view-header > div > .view-action,
  &.is-phone .workspace-drawer-header-icon,
  &.is-phone .mobile-navbar .mobile-navbar-actions,
  &.is-phone .mobile-toolbar-options-list,
  .workspace-drawer .nav-header .nav-buttons-container,
  .modal-setting-back-button,
  .modal-close-button {
    --icon-color: var(--text-normal);
    backdrop-filter: var(--blur-s);
    box-shadow: var(--shadow-xs);
    border: none;
    background-color: transparent;
    color: var(--text-normal);
  }

  // Button style
  .view-header .view-action,
  .workspace-drawer-header-icon {
    border-radius: 100vh;
    padding: 12px;
    aspect-ratio: 1 / 1;
    position: relative;
  }

  // Side panels
  .workspace-drawer-inner {
    background-color: transparent;
  }

  .workspace-drawer .workspace-drawer-header,
  .workspace-drawer .workspace-leaf-content > .view-content,
  .workspace-drawer .workspace-leaf-content > .node-insert-event {
    padding-top: 0;
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
  }

  .workspace-drawer .workspace-drawer-active-tab-header {
    margin-bottom: 8px;
    border-radius: 100vh;
    background-color: var(--background-primary);
    padding-right: 8px;
    padding-left: 16px;
    width: fit-content;
  }

  .workspace-leaf-content:not([data-type="empty"]) .mod-left-split-toggle,
  .modal-setting-back-button-icon {
    svg {
      display: none;
    }

    &::before {
      background-color: var(--icon-color);
      width: var(--icon-l);
      height: var(--icon-l);
      content: "";
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 85% 85%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='17' fill='none' viewBox='0 0 13 17'%3e%3cg clip-path='url(%23a)'%3e%3cpath fill='white' d='M0 8.477a.88.88 0 0 0 .273.644l7.745 7.568a.84.84 0 0 0 .634.264c.508 0 .899-.38.899-.889a.917.917 0 0 0-.264-.634l-7.11-6.953 7.11-6.954A.936.936 0 0 0 9.551.89.876.876 0 0 0 8.652 0a.869.869 0 0 0-.634.254L.273 7.832A.864.864 0 0 0 0 8.477Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h12.393v16.963H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    }
  }

  // File explorer
  .nav-files-container > div {
    border-radius: var(--radius-l);
    background-color: var(--background-primary);

    > .tree-item:nth-child(2) > .tree-item-self {
      border-top-left-radius: var(--radius-l);
      border-top-right-radius: var(--radius-l);
    }
    > .tree-item:last-child > .tree-item-self {
      border-bottom-left-radius: var(--radius-l);
      border-bottom-right-radius: var(--radius-l);
    }

    .tree-item {
      position: relative;
    }
    .tree-item .tree-item-self {
      padding-inline-end: var(--side-padding);
      margin-bottom: 0;
      border-radius: 0;
    }
    .tree-item .tree-item-self .tree-item-icon {
      position: relative;
      order: 1;
      margin-inline-start: unset;
    }
    .tree-item .tree-item-inner {
      flex: 1;
    }

    .tree-item:not(.nav-files-container > div > div:nth-child(2)):not(:last-child:only-child):before {
      position: absolute;
      inset: calc(-1 * (var(--border-width) / 2)) var(--side-padding) auto;
      background: var(--background-modifier-border);
      height: var(--border-width);
      content: "";
    }
  }

  // HDR element
  &.is-ios.theme-light {
    .mod-root .view-header > div > .view-action::after,
    .workspace-drawer-header-icon::after,
    .workspace-drawer .nav-buttons-container::after,
    .mobile-navbar-actions::after,
    .mobile-toolbar-options-list::after,
    .modal-setting-back-button::after,
    .modal-close-button::after {
      position: absolute;
      z-index: 1;
      backdrop-filter: brightness(1.5);
      mask: linear-gradient(white, white) padding-box, linear-gradient(white, white) border-box;
      mask-composite: exclude, add;
      filter: blur(1px);
      inset: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      background: linear-gradient(to bottom left, white, transparent, white) border-box no-repeat;
      pointer-events: none;
      content: "";
    }
  }
}

body.mobile-cupertino.is-mobile.is-phone {
  --system-status-background: rgb(var(--mono-rgb-0));

  // Editor panel
  .view-header-left,
  .view-actions {
    flex: 0;
    gap: 8px;
  }

  .view-header {
    padding-right: var(--side-padding);
    padding-left: var(--side-padding);
  }
  .view-header-title-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .view-header-title-parent {
    font-size: var(--font-ui-smaller);
  }
  .view-header-breadcrumb {
    padding: 0;
  }
  .view-header-breadcrumb-separator {
    padding: 0 4px;

    &:last-child {
      display: none;
    }
  }
}

body.mobile-cupertino.is-mobile.is-tablet {
  --border-width: 0.5pt;

  --nav-item-weight-active: normal;

  .workspace {
    background-color: var(--system-status-background);
  }

  // Editor panel
  .mod-root .view-header {
    border-radius: var(--radius-s);
    padding: 8px;
    height: fit-content;
  }

  // Side panels
  .workspace-drawer {
    box-shadow: var(--shadow-xs), var(--shadow-l);
    margin: var(--safe-area-inset-top) 16px var(--safe-area-inset-bottom);
    border-radius: var(--radius-xl);
    padding-top: var(--side-padding);
    height: -webkit-fill-available;
    border: none;

    &.mod-left {
      margin-right: 8px;
    }
    &.mod-right {
      margin-left: 8px;
    }
  }

  // Style Settings: Tabs style fix
  &.tabs-floating {
    --system-status-background: rgb(var(--mono-rgb-0));
    --tab-radius: var(--radius-l);

    &.theme-dark .mod-root .view-header {
      background-color: black;
    }
  }
}
