body:is(.layout-cupertino, .layout-macos, .layout-fusion):not(.is-mobile) {
  --radius-window: 8px;

  &:not(.is-popout-window) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    background-color: var(--background-primary);
  }

  // Ribbon
  --ribbon-background: transparent;
  --ribbon-background-collapsed: var(--ribbon-background);

  // Editor panel: Floating
  &:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }

  // Status bar
  &.status-bar-full {
    .horizontal-main-container,
    .workspace {
      overflow: visible;
    }
  }

  // Hover sidedock
  &.hover-sidedock {
    .mod-sidedock.is-sidedock-collapsed[style*="display"] {
      box-shadow: var(--shadow-s);
      border-radius: var(--radius-window, var(--radius-m));
      background-color: var(--background-primary-alt) !important;
      height: -webkit-fill-available;

      &.mod-left-split {
        margin: 8px 0 8px 8px;
        overflow: visible;
      }
      &.mod-right-split {
        margin: 8px 8px 8px 0;
      }

      &::before {
        background: none;
        margin-inline: -8px;
        pointer-events: auto;
        width: 8px;
      }
    }

    // macOS fix
    &.mod-macos.is-hidden-frameless:not(.tab-floating, .tab-floating-center) .workspace-ribbon.mod-left.is-collapsed {
      padding-top: 8px;
      padding-left: 16px;
    }

    &.tab-top-left-stacked.mod-macos .mod-sidedock.mod-left-split.is-sidedock-collapsed .mod-top-left-space .workspace-tab-header-container {
      padding-top: calc(var(--header-height) - 8px);
    }
  }
}

body:is(.layout-cupertino, .layout-fusion):not(.is-mobile) {
  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
    padding-bottom: 0;
  }

  &:not(.show-ribbon:not(.hover-ribbon)) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root {
    margin-left: 8px;
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root {
    margin-right: 8px;
  }

  &:not(.status-bar-full) .mod-root {
    padding-bottom: 8px;
  }

  // Windows & Linux fix
  &.is-hidden-frameless .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: var(--frame-right-space);
  }
}

body:is(.layout-cupertino, .layout-fusion):not(.is-phone) {
  // Editor panel
  .workspace-split.mod-vertical {
    gap: 8px;
  }
  .workspace-split:not(.mod-sidedock) > * > .workspace-leaf-resize-handle:not(:hover) {
    border-color: transparent;
  }
}

body:is(.layout-cupertino, .layout-fusion.tab-default).is-tablet {
  .workspace-drawer.mod-left.is-pinned + .mod-root,
  .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) {
    padding-bottom: 8px;
  }
}
body:is(.layout-cupertino, .layout-fusion).is-tablet {
  .workspace-drawer.mod-left.is-pinned + .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:last-of-type .workspace-tab-container {
    margin-right: 8px;
  }
  .workspace-drawer.mod-left:not(.is-pinned) + .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) .workspace-tabs:first-of-type .workspace-tab-container {
    margin-left: 8px;
  }
}

// Cupertino specific
body.layout-cupertino:not(.is-phone) {
  --tab-outline-width: 1px;

  // Editor panel
  &.theme-light .mod-root .workspace-tab-container {
    box-shadow:
      rgba(0, 0, 0, 0.04) 0px 24px 48px,
      rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 24px 48px,
      rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  .mod-root {
    z-index: 5;
  }
  .mod-root .workspace-tabs {
    overflow: visible;
  }
  .mod-root .workspace-tab-container {
    outline: var(--tab-outline-width) solid var(--tab-outline-color);
  }
}
