body.layout-cupertino:not(.is-mobile),
body.layout-macos:not(.is-mobile),
body.mobile-cupertino.is-mobile {
  --inline-title-margin-bottom: 0.5em;
  --p-spacing: 1rem;
  --line-height-normal: 1.6;

  --icon-opacity: 1;
  --icon-color: var(--color-base-100);
  --nav-item-color: var(--color-base-100);

  // Editor panel
  .markdown-reading-view,
  .markdown-source-view {
    font-feature-settings: "ss01" 1, "ss07" 1, "cv07" 1;
  }
  .mod-root .workspace-leaf-content[data-mode="source"] .view-header .view-actions button:nth-last-child(2) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
  }

  // Tabs style fix
  &.tabs-floating {
    --tab-background-active: var(--background-modifier-hover);
  }
}

body.layout-cupertino:not(.is-mobile),
body.layout-macos:not(.is-mobile) {
  --radius-s: calc(8px * var(--radius-modifier));
  --radius-m: calc(12px * var(--radius-modifier));
  --radius-l: calc(20px * var(--radius-modifier));
  --radius-xl: calc(28px * var(--radius-modifier));

  .workspace-split .clickable-icon {
    width: 40px;
  }
  .clickable-icon {
    border-radius: 100vh;
  }
  .clickable-icon:not([aria-disabled="true"]):hover,
  .clickable-icon.has-active-menu {
    box-shadow: var(--shadow-xs);
    background-color: var(--background-primary);
  }

  .sidebar-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Editor panel
  &.tabs-floating .mod-root .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }

  // Editor panel: Edge fade
  .workspace-leaf-content[data-type="markdown"] .view-header {
    position: absolute;
    inset: 0 0 auto;
    background-color: transparent;
  }
  .workspace-leaf-content[data-type="markdown"] .view-header::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    mask: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, hsla(0, 0%, 0%, 0.99) 18.4%, hsla(0, 0%, 0%, 0.963) 33.7%, hsla(0, 0%, 0%, 0.92) 46.4%, hsla(0, 0%, 0%, 0.864) 56.7%, hsla(0, 0%, 0%, 0.796) 64.8%, hsla(0, 0%, 0%, 0.72) 71.2%, hsla(0, 0%, 0%, 0.637) 76.1%, hsla(0, 0%, 0%, 0.55) 79.9%, hsla(0, 0%, 0%, 0.46) 82.8%, hsla(0, 0%, 0%, 0.37) 85.2%, hsla(0, 0%, 0%, 0.283) 87.3%, hsla(0, 0%, 0%, 0.2) 89.6%, hsla(0, 0%, 0%, 0.124) 92.3%, hsla(0, 0%, 0%, 0.056) 95.6%, hsla(0, 0%, 0%, 0) 100%);
    background-color: var(--background-primary);
    height: 100%;
    pointer-events: none;
    content: "";
  }

  .view-header + div:not(.view-content) {
    top: calc(var(--safe-area-inset-top, 0) + var(--header-height)) !important;
    right: 0;
    left: 0;
    background-color: transparent;
  }
  .view-header + .view-content .markdown-preview-sizer > div:first-child {
    margin-top: var(--header-height);
  }
  .view-header + .view-content .cm-scroller {
    padding-top: calc(var(--header-height) + var(--file-margins));
  }

  // Side panels
  .mod-sidedock .workspace-tab-header-container:not(body:not(.stacked-nav-off) .mod-top-left-space .workspace-tab-header-container) {
    .workspace-tab-header-container-inner {
      -webkit-app-region: no-drag;
      gap: 0px;
      transition: var(--anim-duration-moderate);
      border-radius: 100vh;
      padding: 0;
      margin-left: 8px;
      border: 2px solid transparent;
      background-clip: content-box;
      height: auto;
    }

    .workspace-tab-header-container-inner:hover {
      background-color: var(--background-modifier-hover);
      border-color: var(--background-modifier-hover);
    }
    .workspace-tab-header-container-inner:hover .workspace-tab-header.is-active {
      background-color: var(--background-primary);
      box-shadow: var(--shadow-xs);
    }

    .workspace-tab-header {
      border-radius: 100vh;
    }
    .workspace-tab-header-inner {
      padding: 8px;
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
      background-color: var(--background-modifier-hover);
    }
    .sidebar-toggle-button,
    .workspace-tab-header-inner {
      border-radius: 100vh;
      width: 40px;
      height: fit-content;
    }
  }

  .mod-sidedock.mod-left-split .sidebar-toggle-button {
    order: -1;
  }

  &:not(.compact-actions-off) {
    .mod-sidedock .workspace-leaf-content > .nav-header,
    .mod-sidedock .workspace-leaf-content > .view-content > .nav-header {
      .nav-buttons-container {
        border-radius: 100vh;
        background-color: var(--background-modifier-hover);
        padding: 2px;
        gap: 0;
        align-self: center;

        .nav-action-button {
          position: relative;
          padding: 8px;
          border-radius: 100vh;
        }
        .nav-action-button:hover {
          background-color: var(--background-modifier-hover);
          box-shadow: none;
        }
        .nav-action-button.is-active,
        .nav-action-button.is-active:hover {
          background-color: var(--background-modifier-hover);
          color: var(--icon-color);
          box-shadow: var(--shadow-xs);
        }
      }
    }
  }
  .mod-sidedock .workspace-tab-container,
  .mod-sidedock .workspace-leaf,
  .mod-sidedock .workspace-leaf-content {
    contain: size !important;
    overflow: visible;
  }

  // File explorer
  .nav-file-title,
  .nav-folder-title {
    margin-bottom: 0;
  }
  .nav-files-container > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  // Tab outline fix
  &:not(.tabs-floating):not(.tabs-underline):not(.theme-light.contrast-light-vivid) {
    .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root {
      --tab-outline-width: var(--border-width);

      padding-top: 1px;
      margin-bottom: -1px;
    }
    .mod-root .workspace-tab-header-container-inner {
      --tab-outline-width: var(--border-width);

      padding-top: 1px;
      margin-bottom: -1px;
    }
  }

  // Style Settings: Stacked nav off fix
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    margin-left: 0 !important;
  }
}

body.layout-cupertino:not(.is-mobile) {
  // Editor panel
  &.theme-light .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 24px 48px, rgba(0, 0, 0, 0.02) 0px 4px 16px;
  }
  &.theme-dark .mod-root .workspace-tab-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px, rgba(0, 0, 0, 0.12) 0px 4px 16px;
  }

  .mod-root {
    z-index: 1;

    .workspace-tabs,
    .workspace-tab-container {
      overflow: visible;
    }
    .workspace-tab-container {
      overflow: visible;
      outline: var(--border-width) solid var(--background-modifier-border);
    }
    .workspace-leaf {
      border-radius: var(--radius-s);
    }
  }

  .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) {
    .mod-root {
      background-color: var(--background-primary);
      padding-bottom: 0;
    }
    .mod-root .workspace-tab-container {
      box-shadow: none;
      outline-color: transparent;
    }
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root .workspace-tab-container {
    margin-right: 8px;
  }
  .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root .workspace-tab-container {
    margin-left: 8px;
  }

  // Status bar fix
  &:not(.status-bar-full) .mod-root {
    padding-bottom: 8px;
  }
}
