body:is(.layout-frame, .layout-viewfinder) {
  // Tab styles
  &:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    --tab-outline-width: 1px;
    margin-inline: var(--tab-outline-width) !important;
    background-color: var(--tab-background-active);
  }

  .mod-root {
    .workspace-tab-header-container {
      border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: -1px !important;
    }
  }

  // Contrast
  .contrast-light-vivid.theme-light .mod-root {
    border: none;
  }
  &:not(.tab-floating, .tab-floating-center) .mod-root {
    .workspace-tab-header-container {
      border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: -1px !important;
    }
  }
}

body.layout-frame:not(.is-mobile) {
  .workspace {
    padding: 4px;
  }
  .workspace-ribbon,
  .workspace-split {
    margin: 4px;
    height: unset;
    background-color: var(--background-primary);
    border-radius: var(--radius-s);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }

  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
  .workspace-ribbon.mod-left:not(.is-collapsed) {
    padding-left: 4px;
  }

  // macOS fix
  &.mod-macos.is-hidden-frameless .workspace-ribbon.mod-left {
    --ribbon-width: 74px;
    padding-top: var(--header-height);
  }

  // Windows & Linux fix
  &:not(.mod-macos).is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--radius-s);
      overflow: hidden;
    }
  }

  // Status bar
  &:not(.status-bar-full, .status-bar-cupertino) .status-bar {
    right: 8px;
    bottom: 8px;
  }

  // Hover sidedock
  &.hover-sidedock .mod-sidedock.is-sidedock-collapsed[style*="display"] {
    height: calc(100% - 16px);
    overflow: visible;
    background-color: var(--background-primary);

    &.mod-left-split {
      margin: 4px 4px 4px 8px;
    }
    &.mod-right-split {
      margin: 4px 8px 4px 4px;
    }

    &::before {
      background: none;
      margin-inline: -16px;
      pointer-events: auto;
      width: 16px;
    }
  }
  &.hover-ribbon.show-ribbon .workspace-ribbon.mod-left:not(.is-collapsed) {
    --ribbon-width: 56px;
    border: none;
  }

  // Vault switcher background
  &.hide-vault-switcher-off .workspace-sidedock-vault-profile {
    background-color: inherit;
  }

  // Style Settings: Status bar fix
  &.status-bar-full .workspace {
    padding-bottom: 0;

    .workspace-ribbon,
    .workspace-split {
      margin-bottom: 0;
    }
  }
}

// Mobile
body.layout-frame.is-tablet {
  .workspace {
    padding: 0 4px;
    background-color: var(--mobile-sidebar-background);
  }
  .mod-root,
  .workspace-drawer {
    padding-top: 0;
    margin-top: var(--safe-area-inset-top);
    margin-bottom: 4px;
    height: auto;
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }
  .workspace-drawer {
    margin-inline: 4px;
    padding-bottom: 0;
  }
  .workspace-drawer.mod-left.is-pinned {
    margin-left: 0;
  }
  .workspace-drawer.mod-right.is-pinned {
    margin-right: 0;
  }
  .workspace-drawer.is-pinned .workspace-drawer-inner {
    padding-top: 0px;
  }
  .workspace-drawer-tab-options.is-collapsed,
  .nav-buttons-container:after {
    --mobile-sidebar-background: var(--background-primary);
  }

  .workspace-drawer.mod-left:not(.is-pinned) + .mod-root .workspace-tabs:first-of-type .workspace-tab-container {
    margin-left: 8px;
    border-top-left-radius: var(--safe-area-inset-top);
    border-bottom-left-radius: var(--safe-area-inset-top);
  }
  .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:last-of-type .workspace-tab-container {
    margin-right: 8px;
    border-top-right-radius: var(--safe-area-inset-top);
    border-bottom-right-radius: var(--safe-area-inset-top);
    background-color: var(--background-primary);
  }

  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .mod-root,
    .workspace-drawer {
      background-color: black;
    }
  }

  // Tab style
  &:not(.tab-floating, .tab-floating-center, .tab-underline, .tab-underline-accented) .workspace-tab-header-container-inner {
    padding-top: 8px !important;
  }
}
