body.layout-frame:not(.is-mobile) {
  .workspace {
    padding: 4px;
    background-color: var(--background-secondary);
  }
  .workspace-ribbon,
  .workspace-split {
    margin: 4px;
    height: unset;
    background-color: var(--background-primary);
    border-radius: var(--radius-s);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }

  // macOS fix
  &.mod-macos.is-hidden-frameless .workspace-ribbon.mod-left {
    --ribbon-width: 74px;
    padding-top: var(--header-height);
  }

  // Windows & Linux fix
  &:not(.mod-macos).is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--radius-s);
      overflow: hidden;
    }
  }

  // Status bar
  &:not(.status-bar-full, .status-bar-cupertino) .status-bar {
    right: 8px;
    bottom: 8px;
  }

  // Hover sidedock
  &.hover-sidedock .mod-sidedock.is-sidedock-collapsed[style*="display"] {
    height: calc(100% - 16px);
    overflow: visible;
    background-color: var(--background-primary);

    &.mod-left-split {
      margin: 4px 4px 4px 8px;
    }
    &.mod-right-split {
      margin: 4px 8px 4px 4px;
    }

    &::before {
      background: none;
      margin-inline: -16px;
      pointer-events: auto;
      width: 16px;
    }
  }
  &.hover-ribbon .workspace-ribbon.mod-left {
    height: calc(100% - 16px);
    overflow: visible;
    border: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      height: 100%;
      margin-left: -16px;
    }
  }

  &.hover-sidedock.hover-ribbon.mod-macos.is-hidden-frameless .workspace-ribbon.mod-left {
    --ribbon-width: 56px;
  }

  // Style Settings: Status bar fix
  &.status-bar-full .workspace {
    padding-bottom: 0;

    .workspace-ribbon,
    .workspace-split {
      margin-bottom: 0;
    }
  }
}

// Mobile
body.layout-frame.is-tablet {
  .workspace {
    padding: 0 4px;
    background-color: var(--mobile-sidebar-background);
  }
  .mod-root,
  .workspace-drawer {
    padding-top: 0;
    margin-top: var(--safe-area-inset-top);
    margin-bottom: 4px;
    height: auto;
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }
  .workspace-drawer {
    margin-inline: 4px;
    padding-top: 16px;
    padding-bottom: 0;

    &.mod-left.is-pinned {
      margin-left: 0;
    }
    &.mod-right.is-pinned {
      margin-right: 0;
    }
  }

  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .mod-root,
    .workspace-drawer {
      background-color: transparent;
    }
  }

  // Tab style
  &:not(.tabs-floating, .tabs-floating-center, .tabs-underline) .workspace-tab-header-container-inner {
    padding-top: 8px !important;
  }
}
