body.layout-fusion:not(.is-mobile) {
  // Editor panel
  .mod-root {
    z-index: 5;
  }
  .workspace-tabs {
    overflow: visible;
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}

body.layout-fusion:not(.is-phone) {
  // Editor panel
  &:is(.tab-floating, .tab-floating-center) .mod-root {
    .workspace-leaf {
      background-color: transparent;
    }

    .workspace-tab-container {
      background-color: rgba(from var(--background-primary) r g b / 75%);
    }

    .view-header,
    .document-search-container,
    .view-content {
      background-color: transparent;
    }
  }

  // Editor panel: Tab style
  &.input-cupertino:is(.tab-floating, .tab-floating-center) {
    .mod-root .workspace-tabs:not(.mod-stacked) {
      .workspace-tab-header-container-inner {
        overflow: visible;
        contain: inline-size;
        width: stretch;
      }
      .workspace-tab-header {
        @starting-style {
          filter: blur(4px);
          scale: 0.75;
          opacity: 0;
        }

        -electron-corner-smoothing: var(--corner-smoothing);
        border-radius: var(--radius-m);
        transition:
          background-color var(--anim-duration-moderate),
          opacity var(--anim-duration-moderate),
          filter var(--anim-duration-moderate) !important;
      }
      .workspace-tab-header:not(.is-active) {
        background-color: transparent;
      }
      .workspace-tab-header-inner {
        border-radius: inherit;
      }
    }

    .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
      background-color: rgba(from var(--background-primary) r g b / 50%);
      box-shadow: var(--shadow-xs);
    }
  }
}

body.layout-fusion.is-tablet {
  &:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--raised-background) !important;
    box-shadow: var(--shadow-xs);
  }
}
