body.layout-fusion:not(.is-mobile) {
  // Editor panel
  .mod-root {
    z-index: 5;
  }
  .workspace-tabs {
    overflow: visible;
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent !important;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}

body.layout-fusion:not(.is-phone) {
  // Editor panel
  &.theme-light {
    --shadow-tab: var(--shadow-base), 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.025), 0 2px 4px rgba(0, 0, 0, 0.025);
  }
  &.theme-dark {
    --shadow-tab: var(--shadow-base), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:is(.tab-floating, .tab-floating-center):not(.is-popout-window) .mod-root {
    .workspace-tab-container {
      background-color: rgba(from var(--background-primary) r g b / 75%);
    }

    .view-header,
    .view-content,
    .document-search-container {
      background-color: transparent;
    }
  }

  // Editor panel: Tab style
  &.input-cupertino:is(.tab-floating, .tab-floating-center) {
    .mod-root .workspace-tabs:not(.mod-stacked) {
      .workspace-tab-header-container-inner {
        padding-inline: 4px;
      }
      .workspace-tab-header {
        @starting-style {
          filter: blur(4px);
          scale: 0.75;
          opacity: 0;
        }

        -electron-corner-smoothing: var(--corner-smoothing);
        border-radius: 100vh;
        transition:
          opacity var(--anim-duration-moderate),
          filter var(--anim-duration-moderate),
          background-color 0s;
      }
      .workspace-tab-header:not(.is-active) {
        background-color: transparent;
      }
      .workspace-tab-header-inner {
        border-radius: inherit;
      }
    }

    .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
      background-color: rgba(from var(--background-primary) r g b / 75%);
      box-shadow: var(--shadow-tab);
    }
  }

  // Contrast
  &:not(.tab-floating, .tab-floating-center):is(.contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark) .mod-root {
    .workspace-tab-container {
      outline: var(--tab-outline-width) solid var(--tab-outline-color);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: -1px;
    }
  }
}

body.layout-fusion.is-tablet {
  .workspace-drawer.mod-left.is-pinned {
    margin-right: 8px;
  }

  &.input-cupertino:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--raised-background) !important;
    box-shadow: var(--shadow-tab);
  }

  &:not(.tab-floating, .tab-floating-center) {
    .workspace {
      background-color: var(--background-secondary);
    }
  }
}
