body:is(.mod-macos, .adaptive-mode-off):not(.is-mobile) {
  // Editor panel
  .mod-root {
    z-index: 5;
  }
  .workspace-tabs {
    overflow: visible;
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent !important;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off):not(.is-phone) {
  // Editor panel
  &.theme-light {
    --shadow-tab: var(--shadow-base), 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.025), 0 2px 4px rgba(0, 0, 0, 0.025);
  }
  &.theme-dark {
    --shadow-tab: var(--shadow-base), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .mod-root {
    .workspace-tab-container {
      background-color: rgba(from var(--background-primary) r g b / 75%);
    }

    .view-header,
    .view-content,
    .document-search-container {
      background-color: transparent;
    }
  }

  // Editor panel: Tab style
  &:is(.mod-macos, .adaptive-mode-off) {
    .mod-root .workspace-tabs:not(.mod-stacked) {
      .workspace-tab-header {
        @starting-style {
          filter: blur(4px);
          scale: 0.75;
          opacity: 0;
        }

        corner-shape: var(--corner-shape);
        border-radius: 100vh;
        transition:
          opacity var(--anim-duration-moderate),
          filter var(--anim-duration-moderate),
          background-color 0s;

        &:first-child {
          margin-inline-start: 2px;
        }
        &:last-child {
          margin-inline-end: 2px;
        }
      }
      .workspace-tab-header:not(.is-active) {
        background-color: transparent;
      }
      .workspace-tab-header-inner {
        border-radius: inherit;
      }
    }

    .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
      background-color: rgba(from var(--background-primary) r g b / 75%);
      box-shadow: var(--shadow-tab);
    }
  }
}

body:is(.mod-macos, .adaptive-mode-off).is-tablet {
  .workspace-drawer.mod-left.is-pinned {
    margin-right: 8px;
  }
  
  .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--raised-background) !important;
    box-shadow: var(--shadow-tab);
  }
}
