body.layout-fusion:not(.is-mobile) {
  // Editor panel
  .mod-root {
    z-index: 5;
  }
  .workspace-tabs {
    overflow: visible;
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}

body.layout-fusion:not(.is-phone) {
  // Editor panel
  &.theme-light {
    --shadow-tab: var(--shadow-base), 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -8px 48px rgba(0, 0, 0, 0.02), 0 2px 4px rgba(0, 0, 0, 0.025), 0 2px 4px rgba(0, 0, 0, 0.025);
  }
  &.theme-dark {
    --shadow-tab: var(--shadow-base), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &:is(.tab-floating, .tab-floating-center) .mod-root {
    .workspace-leaf {
      background-color: transparent;
    }

    .workspace-tab-container {
      background-color: rgba(from var(--background-primary) r g b / 75%);
    }

    .view-header,
    .view-content,
    .document-search-container {
      background-color: transparent;
    }
  }

  // Editor panel: Tab style
  &.input-cupertino:is(.tab-floating, .tab-floating-center) {
    .mod-root .workspace-tabs:not(.mod-stacked) {
      .workspace-tab-header-container-inner {
        padding-inline: 4px;
      }
      .workspace-tab-header {
        @starting-style {
          filter: blur(4px);
          scale: 0.75;
          opacity: 0;
        }

        -electron-corner-smoothing: var(--corner-smoothing);
        border-radius: 100vh;
        transition:
          background-color var(--anim-duration-moderate),
          opacity var(--anim-duration-moderate),
          filter var(--anim-duration-moderate) !important;
      }
      .workspace-tab-header:not(.is-active) {
        background-color: transparent;
      }
      .workspace-tab-header-inner {
        border-radius: inherit;
      }
    }

    .workspace:is(.is-left-sidedock-open, .is-right-sidedock-open) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
      background-color: rgba(from var(--background-primary) r g b / 75%);
      box-shadow: var(--shadow-tab);
    }
  }

  // Contrast
  &:not(.tab-floating, .tab-floating-center):is(.contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark) .mod-root {
    .workspace-tab-container {
      outline: var(--tab-outline-width) solid var(--tab-outline-color);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: -1px;
    }
  }
}

body.layout-fusion.is-tablet {
  &.input-cupertino:is(.tab-floating, .tab-floating-center) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--raised-background) !important;
    box-shadow: var(--shadow-tab);
  }

  &:not(.tab-floating, .tab-floating-center) {
    .workspace {
      background-color: var(--background-secondary);
    }

    .workspace-drawer.mod-left.is-pinned + .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) {
      padding-bottom: 8px;
    }

    .workspace-drawer.mod-left.is-pinned + .mod-root,
    .mod-root:has(+ .workspace-drawer.mod-right.is-pinned) {
      padding-bottom: 8px;
    }

    .workspace-drawer.mod-left.is-pinned + .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:last-of-type .workspace-tab-container {
      margin-right: 8px;
    }
    .mod-root .workspace-tabs:first-of-type .workspace-tab-container {
      margin-left: 8px;
    }
    .workspace-drawer.mod-left:not(.is-pinned) + .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:first-of-type .workspace-tab-container {
      margin-left: 0;
    }
  }
}
