body.layout-fusion:not(.is-mobile) {
  // Editor panel
  --tab-outline-color: rgba(var(--mono-rgb-100), 0.05);

  .mod-root {
    z-index: 1;

    .workspace-tabs {
      overflow: visible;
    }
    .workspace-tab-container {
      box-shadow: var(--shadow-sidedock-faint);
    }

    .workspace-leaf-content[data-type="markdown"] {
      .view-header {
        position: absolute;
        inset: 0;
      }
      .view-header:hover {
        transition: var(--anim-duration-moderate) var(--anim-motion-baseline);
      }

      .view-content > div {
        mask: linear-gradient(transparent, black var(--header-height));
      }

      .view-header + div:not(.view-content),
      .view-header + .view-content > .markdown-source-view > div:not(.cm-editor):first-child,
      .view-header + .view-content > .markdown-reading-view > div:not(.markdown-preview-view):first-child {
        margin-top: var(--view-header-height, var(--header-height));
      }
      .view-header + .view-content:not(.pixel-banner) > .markdown-source-view > .cm-editor:first-child > .cm-scroller,
      .view-header + .view-content:not(.pixel-banner) > .markdown-reading-view > .markdown-preview-view:first-child {
        padding-top: calc(var(--view-header-height, var(--header-height)) + var(--file-margins-block));
      }
    }
  }

  // Editor panel: Tabs
  &:is(.tab-floating, .tab-floating-center, .tab-underline, .tab-underline-accented) .mod-root {
    .workspace-leaf {
      background-color: rgb(from var(--background-primary) r g b / 75%) !important;
    }
    .view-header,
    .view-content {
      background-color: transparent;
    }

    .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner {
      overflow: visible;
      contain: inline-size;
      width: stretch;

      .workspace-tab-header {
        @starting-style {
          filter: blur(4px);
          scale: 0.75;
          opacity: 0;
        }

        -electron-corner-smoothing: var(--corner-smoothing);
        border-radius: var(--radius-m);
        transition: background-color var(--anim-duration-moderate), opacity var(--anim-duration-moderate), filter var(--anim-duration-moderate) !important;
      }
      .workspace-tab-header.is-active {
        background-color: rgb(from var(--background-primary) r g b / 50%);
        box-shadow: var(--raised-shadow);
      }
      .workspace-tab-header-inner {
        border-radius: inherit;
      }
    }
  }

  // Side panels
  --shadow-sidedock-spread: 0 0 transparent;

  .mod-sidedock.mod-left-split {
    margin-right: 8px;
  }
  .mod-sidedock.mod-right-split {
    background-color: transparent;

    > .workspace-leaf-resize-handle {
      border-color: transparent;
    }
  }
}
