.workspace-split .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

// Editor panel
body:is(.layout-classic, .layout-minimal, .layout-macos, .layout-frame, .layout-border.is-mobile.is-tablet) {
  .workspace-split.mod-root .workspace-tab-container,
  .workspace-split.mod-root .workspace-leaf {
    border-radius: 0;
  }
}

// Mobile editor panels
body:is(.layout-classic, .layout-minimal, .layout-macos, .layout-frame).is-mobile.is-tablet .mod-root {
  margin-bottom: 0;
}
body:is(.layout-cupertino, .layout-cards, .layout-border, .layout-frame).is-mobile.is-tablet .mod-root {
  margin-bottom: var(--safe-area-inset-bottom);
  height: auto;
}

// Mobile side panels
body:is(.layout-cards, .layout-border, .layout-frame).is-mobile.is-tablet .workspace-drawer.is-pinned {
  margin-bottom: var(--safe-area-inset-bottom);

  .nav-header {
    padding-bottom: 32px;
  }
}

// Stacked nav
body:is(.layout-classic, .layout-minimal, .layout-frame):not(.is-mobile) .stacked-nav-off .workspace-tabs.mod-top {
  .workspace-leaf-content > .nav-header,
  .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
    padding-bottom: 0;
  }
}

// Tab styles
body:not(.tabs-floating, .tabs-floating-center, .tabs-underline) {
  &:is(.layout-classic, .layout-minimal, .layout-cupertino, .layout-macos, .layout-frame) {
    .workspace-tab-header {
      --tab-outline-width: 1px !important;
    }
    &.is-tablet .workspace-tab-header-container-inner {
      padding-top: var(--tab-outline-width);
    }
  }
}

body:is(.tabs-floating, .tabs-floating-center) {
  &:not(.layout-classic, .layout-frame) .mod-root .workspace-tab-header {
    background-color: var(--background-modifier-hover);
  }
  &:is(.layout-classic, .layout-frame) .mod-root .workspace-tab-header {
    --tab-outline-width: 1px !important;
  }
}

body:is(.layout-classic, .layout-minimal, .layout-frame),
body.layout-cupertino:not(.is-mobile) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root,
body.layout-macos:not(.tabs-floating, .tabs-floating-center) .mod-root {
  &.stacked-nav-off .mod-sidedock.mod-left-split,
  &:is(.mod-root),
  .mod-root,
  .mod-sidedock.mod-right-split {
    .workspace-tabs.mod-top .workspace-tab-header-container {
      border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
    }
  }

  .workspace-tab-header-container-inner {
    margin-bottom: -1px !important;
  }
}

// Mobile drawer
body:not(.layout-classic, .layout-minimal, .layout-border, .layout-frame, .layout-macos).is-mobile.is-tablet .workspace-drawer.is-pinned,
body.layout-macos.is-mobile.is-tablet .workspace-drawer.is-pinned.mod-left {
  border: none;
}
