body:not(.layout-cards, .layout-border, .layout-frame).show-ribbon {
  &:not(.stacked-nav-off) .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container-inner {
    padding-left: 8px;
    padding-top: 0;
  }
  .mod-sidedock.mod-left-split .workspace-leaf-content > .node-insert-event,
  .mod-sidedock.mod-left-split .workspace-leaf-content > .view-content {
    padding-left: 8px;
  }
}
