// Editor panel
body:not(.layout-macos) {
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
}
body.layout-macos {
  &:not(.show-ribbon) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root {
    margin-left: 8px;
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root {
    margin-right: 8px;
  }
}

// Side panels
.mod-sidedock .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

// Ribbon
.workspace-ribbon.mod-left:not(.is-collapsed) {
  padding-left: 12px;
}

// Vault switcher
body:not(.layout-macos):not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile::before {
  background-color: var(--background-primary);
}

// Tab styles
.mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
  background-color: var(--background-modifier-hover);
}
body.obsidian-app:not(.is-mobile) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
  height: 32px;
  margin: auto 0;
}

// Mobile drawer
body:not(.layout-macos).is-tablet .workspace-drawer.is-pinned.mod-left {
  border: none;
}
