// Editor panel
body:is(.layout-classic, .layout-minimal, .layout-macos, .layout-frame, .layout-border.is-tablet) {
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
}
body:is(.layout-cupertino, .layout-viewfinder):not(.is-phone) {
  &:not(.show-ribbon:not(.hover-ribbon)) .workspace:not(.is-left-sidedock-open).is-right-sidedock-open .mod-root {
    margin-left: 8px;
  }
  .workspace.is-left-sidedock-open:not(.is-right-sidedock-open) .mod-root {
    margin-right: 8px;
  }
}

// Side panels
.mod-sidedock .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

// Tablet panels
body:is(.layout-cupertino, .layout-cards, .layout-border).is-tablet .mod-root {
  padding-bottom: 8px;
  height: auto;
}
body:is(.layout-cupertino, .layout-cards, .layout-border, .layout-frame).is-tablet {
  .workspace-drawer.mod-left:not(.is-pinned) + .mod-root .workspace-tabs:first-of-type .workspace-tab-container {
    margin-left: 8px;
    border-top-left-radius: var(--safe-area-inset-top);
    border-bottom-left-radius: var(--safe-area-inset-top);
  }
  .mod-root:has(+ .workspace-drawer.mod-right:not(.is-pinned)) .workspace-tabs:last-of-type .workspace-tab-container {
    margin-right: 8px;
    border-top-right-radius: var(--safe-area-inset-top);
    border-bottom-right-radius: var(--safe-area-inset-top);
    background-color: var(--background-primary);
  }
}
body:is(.layout-macos, .layout-cards, .layout-border, .layout-frame).is-tablet {
  .workspace-drawer.is-pinned .workspace-drawer-inner {
    padding-top: 0px;
  }
}
body:is(.layout-cards, .layout-border, .layout-frame).is-tablet {
  .workspace-drawer .nav-buttons-container:after {
    --mobile-sidebar-background: var(--background-primary);
  }
}

// Ribbon
body.mod-macos.is-hidden-frameless:not(.is-mobile) {
  &:is(.layout-classic, .layout-minimal) .workspace-ribbon.mod-left.is-collapsed,
  &:is(.layout-classic, .layout-minimal).hover-ribbon .workspace-ribbon.mod-left:not(.is-collapsed),
  &.layout-cupertino:not(.tabs-floating, .tabs-floating-center) .workspace:not(.is-left-sidedock-open, .is-right-sidedock-open) .workspace-ribbon.mod-left.is-collapsed,
  &.layout-macos:not(.tabs-floating, .tabs-floating-center) .workspace-ribbon.mod-left.is-collapsed {
    margin-top: calc(var(--header-height) - 1px);
    padding-top: 8px;
    border-top: var(--tab-outline-width) solid var(--tab-outline-color);
  }
  &:not(.layout-classic, .layout-minimal, .layout-cards, .layout-border, .layout-frame) .workspace-ribbon.mod-left,
  &:is(.layout-classic, .layout-minimal) .workspace-ribbon.mod-left:not(.is-collapsed) {
    padding-top: 0;
  }
}
body:not(.mod-macos):is(.layout-classic, .layout-minimal).stacked-nav-off .workspace-ribbon.mod-left,
body.mod-macos:not(.is-hidden-frameless):is(.layout-classic, .layout-minimal).stacked-nav-off .workspace-ribbon.mod-left {
  &::before {
    content: "";
    height: var(--tab-outline-width);
    background-color: var(--tab-outline-color);
    position: absolute;
    inset: calc(var(--header-height) - 1px) 0 auto;
  }

  .side-dock-actions {
    margin-top: 12px;
  }
}
body:not(.layout-cards, .layout-border, .layout-frame) .workspace-ribbon.mod-left:not(.is-collapsed) {
  padding-left: 12px;
}

// Stacked nav
body:is(.layout-classic, .layout-minimal, .layout-frame):not(.is-mobile) .stacked-nav-off .workspace-tabs.mod-top {
  .workspace-leaf-content > .nav-header,
  .workspace-leaf-content > .view-content > div:not(.nav-buttons-container):not(.graph-controls) {
    padding-bottom: 0;
  }
}

// Vault switcher
body:is(.layout-frame, .layout-macos):not(.is-mobile).hide-vault-switcher-off .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  background-color: inherit;
}
body:not(.layout-classic, .layout-minimal):not(.is-mobile).hide-vault-switcher-off .mod-sidedock.mod-left-split .workspace-sidedock-vault-profile {
  border-top: none;
}

// Tab styles
body:not(.tabs-floating, .tabs-floating-center, .tabs-underline, .tabs-underline-accented) {
  &:is(.layout-minimal, .is-translucent, .contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark, .contrast-dark-black-mobile.theme-dark.is-mobile),
  &:is(.layout-classic, .layout-cupertino):not(.contrast-light-vivid.theme-light),
  &:is(.layout-macos, .layout-frame, .layout-viewfinder:not(.colorful-frame)) {
    .mod-root .workspace-tab-header {
      --tab-outline-width: 1px;
    }
    &.is-tablet .workspace-tab-header-container-inner {
      padding-top: 1px;
    }
  }
}

body:is(.tabs-floating, .tabs-floating-center) {
  &:not(.layout-classic, .layout-frame, .layout-viewfinder):not(.colorful-frame) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    background-color: var(--background-modifier-hover);
  }
  &:is(.layout-classic:not(.colorful-frame), .layout-frame, .layout-viewfinder:not(.colorful-frame)) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    --tab-outline-width: 1px;
    margin-inline: var(--tab-outline-width);
  }
  &:is(.layout-cupertino, .layout-macos):not(.is-mobile) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }
}

body:is(.layout-classic, .layout-minimal, .layout-frame).stacked-nav-off .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed),
body:is(.layout-classic, .layout-minimal, .layout-frame, .layout-viewfinder:not(.colorful-frame)) .mod-root,
body:is(.layout-classic, .layout-minimal, .layout-frame) .mod-sidedock.mod-right-split:not(.is-sidedock-collapsed),
body.layout-cupertino:not(.tabs-floating, .tabs-floating-center):not(.is-mobile) .workspace:not(.is-left-sidedock-open):not(.is-right-sidedock-open) .mod-root,
body.layout-macos:not(.tabs-floating, .tabs-floating-center) .mod-root,
body:is(.layout-classic, .layout-minimal, .layout-frame, .layout-viewfinder, .layout-macos):is(.contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark, .contrast-dark-black-mobile.is-mobile.theme-dark):not(.tabs-floating, .tabs-floating-center) .mod-root {
  .workspace-tabs.mod-top .workspace-tab-header-container {
    border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
  }

  .workspace-tab-header-container-inner {
    margin-bottom: -1px !important;
  }
}

// Contrast
body.contrast-light-vivid.theme-light:is(.layout-frame, .layout-viewfinder) .mod-root {
  border: none;
}

body:is(.layout-baseline, :not(.css-settings-manager)):not(.is-phone):is(.is-translucent, .contrast-light-tonal.theme-light, .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark, .contrast-dark-black-mobile.is-mobile.theme-dark) {
  &.status-bar-full {
    .horizontal-main-container,
    .workspace {
      overflow: visible;
    }
  }

  .mod-root {
    z-index: 1;
  }
  .mod-root .workspace-tabs {
    overflow: visible;
  }
  .mod-root .workspace-tab-container {
    outline: var(--tab-outline-width) solid var(--tab-outline-color);
  }
}

// Mobile drawer
body:not(.layout-classic, .layout-minimal, .layout-border, .layout-frame, .layout-macos):not(.contrast-light-tonal.theme-light:not(.layout-cupertino), .contrast-dark-tonal.theme-dark, .contrast-dark-black.theme-dark, .contrast-dark-black-mobile.is-mobile.theme-dark).is-tablet .workspace-drawer.is-pinned,
body.layout-macos.is-tablet .workspace-drawer.is-pinned.mod-left {
  border: none;
}
