.workspace-split .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

// Editor panel
body:not(.liquid-glass-off) {
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }
}

// Tab styles
body {
  .mod-root .workspace-tab-header {
    background-color: var(--background-modifier-hover);
  }
  &:is(.liquid-glass-off, :not(.liquid-glass-off)):not(.is-mobile) .mod-root .workspace-tab-header {
    height: 32px;
    margin: auto 0;
  }
}

// Mobile drawer
body:not(.liquid-glass-off).is-tablet .workspace-drawer.is-pinned.mod-left {
  border: none;
}
