body.layout-macos {
  // File explorer
  --nav-collapse-icon-color: rgb(var(--mono-rgb-100));
  --nav-item-background-hover: var(--background-modifier-hover) !important;
  --nav-item-background-active: var(--background-modifier-hover) !important;
  --nav-item-color: var(--text-normal) !important;
  --nav-item-color-active: var(--text-accent) !important;
  --nav-item-weight: var(--font-normal) !important;
  --nav-item-weight-hover: var(--nav-item-weight) !important;
  --nav-item-weight-active: var(--nav-item-weight) !important;

  .tree-item-self.is-active::before {
    content: none !important;
  }
}

body.layout-macos:not(.is-mobile) {
  &.theme-light {
    --shadow-sidedock: 0 0 16px rgba(0, 0, 0, 0.05), 0 16px 32px rgba(0, 0, 0, 0.075), -32px 0px 0 32px var(--background-primary);
  }
  &.theme-dark {
    --shadow-sidedock: 0 4px 24px rgba(0, 0, 0, 0.25), -32px 0px 0 32px var(--background-primary);
  }

  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &:not(.is-translucent) .app-container {
    background-color: var(--background-primary);

    .mod-root,
    .mod-root .workspace-split {
      background-color: transparent;
    }
  }

  &.is-frameless:not(.is-hidden-frameless) {
    .titlebar {
      background-color: var(--background-primary);
    }
    .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
      top: 0;
    }
  }

  &:not(.is-focused) {
    --workspace-background-translucent: var(--background-secondary);

    .workspace-ribbon,
    .mod-sidedock > div,
    .mod-root .workspace-tab-header-container {
      opacity: 0.5;
    }
    .mod-sidedock {
      background-color: var(--color-base-20) !important;
      box-shadow: none !important;
    }
  }

  // Menu
  .menu:hover,
  .suggestion-container:hover {
    .menu-item.selected:not(.is-label):not(.is-disabled) {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);

      .menu-item-icon {
        color: var(--text-on-accent);
      }
    }
  }

  // Side panels
  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);

    .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 8px);
      padding-left: var(--frame-left-space);
    }
  }

  &:not(.is-translucent) .mod-sidedock.mod-left-split {
    box-shadow: var(--shadow-sidedock);
  }
  &:not(.is-translucent) .mod-sidedock {
    background-color: color-mix(in srgb, var(--background-primary) 98%, var(--interactive-accent));
  }
  &.theme-light .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid white;
  }
  &.theme-dark .mod-sidedock.mod-left-split {
    outline: var(--border-width) solid var(--background-modifier-border);
  }
  &.show-ribbon {
    &:not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button {
      height: calc(var(--header-height) - 8px);
    }
    &:not(.mod-macos):not(.stacked-nav-off) .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-top: 12px;
    }
    .workspace.is-left-sidedock-open .workspace-ribbon.mod-left {
      padding-left: 16px;
    }
    .mod-sidedock.mod-left-split.is-sidedock-collapsed {
      margin-left: 0;
    }
    .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
      margin-left: calc(-1 * var(--ribbon-width) + 8px);
      padding-left: var(--ribbon-width);
    }
  }
  .mod-sidedock.mod-left-split {
    z-index: var(--layer-sidedock);
    border-radius: var(--radius-window, var(--radius-m));
    display: flex;
    margin: 8px 0 8px 8px;
    height: -webkit-fill-available;
    overflow: hidden;
  }
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: calc(var(--header-height) - 8px);
    max-height: calc(var(--header-height) - 8px);
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }
}

body.layout-macos.is-tablet {
  &.theme-light {
    --shadow-sidedock: 0 0 16px rgba(0, 0, 0, 0.05), 0 16px 32px rgba(0, 0, 0, 0.075), -100vh 0px 0 100vh var(--system-status-background);
  }
  &.theme-dark {
    --shadow-sidedock: 0 4px 24px rgba(0, 0, 0, 0.25), -32px 0px 0 32px var(--system-status-background);
  }
  .workspace {
    background-color: var(--system-status-background);
  }

  // Editor panel
  --tab-background-active: var(--system-status-background);

  .mod-root .view-header,
  .mod-root .view-header::before,
  .mod-root .view-content {
    background-color: var(--system-status-background) !important;
  }

  // Side panels
  .workspace-drawer:not(.is-pinned) {
    box-shadow: var(--shadow-s);
  }
  .workspace-drawer.is-pinned {
    &.mod-left {
      box-shadow: var(--shadow-sidedock);
      margin: calc(var(--safe-area-inset-top) + 8px) 0 8px 8px;
      border-radius: var(--radius-l);
      padding-top: 16px;
      background-color: color-mix(in srgb, var(--background-primary) 98%, var(--interactive-accent));
    }
    &.mod-root {
      background-color: transparent;
    }
  }
}
