body:is(.layout-macos, .layout-fusion):not(.is-mobile) {
  --sidedock-background: color-mix(in srgb, var(--background-primary) 98%, var(--interactive-accent));
  --shadow-sidedock-spread: -32px 0 0 32px var(--background-primary);

  --shadow-surface: 0 0 0 1px var(--background-modifier-hover);

  &:not(.is-focused):not(.reduce-contrast-change) {
    --workspace-background-translucent: var(--background-secondary);
    --tab-outline-color: transparent;

    .workspace-ribbon,
    .mod-sidedock > div {
      opacity: 0.5;
    }
    .modal.mod-settings .vertical-tab-header,
    .mod-sidedock.mod-left-split,
    .mod-root .workspace-tab-container {
      background-color: var(--color-base-05) !important;
      box-shadow: none !important;
    }
  }

  // Side panels
  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);

    .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 8px);
      padding-left: var(--frame-left-space);
    }
  }

  &.show-ribbon {
    &:not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed),
    &.mod-macos.is-frameless:not(.is-hidden-frameless) .workspace-ribbon.mod-left:not(.is-collapsed) {
      margin-block: 8px;
    }
    &:not(.mod-macos):not(.tab-top-left-stacked).css-settings-manager .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button {
      height: calc(var(--header-height) - 24px);
    }
    &:not(.hover-ribbon) .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-left: 16px;
    }
    &:not(.hover-ribbon) .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
      margin-left: calc(-1 * var(--ribbon-width) + 8px);
      padding-left: var(--ribbon-width);
    }
  }

  &:not(.is-translucent) .mod-sidedock {
    background-color: var(--sidedock-background);
  }
  &.is-translucent .mod-sidedock.mod-left-split {
    background-color: var(--raised-background) !important;
  }
  .mod-sidedock.mod-left-split {
    -electron-corner-smoothing: var(--corner-smoothing);
    display: flex;
    z-index: var(--layer-sidedock);
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-surface), var(--shadow-sidedock-spread);
    border-radius: var(--radius-window, var(--radius-m));
    height: -webkit-fill-available;
    overflow: hidden;
  }
  &:not(.tab-top-left-stacked).css-settings-manager .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: calc(var(--header-height) - 8px);
    max-height: calc(var(--header-height) - 8px);
  }
  &:not(.tab-top-left-stacked).css-settings-manager .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-inner,
  &:not(.tab-top-left-stacked).css-settings-manager .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button .clickable-icon,
  .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) .sidebar-toggle-button .clickable-icon {
    max-height: calc(var(--header-height) - 16px - 8px);
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }

  // Ribbon
  &.mod-macos.is-hidden-frameless:not(.tab-floating, .tab-floating-center) .workspace-ribbon.mod-left.is-collapsed {
    margin-top: calc(var(--header-height) - 1px);
    padding-top: 8px;
    border-top: var(--tab-outline-width) solid var(--tab-outline-color);
  }

  // Settings
  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-surface);
    border-radius: max(calc(var(--modal-radius) - 8px), var(--radius-s));
    background-color: var(--sidedock-background);
  }

  // Vault switcher
  &.hide-vault-switcher-off .workspace-sidedock-vault-profile {
    background-color: inherit;
  }
}

body:is(.layout-macos, .layout-fusion).is-tablet {
  &.theme-light {
    --shadow-surface: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025), 0 0 1px rgba(0, 0, 0, 0.25), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  }
  &.theme-dark {
    --shadow-surface: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .workspace {
    background-color: var(--background-primary);
  }

  .workspace-drawer .workspace-drawer-header-name-text {
    font-size: var(--font-ui-small);
  }
  .workspace-drawer .workspace-drawer-header-info {
    color: var(--text-faint);
  }

  .workspace-drawer.is-pinned {
    &.mod-left {
      --mobile-sidebar-background: var(--background-primary-alt);

      background-color: var(--mobile-sidebar-background);
      box-shadow: var(--shadow-surface);
      border: none;
      margin: calc(var(--safe-area-inset-top) + 8px) 0 calc(var(--safe-area-inset-bottom) - var(--keyboard-height)) 8px;
      border-radius: var(--radius-l);
      height: auto;

      .workspace-drawer-inner {
        padding-block: 0px;
      }

      .workspace-drawer-header {
        padding-bottom: var(--side-padding);
      }
    }

    &.mod-right {
      --mobile-sidebar-background: var(--background-primary);
    }
  }

  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    border-radius: var(--radius-m);
    border: none;
    z-index: 1;
    background-color: var(--raised-background);
    box-shadow: var(--shadow-surface);
  }
}

// macOS specific
body.layout-macos {
  // Editor panel
  .workspace-split.mod-root .workspace-tab-container {
    border-radius: 0;
  }

  // Contrast
  &:not(.tab-floating, .tab-floating-center) .mod-root {
    .workspace-tab-header-container {
      border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
    }
    .workspace-tab-header-container-inner {
      margin-bottom: -1px !important;
    }
  }
}
body.layout-macos:not(.is-mobile) {
  &:not(.is-hidden-frameless) {
    .titlebar {
      background-color: var(--background-primary);
    }
    .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
      top: 0;
    }
  }

  // Editor panel
  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &.is-translucent:not(.is-focused):not(.reduce-contrast-change) .app-container {
    background-color: var(--background-primary);
  }
  &:not(.is-translucent) .app-container {
    background-color: var(--background-primary);

    .mod-root,
    .mod-root .workspace-split {
      background-color: transparent;
    }
  }
}

body.layout-macos.is-tablet {
  .workspace-drawer.is-pinned.mod-right {
    border-width: var(--divider-width);
  }
}
