body.layout-macos:not(.is-mobile) {
  --shadow-sidedock-spread: -32px 0 0 32px var(--background-primary);

  &.theme-light {
    --sidedock-background: color-mix(in srgb, white 98%, var(--interactive-accent));
    --shadow-sidedock: 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 1px 1px white, 0 4px 32px rgba(0, 0, 0, 0.075);
    --nav-item-background-active: var(--background-modifier-hover);
  }
  &.theme-dark {
    --sidedock-background: color-mix(in srgb, rgb(21, 21, 21) 98%, var(--interactive-accent));
    --shadow-sidedock: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px rgba(255, 255, 255, 0.35), 0 0 1px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.2);
    --nav-item-background-active: rgba(0, 0, 0, 0.5);
  }

  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &.is-translucent:not(.is-focused):not(.reduce-contrast-change) .app-container {
    background-color: var(--background-primary);
  }
  &:not(.is-translucent) .app-container {
    background-color: var(--background-primary);

    .mod-root,
    .mod-root .workspace-split {
      background-color: transparent;
    }
  }

  &:not(.is-hidden-frameless) {
    .titlebar {
      background-color: var(--background-primary);
    }
    .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
      top: 0;
    }
  }

  &:not(.is-focused):not(.reduce-contrast-change) {
    --workspace-background-translucent: var(--background-secondary);

    .workspace-ribbon,
    .mod-sidedock > div,
    .mod-root .workspace-tab-header-container {
      opacity: 0.5;
    }
    .modal.mod-settings .vertical-tab-header,
    .mod-sidedock {
      background-color: var(--color-base-05) !important;
      box-shadow: none !important;
    }
  }

  // Side panels
  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);

    .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 8px);
      padding-left: var(--frame-left-space);
    }
  }

  &:not(.is-translucent) .mod-sidedock {
    background-color: var(--sidedock-background);
  }
  &.show-ribbon {
    &:not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed),
    &.mod-macos.is-frameless:not(.is-hidden-frameless) .workspace-ribbon.mod-left:not(.is-collapsed) {
      margin-top: 8px;
    }
    &:not(.mod-macos).stacked-nav-off .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button {
      height: calc(var(--header-height) - 24px);
    }
    &:not(.hover-ribbon) .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-left: 16px;
    }
    &:not(.hover-ribbon) .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
      margin-left: calc(-1 * var(--ribbon-width) + 8px);
      padding-left: var(--ribbon-width);
    }
  }
  .mod-sidedock.mod-left-split {
    display: flex;
    z-index: var(--layer-sidedock);
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-sidedock), var(--shadow-sidedock-spread);
    border-radius: var(--radius-window, var(--radius-m));
    height: -webkit-fill-available;
    overflow: hidden;
  }
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: calc(var(--header-height) - 8px);
    max-height: calc(var(--header-height) - 8px);
  }
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-inner,
  &.stacked-nav-off .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button .clickable-icon,
  .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) .sidebar-toggle-button .clickable-icon {
    max-height: calc(var(--header-height) - 16px - 8px);
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }

  // Settings
  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-sidedock);
    border-radius: max(calc(var(--modal-radius) - 8px), var(--radius-s));
    background-color: var(--sidedock-background);
  }
}

body.layout-macos.is-tablet {
  &.theme-light {
    --shadow-sidedock: inset 1px 1px 2px rgba(255, 255, 255, 0.5), inset -1px -1px 2px rgba(255, 255, 255, 0.5), inset 0 4px 16px rgba(255, 255, 255, 0.025), 0 0 1px rgba(0, 0, 0, 0.25), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  }
  &.theme-dark {
    --shadow-sidedock: 0 0 1px rgba(255, 255, 255, 0.3), 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .workspace {
    background-color: transparent;
  }

  .workspace-drawer .workspace-drawer-header-name-text {
    font-size: var(--font-ui-small);
  }
  .workspace-drawer .workspace-drawer-header-info {
    color: var(--text-faint);
  }

  .workspace-drawer.is-pinned {
    background-color: var(--mobile-sidebar-background);
  }
  .workspace-drawer.is-pinned.mod-left {
    box-shadow: var(--shadow-sidedock);
  }
  .workspace-drawer.is-pinned.mod-left .workspace-drawer-header {
    padding-bottom: 20px;
  }

  .workspace-drawer:not(.is-pinned) {
    box-shadow: var(--shadow-s);
  }
  .workspace-drawer.is-pinned.mod-left {
    margin: calc(var(--safe-area-inset-top) + 8px) 0 calc(var(--safe-area-inset-bottom) - var(--keyboard-height) - 20px) 8px;
    border-radius: var(--radius-l);
    height: auto;
  }

  .modal.mod-settings .vertical-tab-header {
    margin: 8px 0 8px 8px;
    border-radius: var(--radius-m);
    border: none;
    z-index: 1;
    background-color: var(--raised-background);
    box-shadow: var(--shadow-sidedock);
  }
}
