body.layout-macos:not(.is-mobile) {
  &.theme-light {
    --shadow-sidedock: var(--shadow-base), inset 0 0 1px 1px white, 0 4px 32px 0 rgba(0, 0, 0, 0.075), -16px 0 0 16px var(--background-primary);
    --nav-item-background-active: var(--background-modifier-hover);
  }
  &.theme-dark {
    --shadow-sidedock: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.35), 0 0 1px 0 rgba(0, 0, 0, 0.4), 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0 0 16px var(--background-primary);
    --nav-item-background-active: rgba(0, 0, 0, 0.5);
  }

  &.is-translucent .mod-root {
    background-color: var(--background-primary) !important;
  }
  &:not(.is-translucent) .app-container {
    background-color: var(--background-primary);

    .mod-root,
    .mod-root .workspace-split {
      background-color: transparent;
    }
  }

  &.is-frameless:not(.is-hidden-frameless) {
    .titlebar {
      background-color: var(--background-primary);
    }
    .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
      top: 0;
    }
  }

  &:not(.is-focused) {
    --workspace-background-translucent: var(--background-secondary);

    .workspace-ribbon,
    .mod-sidedock > div,
    .mod-root .workspace-tab-header-container {
      opacity: 0.5;
    }
    .mod-sidedock {
      background-color: var(--color-base-20) !important;
      box-shadow: none !important;
    }
  }

  // File explorer
  .nav-files-container > div {
    --nav-item-color-active: var(--text-accent);
  }

  // Side panels
  &.is-fullscreen .mod-sidedock.mod-left-split {
    border-radius: var(--radius-m);

    .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container {
      height: calc(var(--header-height) - 8px);
      padding-left: var(--frame-left-space);
    }
  }

  &:not(.is-translucent) .mod-sidedock {
    background-color: color-mix(in srgb, var(--background-primary) 98%, var(--interactive-accent));
  }
  &.show-ribbon {
    &:not(.mod-macos) .workspace-ribbon.mod-left:not(.is-collapsed) .sidebar-toggle-button {
      height: calc(var(--header-height) - 8px);
    }
    &:not(.mod-macos):not(.stacked-nav-off) .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-top: 12px;
    }
    .workspace-ribbon.mod-left:not(.is-collapsed) {
      padding-left: 16px;
    }
    .mod-sidedock.mod-left-split.is-sidedock-collapsed {
      margin-left: 0;
    }
    .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) {
      margin-left: calc(-1 * var(--ribbon-width) + 8px);
      padding-left: var(--ribbon-width);
    }
  }
  .mod-sidedock.mod-left-split {
    display: flex;
    z-index: var(--layer-sidedock);
    margin: 8px 0 8px 8px;
    box-shadow: var(--shadow-sidedock);
    border-radius: var(--radius-window, var(--radius-m));
    height: -webkit-fill-available;
    overflow: hidden;
  }
  .mod-sidedock.mod-left-split:not(.is-sidedock-collapsed) + .mod-root {
    padding-left: var(--macos-sidedock-spacing);
  }
  &.stacked-nav-off .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container,
  .mod-sidedock.mod-left-split .mod-top-left-space .workspace-tab-header-container .sidebar-toggle-button {
    min-height: calc(var(--header-height) - 8px);
    max-height: calc(var(--header-height) - 8px);
  }

  .mod-sidedock.mod-right-split > .workspace-leaf-resize-handle {
    border-color: var(--divider-color);
  }
}

body.layout-macos.is-tablet {
  .workspace {
    background-color: var(--system-status-background);
  }

  // Editor panel
  --tab-background-active: var(--system-status-background);

  .mod-root .view-header,
  .mod-root .view-header::before,
  .mod-root .view-content {
    background-color: var(--system-status-background) !important;
  }

  // Side panels
  .workspace-drawer:not(.is-pinned) {
    box-shadow: var(--shadow-s);
  }

  &.theme-light .workspace-drawer.is-pinned.mod-left {
    box-shadow: var(--shadow-base), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--mobile-sidebar-background);
  }
  &.theme-dark .workspace-drawer.is-pinned.mod-left {
    box-shadow: var(--shadow-border), 0 0 1px rgba(255, 255, 255, 0.5);
    background-color: var(--liquid-glass-background);
  }
  .workspace-drawer.is-pinned.mod-left {
    margin: calc(var(--safe-area-inset-top) + 8px) 0 8px 8px;
    border-radius: var(--radius-l);
    padding-top: 16px;
  }

  .workspace-drawer {
    .workspace-drawer-header-name-text {
      font-size: var(--font-ui-small);
    }
    .workspace-drawer-header-info {
      color: var(--text-faint);
    }
  }
}
