body:not(.mobile-stable).is-mobile {
  --radius-s: calc(16px * var(--radius-modifier));
  --radius-m: calc(24px * var(--radius-modifier));
  --radius-l: calc(32px * var(--radius-modifier));
  --radius-xl: calc(40px * var(--radius-modifier));

  --tab-radius: var(--radius-s);
  --tab-curve: var(--tab-radius);

  --safe-area-inset-side: 16px;
  --safe-area-inset-bottom-override: 28px;
  --safe-area-inset-bottom-keyboard: 12px;

  &.mod-toolbar-open {
    --safe-area-inset-bottom-override: var(--safe-area-inset-bottom-keyboard);
  }

  &:is(html[style*="--keyboard-height"]:not([style*="--keyboard-height: 0px"]) body.is-phone:not(.mod-toolbar-open)) {
    --safe-area-inset-bottom-override: var(--safe-area-inset-bottom-keyboard);

    &:not(.mode-switcher-off) .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2),
    .mod-root .workspace-leaf-content[data-type="markdown"] .view-content::before,
    .mod-root .workspace-leaf-content[data-type="markdown"] .view-content::after {
      opacity: 0;
    }
  }

  .app-container {
    max-height: calc(100vh - var(--keyboard-height)) !important;
    transition: var(--anim-duration-moderate);
  }

  // iOS font size
  &.is-ios {
    --font-ui-smaller: calc(var(--font-text-size) * 0.8 + 1px);
    --font-ui-small: calc(var(--font-text-size) * 0.937 + 1px);
    --font-ui-medium: calc(var(--font-text-size) + 1px);
    --font-ui-large: calc(var(--font-text-size) * 1.2 + 1px);

    .markdown-preview-view,
    .markdown-source-view {
      font-size: calc(var(--font-text-size) + 1px);
    }
  }

  // Icon color
  &.is-phone .mod-root .view-header > div > .view-action,
  &.is-tablet .mod-root .view-header .view-action,
  .mobile-navbar .mobile-navbar-actions,
  .mobile-toolbar-options-list,
  .workspace-drawer-header-icon,
  .workspace-drawer .nav-header .nav-buttons-container,
  .modal-setting-back-button,
  .modal-close-button,
  .sidebar-toggle-button {
    color: var(--text-normal);
    --icon-color: var(--text-normal);
    --icon-color-hover: var(--icon-color);
  }

  // Side panels
  .workspace-drawer .workspace-drawer-header,
  .workspace-drawer .workspace-leaf-content > .view-content,
  .workspace-drawer .workspace-leaf-content > .node-insert-event {
    padding-top: 0;
  }
  .workspace-drawer .nav-header {
    display: flex;
    position: absolute;
    inset: auto 0 0;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    border-bottom: none;
    background: transparent;
    padding-bottom: var(--safe-area-inset-bottom-override);
    width: 100%;
    align-items: center;
  }
  .workspace-drawer .nav-buttons-container {
    gap: 0;
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: 100vh;
    background: var(--background-secondary);
    padding: 4px;
    width: fit-content;
    height: 48px;
  }
  .workspace-drawer .nav-buttons-container .nav-action-button {
    border-radius: 100vh;
    padding: 12px;
    height: auto;

    &.is-active {
      opacity: 1;
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
    }
  }

  .workspace-drawer .workspace-leaf-content .node-insert-event {
    padding-inline: 20px;
    padding-bottom: calc(var(--safe-area-inset-bottom-override) + 64px);
  }
}

body:not(.mobile-stable).is-phone {
  // Bottom navbar & Toolbar
  --mobile-toolbar-height: 48px;
  --toolbar-option-width: 48px;

  &.mode-switcher-off {
    .mobile-navbar,
    .mobile-toolbar {
      padding-top: var(--safe-area-inset-bottom-override);
      padding-right: var(--safe-area-inset-bottom-override);
      max-width: 100%;
      width: 100%;
    }
  }

  .mobile-navbar,
  .mobile-toolbar {
    transition: var(--anim-duration-moderate) !important;
    position: absolute;
    top: auto;
    bottom: 0;
    border-top: none;
    background: transparent;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: var(--safe-area-inset-bottom-override);
    padding-left: var(--safe-area-inset-bottom-override);
    max-width: calc(100% - 8px - 48px - var(--safe-area-inset-bottom-override));
    overflow: visible;
  }

  .mobile-navbar-actions {
    --icon-size: var(--icon-l);
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: 100vh;
    background: var(--background-secondary);
    padding-inline: 8px;
    height: 48px;
  }
  .mobile-navbar-action {
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  .mobile-navbar-action .clickable-icon {
    padding: 0;
    width: 48px;
    height: 48px;
  }
  &:not(.mode-switcher-off) .mod-root .workspace-leaf-content .view-actions button:nth-last-child(2) {
    transition: var(--anim-duration-moderate);
    right: var(--safe-area-inset-bottom-override);
    bottom: var(--safe-area-inset-bottom-override);
    padding: 12px;
  }

  .mobile-toolbar-spacer {
    display: none;
  }
  .mobile-toolbar {
    bottom: var(--keyboard-height);
  }
  .mobile-toolbar-options-container {
    gap: 8px;

    &.mod-fade::before,
    &.mod-fade::after {
      content: none;
    }
  }
  .mobile-toolbar-options-list {
    border-radius: 100vh;
    background-color: var(--background-secondary);
    border: var(--border-width) solid var(--background-modifier-border);
  }
  .mobile-toolbar-option {
    --icon-size: var(--icon-l);
    color: var(--text-normal);
  }

  // Editor panel
  .mod-root {
    padding-top: 0;

    .view-header-title-container {
      height: auto;
    }
    .view-header {
      background-color: transparent;
      padding-top: var(--safe-area-inset-top);
      height: calc(var(--safe-area-inset-top) + var(--view-header-height));
    }

    // Editor panel: Edge fade
    .workspace-leaf-content[data-type="markdown"] .view-header {
      position: absolute;
      inset: 0 0 auto;

      &::before {
        position: absolute;
        top: 0;
        z-index: -1;
        mask: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.8) 0%, hsla(0, 0%, 0%, 0.79) 9.7%, hsla(0, 0%, 0%, 0.761) 18.7%, hsla(0, 0%, 0%, 0.717) 27.2%, hsla(0, 0%, 0%, 0.66) 35.1%, hsla(0, 0%, 0%, 0.593) 42.6%, hsla(0, 0%, 0%, 0.518) 49.6%, hsla(0, 0%, 0%, 0.44) 56.2%, hsla(0, 0%, 0%, 0.36) 62.5%, hsla(0, 0%, 0%, 0.282) 68.4%, hsla(0, 0%, 0%, 0.207) 74.1%, hsla(0, 0%, 0%, 0.14) 79.5%, hsla(0, 0%, 0%, 0.083) 84.8%, hsla(0, 0%, 0%, 0.039) 89.9%, hsla(0, 0%, 0%, 0.01) 95%, hsla(0, 0%, 0%, 0) 100%);
        inset-inline: 0;
        background-color: var(--system-status-background);
        height: calc(var(--safe-area-inset-top) + var(--view-header-height) + 32px);
        pointer-events: none;
        content: "";
      }
      &::after {
        position: absolute;
        top: 0;
        z-index: -2;
        backdrop-filter: blur(4px);
        mask: linear-gradient(to bottom, black calc(var(--safe-area-inset-top) + (var(--view-header-height) / 2)), transparent);
        inset-inline: 0;
        height: calc(var(--safe-area-inset-top) + var(--view-header-height) + 32px);
        pointer-events: none;
        content: "";
      }

      & + div:not(.view-content) {
        top: calc(var(--safe-area-inset-top) + var(--view-header-height)) !important;
        inset-inline: 0;
        background-color: transparent;
      }
      & + .view-content > .markdown-reading-view > div:first-child:not(.markdown-preview-view),
      & + .view-content > .markdown-reading-view > .markdown-preview-view:first-child > .markdown-preview-sizer > div:first-child {
        margin-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 8px);
      }
      & + .view-content > .markdown-source-view > div:first-child:not(.cm-editor) {
        padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 16px);
        z-index: 0;
      }
      & + .view-content > .markdown-source-view > .cm-editor:first-child > .cm-scroller {
        padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 16px);
        padding-bottom: calc(var(--safe-area-inset-bottom-override) + 64px);
      }
    }

    .workspace-leaf-content[data-type="markdown"] .view-content {
      &::before {
        position: absolute;
        inset-inline: 0;
        bottom: 0;
        z-index: 2;
        mask: linear-gradient(to top, hsla(0, 0%, 0%, 0.8) 0%, hsla(0, 0%, 0%, 0.79) 9.7%, hsla(0, 0%, 0%, 0.761) 18.7%, hsla(0, 0%, 0%, 0.717) 27.2%, hsla(0, 0%, 0%, 0.66) 35.1%, hsla(0, 0%, 0%, 0.593) 42.6%, hsla(0, 0%, 0%, 0.518) 49.6%, hsla(0, 0%, 0%, 0.44) 56.2%, hsla(0, 0%, 0%, 0.36) 62.5%, hsla(0, 0%, 0%, 0.282) 68.4%, hsla(0, 0%, 0%, 0.207) 74.1%, hsla(0, 0%, 0%, 0.14) 79.5%, hsla(0, 0%, 0%, 0.083) 84.8%, hsla(0, 0%, 0%, 0.039) 89.9%, hsla(0, 0%, 0%, 0.01) 95%, hsla(0, 0%, 0%, 0) 100%);
        background-color: var(--system-status-background);
        height: calc(var(--safe-area-inset-bottom-override) + 64px);
        pointer-events: none;
        content: "";
        transition: var(--anim-duration-moderate);
      }
      &::after {
        position: absolute;
        bottom: 0;
        z-index: 1;
        backdrop-filter: blur(4px);
        mask: linear-gradient(to top, black var(--safe-area-inset-bottom-override), transparent);
        inset-inline: 0;
        height: calc(var(--safe-area-inset-bottom-override) + 64px);
        pointer-events: none;
        content: "";
      }
    }
  }
}

body:not(.mobile-stable).is-tablet .workspace-drawer.is-pinned {
  height: auto;
}
