body.layout-viewfinder:not(.is-phone) {
  .mod-root {
    background-color: var(--background-primary);
    border-radius: var(--radius-window);
    box-shadow: 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
    overflow: hidden;
  }
  .mod-root .workspace-tab-container {
    border-radius: 0;
    box-shadow: 0 calc(-1 * var(--tab-outline-width)) var(--tab-outline-color);
  }

  // macOS fix
  &.mod-macos.is-hidden-frameless {
    &.show-ribbon {
      --frame-left-space: 0px;
    }
    &:not(.hover-ribbon) .workspace-ribbon {
      --ribbon-width: 96px;
    }
  }
}

body.layout-viewfinder.is-tablet .mod-root {
  padding-top: 0;
  margin-top: var(--safe-area-inset-top);
}
