body.layout-viewfinder:not(.is-mobile) {
  .workspace:not(.is-left-sidedock-open) .mod-root {
    margin-left: 8px;
  }
  .workspace:not(.is-right-sidedock-open) .mod-root {
    margin-right: 8px;
  }
  .mod-root {
    margin-block: 8px;
    height: unset;
    background-color: var(--background-primary);
    border-radius: var(--radius-s);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }

  // Windows & Linux fix
  &:not(.mod-macos).is-hidden-frameless .titlebar {
    height: var(--header-height);
    top: 8px;
    right: 8px;

    .titlebar-button-container.mod-right {
      border-top-right-radius: var(--radius-s);
      overflow: hidden;
    }
  }
}

// Mobile
body.layout-viewfinder.is-tablet {
  .mod-root {
    padding-top: 0;
    margin: var(--safe-area-inset-top) 8px 8px;
    height: auto;
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: var(--border-width) solid var(--background-modifier-border);
    overflow: hidden;
  }

  &.contrast-dark-black.theme-dark,
  &.contrast-dark-black-mobile.theme-dark {
    .mod-root {
      background-color: transparent;
    }
    .workspace-drawer {
      border: none;
    }
  }

  // Tab style
  &:not(.tabs-floating, .tabs-floating-center, .tabs-underline) .workspace-tab-header-container-inner {
    padding-top: 8px !important;
  }
}
